<div class="tags-wrapper">
    <div id="tagsList" class="tags-cloud form-group" name="{{name}}" show-errors>
        <div ng-repeat="selectedTag in selectedTags" class="tag">
            <span class="tagName">{{selectedTag}}</span>
            <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
        </div>
        <input type="hidden" name="{{name}}" class="form-control" ng-model="isValid" ng-model-options="{ getterSetter: true }" ng-pattern="/^true$/"/>
        <input type="text" placeholder="{{placeholder}}" id="searchInput" ng-keydown="checkKeyDown($event)" ng-model="searchText" class="form-control" ng-change="search()"/>
    </div>
    <ul id="suggestions" class="suggestions-list">
       <li ng-repeat="suggestion in suggestions" class="blockSpan" ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{suggestion}}</li>
     </ul>
</div>
