<div ng-if="isViewModeLine()" class="table-wrapper workspace-elements-wrapper">
    <table ng-if="parent.elements" class="table table-hover table-responsive workspace-elements">
        <thead>
        <tr>
            <th ng-click="order('name', 'toggle')" translate="NAME"></th>
            <th ng-click="order('mimeType', 'toggle')" translate="TYPE"></th>
            <th ng-click="order('modification', 'toggle')" translate="BROWSER.LAST_MODIFICATION"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="child in filteredChildren() | orderBy:orderProp:orderReverse"
            ng-click="clickChild($event, child)"
            ng-right-click="clickChild($event, child)"
            ng-dblclick="doubleClickChild($event, child)"
            ng-class="{active : isSelected(child)}">
            <td ng-if="child.type === 'collection'">
                        <span ng-click="browseToChild(child)" class="collection">
                            <span class="{{child.mimeType | mimeTypeIconCss}} type"></span>{{child.name}}
                        </span>
            </td>
            <td ng-if="!(child.type === 'collection')">
                <span class="{{child.mimeType | mimeTypeIconCss}} type"></span>{{child.name}}
            </td>
            <td>{{child.mimeType | contentType}}</td>
            <td>{{child.modification | date : dateFormat}}</td>
        </tr>
        </tbody>
    </table>
</div>
