<div class="modal citation-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <strong class="modal-title" translate="MARKET.CITATION_MODAL.TITLE"></strong>
            </div>
            <div class="modal-body">
                <p ng-click="select()">
                    <span class="label label-primary" translate="TEXT"></span>
                </p>
                <div class="card-well" ng-click="select()">
                    <div id="citation-text" ng-bind-html="models.citation"></div>
                </div>
                <div ng-if="models.bibTeX">
                    <p>
                        <label for="citation-bibtex" class="label label-primary" ng-click="select('bibtext')">BibTeX</label>
                    </p>
                    <textarea id="citation-bibtex" ng-model="models.bibTeX" class="form-control" rows="10" readonly ng-click="select('bibtext')"></textarea>
                </div>
                <div class="commands" ng-show="models.showCommands" translate="MARKET.CITATION_MODAL.COMMANDS" data-translate-values="{isMac: models.isMac}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()" translate="CLOSE"></button>
            </div>
        </div>
    </div>
</div>
