<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="UNAUTHORIZED_MODAL.TITLE"></span>
            </div>
            <div class="modal-body" translate="UNAUTHORIZED_MODAL.BODY">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="$hide()" translate="CLOSE"></button>
            </div>
        </div>
    </div>
</div>
