<div class="modal tool-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <tool title="{{models.title}}" baseurl="{{models.baseurl}}" formfields="formfields" formoptions="formOptions" formdata="formdata"></tool>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()" translate="CLOSE"></button>
            </div>
        </div>
    </div>
</div>