<div class="row">
	<div ng-repeat="option in filter.getOptions()" class="col-sm-2">
	    <div class="checkbox checkbox-primary">
		    <input type="checkbox" id="checkbox{{filter.getLabel()}}{{option.getLabel()}}" ng-model="checkbox[filter.getLabel()+option.getLabel()]" ng-change="switchFilter(filter, option, !lowFacets)" ng-checked="filter.hasSelectedOption(option)">
		    <label for="checkbox{{filter.getLabel()}}{{option.getLabel()}}">
		        {{option.getLabel() | translate}}
		    </label>
		</div>
	</div>
</div>