<div class="btn-group dropdown-faceted-filter">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">{{filter.label | translate}} <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li role="menuitem" ng-class="{active: !filter.hasSelectedOptions()}">
            <div ng-click="removeFilter(filter)">{{filter.getResetLabel() | translate}}</div>
        </li>
        <li class="divider" role="menuitem"></li>
        <li ng-repeat="option in filter.getOptions()" class="option">
	        <div class="checkbox checkbox-primary" ng-click="switchFilter(filter, option, !lowFacets)">
			    <input type="checkbox" id="checkbox{{option.label}}" ng-model="checkbox[option.label]" ng-checked="filter.hasSelectedOption(option)">
			    <label>{{option.label | translate}}</label>
			</div>
		</li>
    </ul>
</div>
