<div class="toolbar">
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="input-group">
                <input ng-model="content" ng-keyup="$event.keyCode == 13 && applyFilters()" class="form-control" type="text" placeholder="{{(searchPlaceHolder ? searchPlaceHolder : 'SEARCH') | translate}}">
                    <span class="input-group-btn">
                        <button ng-click="applyFilters()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" data-title="{{'MARKET.SHOW_IN' | translate}}" bs-tooltip><span ng-class="Search.activeViewMode.icon"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li role="menuitem" ng-repeat="vm in Search.viewModes"><a ng-click="Search.setActiveViewMode(vm.id)"><span ng-class="vm.icon"></span> {{vm.text | translate}}</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button" data-title="{{'BROWSER.SORT_BY' | translate}}" bs-tooltip><span ng-class="icons.browser.sort"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="orderProp in Search.orderProps">
                        <div ng-click="toggleOrderBy(orderProp)">
                            <span>{{orderProp.text | translate}}</span>
                            <span order-indicator data-name="{{Search.activeOrderProp.id}}" data-array="id" data-order-prop="orderProp" data-order-reverse="Search.orderReverse"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="switchFacets()" ng-model="facets" bs-checkbox>{{'MARKET.FACETS' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div ng-show="facets">
    <div class="toolbar facets-toolbar high-filters-wrapper" ng-show="filtersManager.getAvailableFilters().length > 0">
        <div ng-repeat="filter in filtersManager.getAvailableFilters() | filter:{priority: 'high'}" class="high-filter">
            <div ng-include="'market/directives/' + filter.getView() + '.html'"></div>
        </div>
        <span ng-show="!lowFacets" ng-if="hasLowFacets()" class="show-more">
            <button type="button" class="btn btn-primary" ng-click="showLowFacets()">{{'MARKET.MORE_FACETS' | translate}}</button>
        </span>
    </div>

    <div class="toolbar facets-toolbar low-filters-wrapper" ng-if="hasLowFacets()" ng-show="lowFacets">
        <div class="row">
            <div ng-repeat="filter in filtersManager.getAvailableFilters()" ng-if="filter.getPriority() !== 'high' && !filter.isLocked() && filter.isVisible() && filter.hasOptions()"
                 class="col-sm-12 low-filters" ng-class="filter.getView() === 'checkbox-faceted-filter' ? 'low-checkbox-filters' : ''">
                <dl class="dl-horizontal">
                    <dt>{{filter.getLabel() | translate}} :</dt>
                    <dd class="dd-faceted-filter" ng-include="'market/directives/'+ filter.getView() + '.html'"></dd>
                </dl>
            </div>
            <dl class="dl-horizontal col-sm-12">
                <dd><button type="button" class="btn btn-primary" ng-click="applyFilters()" translate="SUBMIT"></button></dd>
            </dl>
        </div>
    </div>
</div>

<div class="container-main applied-filters" ng-if="!lowFacets && hasAppliedFacets()">
    <div class="media">
        <div class="media-left">
            <strong class="text-primary" translate="MARKET.ACTIVATED_FILTERS"></strong>
        </div>
        <div class="media-body">

    <button ng-repeat="filter in filtersManager.getFilters()" ng-if="filter.hasSelectedOptions() && !filter.isLocked()" type="button" ng-click="removeFilter(filter)" class="btn btn-sm btn-alternate" role="button">{{filter.getLabel() | translate}} : {{filter.getSelectedLabel() | translate}} <span class="fa fa-times"></span></button>
        </div>
    </div>
    <!--<button type="button" ng-click="resetFilters()" class="btn btn-sm btn-alternate" role="button">{{'MARKET.RESET_FILTERS' | translate}} <span class="fa fa-times"></span></button>-->
</div>
