<div class="form-group">
    <label for="{{id}}">
        {{options.label || 'Select'}}
        {{options.required ? '*' : ''}}
    </label>
    <select class="form-control"
            id="{{id}}"
            aria-describedby="{{id}}_description"
            ng-required="options.required"
            data-ng-model="value"
            data-ng-disabled="options.disabled"
            ng-init="value = options.default.id"
            ng-options="option.id as option.name group by option.group for option in options.options | filter:$viewValue">
    </select>
    <p class="help-block" id="{{id}}_description" ng-if="options.description">{{options.description}}</p>
</div>
