<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="action('later')">&times;</button>
                <span class="modal-title" translate="PROFILE.UPDATE_PROFILE_MODAL.TITLE"></span>
            </div>
            <div class="modal-body" translate="PROFILE.UPDATE_PROFILE_MODAL.BODY"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="action('set')" translate="PROFILE.UPDATE_PROFILE_MODAL.SET"></button>
                <button type="button" class="btn btn-default" ng-click="action('later')" translate="PROFILE.UPDATE_PROFILE_MODAL.LATER"></button>
                <button type="button" class="btn btn-default" ng-click="action('never')" translate="PROFILE.UPDATE_PROFILE_MODAL.NEVER"></button>
            </div>
        </div>
    </div>
</div>
