<section id="market-item">
    <header>
        <div class="media">
            <a class="pull-left">
                <img ng-if="item.image == undefined" src="../assets/images/no-image.png" class="thumbnail image"/>
                <img ng-if="item.image" ng-src="{{item.image}}" class="thumbnail image"/>
            </a>
            <div class="media-body">
                <h1>{{item['http://purl.org/dc/elements/1.1/title']}}</h1>

                <!-- Par : <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/researcher']}}" ng-if="item['http://www.ortolang.fr/ontology/researcher']" href="#" class="author">{{item['http://www.ortolang.fr/ontology/researcher']}}</a> -->
                <span>Production de <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/producer']}}" class="lab">{{item['http://www.ortolang.fr/ontology/producer']}}</a></span>
                <!-- Category : Corpora -->
                <span ng-if="item['http://www.ortolang.fr/ontology/primaryLanguage']" class="lang">Langue principale du corpus : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/primaryLanguage']}}" ng-bind="item['http://www.ortolang.fr/ontology/primaryLanguage']"></a></span>
                <span ng-if="item['http://www.ortolang.fr/ontology/discourseType']" class="lang">Type discursif : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/discourseType']}}" ng-bind="item['http://www.ortolang.fr/ontology/discourseType']"></a></span>
                <span ng-if="item['http://www.ortolang.fr/ontology/linguisticField']" class="lang">Domaines linguistiques : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/linguisticField']}}" ng-bind="item['http://www.ortolang.fr/ontology/linguisticField']"></a></span>
                <!-- Category : Tool -->
                <span ng-if="item['http://www.ortolang.fr/ontology/programmingLanguage']" class="lang">Languages de programmation : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/programmingLanguage']}}" ng-bind="item['http://www.ortolang.fr/ontology/programmingLanguage']"></a></span>
                <span ng-if="item['http://www.ortolang.fr/ontology/opearatingSystem']" class="lang">Systèmes d'exploitation supportés : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/opearatingSystem']}}" ng-bind="item['http://www.ortolang.fr/ontology/opearatingSystem']"></a></span>
                <span ng-if="item['http://www.ortolang.fr/ontology/toolType']" class="lang">Catégorie d'outil : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/toolType']}}" ng-bind="item['http://www.ortolang.fr/ontology/toolType']"></a></span>
                <!-- Category : Annotation -->
                <span ng-if="item['http://www.ortolang.fr/ontology/language']" class="lang">Langues concernés par cet objet : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/language']}}" ng-bind="item['http://www.ortolang.fr/ontology/language']"></a></span>
                
            </div>
        </div>
        <button class="btn btn-default" ng-show="browse" ng-click="browse = !browse">Retourner à la fiche</button>
    </header>

    <div class="row">

        <div ng-show="!browse" class="col-md-8">
            <section ng-show="!browse" id="description">
                <header translate="DESCRIPTION"></header>
                <article>
                    <p ng-bind-html="item['http://purl.org/dc/elements/1.1/description']"></p>
                </article>
            </section>
            <!--<p><strong>Mots-clefs</strong></p>-->
            <!--<ul class="list-inline">-->
            <!--<li><span class="fa fa-tag"></span> tokenizer</li>-->
            <!--<li><span class="fa fa-tag"></span> étiquetage morphosyntaxique</li>-->
            <!--<li><span class="fa fa-tag"></span> POS tagger</li>-->
            <!--<li><span class="fa fa-tag"></span> transcription de l'oral</li>-->
            <!--<li><span class="fa fa-tag"></span> texte écrit</li>-->
            <!--</ul>-->
            <section ng-show="!browse" id="preview" ng-if="previewCollection">
                <header>Aperçu</header>
                <article>
                    <div class="browsed-element-children-wrapper">
                        <div class="row browsed-element-children">
                            <div ng-repeat="element in previewCollection.object.elements"  class="browsed-element-child-wrapper">
                                <div class="browsed-element-child"
                                    ng-click="showPreview(element.key)">
                                    <div class="preview">
                                        <span class="fa-4x" ng-class="element.mimeType | mimeTypeIconCss"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section ng-show="!browse" id="keywords">
                <header translate="MARKET.ADDITIONAL_INFORMATION"></header>
                <article>
                    <div class="row">
                        <div ng-if="item['http://purl.org/dc/terms/extent']" class="col-md-3">
                            <dl>
                                <dt>Contenu</dt>
                                <dd ng-bind="item['http://purl.org/dc/terms/extent']"></dd>
                            </dl>
                        </div>

                        <div ng-if="item['http://www.ortolang.fr/ontology/keywords']" class="col-md-3">
                            <dl>
                                <dt>Mots clés</dt>
                                <dd ng-repeat="keyword in item['http://www.ortolang.fr/ontology/keywords']">
                                    <a ng-href="#/search?content={{keyword}}">{{keyword}}</a>
                                </dd>
                            </dl>
                        </div>

                        <!-- <div ng-if="item['http://www.w3.org/1999/02/22-rdf-syntax-ns#type']" class="col-md-3">
                            <dl>
                                <dt>Catégorie</dt>
                                <dd ng-bind="item['http://www.w3.org/1999/02/22-rdf-syntax-ns#type']"></dd>
                            </dl>
                        </div> -->

                        <div ng-if="item['http://www.ortolang.fr/ontology/provenance']" class="col-md-3">
                            <dl>
                                <dt>Origine des données</dt>
                                <dd ng-bind="item['http://www.ortolang.fr/ontology/provenance']"></dd>
                            </dl>
                        </div>

                    </div>
                </article>
            </section>

            <!-- <section ng-show="!browse" id="contributor">
                <header translate="MARKET.CONTRIBUTOR"></header>
                <article>
                    <table class="table table-striped">
                        <tr ng-if="item['http://www.ortolang.fr/ontology/researcher']">
                            <td><strong>Responsables scientifique</strong></td>
                            <td class="col-md-9">
                                <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/researcher']}}" ng-bind="item['http://www.ortolang.fr/ontology/researcher']"></a>
                            </td>
                        </tr>
                        <tr ng-if="item['http://www.ortolang.fr/ontology/manager']">
                            <td><strong>Responsables informatique</strong></td>
                            <td class="col-md-9">
                                <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/manager']}}" ng-bind="item['http://www.ortolang.fr/ontology/manager']"></a>
                            </td>
                        </tr>
                        <tr ng-if="item['http://www.ortolang.fr/ontology/developper']">
                            <td><strong>Responsables technique</strong></td>
                            <td class="col-md-9">
                                <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/developper']}}" ng-bind="item['http://www.ortolang.fr/ontology/developper']"></a>
                            </td>
                        </tr>
                    </table>
                </article>
            </section> -->

            <section ng-show="!browse" id="contributor">
                <header translate="MARKET.CONTRIBUTOR"></header>
                <article>
                    <div class="row">
                        <div ng-if="item['http://www.ortolang.fr/ontology/researcher']" class="col-md-3">
                            <dl>
                                <dt><i class="fa fa-user fa-fw pictureContributor thumbnail"></i></dt>
                                <dd><a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/researcher']}}" ng-bind="item['http://www.ortolang.fr/ontology/researcher']"></a></dd>
                                <dd><i>Responsable scientifique</i></dd>
                            </dl>
                        </div>
                        <div ng-if="item['http://www.ortolang.fr/ontology/manager']" class="col-md-3">
                            <dl>
                                <dt><i class="fa fa-user fa-fw pictureContributor thumbnail"></i></dt>
                                <dd><a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/manager']}}" ng-bind="item['http://www.ortolang.fr/ontology/manager']"></a></dd>
                                <dd><i>Responsable informatique</i></dd>
                            </dl>
                        </div>
                        <div ng-if="item['http://www.ortolang.fr/ontology/developper']" class="col-md-3">
                            <dl>
                                <dt><i class="fa fa-user fa-fw pictureContributor thumbnail"></i></dt>
                                <dd><a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/developper']}}" ng-bind="item['http://www.ortolang.fr/ontology/developper']"></a></dd>
                                <dd><i>Responsable technique</i></dd>
                            </dl>
                        </div>
                    </div>
                </article>
            </section>

        </div>

        <div ng-show="browse" class="col-md-12">
            <div browser></div>
        </div>

        <div ng-include="'../common/visualizers/visualizer-template.html'"></div>

        <aside ng-show="!browse" class="col-md-4">
            <div class="panel panel-default license-panel">
                <div class="panel-heading" translate="MARKET.DOWNLOAD"></div>
                <div class="panel-body">
                    <!-- <p ng-bind="item['http://www.ortolang.fr/ontology/statusOfUse']"></p> -->
                    <p ng-bind="item['http://www.ortolang.fr/ontology/conditionsOfUse']"></p>
                    <p><a ng-if="item['http://purl.org/dc/terms/licence']" ng-href="{{item['http://purl.org/dc/terms/licence']}}" translate="MARKET.LICENCE_DETAIL" target="_BLANK"></a></p>
                    <div class="btn-group btn-group-justified">
                        <a ng-href="{{downloadUrl}}" class="btn btn-block btn-success" translate="DOWNLOAD"></a>
                        <div class="btn-group">
                            <button class="btn btn-default btn-block" ng-click="browse = !browse">{{'MARKET.BROWSE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="fa fa-heart"></span> {{'MARKET.ADD_TO_FAVOURITES' | translate}}
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="octicon octicon-repo-push"></span> {{'MARKET.USE_IN_MY_PROJECT' | translate}}
                    </button>
                </div>
            </div>
            <br/>

            <!-- <div class="panel panel-default metadata-panel">
                <div class="panel-heading" translate="MARKET.ADDITIONAL_INFORMATION"></div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt ng-if="item['http://purl.org/dc/terms/extent']">Contenu</dt>
                        <dd ng-if="item['http://purl.org/dc/terms/extent']">{{item['http://purl.org/dc/terms/extent']}}</dd>
                        <dt ng-if="item['http://www.ortolang.fr/ontology/keywords']">Mots clés</dt>
                        <dd ng-if="item['http://www.ortolang.fr/ontology/keywords']">
                            <span ng-repeat="keyword in item['http://www.ortolang.fr/ontology/keywords']" ng-bind="keyword"></span>
                        </dd>
                    </dl>
                </div>
            </div> -->

            <div class="panel panel-default metadata-panel">
                <div class="panel-heading" translate="MARKET.LOCATION"></div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt ng-if="item['http://purl.org/dc/terms/spacial']">Position géographique</dt>
                        <dd ng-if="item['http://purl.org/dc/terms/spacial']">{{item['http://purl.org/dc/terms/spacial']}}</dd>
                        <dt ng-if="item['http://purl.org/dc/terms/temporal']">Localisation temporelle</dt>
                        <dd ng-if="item['http://purl.org/dc/terms/temporal']">{{item['http://purl.org/dc/terms/temporal']}}</dd>
                    </dl>
                </div>
            </div>
        </aside>
    </div>
</section>
