<section id="market-item">
    <header>
        <div class="media">
            <a class="pull-left">
                <img src="../assets/images/no-image.png" class="thumbnail image"></img>
            </a>
            <div class="media-body">
                <h1>{{item['http://purl.org/dc/elements/1.1/title']}}</h1>
                Par : <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/researcher']}}" ng-if="item['http://www.ortolang.fr/ontology/researcher']" href="#" class="author">{{item['http://www.ortolang.fr/ontology/researcher']}}</a>
                <span>Production de <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/producer']}}" class="lab">{{item['http://www.ortolang.fr/ontology/producer']}}</a></span>
                <!-- <p class="actions">
                    <a ng-href="{{downloadUrl}}" class="btn btn-primary">Télécharger</a>
                    <a ng-href="#/market/{{itemKey}}?view=browse" class="btn btn-default">Afficher le contenu</a>
                </p> -->
            </div>
        </div>
        <button class="btn btn-default" ng-show="browse" ng-click="browse = !browse">Retourner à la fiche</button>
    </header>

    <div class="row">

        <div ng-show="!browse" class="col-md-8">
            <section ng-show="!browse" id="description">
                <header>Description</header>
                <p>{{item['http://purl.org/dc/elements/1.1/description']}}</p>
            </section>
            <!--<p><strong>Mots-clefs</strong></p>-->
            <!--<ul class="list-inline">-->
            <!--<li><span class="fa fa-tag"></span> tokenizer</li>-->
            <!--<li><span class="fa fa-tag"></span> étiquetage morphosyntaxique</li>-->
            <!--<li><span class="fa fa-tag"></span> POS tagger</li>-->
            <!--<li><span class="fa fa-tag"></span> transcription de l'oral</li>-->
            <!--<li><span class="fa fa-tag"></span> texte écrit</li>-->
            <!--</ul>-->
            <section ng-show="!browse" id="preview" ng-if="previewCollection">
                <header>Aperçu</header>

                <div class="browsed-element-children-wrapper">
                    <div class="row browsed-element-children">
                        <div ng-repeat="element in previewCollection.object.elements"  class="browsed-element-child-wrapper">
                            <div class="browsed-element-child"
                                ng-click="showPreview(element.key)">
                                <div class="preview">
                                    <span class="fa-4x" ng-class="element.mimeType | mimeTypeIconCss"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div ng-show="browse" class="col-md-12">
            <div browser></div>
        </div>

        <div ng-include="'../common/visualizers/visualizer-template.html'"></div>

        <aside ng-show="!browse" class="col-md-4">
            <div class="panel panel-default license-panel">
                <div class="panel-heading">Condition d'utilisation</div>
                <div class="panel-body">
                    <p><strong>{{item['http://www.ortolang.fr/ontology/useConditions']}}</strong></p>
                    <p ng-if="item['http://purl.org/dc/terms/licence']">{{item['http://purl.org/dc/terms/licence']}}</p>
                     <p>Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Aenean ut eros et nisl sagittis vestibulum.</p>
                     <p><a href="#">Plus de détails</a></p>
                     <div class="btn-group btn-group-justified">
                         <a ng-href="{{downloadUrl}}" class="btn btn-block btn-success">Télécharger</a>
                         <div class="btn-group">
                             <button class="btn btn-default btn-block" ng-click="browse = !browse">Voir contenu</button>
                         </div>
                     </div>
                </div>
            </div>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="fa fa-heart"></span> Ajouter à mes favoris
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="fa fa-folder"></span> Utiliser dans mon projet
                    </button>
                </div>
            </div>
            <br/>

            <div class="panel panel-default metadata-panel">
                <div class="panel-heading">Informations complémentaires</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt ng-if="item['http://purl.org/dc/terms/extent']">Contenu</dt>
                        <dd ng-if="item['http://purl.org/dc/terms/extent']">{{item['http://purl.org/dc/terms/extent']}}</dd>
                        <dt ng-if="item['http://www.ortolang.fr/ontology/keywords']">Mots clés</dt>
                        <dd ng-if="item['http://www.ortolang.fr/ontology/keywords']">{{item['http://www.ortolang.fr/ontology/keywords']}}</dd>
                    </dl>
                </div>
            </div>
        </aside>
    </div>
</section>
