<div class="form-group" >
    <label ng-if="to.label">
        <span ng-bind-html="to.label"></span>
        {{to.required ? '*' : ''}}
    </label>
    <div class="input-group">
        <span class="form-control">
            <span class="input-placeholder" ng-if="!formState[options.key]">{{ to.placeholder }}</span>
            {{formState[options.key].name}}
        </span>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <label class="custom-file-upload">
                    <input type="file" id="{{options.key}}" name="{{options.key}}" files-model="formState" options-key="options.key" class="files-model">
                    <span class="fa fa-cloud-upload"></span> {{ to.button }} 
                </label>
            </button>
        </span>
    </div>
</div>