<div class="aside-backdrop am-fade tool-list-backdrop" ng-show="isVisible()" ng-click="hide()"></div>
<div class="aside right am-fade-and-slide-right tool-list" ng-show="isVisible()" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="tool-list-header">
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <h4 class="aside-title" >{{'TOOLS.TOOL_LIST' | translate}}</h4>
            </div>
            <div class="toolbar side-panel-toolbar fixed-top" role="toolbar">
                <div class="btn-toolbar">
                    <div class="col-sm-12">
                        <div class="input-group" ng-show="!hasToolSelected()">
                            <tags-input ng-model="toolList.searchContent" class="tool-tags" data-placeholder="{{'SEARCH' | translate}}"
                                        ng-keyup="$event.keyCode == 13 && search(toolList.searchContent)" onTagAdded="search(toolList.searchContent)" on-tag-removed="search(toolList.searchContent)">
                                <auto-complete source="loadToolTags($query)" min-length="0" load-on-focus="true"></auto-complete>
                            </tags-input>
                            <span class="input-group-btn">
                                <button ng-click="search(toolList.searchContent)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                        <div class="btn-group am-fade-and-slide-right" ng-show="hasToolSelected()">
                            <a ng-click="resetSelectedTool()" class="btn"><i class="fa fa-chevron-left"></i> {{'TOOLS.BACK_TO_TOOL_LIST' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="btn-toolbar btn-toolbar-right">
                </div>
            </div>
            <div id="tool-list-body" class="aside-body">
                <div class="row">
                    <div class="am-fade-and-slide-left col-xs-12" ng-show="!hasToolSelected()">
                        <div id="results_count" class="row">
                            <div class="col-md-8">
                                <small>{{getSize(filteredTools)}} {{'TOOLS.FOUND_TOOLS' | translate }}</small>
                            </div>
                        </div>
                        <br/>
                        <div id="results_list" >
                            <div ng-repeat="tool in filteredTools track by $index | orderBy: tool.title " class="media tool-item" >
                                <a class="pull-left" href="#/market/item/{{tool.key}}" target="_blank" bs-tooltip data-title="{{'TOOLS.DOCUMENTATION' | translate }}">
                                    <span ng-class="icons.browser.tools" class="fa-4x" ng-if="!tool.image"></span>
                                    <img ng-if="tool.image" ng-src="{{tool.image}}" class="thumbnail image" />
                                </a>
                                <div class="media-body">
                                    <h4 ng-bind="tool.name" class="media-heading"></h4>
                                    <span ng-repeat="functionality in tool.functionalities track by $index" style="line-height: 1.7;">
                                        <a ng-click="addTag(functionality, toolList.searchContent);"><span class="label label-gray">{{functionality}}</span></a>
                                    </span>
                                    <br>
                                    <span ng-repeat="input in tool.inputData track by $index" style="line-height: 1.7;">
                                        <a ng-click="addTag(input, toolList.searchContent);"><span class="label label-blue">{{input}}</span></a>
                                    </span>
                                </div>
                                <div class="media-right" ng-show="tool.getActive()">
                                    <a ng-click="selectTool(tool)" bs-tooltip data-title="{{'TOOLS.RUN_TOOL' | translate }}" >
                                        <span class="fa-stack fa-lg run thumbnail">
                                            <i class="fa fa-gear fa-stack-2x"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="am-fade-and-slide-right col-xs-12" ng-show="hasToolSelected()">
                        <div class="panel panel-default" ng-show="hasToolConfig()">
                            <div class="panel-heading">
                                <span class="fa fa-gears"></span> <span translate="TOOLS.CONFIGURATION">}</span>
                            </div>
                            <div class="panel-body">
                                <div class="list-group" >
                                    <form ng-submit="onSubmit()" novalidate>
                                        <formly-form model="formData" form-id="formOptions.uniqueFormId" fields="formFields" options="formOptions">
                                            <button class="btn btn-success" type="submit" ng-show="!formOptionsCopy.hideSubmit">{{(formOptionsCopy.submitCopy || "SUBMIT") | translate}}</button>
                                        </formly-form>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="alert am-fade alert-danger" ng-show="isShowError()">
                            <button type="button" class="close ng-scope" ng-click="hideError()">×</button>
                            <strong>{{selectedTool.getName()}}</strong>&nbsp;
                            <span>{{'TOOLS.FAIL' | translate }} : <i>{{failMsg.statusText}}</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
