<div class="row" ng-controller="ToolResultsCtrl">
    <div class="col-md-12" >
        <br>
        <form name="saveResultsForm" novalidate role="form">
            <h5>{{ 'TOOLS.SAVE_IN_WS' | translate }}</h5>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>{{ 'TOOLS.SAVE' | translate }}</th>
                    <th>{{ 'TOOLS.FILENAME' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in result.options" >
                    <td ng-init="init(file.name, $index)">
                        <div class="col-md-7 tool-switch">
                            <i class="fa fa-toggle-on active" ng-if="data['file-'+$index]" ng-click="changeStatus(file.name, $index);" bs-tooltip data-title="cliquer pour ignorer le fichier"></i>
                            <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="!data['file-'+$index]" ng-click="changeStatus(file.name, $index);" bs-tooltip data-title="cliquer pour sauvegarder le fichier"></i>
                        </div>
                    </td>
                    <td>{{file.name | split:'/':-1 }}</td>
                </tr>
                </tbody>
            </table>

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-folder-o"></span>
                </span>
                <span class="form-control" ng-click="folderSelectModal.show()">
                    {{folder.ws}}
                    <span ng-repeat="part in folder.pathParts" >
                        <span ng-if="folder.name" class="fa fa-chevron-right"></span>
                        {{part}}
                    </span>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="folderSelectModal.show()" type="button">{{'TOOLS.SELECT_FOLDER' | translate }}</button>
                </span>
            </div>
            <input type="hidden" name="wskey" ng-model="data.wskey" class="form-control">
            <input type="hidden" name="folderPath" ng-model="data.folder" class="form-control">

            <br>

            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="$hide()">
                        <span class="fa fa-remove"></span> {{'TOOLS.ABORT' | translate }}
                    </button>
                    <button class="btn btn-primary" ng-click="submit()">
                        <span class="fa fa-save"></span> {{'TOOLS.SAVE' | translate }}
                    </button>
                </div>
                <!--<div ng-if="selectedMetadata!==undefined" class="btn-group ">-->
                    <!--<button class="btn btn-default" ng-click="download(selectedMetadata)">-->
                        <!--<span ng-class="::icons.browser.download"></span> Download-->
                    <!--</button>-->
                <!--</div>--><!-- DOWNLOAD FILES -->
            </div>

            <br>
            <!--<pre>{{data | json }}</pre>-->
        </form>

        <!--<ul class="list-unstyled">-->
            <!--<li ng-repeat="file in result.options">-->
                <!--<a ng-href="{{getToolDownloadUrl(process.processTool.url, process.job.id, file.url)}}">-->
                    <!--{{file.name | split:'/':-1 }}-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>

    <br>
    <div class="col-md-12 alert {{mainAlert.alertType}}" ng-show="mainAlert.isShown" style="margin-top: 15px;">
        <button type="button" class="close" ng-click="closeAlert()" aria-hidden="true">&times;</button>
        <span ng-bind-html="mainAlert.message"></span>
    </div>
</div>
