<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" translate="TOOLS.PARAMETERS"></h4>
            </div>
            <div class="modal-body process-log">
                <div class="list-group">
                    <!-- Links to detail level -->
                    <dl class="dl-horizontal" ng-repeat="(param, value) in selectedProcess.parameters" class="list-group-item">
                        <dt>{{param}} : </dt>
                        <dd>{{value}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
