<div id="market-home" ng-controller="ContributionsCtrl">
    <section ng-if="corpus.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Corpus</h3>
            </header>

            <div class="flex-row">

                <item class="flex-column medium-item" ng-repeat="item in corpus | orderBy:'rang':false" data-entry="item"
                      data-template="market/templates/medium-item.html" data-category="'Corpus'" ng-click="clickItem(item)"></item>

            </div>
        </div>
    </section>
    <section ng-if="outils.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Outils</h3>
            </header>

            <div class="flex-row">

                <item class="flex-column medium-item" ng-repeat="item in outils | orderBy:'rang':false" data-entry="item"
                      data-template="market/templates/medium-item.html" data-category="'Outil'" ng-click="clickItem(item)"></item>

            </div>
        </div>
    </section>
    <section ng-if="lexiques.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Lexiques</h3>
            </header>

            <div class="flex-row">

                <item class="flex-column medium-item" ng-repeat="item in lexiques | orderBy:'rang':false" data-entry="item"
                      data-template="market/templates/medium-item.html" data-category="'Lexique'" ng-click="clickItem(item)"></item>

            </div>
        </div>
    </section>
</div>
