<div id="market-home" ng-controller="FriendsCtrl">
    <section class="well">
        <div class="col-sm-12">
            <div class="input-group">
                <input ng-model="search.user" ng-keyup="$event.keyCode == 13 &amp;&amp; search(search.user)" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Rechercher" type="text">
                <span class="input-group-btn">
                    <button ng-click="search(search.user)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
        <hr>
        RESULTS :
        <div class="row">
            <div class="col-md-12">
                <div class="flex-row">
                    <div ng-repeat="user in search.result">
                        {{user.givenName}} {{user.familyName}}
                    </div>
                </div>
            </div>
        </div>
        <pre ng-model="result">
            {{search.result}}
        </pre>
    </section>

    <section ng-if="friends.length>0" class="row">
        <div class="col-md-12">
            <div class="flex-row">
                <div ng-repeat="friend in friends">
                    {{friend}}
                </div>
            </div>
        </div>
    </section>
</div>
