<div class="col-sm-3">
    <img ng-src="http://www.gravatar.com/avatar/{{User.emailHash}}?d=retro&s=300" class="user-avatar img-responsive img-rounded" />
    <div class="list-group" role="tablist">
        <a  class="list-group-item"
            ng-repeat="$pane in $panes track by $index"
            ng-class="$index == $panes.$active ? $activeClass : ''"
            role="tab"
            data-toggle="tab"
            ng-click="$setActive($index)"
            data-index="{{$index}}"
            ng-bind-html="$pane.title"></a>
    </div>
</div>
<div class="col-sm-9 tab-content" ng-transclude>
</div>
