<div class="view-wrapper-flex">
    <div class="container-main container-main-no-toolbar profile-container">
        <section>
            <header class="full-header">
                <div class="text-center">
                    <div class="avatar-wrapper" ng-if="profile" avatar data-size="100" data-email-hash="profile.emailHash" data-img-classes="img-circle"></div>
                    <h3>{{::fullName()}}</h3>
                    <p><a ng-href="/producers/{{::infos.organisation.id}}">{{infos.organisation | organizationName}}</a></p>
                    <div>
                        <button ng-if="isFriend && !isFriend()" ng-click="addToFriends()" class="btn btn-sm btn-default"><span ng-class="::icons.plus"></span> {{'PROFILE.ADD_TO_FRIENDS' | translate}}</button>
                        <button ng-if="isFriend()" disabled class="btn btn-sm btn-default"><span ng-class="::icons.check"></span> {{'PROFILE.ADDED_TO_FRIENDS' | translate}}</button>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-xs-12" ng-if="infos.presentation">
                    <p ng-bind="infos.presentation" class="profile-presentation"></p>
                </div>
                <div class="col-md-6">
                    <h4 translate="PROFILE.NAV.PERSONAL_INFOS"></h4>
                    <dl>
                        <dt translate="PROFILE.FIELDS.JOB" ng-show="infos.job"></dt>
                        <dd ng-show="infos.job">{{infos.job}}</dd>
                        <dt translate="PROFILE.FIELDS.EMAIL"></dt>
                        <dd>{{::profile.email.replace('@', ' [ AT ] ')}}</dd>
                        <dt translate="PROFILE.FIELDS.WEBSITE"></dt>
                        <dd><a ng-href="{{::infos.website}}" target="_blank">{{::infos.website || '-'}}</a></dd>
                    </dl>
                </div>
            <!--<pre>{{profile | json}}</pre>-->
            <!--<pre>{{infos | json}}</pre>-->
            </div>
        </section>
    </div>
</div>
