<div ng-controller="SettingsCtrl" class="container-fluid">
    <h3>{{"PROFILE.NAV.SETTINGS" | translate}}</h3>
    <br>

    <div id="formSettings" class="form-horizontal" >

        <div class="form-group" ng-repeat="item in user.settings track by item.name">
            <label class="col-md-3 control-label" for="item.name">{{"PROFILE.SETTINGS." + item.name.toUpperCase() | translate}} :</label>

            <div toggle-visibility class="pull-left" data-options="visibilityOptions" data-selected-option="item.visibility"
                 ng-click="updateCurrentUser(item.name, item.value, item.type, item.source, item.visibility.value)"></div>

            <div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='STRING'">
                <span data-editable-text="item.value" data-e-name="{{item.name}}" data-e-placeholder="{{item.name}}" data-e-value="{{item.value}}"
                      data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)">
                    {{ item.value || 'empty' }}
                </span>
            </div>

            <div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='TEXT'">
                <span editable-textarea="item.value" data-e-name="{{item.name}}" data-e-placeholder="{{item.name}}" data-e-value="{{item.value}}"
                      data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)">
                    {{ item.value || 'empty' }}
                </span>
            </div>

            <div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='EMAIL'">
                <span data-editable-email="item.value" data-e-name="{{item.name}}" data-e-placeholder="{{item.name}}" data-e-value="{{item.value}}"
                      data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)">
                    {{ item.value || 'empty' }}
                </span>
            </div>

            <div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='URL'">
                <span data-editable-url="item.value" data-e-name="{{item.name}}" data-e-placeholder="{{item.name}}" data-e-value="{{item.value}}" data-e-pattern="https?://.+"
                      data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)" >
                    {{ item.value || 'empty' }}
                </span>
            </div>

            <div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='TEL'">
                <span data-editable-text="item.value" data-e-name="{{item.name}}" data-e-placeholder="{{item.name}}" data-e-value="{{item.value}}"
                      data-e-pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                      data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)">
                    {{ item.value || 'empty' }}
                </span>
            </div>

            <div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='NUMBER'">
                <span data-editable-number="item.value" data-e-name="{{item.name}}" data-e-placeholder="{{item.name}}" data-e-value="{{item.value}}"
                      data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)">
                    {{ item.value || 'empty' }}
                </span>
            </div>

            <div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='ENUM'">
                 <span id="item.name" editable-select="item.value" data-e-name="item.name" data-e-ng-options="s.value as s.text for s in {{item.source}}"
                       data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)">
                     {{ showValue(item.name, item.value, item.source) || 'empty' }}
                 </span>
            </div>

            <!--<div class="col-md-7" style="padding-top: 5px;" ng-if="item.type==='RADIO'">-->
                <!--<span editable-radiolist="item.value" data-e-name="{{item.name}}" data-e-ng-options="s.value as s.text for s in {{item.source}}" buttons="no"-->
                      <!--data-onaftersave="updateCurrentUser(item.name, $data, item.type, item.source, item.visibility.value)">-->
                     <!--{{ showValue(item.name, item.value, item.source) || 'empty' }}-->
                <!--</span>-->
            <!--</div>-->

            <p class="col-md-offset-3 col-md-7 help-block" ng-if="item.helper" translate="{{'PROFILE.SETTINGS.HELPER.' + item.name.toUpperCase()}}">
            </p>
        </div>
    </div>
    <br>
</div>
