<div class="view-wrapper-flex">
    <div class="toolbar-wrapper" ng-include="'profile/templates/profile-tabs-template.html'" ng-init="activeProfileTab = 'tasks'"></div>
    <div class="container-main">
        <div class="container-main-inner">
            <div class="panel panel-default">
                <div ng-if="Runtime.getTasks().length == 0" class="panel-body">
                    <p translate="TASKS.NO_TASK"></p>
                </div>
                <table ng-if="Runtime.getTasks().length !== 0" class="table table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th translate="NAME"></th>
                        <th translate="DESCRIPTION"></th>
                        <th translate="TASKS.ASSIGNEE"></th>
                        <th translate="ACTIONS"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="task in Runtime.getTasks()">
                        <td>{{::task.id}}</td>
                        <td>{{::task.name}}</td>
                        <td>{{::task.description}}</td>
                        <td>{{task.assignee}}</td>
                        <td>
                            <button class="btn btn-sm btn-success" ng-click="Runtime.completeTask(task)" translate="TASKS.COMPLETE_TASK"></button>
                            <button class="btn btn-sm btn-default" ng-if="task.assignee !== User.key" ng-click="Runtime.claimTask(task)" translate="TASKS.CLAIM"></button>
                            <button class="btn btn-sm btn-danger" ng-if="task.assignee === User.key" ng-click="Runtime.unclaimTask(task)" translate="TASKS.UNCLAIM"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
