<div ng-show="$ctrl.active()">
    <div ng-if="$ctrl.uploader.queue.length > 0">
        <div class="modal-header">
            <h4 translate="WORKSPACE.UPLOAD_QUEUE"></h4>
        </div>
        <div class="table-wrapper modal-body">
            <table class="table table-responsive table-condensed">
                <thead>
                <tr>
                    <th translate="NAME"></th>
                    <th class="hidden-xs" translate="WORKSPACE"></th>
                    <th class="hidden-xs" translate="WORKSPACE.PATH"></th>
                    <th class="hidden-xs" ng-show="::$ctrl.uploader.isHTML5" translate="SIZE"></th>
                    <th translate="WORKSPACE.PROGRESS"></th>
                    <th translate="WORKSPACE.STATUS"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in $ctrl.uploader.queue">
                    <td ng-if="::$ctrl.uploader.isHTML5"><span ng-class="item.file.type | mimeTypeIconCss" class="type"></span> <strong>{{::item.file.name}}</strong></td>
                    <td ng-if="::!$ctrl.uploader.isHTML5"><span ng-class="item.type | ortolangElementIconCss" class="type"></span> <strong>{{::item.file.name}}</strong></td>
                    <td class="hidden-xs">{{::item.wsName}}</td>
                    <td class="hidden-xs">{{::item.file.path}}</td>
                    <td class="hidden-xs text-nowrap" ng-show="::$ctrl.uploader.isHTML5">{{::item.file.size | bytes}}</td>
                    <td ng-show="::$ctrl.uploader.isHTML5">
                        <div class="progress">
                            <div ng-if="item.extracting" class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td ng-show="::!$ctrl.uploader.isHTML5">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="$ctrl.uploader.zipExtractionQueue.length > 0">
        <div class="modal-header">
            <h4 translate="WORKSPACE.EXTRACTION_QUEUE"></h4>
        </div>
        <div class="table-wrapper modal-body">
            <table class="table table-responsive table-condensed">
                <thead>
                <tr>
                    <th translate="NAME"></th>
                    <th translate="WORKSPACE"></th>
                    <th translate="WORKSPACE.PATH"></th>
                    <th translate="WORKSPACE.STATUS"></th>
                    <th translate="WORKSPACE.PROGRESS"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in $ctrl.uploader.zipExtractionQueue">
                    <td><span ng-class="'application/zip' | mimeTypeIconCss" class="type"></span> <strong>{{::item.fileName}}</strong></td>
                    <td>{{::item.wsName}}</td>
                    <td>{{::item.ziproot}}</td>
                    <td>{{(item.state ? 'PROCESSES.' + item.state : '') | translate}}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" ng-class="(item.state === 'COMPLETED' ? 'progress-bar-success' : '') + (item.state === 'PENDING' ? 'progress-bar-striped active' : '')" role="progressbar" ng-style="{width: (item.state === 'PENDING' ? '100%' : item.progress + '%')}">
                                <span ng-if="item.state === 'COMPLETED'" class="fa fa-check"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.uploader.cancelAll()" ng-disabled="!$ctrl.uploader.isUploading" disabled="disabled">
            <span class="glyphicon glyphicon-ban-circle"></span> {{'WORKSPACE.CANCEL_ALL' | translate}}
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.clearUploaderQueue()" ng-disabled="$ctrl.uploader.isUploading || !$ctrl.isZipExtractionQueueEmpty()" disabled="disabled">
            <span class="glyphicon glyphicon-remove"></span> {{'WORKSPACE.CLEAR_ALL' | translate}}
        </button>
    </div>
</div>
