<div class="view-wrapper-flex">
    <div class="container-main container-main-no-toolbar">

        <section ng-controller="ContributorCtrl" class="market-item contributor-wrapper">
            <header class="full-header">
                <div class="media">
                    <div class="media-left">
                        <div class="item-logo contributor-logo">
                            <avatar email-hash="emailHash || contributor.emailhash" size="120" img-classes="user-avatar img-circle img-responsive"></avatar>
                        </div>
                    </div>
                    <div class="media-body">
                        <h1 class="market-item-title" ng-bind="contributor.fullname"></h1>
                        <p ng-if="infos.job || infos.field_of_research">
                            <span ng-show="infos.job" ng-bind="infos.job"></span>
                            <span ng-show="infos.job && infos.field_of_research">|</span>
                            <span ng-show="infos.job">{{'CONTRIBUTOR.FIELD_OF_RESEARCH' | translate}} {{infos.field_of_research}}</span>
                        </p>
                        <div ng-if="contributor.organizationEntity" class="market-item-producers">
                            <i translate="CONTRIBUTOR.LABORATORY"></i>
                            <ul class="list-unstyled">
                                <li>
                                    <a ng-href='/producers/{{::contributor.organizationEntity.id}}' ng-bind="contributor.organizationEntity.fullname"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="contributor-profiles" ng-if="infos.idhal || infos.orcid || infos.viaf || infos.myidref || infos.linkedin || infos.viadeo">
                            <a ng-if="infos.idhal" class="btn btn-default" ng-href="https://halshs.archives-ouvertes.fr/search/index/q/*/authIdHal_s/{{infos.idhal}}" translate="CONTRIBUTOR.IDHAL" target="_blank"></a>
                            <a ng-if="infos.orcid" class="btn btn-default" ng-href="https://orcid.org/{{infos.orcid}}" translate="CONTRIBUTOR.ORCID" target="_blank"></a>
                            <a ng-if="infos.viaf" class="btn btn-default" ng-href="http://viaf.org/viaf/{{infos.viaf}}/" translate="CONTRIBUTOR.VIAF" target="_blank"></a>
                            <a ng-if="infos.myidref" class="btn btn-default" ng-href="https://www.idref.fr/{{infos.myidref}}" translate="CONTRIBUTOR.MYIDREF" target="_blank"></a>
                            <a ng-if="infos.linkedin" class="btn btn-default" ng-href="https://www.linkedin.com/in/{{infos.linkedin}}" translate="CONTRIBUTOR.LINKEDIN" target="_blank"></a>
                            <a ng-if="infos.viadeo" class="btn btn-default" ng-href="https://www.viadeo.com/fr/profile/{{infos.viadeo}}" translate="CONTRIBUTOR.VIADEO" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </header>

            <div class="market-item-presentation-metadata">
                <div class="contributor-infos-wrapper" ng-if="infos.presentation || infos.website || infos.address || infos.professional_tel">
                    <section>
                        <h4 translate="CONTRIBUTOR.ABOUT_ME"></h4>
                        <div class="row">
                            <div ng-class="(infos.website || infos.address || infos.professional_tel) ? 'col-md-6' : 'col-md-12'"  ng-if="infos.presentation">
                                <article data-target-blank class="about-me">
                                    <div class="profile-presentation" ng-bind="infos.presentation"></div>
                                </article>
                            </div>
                            <div ng-class="infos.presentation ? 'col-md-6' : 'col-md-12'" ng-if="infos.website || infos.address || infos.professional_tel">
                                <div class="section-body-wrapper">
                                    <dl>
                                        <dt ng-show="::infos.website" translate="CONTRIBUTOR.WEBSITE"></dt>
                                        <dd ng-show="::infos.website"><a ng-href="{{::infos.website}}" target="_blank">{{::infos.website}}</a></dd>
                                        <dt ng-show="::infos.address" translate="PROFILE.FIELDS.ADDRESS"></dt>
                                        <dd ng-show="::infos.address">{{::infos.address}}</dd>
                                        <dt ng-show="::infos.professional_tel" translate="PROFILE.FIELDS.PROFESSIONAL_TEL"></dt>
                                        <dd ng-show="::infos.professional_tel">{{::infos.professional_tel}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <section class="contributions">
                    <h4 translate="CONTRIBUTOR.RESOURCES"></h4>
                    <article>
                        <div items data-search="search" data-params="params" data-empty-label="MARKET.NO_CONTRIBUTOR_ITEMS"></div>
                    </article>
                </section>

                <section class="publications" ng-if="infos.idhal">
                    <h4 translate="CONTRIBUTOR.PUBLICATIONS"></h4>
                    <div class="section-body-wrapper">
                        <hal-publications id-hal="infos.idhal"></hal-publications>
                    </div>
                </section>
            </div>
        </section>

    </div>
</div>

