<div class="modal" tabindex="-1" role="dialog" ng-controller="MetadataEditorCtrl">
    <div class="modal-dialog modal-lg modal-xl">
        <div class="modal-content">
        	<div class="modal-header modal-header-border">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" ng-bind="elementName"></span>
            </div>
            <div class="modal-body file-select-modal-body">
                <div class="metadata-editor-wrapper">
                    <div class="row toolbar browser-toolbar">
                        <div class="col-md-12 btn-toolbar" role="toolbar">
                            <div class="btn-toolbar btn-toolbar-left">
                                <div class="btn-group visible-xs">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        {{selectedMetadata.name}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="md in metadatas" ng-click="::selectMetadataByName(md.name)"><div>{{md.name}}</div></li>
                                    </ul>
                                </div>
                                <button class="btn btn-primary" ng-click="create()">Nouveau</button>
                                <button class="btn btn-default" ng-click="download()"><span ng-class="::icons.browser.download"></span> {{'DOWNLOAD' | translate}}</button>
                                <button class="btn btn-default" ng-click="source()" translate="TEXT_VISUALIZER.SHOW_SOURCE"></button>
                            </div>
                        </div>
                    </div>
                    <div class="metadata-editor-content-wrapper">
                        <div class="metadata-editor-aside metadata-editor-aside-left hidden-xs">
                            <div class="metadata-list">
                                <ul class="list-unstyled">
                                    <li ng-repeat="md in metadatas" ng-click="::selectMetadataByName(md.name)" ng-class="{active: md.name === selectedMetadata.name}"><span></span>{{md.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="metadata-editor-main-container">
                            <div ng-include="mainContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>