// Bootstrap Core variables and mixins
@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";
// Ortolang variables and mixins
@import "variables";
@import "mixins";

@import "metadata-preview";
@import "metadata";
@import "browser";
@import "upload";
@import "products";
@import "dropdown";

.product-list-element {
  border-left: 4px solid @product-unknown;
}

.Carotte {
  border-color: @product-carrot;
}

.product-list-element-tool {
  border-color: @product-tool;
}

#page-wrapper {
  padding: 0;
}