.license-panel, .metadata-panel {
    background-color: lighten(#000, 97.25%);
}

#market-item {
    > header {
        margin-bottom: 3*@padding-large-vertical;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px @padding-large-vertical;
        background-color: @navbar-default-bg;
        border-bottom: 1px solid @navbar-default-border;
        button {
            margin-top: @padding-large-vertical;
        }
        span {
            display: block;
        }
    }
    section {
        padding-bottom: 1*@padding-large-vertical;
        margin-bottom: 2*@padding-large-vertical;
        border-bottom: 1px solid @gray-lighter;
        header {
            font-size: @font-size-h4;
            font-weight: normal;
            margin-bottom: @padding-large-vertical;
        }
    }
}

