
.metadataEditor {
	-webkit-transition:all ease-in-out 0.25s;
	transition:all ease-in-out 0.25s;
	z-index: 2000;
}

.metadataList {
	-webkit-transition:all ease-in-out 0.25s;
  transition:all ease-in-out 0.25s;
}

.metadataEditor-backdrop {
	z-index: 1800;	
}

.metadataList.middle {
	right: 35rem;
}



