//
// Variables
// --------------------------------------------------


//== Colors
@ortolang-blue: #008bd0;
@product-unknown: #ddd;
@product-carrot: orange;
@product-tool: #fff;
@highlight-bg-color: #fdf6e3;

// Bootstrap override
@brand-primary: @ortolang-blue;
@link-color: @ortolang-blue;

//== Type
//
//##
@browser-offset-horizontal: 120px;

//== width
//
@products-select-width: 220px;

// Grid for dform
@dform-label-col: 2;
@dform-input-col: 10;