//
// Variables
// --------------------------------------------------


//== Colors
@ortolang-blue: #2a6496;
@product-unknown: #ddd;
@product-carrot: orange;
@product-tool: #fff;
@brand-primary: @ortolang-blue;

//== Type
//
//##
@browser-offset-horizontal: 120px;
