<div class="market-home container-fluid container-main">
    <div class="row">
        <div class="toolbar">
            <div class="col-sm-12">
                <div class="input-group">
                    <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                    <span class="input-group-btn">
                        <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <section ng-if="items.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3 translate="APPLICATIONS"></h3>
            </header>

            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
</div>
