<div class="market-home container-fluid container-main">
    <div class="row">
        <div class="toolbar">
            <div class="col-sm-6">
                <div class="input-group">
                    <input ng-model="content" ng-keyup="$event.keyCode == 13 && searchContent(content)" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                    <span class="input-group-btn">
                        <button ng-click="searchContent(content)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="toolbar toolbar-options">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                   
                        <div ng-repeat="filter in facetedFilters" class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">{{filter.selected | translate}} <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-class="filter.selected===filter.resetLabel?'active':''" role="menuitem"><a ng-click="removeFilter(filter)">{{filter.resetLabel | translate}}</a></li>
                                <li class="divider" role="menuitem"></li>
                                <li ng-repeat="option in filter.getOptions()" ng-class="filter.selected===option.value?'active':''" role="menuitem"><a ng-click="setFilter(filter, option.value)">{{option.label | translate}} <!-- <span class="badge">{{option.getLength()}}</span> --></a></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
        

    <section ng-if="items.length>0" class="row">
        <div class="col-md-12">
            <!-- <header>
                <h3 translate="CORPORA"></h3>
            </header> -->

            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items | filter:applyFilters:true" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
</div>
