<div class="container-fluid container-main">
    <div class="row toolbar">
        <div class="col-sm-12">
        </div>
    </div>
    <section class="row">
        <div class="col-md-8">
            <h3 class="ortolang-title" translate="ORTOLANG"></h3>
            <hr/>
            <div ng-show="StaticWebsite.getHomePage()" bind-html-unsafe="StaticWebsite.getHomePage()"></div>
            <hr ng-show="StaticWebsite.getHomePage()" />
            <div class="media small marianne" >
                <div class="media-left">
                    <img src="assets/images/mariane-avenir.png" alt="Logo Investissements d’avenir" />
                </div>
                <div class="media-body">
                    <p>{{'NAV.STATE_SUPPORT' | translate}}<br/>(ANR&ndash;11&ndash;EQPX&ndash;0032)</p>
                    <i>ORTOLANG ISSN 2417&ndash;7482</i>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="news-well well">
                <p class="lead"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;{{'STATICSITE.NEWS' | translate}}</p>
                <div ng-if="StaticWebsite.getNews().length === 0"> <hr/> {{ 'STATICSITE.NO_NEWS' | translate }} </div>
                <div ng-if="StaticWebsite.getNews().length > 0" ng-repeat="news in StaticWebsite.getNews() track by news">
                    <hr/>
                    <div bind-html-unsafe="StaticWebsite.getPage(news)"></div>
                </div>
            </div>
        </div>
    </section>

    <items data-title="'MARKET.NEW_RESOURCES'" data-filters-manager="filtersManager" data-items="items" data-view-mode="viewMode" data-order-prop="orderProp" data-order-direction="orderDirection" data-query="query"></items>
</div>
