<div id="market-search" class="container-fluid container-main">

    <div class="row">
        <div class="toolbar">
            <div class="row">
                <div class="col-sm-7">
                    <div class="input-group">
                        <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                        <span class="input-group-btn">
                            <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="btn-toolbar btn-toolbar-right" role="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-title="{{'BROWSER.SORT_BY' | translate}}" data-placement="bottom" bs-tooltip>
                                <span ng-class="'glyphicon glyphicon-sort'"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><div ng-click="toggleOrderBy('title')" translate="MARKET.ALPHABETIC"></div></li>
                                <li><div ng-click="toggleOrderBy('creationDate')" translate="MARKET.CREATION_DATE"></div></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" ng-click="switchViewMode()" data-title="{{viewMode.text | translate}}" data-placement="bottom" bs-tooltip>
                                <span ng-class="viewMode.icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="toolbar toolbar-options">
            <div class="col-sm-12">
                <div class="btn-toolbar">
                    <div ng-repeat="filter in visibleFacetedFilters.getFilters()" class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">{{filter.getSelectedLabel() | translate}} <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a ng-click="removeFilter(filter)">{{filter.resetLabel | translate}}</a></li>
                            <li class="divider" role="menuitem"></li>
                            <li ng-repeat="option in filter.getOptions()" ng-class="filter.selected.label===option.value?'active':''" role="menuitem"><a ng-click="setFilter(filter, option.value)">{{option.label | translate}} <!-- <span class="badge">{{option.getLength()}}</span> --></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="results_count" class="row">
        <div class="col-md-8">
            <small translate="MARKET.RESULTS_LABEL" data-translate-values="{value: items.length}"></small>
        </div>
    </div>

    <div ng-if="viewMode.id === 'tile'" class="row market-home">
        <div class="col-md-12">

            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items | orderBy:orderProp:orderDirection" data-entry="item" data-template="market/directives/medium-item.html"></item>
            </div>
        </div>
    </div>
    
    <div ng-if="viewMode.id === 'line'" id="results_list" class="row">

        <div ng-repeat="item in items | orderBy:orderProp:orderDirection" class="col-md-8">
            <item data-entry="item" template="market/directives/result.html" class="row market-item"></item>
        </div>
    </div>

</div>
