<div class="market-home container-fluid container-main">
    <div class="row">
        <div class="toolbar">
            <div class="col-sm-12">
                <div class="input-group">
                    <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                <span class="input-group-btn">
                    <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
            </div>
        </div>
    </div>
    <section ng-if="section==='news'" class="row">
        <div class="col-md-8">
            <h3 class="ortolang-title" translate="ORTOLANG"></h3>
            <hr/>
            <div class="ortolang-description text-justify" ng-include="'INFORMATION.PATH.' + section.toUpperCase().replace('-', '_') | translate"></div>
            <hr/>
            <div class="media small marianne" >
                <div class="media-left">
                    <img src="assets/images/mariane-avenir.png" alt="Logo Investissements d’avenir" />
                </div>
                <div class="media-body">
                    <p>{{'NAV.STATE_SUPPORT' | translate}}<br/>(ANR&ndash;11&ndash;EQPX&ndash;0032)</p>
                    <i>ORTOLANG ISSN 2417&ndash;7482</i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="news-well well">
                <p class="lead"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;{{'INFORMATION.NEWS' | translate}}</p>
                <hr/>
                <img src="assets/images/InnovativesSHS_©CNRS2015.jpeg"/>
                <p translate="INFORMATION.INNOVATIVE_SHS"></p>
                <div class="btn-group">
                    <a class="btn btn-sm btn-default" href="http://innovatives.cnrs.fr/spip.php?article118" target="_blank"><span class="fa fa-fw fa-plus"></span> {{'INFORMATION.MORE' | translate}}</a>
                    <a class="btn btn-sm btn-default" href="https://twitter.com/hashtag/InnovativesCNRS" target="_blank"><span class="fa fa-fw fa-twitter"></span> #InnovativesCNRS</a>
                </div>
                <hr/>
                <p>{{'INFORMATION.NEWSLETTER.FOLLOW_NEWSLETTER' | translate }} : <a href="resources/Lettre_information_ORTOLANG.pdf" target="_blank">{{'INFORMATION.NEWSLETTER.FIRST_NEWSLETTER' | translate}}</a>.</p>
                <p><a class="btn btn-sm btn-default" href="/#/information/newsletter"><span class="fa fa-fw fa-envelope"></span> {{'INFORMATION.NEWSLETTER.SUBSCRIBE' | translate}}</a></p>
            </div>
        </div>
    </section>

    <section ng-if="section==='news' && items.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3 translate="MARKET.NEW_RESOURCES"></h3>
            </header>
            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
    <section ng-if="section==='corpora' && items.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3 translate="CORPORA"></h3>
            </header>

            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
    <section ng-if="section==='tools' && items.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3 translate="TOOLS"></h3>
            </header>

            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
    <section ng-if="section==='lexicons' && items.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3 translate="LEXICONS"></h3>
            </header>

            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
    <section ng-if="section==='websites' && items.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3 translate="INTEGRATED_PROJECTS"></h3>
            </header>

            <div class="flex-row">
                <item class="flex-column medium-item" ng-repeat="item in items | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
</div>
