<div id="market-search">

    <div class="row">
        <div class="toolbar">
            <div class="col-sm-7">
                <div class="input-group">
                    <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                    <span class="input-group-btn">
                        <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <section id="results" class="row">
        <div class="col-md-10">
            <header>
                <h3 translate="MARKET.RESULTS_LABEL" data-translate-values="{value: items.length}"></h3>
            </header>

            <div ng-repeat="item in items">
                <item data-entry="item" template="market/directives/result.html" class="row market-item" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>

</div>
