<div id="market-search">

    <section class="row" id="search-market">
        <div class="col-md-offset-3 col-md-6">
            <p class="lead text-center" translate="MARKET.PUNCH_LINE"></p>
            <div class="input-group">
                <input ng-keyup="$event.keyCode == 13 && search()" ng-model="content" class="form-control" type="text" placeholder="Rechercher">
                <span class="input-group-btn">
                    <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </section>


    <section id="results" class="row">
        <div class="col-md-10">
            <header>
                <h3 translate="MARKET.RESULTS_LABEL" data-translate-values="{value: items.length}"></h3>
            </header>

            <div ng-repeat="item in items">
                <item data-entry="item" template="market/directives/result.html" class="row market-item" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>

</div>
