<section id="market-item">
    <header>
        <div class="media">
            <a class="pull-left">
                <img ng-if="item.image" ng-src="{{item.image}}" class="thumbnail image"/>
            </a>
            <div class="media-body">
                <h1>{{item['http://purl.org/dc/elements/1.1/title']}}</h1>

                <!-- Par : <a ng-href="#/search?content={{item['http://www.ortolang.fr/ontology/researcher']}}" ng-if="item['http://www.ortolang.fr/ontology/researcher']" href="#" class="author">{{item['http://www.ortolang.fr/ontology/researcher']}}</a> -->
                <p>Production de <span ng-repeat="producer in item['http://www.ortolang.fr/ontology/producer']"><a ng-href='#/search?producer="{{producer}}"' ng-bind="producer" class="lab"></a><span ng-if="!$last">, </span></span></p>
                <p ng-if="item['http://www.ortolang.fr/ontology/applicationUrl']">Site web : <a href="{{item['http://www.ortolang.fr/ontology/applicationUrl']}}" ng-bind="item['http://www.ortolang.fr/ontology/applicationUrl']"></a></p>
                <!-- Category : Corpora -->
                <p ng-if="item['http://www.ortolang.fr/ontology/primaryLanguage']">Langue principale du corpus : <span ng-repeat="pl in item['http://www.ortolang.fr/ontology/primaryLanguage']"><a href="#/search?content={{pl}}" ng-bind="pl"></a></span></p>
                <!-- <p ng-if="item['http://www.ortolang.fr/ontology/discourseType']">Type discursif : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/discourseType']}}" ng-bind="item['http://www.ortolang.fr/ontology/discourseType']"></a></p> -->
                <!-- <p ng-if="item['http://www.ortolang.fr/ontology/linguisticField']">Domaines linguistiques : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/linguisticField']}}" ng-bind="item['http://www.ortolang.fr/ontology/linguisticField']"></a></p> -->
                <!-- Category : Tool -->
                <p ng-if="item['http://www.ortolang.fr/ontology/programmingLanguage']">Langages de programmation : <span ng-repeat="pl in item['http://www.ortolang.fr/ontology/programmingLanguage']"><a href="#/search?content={{pl}}" ng-bind="pl"></a><span ng-if="!$last">, </span></span></p>
                <p ng-if="item['http://www.ortolang.fr/ontology/opearatingSystem']">Systèmes d'exploitation supportés : <span ng-repeat="os in item['http://www.ortolang.fr/ontology/opearatingSystem']"><a href="#/search?content={{os}}" ng-bind="os"></a><span ng-if="!$last">, </span></span></p>
                <p ng-if="item['http://www.ortolang.fr/ontology/toolSupport']">Type de support : <a href="#/search?content={{item['http://www.ortolang.fr/ontology/toolSupport']}}" ng-bind="item['http://www.ortolang.fr/ontology/toolSupport']"></a></p>
                <!-- Category : Annotation -->
                <p ng-if="item['http://www.ortolang.fr/ontology/language']">Langues concernés par cet objet : <span ng-repeat="language in item['http://www.ortolang.fr/ontology/language']"><a href="#/search?content={{language}}" ng-bind="language"></a><span ng-if="!$last">, </span></span></p>
                
            </div>
        </div>
        <button class="btn btn-default" ng-show="browse" ng-click="browse = !browse">Retourner à la fiche</button>
    </header>

    <div class="row">

        <div ng-show="!browse" class="col-md-8">
            <section ng-show="!browse" id="description">
                <header translate="DESCRIPTION"></header>
                <article>
                    <p ng-bind-html="item['http://purl.org/dc/elements/1.1/description']"></p>
                </article>
            </section>
            <section ng-show="!browse" id="preview" ng-if="previewCollection">
                <header>Aperçu</header>
                <article>
                    <div class="browsed-element-children-wrapper">
                        <div class="row browsed-element-children">
                            <div ng-repeat="element in previewCollection.object.elements"  class="browsed-element-child-wrapper">
                                <div class="browsed-element-child"
                                    ng-click="showPreview(element.key)">
                                    <div class="preview">
                                        <span class="fa-4x" ng-class="element.mimeType | mimeTypeIconCss"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section ng-show="!browse" id="keywords">
                <header translate="MARKET.ADDITIONAL_INFORMATION"></header>
                <article>
                    <div class="row">
                        <div ng-if="item['http://purl.org/dc/terms/extent']" class="col-md-3">
                            <dl>
                                <dt>Contenu</dt>
                                <dd ng-bind-html="item['http://purl.org/dc/terms/extent']"></dd>
                            </dl>
                        </div>

                        <div ng-if="item['http://www.ortolang.fr/ontology/keywords']" class="col-md-3">
                            <dl>
                                <dt>Mots clés</dt>
                                <dd ng-repeat="keyword in item['http://www.ortolang.fr/ontology/keywords']">
                                    <a ng-href="#/search?content={{keyword}}">{{keyword}}</a>
                                </dd>
                            </dl>
                        </div>

                        <div ng-if="item['http://www.ortolang.fr/ontology/provenance']" class="col-md-3">
                            <dl>
                                <dt>Origine des données</dt>
                                <dd ng-bind="item['http://www.ortolang.fr/ontology/provenance']"></dd>
                            </dl>
                        </div>

                    </div>
                </article>
            </section>

            <section ng-show="!browse" id="contributor">
                <header translate="MARKET.CONTRIBUTOR"></header>
                <article>
                    <div class="row">
                        <div ng-repeat="researcher in item['http://www.ortolang.fr/ontology/researcher']" class="col-md-3">
                            <dl>
                                <dt><i class="fa fa-user fa-fw pictureContributor thumbnail"></i></dt>
                                <dd><a ng-href="#/search?content={{researcher}}" ng-bind="researcher"></a></dd>
                                <dd><i>Responsable scientifique</i></dd>
                            </dl>
                        </div>
                        <div ng-repeat="manager in item['http://www.ortolang.fr/ontology/manager']" class="col-md-3">
                            <dl>
                                <dt><i class="fa fa-user fa-fw pictureContributor thumbnail"></i></dt>
                                <dd><a ng-href="#/search?content={{manager}}" ng-bind="manager"></a></dd>
                                <dd><i>Responsable informatique</i></dd>
                            </dl>
                        </div>
                        <div ng-repeat="developper in item['http://www.ortolang.fr/ontology/developper']" class="col-md-3">
                            <dl>
                                <dt><i class="fa fa-user fa-fw pictureContributor thumbnail"></i></dt>
                                <dd><a ng-href="#/search?content={{developper}}" ng-bind="developper"></a></dd>
                                <dd><i>Responsable technique</i></dd>
                            </dl>
                        </div>
                    </div>
                </article>
            </section>

        </div>

        <div ng-if="browse" class="col-md-12">
            <div browser></div>
        </div>

        <div ng-if="!browse" ng-include="'common/visualizers/visualizer-template.html'"></div>

        <aside ng-show="!browse" class="col-md-4">
            <div class="panel panel-default license-panel">
                <div class="panel-heading" translate="MARKET.DOWNLOAD"></div>
                <div class="panel-body">
                    
                    <p ng-bind="item['http://www.ortolang.fr/ontology/conditionsOfUse']"></p>
                    <p><a ng-if="item['http://purl.org/dc/terms/licence']" ng-href="{{item['http://purl.org/dc/terms/licence']}}" translate="MARKET.LICENCE_DETAIL" target="_BLANK"></a></p>
                    <div class="btn-group btn-group-justified">
                        <a ng-href="{{downloadUrl}}" class="btn btn-block btn-success" translate="DOWNLOAD" data-title="Vous allez télécharger la totalité des données de cette resssource ({{item['http://www.ortolang.fr/ontology/datasize']}})" data-placement="bottom" bs-tooltip></a>
                        <div class="btn-group">
                            <button class="btn btn-default btn-block" ng-click="browse = !browse">{{'MARKET.BROWSE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="fa fa-heart"></span> {{'MARKET.ADD_TO_FAVOURITES' | translate}}
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="octicon octicon-repo-push"></span> {{'MARKET.USE_IN_MY_PROJECT' | translate}}
                    </button>
                </div>
            </div>
            <br/> -->

            <div class="panel panel-default metadata-panel">
                <div class="panel-heading" translate="MARKET.LOCATION"></div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt ng-if="item['http://purl.org/dc/terms/spacial']">Position géographique</dt>
                        <dd ng-repeat="spacial in item['http://purl.org/dc/terms/spacial']">{{spacial}}<span ng-if="!$last">, </span></dd>
                        <dt ng-if="item['http://purl.org/dc/terms/temporal']">Localisation temporelle</dt>
                        <dd ng-if="item['http://purl.org/dc/terms/temporal']">{{item['http://purl.org/dc/terms/temporal']}}</dd>
                    </dl>
                </div>
            </div>
        </aside>
    </div>
</section>
