<div class="market-home container-fluid container-main">
    <div class="row">
        <div class="toolbar">
            <div class="col-sm-7">
                <div class="input-group">
                    <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                <span class="input-group-btn">
                    <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
            </div>
        </div>
    </div>
        <section ng-if="section==='news'" class="row">
            <div class="col-md-8">
                <h3 translate="ORTOLANG"></h3>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-md-8">
                <hr>
                <div ng-include="'INFORMATION.PATH.' + section.toUpperCase().replace('-', '_') | translate"></div>
            </div>
            <div class="col-md-4">
                <div class="news-well well">
                    <h4><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;{{'INFORMATION.NEWS' | translate}}</h4>
                    <hr/>
                    <p translate="INFORMATION.INNOVATIVE_SHS"></p>
                    <p><a class="btn btn-sm btn-default" href="http://www.cvt-athena.fr/actualites/evenements-a-venir/78-seconde-edition-du-salon-innovatives-shs-en-partenariat-entre-l-inshs-et-le-cvt-athena-les-16-et-17-juin-2015.html" target="_blank"><span class="fa fa-fw fa-plus"></span> {{'INFORMATION.MORE' | translate}}...</a></p>
                    <hr/>
                    <p>{{'INFORMATION.NEWSLETTER.FOLLOW_NEWSLETTER' | translate }} : <a href="resources/Lettre_information_ORTOLANG.pdf" target="_blank">{{'INFORMATION.NEWSLETTER.FIRST_NEWSLETTER' | translate}}</a>.</p>
                    <p><a class="btn btn-sm btn-default" href="/#/information/newsletter"><span class="fa fa-fw fa-envelope"></span> {{'INFORMATION.NEWSLETTER.SUBSCRIBE' | translate}}</a></p>
                </div>
                <div class="media small marianne" >
                    <div class="media-left">
                        <img src="assets/images/mariane-avenir.png"/>
                    </div>
                    <div class="media-body">
                        <p>ORTOLANG {{'NAV.STATE_SUPPORT' | translate}}</p>
                        <p><i>ORTOLANG ISSN 2417-7482</i></p>
                    </div>
                </div>
            </div>
        </section>

        <section ng-if="section==='news' && news.length>0" class="row">
            <div class="col-md-12">
                <header>
                    <h3>Nouveautés</h3>
                </header>
                <div class="flex-row">
                    <item class="flex-column medium-item" ng-repeat="item in news" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
                </div>
            </div>
        </section>
        <section ng-if="section==='corpus' && corpus.length>0" class="row">
            <div class="col-md-12">
                <header>
                    <h3>Corpus</h3>
                </header>

                <div class="flex-row">
                    <item class="flex-column medium-item" ng-repeat="item in corpus | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
                </div>
            </div>
        </section>
        <section ng-if="section==='tools' && outils.length>0" class="row">
            <div class="col-md-12">
                <header>
                    <h3>Outils</h3>
                </header>

                <div class="flex-row">
                    <item class="flex-column medium-item" ng-repeat="item in outils | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
                </div>
            </div>
        </section>
        <section ng-if="section==='lexicons' && lexiques.length>0" class="row">
            <div class="col-md-12">
                <header>
                    <h3>Lexiques</h3>
                </header>

                <div class="flex-row">
                    <item class="flex-column medium-item" ng-repeat="item in lexiques | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
                </div>
            </div>
        </section>
        <section ng-if="section==='websites' && website.length>0" class="row">
            <div class="col-md-12">
                <header>
                    <h3>Projets intégrés</h3>
                </header>

                <div class="flex-row">
                    <item class="flex-column medium-item" ng-repeat="item in website | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
                </div>
            </div>
        </section>

    <!--</div>-->
</div>
