<div id="market-home">

    <!--<section class="row" id="search-market">-->
        <!--<div class="col-md-offset-3 col-md-6">-->
            <!--<p class="lead text-center" translate="MARKET.PUNCH_LINE"></p>-->
            <!--<div class="input-group">-->
                <!--<input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">-->
                <!--<span class="input-group-btn">-->
                    <!--<button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <div class="row">
        <div class="toolbar">
            <div class="col-sm-7">
                <div class="input-group">
                    <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                    <span class="input-group-btn">
                        <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <section ng-if="section==='news' && news.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Nouveautés</h3>
            </header>
            <div class="flex-row">

                    <item class="flex-column medium-item" ng-repeat="item in news" data-entry="item" data-template="market/directives/medium-item.html" ng-click="clickItem(item)"></item>
            </div>
        </div>
    </section>
     <section ng-if="section==='corpus' && corpus.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Corpus</h3>
            </header>

            <div class="flex-row">

                    <item class="flex-column medium-item" ng-repeat="item in corpus | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" data-category="'Corpus'" ng-click="clickItem(item)"></item>

            </div>
        </div>
    </section>
     <section ng-if="section==='tools' && outils.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Outils</h3>
            </header>

            <div class="flex-row">

                    <item class="flex-column medium-item" ng-repeat="item in outils | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" data-category="'Outil'" ng-click="clickItem(item)"></item>

            </div>
        </div>
    </section>
     <section ng-if="section==='lexicons' && lexiques.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Lexiques</h3>
            </header>

            <div class="flex-row">

                    <item class="flex-column medium-item" ng-repeat="item in lexiques | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" data-category="'Lexique'" ng-click="clickItem(item)"></item>

            </div>
        </div>
    </section>
     <section ng-if="section==='websites' && website.length>0" class="row">
        <div class="col-md-12">
            <header>
                <h3>Projets intégrés</h3>
            </header>

            <div class="flex-row">

                    <item class="flex-column medium-item" ng-repeat="item in website | orderBy:'rang':false" data-entry="item" data-template="market/directives/medium-item.html" data-category="'Lexique'" ng-click="clickItem(item)"></item>

            </div>
        </div>
    </section>

</div>
