<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ortolang">
    <title>Ortolang Diffusion</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.ico" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.min.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/highlightjs/styles/solarized_light.css" />
    <link rel="stylesheet" href="styles/custom-bootstrap.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="styles/sb-admin-2.css">
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->
</head>
<body ng-app="ortolangMarketApp" ng-controller="AuthCtrl">

<div id="wrapper" >
    <!-- Navigation -->
    <nav id="main-navbar" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="images/logo-ortolang-white.png" style="height:30px; margin-right:10px;">
                Portail <span class="text-uppercase">Ortolang</span>
            </a>
        </div> <!-- /.navbar-header -->

        <!-- when user is logged -->
        <ul class="nav navbar-top-links navbar-right ng-cloak" ng-if="authenticated" ng-cloak>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i> {{currentUser.name}} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> Profil </a></li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>

        <!-- when user is not logged (guest) -->
        <ul class="nav navbar-top-links navbar-right ng-cloak" ng-if="!authenticated" ng-cloak>
            <li><a href="#/register"><i class="fa fa-bookmark fa-fw"></i> Register</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#/login"><i class="fa fa-user fa-fw"></i> Login</a></li>
        </ul>
    </nav>
    <div ng-include="'views/side-nav.html'"></div>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid ng-cloak" ng-view="" ng-cloak>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/highlightjs/highlight.pack.js"></script>
<script src="bower_components/angular-highlightjs/angular-highlightjs.js"></script>
<script src="bower_components/metisMenu/dist/metisMenu.js"></script>
<script src="bower_components/angular-hotkeys/build/hotkeys.min.js"></script>
<script src="bower_components/angular-formly/dist/formly.bootstrap.min.js"></script>
<script src="bower_components/n3js/n3-browser.js"></script>
<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js(.) scripts/angular-strap.min.js.map -->
<!--<script src="bower_components/angular-strap/dist/angular-strap.min.js.map"></script>-->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/sb-admin-2/sb-admin-2.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/auth.js"></script>
<script src="scripts/controllers/products.js"></script>
<script src="scripts/controllers/product.js"></script>
<script src="scripts/controllers/upload.js"></script>
<script src="scripts/controllers/logout.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/workspaces.js"></script>
<script src="scripts/controllers/browser.js"></script>
<script src="scripts/controllers/browser-next.js"></script>
<script src="scripts/controllers/browser-sidebar-metadata.js"></script>
<script src="scripts/controllers/bag-uploader.js"></script>
<script src="scripts/controllers/metadata-preview.js"></script>
<script src="scripts/controllers/tools.js"></script>
<script src="scripts/controllers/tool.js"></script>
<script src="scripts/controllers/metadata-editor.js"></script>
<script src="scripts/controllers/metadata-list.js"></script>
<script src="scripts/controllers/metadata-form-market-ortolang.js"></script>
<script src="scripts/filters/bytes.js"></script>
<script src="scripts/filters/content-type.js"></script>
<script src="scripts/filters/ortolang-element-icon-css.js"></script>
<script src="scripts/filters/mime-type-icon-css.js"></script>
<script src="scripts/directives/ng-right-click.js"></script>
<script src="scripts/directives/formly-file-select.js"></script>
<script src="scripts/services/auth-events.js"></script>
<script src="scripts/services/url.js"></script>
<script src="scripts/services/workspace-resource.js"></script>
<script src="scripts/services/auth-service.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/profile-resource.js"></script>
<script src="scripts/services/process-resource.js"></script>
<script src="scripts/services/param.js"></script>
<script src="scripts/services/object-resource.js"></script>
<script src="scripts/services/storage.js"></script>
<script src="scripts/services/cookie-factory.js"></script>
<script src="scripts/services/workspace-element-resource.js"></script>
<script src="scripts/services/download-resource.js"></script>
<script src="scripts/services/tools-resource.js"></script>
<script src="scripts/services/icons.js"></script>
<script src="scripts/services/market-browser.js"></script>
<script src="scripts/services/workspace-browser.js"></script>
<script src="scripts/controllers/metadata-editor.js"></script>
<script src="scripts/controllers/metadata-list.js"></script>
<script src="scripts/controllers/metadata-form-market-ortolang.js"></script>
<script src="scripts/services/metadataformat.js"></script>
<script src="scripts/services/metadatamanager.js"></script>
<script src="scripts/controllers/side-nav.js"></script>
<script src="scripts/filters/break-line-filter.js"></script>
<script src="scripts/services/visualizer-manager.js"></script>
<script src="scripts/visualizers/simple-audio-visualizer/simple-audio-visualizer.js"></script>
<script src="scripts/visualizers/simple-image-visualizer/simple-image-visualizer.js"></script>
<script src="scripts/visualizers/simple-video-visualizer/simple-video-visualizer.js"></script>
<script src="scripts/visualizers/simple-text-visualizer/simple-text-visualizer.js"></script>
<!--<script src="scripts/visualizers/simple-pdf-visualizer/simple-pdf-visualizer.js"></script>-->
<script src="scripts/controllers/market-item.js"></script>
<script src="scripts/services/n3serializer.js"></script>
<script src="scripts/controllers/market-home.js"></script>
<!--<script src="scripts/directives/on-datalist.js"></script>-->
<script src="scripts/controllers/test.js"></script>
<script src="scripts/services/file-select-browser.js"></script>
<script src="scripts/directives/file-select-browser.js"></script>
<!-- endbuild -->
</body>
</html>
