<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ortolang">
    <title>Ortolang Diffusion</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.ico" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css" />
    <link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/highlightjs/styles/solarized_dark.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="styles/sb-admin-2.css">
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->
</head>
<body ng-app="ortolangMarketApp" ng-controller="AuthCtrl">

<div id="wrapper" >
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="images/ortolang-logo.png" style="height:30px; margin-right:10px;">
                <span>Portail ORTOLANG</span>
            </a>
        </div> <!-- /.navbar-header -->

        <!-- when user is logged -->
        <ul class="nav navbar-top-links navbar-right" ng-if="authenticated">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i> {{currentUser.name}} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> Profil </a></li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>

        <!-- when user is not logged (guest) -->
        <ul class="nav navbar-top-links navbar-right" ng-if="!authenticated">
            <li><a href="#/register"><i class="fa fa-bookmark fa-fw"></i> Register</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#/login"><i class="fa fa-user fa-fw"></i> Login</a></li>
        </ul>

        <div class="navbar-default sidebar" role="navigation" ng-if="authenticated">
            <div class="sidebar-nav navbar-collapse" >
                <ul class="nav" id="menu" side-menu="menus" >
                    <!--<li>-->
                        <!--<div class="panel-default">-->
                            <!--<div class="panel-body">-->
                                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="col-lg-6 col-md-12">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<img src="images/noavatar.png" alt="{{ currentUser.name }}" class="img-rounded">&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="col-lg-6 col-md-12"><br>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p class="text-capitalize text-center">{{ currentUser.name }}</p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<p class="text-center"><a href="#"><i class="fa fa-gear fa-fw"></i> Editer Profil </a></p>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<br>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="progress">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="sr-only">60% Complete (warning)</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="text-center">Profil complété à 60%</p>&ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="sidebar-search">-->
                        <!--<form role="form" id="search" method="GET">-->
                            <!--<input type="hidden" name="page" value="portal">-->
                            <!--<div class="input-group custom-search-form">-->
                                <!--<input type="text" name="query" class="form-control" placeholder="Rechercher...">-->
									<!--<span class="input-group-btn">-->
										<!--<button class="btn btn-default" type="submit">-->
                                            <!--<i class="fa fa-search"></i>-->
                                        <!--</button>-->
									<!--</span>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</li>-->
                    <li><a href="#/products"><i class="fa fa-home fa-fw"></i> Portail</a></li>
                    <!-- <li><a href="?page=search"><i class="fa fa-search fa-fw"></i> Rechercher</a></li> -->
                    <li><a href="#/myspace"><i class="fa fa-desktop fa-fw"></i> Mon espace</a></li>
                    <li class="active">
                        <a href="#">
                            <span class="sidebar-nav-item-icon fa fa-briefcase fa-fw"></span>
                            <span class="sidebar-nav-item"> Liste de mes projets</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li ng-repeat="wk in wkList" >
                                <!--<a class="active" href="?page=project&project_id={{key}}"><i class="fa fa-folder-open-o fa-fw"></i> {{name}}</a>-->
                                <a href="#/workspaces/{{ wk.key }}/head///browse">
                                    <span class="sidebar-nav-item-icon fa fa-folder-open-o fa-fw"></span>
                                    <span class="sidebar-nav-item">{{wk.name}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/myspace" class='text-info'>
                                    <span class="sidebar-nav-item-icon fa fa-plus fa-fw"></span>
                                    <span class="sidebar-nav-item">Créer un espace de travail</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li><a href="#registry" data-toggle="tab"><i class="fa fa-fw"></i> Modération</a></li> -->
                    <!--<li><a href="#/myspace"><i class="fa fa-star fa-fw"></i> Mes favoris</a></li>-->
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid" ng-view="">
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="bower_components/highlightjs/highlight.pack.js"></script>
<script src="bower_components/angular-highlightjs/angular-highlightjs.js"></script>
<script src="bower_components/metisMenu/dist/metisMenu.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js(.) scripts/angular-strap.min.js.map -->
<script src="bower_components/angular-strap/dist/angular-strap.min.js.map"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/sb-admin-2/sb-admin-2.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/services/authevents.js"></script>
<script src="scripts/services/url.js"></script>
<script src="scripts/services/profildao.js"></script>
<script src="scripts/services/workspacesdao.js"></script>
<script src="scripts/services/authservice.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/controllers/auth.js"></script>
<script src="scripts/controllers/products.js"></script>
<script src="scripts/controllers/product.js"></script>
<script src="scripts/controllers/upload.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/logout.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/workspaces.js"></script>
<script src="scripts/controllers/browser.js"></script>
<script src="scripts/filters/bytes.js"></script>
<script src="scripts/filters/content-type.js"></script>
<script src="scripts/filters/element-icon-css.js"></script>
<script src="scripts/filters/icon-full-class.js"></script>
<script src="scripts/controllers/metadata-upload.js"></script>
<script src="scripts/directives/ng-right-click.js"></script>
<script src="scripts/services/connecteddao.js"></script>
<script src="scripts/services/process.js"></script>
<script src="scripts/services/param.js"></script>
<!-- endbuild -->
</body>
</html>
