<div class="modal acl-legend-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="WORKSPACE.ACL.LEGEND"></span>
            </div>
            <div class="modal-body">
                <p translate="WORKSPACE.ACL.HELP"></p>
                <ul>
                    <!--<li>-->
                    <!--<span class="label label-for-all tag"><span ng-class="::icons.acl.forall"></span> <span translate="WORKSPACE.ACL.FORALL"></span></span>-->
                    <!--</li>-->
                    <li>
                        <span class="label label-authentified tag"><span ng-class="::icons.acl.authentified"></span> <span translate="WORKSPACE.ACL.AUTHENTIFIED"></span></span>
                    </li>
                    <li>
                        <span class="label label-esr tag"><span ng-class="::icons.acl.esr"></span> <span translate="WORKSPACE.ACL.ESR"></span></span>
                    </li>
                    <li>
                        <span class="label label-restricted tag"><span ng-class="::icons.acl.restricted"></span> <span translate="WORKSPACE.ACL.RESTRICTED"></span></span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-hide="AuthService.isAuthenticated()" ng-click="AuthService.login()" translate="LOG_IN"></button>
                <button type="button" class="btn btn-default" ng-click="$hide()" translate="CLOSE"></button>
            </div>
        </div>
    </div>
</div>
