<div ng-if="isViewModeLine()" class="table-wrapper workspace-elements-wrapper">
    <table ng-init="resizeBrowser()" ng-if="parent.elements" class="table table-hover table-responsive workspace-elements">
        <colgroup>
            <col/>
            <col ng-class="{type: isScreenMd}"/>
            <col ng-hide="isScreenMd"/>
            <col ng-hide="isScreenMd" class="size" />
        </colgroup>
        <thead class="small">
        <tr>
            <th ng-click="order('name', 'toggle')" translate="NAME"></th>
            <th ng-click="order('mimeType', 'toggle')" translate="TYPE"></th>
            <th ng-hide="isScreenMd" ng-click="order('modification', 'toggle')" translate="BROWSER.LAST_MODIFICATION"></th>
            <th ng-hide="isScreenMd" ng-click="order('size', 'toggle')" translate="SIZE"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="child in filteredOrderedChildren() track by child.key"
            ng-click="clickChild(child, $event)"
            ng-right-click="clickChild(child, $event)"
            ng-dblclick="doubleClickChild(child)"
            ng-class="{active : isSelected(child)}">
            <td><span class="{{::child.mimeType | mimeTypeIconCss}} type"></span>{{::child.name}}</td>
            <td>{{::child.mimeType | contentType}}</td>
            <td ng-hide="isScreenMd">{{::child.modification | date : dateFormat}}</td>
            <td ng-if="::isCollection(child)" ng-hide="isScreenMd">-</td>
            <td ng-if="::!isCollection(child)" ng-hide="isScreenMd">{{::child.size | bytes}}</td>
        </tr>
        </tbody>
    </table>
</div>
