<div ng-if="isViewModeLine()" class="table-wrapper table-workspace-elements-wrapper">
    <table ng-init="resizeBrowser()" ng-if="parent.elements" ng-class="{'no-children': parent.elements.length === 0 && browserService.canEdit && isHead}" class="table table-hover table-responsive table-workspace-elements">
        <colgroup>
            <col/>
            <col ng-class="{type: isScreenMd}"/>
            <col ng-hide="isScreenMd"/>
            <col ng-hide="isScreenMd" class="size" />
        </colgroup>
        <thead class="small">
        <tr>
            <th ng-click="order(['type','name'], 'toggle')">
                <span translate="NAME"></span>
                <span order-indicator data-name="name" data-array="1" data-order-prop="orderProp" data-order-reverse="orderReverse"></span>
            </th>
            <th ng-click="order('mimeType', 'toggle')">
                <span translate="TYPE"></span>
                <span order-indicator data-name="mimeType" data-order-prop="orderProp" data-order-reverse="orderReverse"></span>
            </th>
            <th ng-hide="isScreenMd" ng-click="order('modification', 'toggle')">
                <span translate="BROWSER.LAST_MODIFICATION"></span>
                <span order-indicator data-name="modification" data-order-prop="orderProp" data-order-reverse="orderReverse"></span>
            </th>
            <th ng-hide="isScreenMd" ng-click="order('size', 'toggle')">
                <span translate="SIZE"></span>
                <span order-indicator data-name="size" data-order-prop="orderProp" data-order-reverse="orderReverse"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="child in filteredOrderedChildren() | limitTo:displayedItemLimit track by child.key"
            ng-click="clickChild(child, $event)"
            ng-right-click="clickChild(child, $event)"
            ng-dblclick="doubleClickChild(child)"
            ng-class="{active : isSelected(child)}"
            data-key="{{::child.key}}"
            on-finish-render>
            <td><span class="type" ng-class="::child.mimeType | mimeTypeIconCss"></span>{{child.name}}</td>
            <td>{{::child.mimeType | contentType}}</td>
            <td ng-hide="isScreenMd">{{::child.modification | date : dateFormat}}</td>
            <td ng-hide="isScreenMd">{{::child.size | bytes}}</td>
        </tr>
        <tr ng-if="displayedItemLimit < parent.elements.length" class="see-all-wrapper">
            <td colspan="{{isScreenMd ? 2 : 4}}">
                <button class="btn btn-default btn-primary btn-block" ng-click="displayAll()">
                    <span ng-show="loadingAll" class="fa fa-refresh fa-spin"></span>
                    <span ng-hide="loadingAll" translate="BROWSER.SEE_ALL"></span>
                </button>
            </td>
        </tr>
        <tr ng-if="filteredOrderedChildrenArray.length === 0" class="no-children-wrapper">
            <td colspan="{{isScreenMd ? 2 : 4}}" class="text-center">
                <div ng-if="parent.elements.length === 0 && browserService.canEdit && isHead" nv-file-over nv-file-drop uploader="uploader" options="{ortolangType: ortolangType.object}">
                    <span class="icon glyphicon glyphicon-cloud-upload"></span>
                    <br/>
                    <span translate="BROWSER.NO_CHILDREN" class="file-not-hover"></span>
                </div>
                <span ng-if="parent.elements.length === 0 && (!browserService.canEdit || !isHead)" translate="BROWSER.NO_CHILDREN_NOT_HEAD"></span>
                <span ng-if="parent.elements.length > 0"  translate="BROWSER.NO_FILTERED_CHILDREN"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
