<div class="container-fluid">
    <div id="browser-wrapper" ng-class="{'market-browser-wrapper': isMarket()}" ng-controller="BrowserCtrl">

        <div class="row">
            <div class="toolbar browser-toolbar" ng-class="{'market-browser-toolbar': isMarket()}" ng-click="checkSelection($event)" ng-right-click="checkSelection($event)">
                <div ng-if="displayAsideWorkspaceList()" class="col-md-2 toolbar-aside">
                    <!--<div class="btn title" translate="BROWSER.MY_WORKSPACES"></div>-->
                </div>

                <div ng-class="displayAsideWorkspaceList() ? 'col-md-10' : 'col-md-12'" class="btn-toolbar" role="toolbar">
                    <div ng-if="browserService.hasBreadcrumb" class="browser-breadcrumb">
                        <button ng-if="breadcrumbParts.length > 0" class="btn btn-default" ng-click="browseToPath('/')">
                            <span ng-class="icons.browser.home"></span>{{wsName}}
                            <span ng-show="root !== 'head'" class="root">{{root}}</span>
                        </button>
                        <div ng-if="breadcrumbParts.length === 0 && breadcrumbDropdownItems.length === 0" class="btn-group">
                            <button type="button" class="btn btn-default">
                                <span ng-class="icons.browser.home"></span>{{wsName}}
                                <span ng-show="root !== 'head'" class="root">{{root}}</span>
                            </button>
                        </div>
                        <div ng-if="breadcrumbParts.length === 0 && breadcrumbDropdownItems.length !== 0" class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span ng-class="icons.browser.home"></span>{{wsName}}
                                <span ng-show="root !== 'head'" class="root">{{root}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="item in breadcrumbDropdownItems" ng-click="doAction(item.action)" class="{{item.divider ? 'divider' : ''}}"><div><span ng-class="item.icon"></span> {{item.text | translate}}</div></li>
                            </ul>
                        </div>

                        <div ng-repeat="part in breadcrumbParts" class="breadcrumb-part">
                            <a ng-if="!$last" ng-click="browseToPath(part)" class="btn btn-default">
                                {{parent.pathParts[$index]}}
                            </a>
                            <div class="btn-group" ng-if="$last && breadcrumbDropdownItems.length === 0">
                                <button type="button" class="btn btn-default">
                                    {{parent.pathParts[$index]}}
                                </button>
                            </div>
                            <div class="btn-group" ng-if="$last && breadcrumbDropdownItems.length !== 0">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{parent.pathParts[$index]}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="item in breadcrumbDropdownItems" ng-click="doAction(item.action)" class="{{item.divider ? 'divider' : ''}}"><div><span ng-class="item.icon"></span> {{item.text | translate}}</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!browserService.hasBreadcrumb" class="browser-breadcrumb">
                        <button data-ng-disabled="keyHistory && keyHistory.back.length === 0" class="btn btn-default" ng-click="goBack()" data-title="{{'BROWSER.BACK' | translate}}" bs-tooltip><span class="glyphicon glyphicon-arrow-left"></span></button>
                        <button data-ng-disabled="keyHistory && keyHistory.forward.length === 0" class="btn btn-default" ng-click="goForward()" data-title="{{'BROWSER.FORWARD' | translate}}" bs-tooltip><span class="glyphicon glyphicon-arrow-right"></span></button>
                        <button class="btn btn-default" disabled>{{parent.name}}</button>
                    </div>
                    <div class="btn-toolbar btn-toolbar-right" role="toolbar">
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-title="{{'BROWSER.SORT_BY' | translate}}" data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                    <span ng-class="icons.browser.sort"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><div ng-click="order('name', false)" translate="NAME"></div></li>
                                    <li><div ng-click="order(['type','name'], false)" translate="BROWSER.SORT.TYPE_NAME"></div></li>
                                    <li><div ng-click="order('mimeType', false)" translate="BROWSER.SORT.MIME_TYPE"></div></li>
                                    <li><div ng-click="order('modification', false)" translate="BROWSER.SORT.DATE"></div></li>
                                    <li><div ng-click="order('size', false)" translate="SIZE"></div></li>
                                </ul>
                            </div>
                            <div id="filter-query-wrapper" class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-title="{{'BROWSER.FILTER' | translate}}"  data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                    <span ng-class="icons.browser.search"></span>
                                </button>
                                <div class="dropdown-menu filter dropdown-menu-right" ng-click="openFilter($event)" role="menu">
                                    <div class="form-group has-feedback">
                                        <label class="control-label" for="filter-input" translate="NAME"></label>
                                        <input id="filter-input" ng-model="filterNameQuery" class="form-control" placeholder="{{'NAME' | translate}}" type="text">
                                        <span ng-show="filterNameQuery" ng-click="filterNameQuery = ''" ng-class="icons.browser.remove" class="form-control-feedback"></span>
                                    </div>
                                    <div ng-if="!forceMimeTypes" class="has-feedback">
                                        <label class="control-label" for="filter-mime-type-input" translate="BROWSER.FILTER.MIME_TYPE"></label>
                                        <input id="filter-mime-type-input" ng-model="$parent.filterMimeTypeQuery" class="form-control" placeholder="{{'BROWSER.FILTER.MIME_TYPE' | translate}}" type="text" ng-options="childrenMimeType for childrenMimeType in allChildrenMimeTypes" bs-typeahead>
                                        <span ng-show="$parent.filterMimeTypeQuery" ng-click="$parent.filterMimeTypeQuery = ''" ng-class="icons.browser.remove" class="form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="browserService.canSwitchViewMode" class="btn-group">
                            <button class="btn btn-default" ng-click="switchViewMode()" data-title="{{otherViewMode.text | translate}}" data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                <span ng-class="otherViewMode.icon"></span>
                            </button>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-default" ng-click="showCheatsheet($event)" data-title="{{'BROWSER.SHORTCUTS' | translate}}" data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                <span ng-class="icons.browser.shortcuts"></span>
                            </button>
                        </div>

                        <div class="btn-group">
                            <button ng-if="browserService.canChangeRoot && !forceHead" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-title="{{'BROWSER.VERSION' | translate}}" data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                <span ng-class="icons.browser.history"></span>
                            </button>
                            <ul ng-if="browserService.canChangeRoot && !forceHead" class="dropdown-menu dropdown-menu-right snapshots" role="menu">
                                <li ng-click="changeRoot('head')" ng-class="{active: root === 'head'}">
                                    <div>Head</div>
                                </li>
                                <li ng-if="workspace.snapshots.length !== 0" class="divider"></li>
                                <li ng-repeat="snapshot in workspace.snapshots"
                                    ng-class="{active: root === snapshot.name}"
                                    ng-click="changeRoot(snapshot)">
                                    <div>{{snapshot.name}}</div>
                                </li>
                            </ul>
                        </div>


                        <div ng-if="browserService.canExecuteTool" class="btn-group">
                            <button class="btn btn-default" ng-click="showToolsList()" data-title="{{'BROWSER.TOOLS' | translate}}" data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                <span ng-class="icons.browser.tools"></span>
                            </button>
                        </div>

                        <span ng-show="!hasOnlyParentSelected()" class="divider"></span>

                        <div ng-show="!hasOnlyParentSelected()" class="btn-group">
                            <button ng-if="browserService.canDownload && selectedElements[0].stream" class="btn btn-default" ng-click="download(selectedElements[0])" data-title="{{'DOWNLOAD' | translate}}"  data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                <span ng-class="icons.browser.download"></span>
                            </button>
                            <button ng-if="browserService.canDelete && isHead" class="btn btn-default" ng-click="clickDelete()" data-title="{{'BROWSER.DELETE' | translate}}" data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                <span ng-class="icons.browser.delete"></span>
                            </button>
                        </div>

                        <div ng-if="browserService.canPreview" ng-show="visualizers" class="btn-group">
                            <button class="btn btn-default" ng-click="clickPreview()" data-title="{{'BROWSER.PREVIEW' | translate}}" data-placement="{{isMarket() ? 'top': 'bottom'}}" bs-tooltip>
                                <span ng-class="icons.browser.preview"></span>
                            </button>
                            <button ng-if="visualizers.length > 1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only" translate="BROWSER.TOGGLE_DROPDOWN"></span>
                            </button>
                            <ul ng-if="visualizers.length > 1" class="dropdown-menu" role="menu">
                                <li ng-repeat-start="visualizer in visualizers"><div ng-click="clickPreview(visualizer)">{{visualizer.getName()}}</div></li>
                                <li ng-repeat-end ng-if="$first" class="divider"></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div ng-if="displayAsideWorkspaceList()" class="col-md-2 browser-aside browser-aside-left">
                <div ng-if="browserService.canAdd" class="btn-group dropdown-wrapper add-action">
                    <button type="button" class="btn btn-workspace dropdown-toggle" data-toggle="dropdown" translate="BROWSER.NEW"></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><div ng-click="createWorkspace()" translate="BROWSER.WORKSPACE"></div></li>
                    </ul>
                </div>
                <section class="my-workspaces">
                    <ul class="list-unstyled">
                        <li ng-repeat="ws in wsList.entries" ng-click="changeWorkspace(ws)" ng-class="isActiveWorkspace(ws)"><span></span>{{ws.name}}</li>
                    </ul>
                </section>
            </div>

            <div ng-if="browserService.canAdd && isHead" ng-click="checkSelection($event)" ng-right-click="checkSelection($event)" ng-class="middleCssClass()" ng-controller="UploadCtrl" nv-file-over="" nv-file-drop="" uploader="uploader" options="{ortolangType: 'object'}">
                <div ng-include="'common/directives/browser-line-template.html'"></div>
                <div ng-include="'common/directives/browser-tile-template.html'"></div>
                <input id="object-upload-file-select" type="file" nv-file-select="" uploader="uploader" multiple="" ng-hide="true" options="{ortolangType: 'object'}">
                <!--<input id="object-upload-folder-select" type="file" nv-file-select="" uploader="uploader" multiple="" webkitdirectory ng-hide="true" options="{ortolangType: 'object'}">-->
            </div>

            <div ng-if="!browserService.canAdd || !isHead" ng-click="checkSelection($event)" ng-right-click="checkSelection($event)" ng-class="middleCssClass()">
                <div ng-include="'common/directives/browser-line-template.html'"></div>
                <div ng-include="'common/directives/browser-tile-template.html'"></div>
            </div>

            <div ng-if="browserService.displayAsideInfo" class="col-md-3 browser-aside browser-aside-right browser-aside-info">

                <div ng-show="!hasOnlyRootCollectionSelected()">
                    <p ng-if="hasOnlyOneElementSelected()" class="lead">
                        <span ng-class="selectedElements[0].mimeType | mimeTypeIconCss"></span> {{selectedElements[0].name}}
                    </p>
                    <p ng-if="!hasOnlyOneElementSelected()" class="lead">
                        <span ng-class="icons.files"></span> <span translate="BROWSER.ELEMENT" data-translate-values="{value: selectedElements.length}"></span>
                    </p>


                    <div class="browser-side-tabs" bs-tabs data-nav-class="nav-justified">
                        <div data-title="{{'BROWSER.INFORMATION' | translate}}" bs-pane>
                            <div class="information">
                                <dl ng-if="hasOnlyOneElementSelected()" class="dl-horizontal">
                                    <dt translate="NAME"></dt>
                                    <dd>{{selectedElements[0].name}}</dd>
                                    <dt translate="BROWSER.DESCRIPTION"></dt>
                                    <dd>{{selectedElements[0].description}}</dd>
                                    <dt translate="BROWSER.AUTHOR"></dt>
                                    <dd>{{selectedElements[0].author}}</dd>
                                    <dt translate="TYPE"></dt>
                                    <dd>{{selectedElements[0].mimeType | contentType}}</dd>
                                    <dt translate="BROWSER.CREATION"></dt>
                                    <dd>{{selectedElements[0].creation | date : dateFormat}}</dd>
                                    <dt translate="BROWSER.MODIFICATION"></dt>
                                    <dd>{{selectedElements[0].modification | date : dateFormat}}</dd>
                                    <dt translate="BROWSER.CLOCK"></dt>
                                    <dd>{{selectedElements[0].clock}}</dd>
                                    <dt translate="BROWSER.KEY" class="key"></dt>
                                    <dd>{{selectedElements[0].key.substring(0,12)}}... <span data-title="{{'BROWSER.COPY_TO_CLIPBOARD' | translate}}" data-placement="left" bs-tooltip><button class="btn btn-default btn-sm" ui-zeroclip zeroclip-model="selectedElements[0].key"><span class="octicon octicon-clippy"></span></button></span></dd>
                                    <dt ng-if="selectedElements[0].type === 'collection'" translate="SIZE"></dt>
                                    <dd ng-if="selectedElements[0].type === 'collection'" translate="BROWSER.ELEMENT_WITH_SIZE" translate-values="{value: selectedElements[0].elements.length, size: collectionSize()}"></dd>
                                    <dt ng-if="selectedElements[0].type === 'object'" translate="SIZE"></dt>
                                    <dd ng-if="selectedElements[0].type === 'object'">{{selectedElements[0].size | bytes}}</dd>
                                </dl>

                                <dl ng-if="!hasOnlyOneElementSelected()" class="dl-horizontal">
                                    <dt translate="SIZE"></dt>
                                    <dd>{{selectedElementsSize() | bytes}}</dd>
                                </dl>
                            </div>
                        </div>

                        <div data-title="{{'BROWSER.METADATA' | translate}}" bs-pane>
                            <div ng-include="'workspace/browser-sidebar-metadata.html'" ng-controller="BrowserSidebarMetadataCtrl"></div>
                        </div>
                    </div>
                </div>

                <div ng-show="hasOnlyRootCollectionSelected()">
                    <p class="lead workspace-name">{{wsName}}</p>
                    <div class="btn-toolbar workspace-toolbar" role="toolbar" ng-controller="BrowserSidebarMetadataCtrl">
                        <div class="btn-group" role="group">
                            <button ng-if="!hasPresentationMetadata()" class="btn btn-default" ng-click="showMetadataEditor('market-ortolang-n3')" data-title="{{'BROWSER.CREATE_PRESENTATION_METADATA' | translate}}" bs-tooltip>
                                <span class="octicon octicon-book"></span>
                            </button>

                            <div ng-if="hasPresentationMetadata()" id="list-metadata">
                                <div ng-repeat="metadata in selectedElements[0].metadatas">
                                    <button type="button" class="btn btn-default" ng-click="editMetadata(metadata)"  data-title="{{'BROWSER.EDIT_PRESENTATION_METADATA' | translate}}" bs-tooltip>
                                        <span class="octicon octicon-book"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button ng-if="browserService.canAdd && isHead" data-ng-disabled="!workspace.changed" ng-click="snapshotWorkspace()" class="btn btn-default" data-title="{{'BROWSER.SNAPSHOT' | translate}}" bs-tooltip>
                                <span ng-class="icons.browser.snapshot"></span>
                            </button>
                        </div>
                        <div ng-if="hasPresentationMetadata()" class="btn-group" role="group">
                            <button ng-if="browserService.canAdd && isHead" class="btn btn-default" data-title="{{'BROWSER.PREVIEW_WORKSPACE' | translate}}" bs-tooltip data-ng-disabled="!hasPresentationMetadata()">
                                <span ng-class="icons.browser.preview"></span>
                            </button>
                            <button ng-if="browserService.canAdd && isHead" class="btn btn-default" ng-click="publishWorkspace()" data-title="{{'BROWSER.PUBLISH' | translate}}" bs-tooltip data-ng-disabled="!hasPresentationMetadata()">
                                <span ng-class="icons.browser.publish"></span>
                            </button>
                        </div>
                        <div ng-if="!hasPresentationMetadata()" class="btn-group" role="group">
                            <button ng-if="browserService.canAdd && isHead" class="btn btn-default" ng-click="showMetadataEditor('market-ortolang-n3')" data-title="{{'BROWSER.CREATE_PRESENTATION_METADATA_FIRST' | translate}}" bs-tooltip>
                                <span ng-class="icons.browser.preview"></span>
                            </button>
                            <button ng-if="browserService.canAdd && isHead" class="btn btn-default" ng-click="showMetadataEditor('market-ortolang-n3')" data-title="{{'BROWSER.CREATE_PRESENTATION_METADATA_FIRST' | translate}}" bs-tooltip>
                                <span ng-class="icons.browser.publish"></span>
                            </button>
                        </div>
                    </div>

                    <div class="browser-side-tabs" bs-tabs data-nav-class="nav-justified">
                        <div data-title="{{'BROWSER.HISTORY' | translate}}" bs-pane>
                            <ul class="list-unstyled">
                                <li ng-repeat="snapshotHistory in snapshotsHistory | orderBy:'date':true" class="panel panel-default" ng-if="getSnapshotNameFromHistory(snapshotHistory)" ng-click="changeRoot(getSnapshotFromHistory(snapshotHistory))">
                                    <div class="panel-body workspace-snapshot">
                                        <div class="media">
                                            <div class="pull-left">
                                                <span class="fa fa-user fa-2x"></span>
                                            </div>
                                            <div class="media-body">
                                                <p class="creation">
                                                    <span translate="BROWSER.CREATED" data-translate-values="{author: snapshotHistory.author}"></span>
                                                    <strong class="snapshot-name">{{getSnapshotNameFromHistory(snapshotHistory)}}</strong>
                                                    <span class="small publication-status" ng-class="[snapshotHistory.publicationStatus, icons.browser.published]" data-title="{{snapshotHistory.publicationStatus === 'draft' ? 'BROWSER.DRAFT' : 'BROWSER.PUBLISHED' | translate}}" data-placement="left" bs-tooltip></span>
                                                </p>
                                                <span class="date small">{{snapshotHistory.date | date:'medium'}}</span>
                                                <!--<br/><span class="small">{{snapshotHistory.key}}</span>-->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div data-title="{{'BROWSER.MEMBERS' | translate}}" bs-pane>
                            <ul class="list-group">
                                <li ng-repeat="member in workspaceMembers.members" class="list-group-item">{{member}}</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div ng-show="isContextMenuActive && contextMenuItems.length > 0" ng-style="contextMenuStyle" id="context-menu" class="dropdown clearfix open">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="item in contextMenuItems" class="{{item.divider ? 'divider' : ''}}">
                    <a ng-if="item.href" tabindex="-1" ng-href="{{item.href}}"><span ng-class="item.icon"></span> {{item.text | translate}}</a>
                    <div ng-if="!item.href" ng-click="doAction(item.action)" tabindex="-1"><span ng-class="item.icon"></span> {{item.text | translate}}</div>
                </li>
            </ul>
        </div>

        <div ng-show="!browserService.isFileSelect" ng-include="'workspace/metadata-editor.html'" ng-controller="MetadataEditorCtrl"></div>

        <div ng-show="browserService.canExecuteTool" ng-include="'workspace/tools-list.html'" ng-controller="ToolsListCtrl"></div>

        <div ng-include="'workspace/metadata-preview.html'"></div>

        <div ng-include="'common/visualizers/visualizer-template.html'"></div>

        <div ng-if="browserService.canAdd && isHead" class="upload-queue" ng-class="uploadQueueStatus" ng-include="'workspace/upload.html'"></div>
    </div>
</div>
