<div class="popover cart-popover" cart-content>
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
        <p ng-show="Cart.size() === 0">Pas de selection</p>
        <div ng-repeat="(alias, workspace) in Cart.getContent()" class="selection-workspace">
            <div ng-repeat="(versionName, version) in workspace">
                <span class="workspace-alias">{{alias}} <small class="version-name">{{versionName}}</small></span>
                <ul class="list-unstyled">
                    <li ng-repeat="item in version" class="selection-item-wrapper">
                        <span class="selection-item">
                            <span class="type" ng-class="::item.mimeType | mimeTypeIconCss"></span>
                            <span class="selection-item-name">{{item.name}}</span>
                        </span>
                        <span class="pull-right remove-selection-item"><button class="btn btn-xs" ng-click="Cart.remove(alias, versionName, $index)"><span ng-class="::icons.browser.remove"></span></button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popover-content popover-footer pull-right">
        <button class="btn btn-sm btn-default" ng-click="Cart.export()"><span ng-class="::icons.browser.download"></span> {{'DOWNLOAD' | translate}}</button>
        <button class="btn btn-sm btn-default" ng-click="Cart.clear()"><span ng-class="::icons.trash"></span> Clear</button>
    </div>
</div>
