<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="MARKET.DOWNLOAD_MODAL.TITLE"></span>
            </div>
            <div class="modal-body">
                <p ng-if="models.size" translate="MARKET.DOWNLOAD_MODAL.SIZE" data-translate-values="models"></p>
                <p ng-if="!models.authenticated" translate="MARKET.DOWNLOAD_MODAL.ANONYMOUS"></p>
                <p ng-if="models.authenticated && !models.esr" translate="MARKET.DOWNLOAD_MODAL.AUTHENTICATED"></p>
                <p ng-if="models.authenticated && models.esr" translate="MARKET.DOWNLOAD_MODAL.ESR"></p>
                <form id="download-ortolang" name="downloadItem" class="form-horizontal" ng-submit="submit(downloadItem)" novalidate>
                    <div class="form-group" ng-class="{'has-error': (downloadItem.$submitted || downloadItem.alias.$dirty) && downloadItem.consent.$invalid}">
                        <div class="checkbox checkbox-primary">
                            <input id="policy-consent" type="checkbox" name="consent" ng-model="models.policyConsent" required ng-disabled="models.pendingSubmit">
                            <label for="policy-consent" translate="MARKET.DOWNLOAD_MODAL.POLICY" data-translate-values="models"></label>
                        </div>
                        <div class="help-block" ng-if='downloadItem.$submitted || downloadItem.alias.$dirty' ng-messages="downloadItem.consent.$error">
                            <div ng-message="required">{{'MARKET.DOWNLOAD_MODAL.MESSAGES.POLICY' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="models.license && models.license.conditionsOfUse" ng-class="{'has-error': (downloadItem.$submitted || downloadItem.alias.$dirty) && downloadItem.conditionsOfUseConsent.$invalid}">
                        <div class="checkbox checkbox-primary">
                            <input id="conditionsOfUse-consent" type="checkbox" name="conditionsOfUseConsent" ng-model="models.conditionsOfUseConsent" required ng-disabled="models.pendingSubmit">
                            <label for="conditionsOfUse-consent" translate="MARKET.DOWNLOAD_MODAL.CONDITIONSOFUSE" data-translate-values="models"></label>
                        </div>
                        <div class="help-block" ng-if='downloadItem.$submitted || downloadItem.alias.$dirty' ng-messages="downloadItem.conditionsOfUseConsent.$error">
                            <div ng-message="required">{{'MARKET.DOWNLOAD_MODAL.MESSAGES.CONDITIONSOFUSE' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group small text-muted">
                        <div class="checkbox">
                            <input id="advanced-export" type="checkbox" ng-model="models.advanced" ng-disabled="models.pendingSubmit">
                            <label for="advanced-export" translate="MARKET.DOWNLOAD_MODAL.ADVANCED"></label>
                        </div>
                    </div>
                    <div class="form-group" ng-show="models.advanced"  ng-class="{'has-error': (downloadItem.$submitted || downloadItem.regex.$dirty) && downloadItem.regex.$invalid}">
                        <label for="export-regex" translate="MARKET.DOWNLOAD_MODAL.REGEX"></label>
                        <input id="export-regex" name="regex" class="form-control" type="text" ng-model="models.regex"/>
                        <div class="help-block" translate="MARKET.DOWNLOAD_MODAL.REGEX_HELP"></div>
                        <div class="help-block" ng-if='downloadItem.$submitted || downloadItem.regex.$dirty' ng-messages="downloadItem.regex.$error">
                            <div ng-message="invalid">{{'MARKET.DOWNLOAD_MODAL.MESSAGES.INVALID_REGEX' | translate}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" translate="DOWNLOAD" ng-disabled="models.pendingSubmit"></button>
                        <button type="button" class="btn btn-default" ng-click="$hide()" translate="CLOSE"></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
