<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-header-border" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title">{{title | translate}}</span>
            </div>
            <div class="modal-body file-select-modal-body">
                <div file-select-browser data-accept-multiple="acceptMultiple" data-force-workspace="forceWorkspace" data-force-mime-types="forceMimeTypes" data-force-head="forceHead" data-file-select-id="fileSelectId" data-force-path="forcePath" data-hide-element="hideElement" data-icons="icons"></div>
            </div>
            <div class="modal-footer modal-footer-border">
                <button type="button" class="btn btn-primary" ng-click="$emit('browserAskSelectedElements')" translate="SELECT"></button>
                <button type="button" class="btn btn-default" ng-click="$hide()" translate="CLOSE"></button>
            </div>
        </div>
    </div>
</div>
