<form name="metadataItemform" novalidate role="form">

<div class="row metadata-item-editor">
	<div class="col-md-2 editor-aside">
		<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-45" bs-affix>
			<ul class="nav bs-sidenav" bs-scrollspy>
			  <li>
			    <ul class="nav">
			    	<li data-target="#basic_info" bs-scrollspy><a href="" ng-click="scrolltoHref('basic_info')">Informations générales</a></li>
					<li data-target="#whos_involved" bs-scrollspy><a href="" ng-click="scrolltoHref('whos_involved')">Personnes impliquées</a></li>
					<li data-target="#describe" bs-scrollspy><a href="" ng-click="scrolltoHref('describe')">Descriptif</a></li>
					<li><a href="" ng-click="scrolltoHref('licence')">Licence</a></li>
					<!-- <li><a href="" ng-click="scrolltoHref('publications')">Publications</a></li> -->
					<li><hr/></li>
					<li><button class="btn btn-primary" ng-click="submitForm()">Appliquer</button></li>
			    </ul>
			  </li>
			</ul>
		</div>
	</div>
	<div class="col-md-10">
		<section id="basic_info">
			<h2>Informations générales</h2>
				<!-- <h4 class="bs-callout-label">Catégorie de la ressource <span class="text-danger">*</span></h4 class="bs-callout-label">
				<div class="form-group bs-callout" show-errors> -->
					<!-- <label>Nom de la ressource <span class="text-danger">*</span></label> -->
				    <!-- <input type="text" name="type" ng-model="metadata.type" class="form-control" required> -->
				    <!-- <select 
					name="type"
					class="form-control"
					ng-model="metadata.type" 
					ng-options="type.key as type.value for type in itemTypesSimple track by type.key">
					</select> -->
				<!-- </div> -->

			<!-- <h4 class="bs-callout-label">Titre de la ressource <span class="text-danger">*</span></h4 class="bs-callout-label">
			<div class="form-group bs-callout" show-errors>
				<label>Nom de la ressource <span class="text-danger">*</span></label>
			    <input type="text" name="title" ng-model="metadata.title" class="form-control" required>
			</div> -->
			<multilingual-textfield label="'Titre de la ressource'" model="metadata.title" required="true"></multilingual-textfield>
		</section>

		<section id="whos_involved">
			<h2>Personnes impliquées</h2>


			<!-- <div class=" bs-callout">
				<h4 class="bs-callout-label">Producteur(s) <span class="text-danger">*</span></h4 class="bs-callout-label">
				<div class="form-group bs-callout" show-errors>
				    <input type="text" name="producer" ng-model="metadata.producer" class="form-control" required>
				    <p>Indiquez dans ce champs le(s) organisme(s) producteur de la ressource.</p>
				</div>
			</div> -->
			<!-- <multivalue-textfield label="'Producteur(s)'" model="producers" required="true" description="'Indiquez dans ce champs le(s) organisme(s) producteur de la ressource.'" track="'fullname'"></multivalue-textfield>
			
			<h4 class="bs-callout-label">Responsable de la ressource <span class="text-danger">*</span></h4 class="bs-callout-label">
			<div class="form-group bs-callout" show-errors>
			    <input type="text" name="title"  class="form-control">
			    <p>Le responsable de la ressource est la personne à contacter en cas de questions.</p>
			</div> -->

			<!-- <div class=" bs-callout"> -->
				<!-- <h4 class="bs-callout-label">Liste des contributeurs</h4 class="bs-callout-label"> -->
				<div class="bs-callout">
					<!-- <label>Nom de la ressource <span class="text-danger">*</span></label> -->
				    <!-- <input type="text" name="title" ng-model="metadata.title" class="form-control"> -->
				    <table-array-contributor model="metadata.contributors" ></table-array-contributor>
				</div>
			<!-- </div> -->
		</section>

		<section id="describe">
			<h2>Descriptif</h2>
			<!-- <h4 class="bs-callout-label">Description <span class="text-danger">*</span></h4 class="bs-callout-label">
			<div class="form-group bs-callout" show-errors>
			    <input type="text" name="description" ng-model="metadata.description" class="form-control" required>
			    <p>Veuillez décrire la ressource de manière à ....</p>
			</div> -->
			<multilingual-textfield label="'Description'" model="metadata.description" type="'large'" required="true"></multilingual-textfield>

			<div class=" bs-callout">
				<h4 class="bs-callout-label">Langues principale du corpus</h4 class="bs-callout-label">
				<div class="form-group">
					<!-- <label>Nom de la ressource <span class="text-danger">*</span></label> -->
				    <input type="text" name="language" ng-model="metadata.language" class="form-control">
				    <p>Il est utile de spécifier les langues utilsés (écrit ou parlé) afin de permettre la recherche de ressources en fonction d'une langue particulière.</p>
				</div>
			</div>

			<multilingual-textfield label="'Mots-clès'" model="metadata.keywords"></multilingual-textfield>

			<div class=" bs-callout">
				<h4 class="bs-callout-label">Site internet</h4 class="bs-callout-label">
				<div class="form-group">
				    <input type="text" name="website" ng-model="metadata.website" class="form-control" placeholder="http://">
				    <p>Adresse du site web contenant des informations sur la ressource.</p>
				</div>
			</div>

			<!-- <div class=" bs-callout">
				<h4 class="bs-callout-label">Taille</h4 class="bs-callout-label">
				<div class="form-group bs-callout" show-errors>
				    <input type="text" name="datasize" ng-model="metadata.datasize" class="form-control">
				    <p>Veuillez spécifier la taille (en octet) de l'ensemble des données.</p>
				</div>
			</div> -->
		</section>


		<section id="licence">
			<h2>Licence</h2>

			<div class="form-group bs-callout">
				<h4 class="bs-callout-label">Description des conditions d'utilisation</h4 class="bs-callout-label">

				<div class="form-group">
					<textarea name="conditionsOfUse" ng-model="metadata.conditionsOfUse" rows="10" class="form-control"></textarea>
				</div>
			</div>
			
		</section>
	</div>
</div>


</form>