<form name="metadataItemform" ng-submit="submitForm()" novalidate role="form">

<div class="metadata-item-editor" ng-init="resizeMetadataItemEditor()">

	<div ng-show="step" class="row metadata-editor-progress-bar">
		<ul class="progress-indicator">
            <li ng-class="(stepCurrent==='basic_info' || stepBasicInfoSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepBasicInfoSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.BASIC_INFO' | translate}}
            </li>
            <li ng-class="(stepCurrent==='whos_involved' || stepWhosInvolvedSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepWhosInvolvedSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.WHOS_INVOLVED' | translate}}
            </li>
            <li ng-class="(stepCurrent==='describe' || stepDescribeSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepDescribeSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.DESCRIBE' | translate}}
            </li>
            <li ng-class="(stepCurrent==='licence' || stepLicenceSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepLicenceSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}
            </li>
        </ul>
	</div>

	<div class="row">
		<div ng-if="!step" class="col-md-2 editor-aside">
			<!-- <div class="bs-sidebar hidden-print"> -->
				<ul class="nav bs-sidenav" bs-scrollspy>
				  <li>
				    <ul class="nav">
				    	<li data-target="#basic_info" bs-scrollspy><a href="" ng-click="scrolltoHref('basic_info')">{{'WORKSPACE.METADATA_EDITOR.BASIC_INFO' | translate}}</a></li>
						<li data-target="#whos_involved" bs-scrollspy><a href="" ng-click="scrolltoHref('whos_involved')">{{'WORKSPACE.METADATA_EDITOR.WHOS_INVOLVED' | translate}}</a></li>
						<li data-target="#describe" bs-scrollspy><a href="" ng-click="scrolltoHref('describe')">{{'WORKSPACE.METADATA_EDITOR.DESCRIBE' | translate}}</a></li>
						<li><a href="" ng-click="scrolltoHref('licence')">{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}</a></li>
						<li><hr/></li>
						<li><button class="btn btn-primary" type="submit">Appliquer</button></li>
				    </ul>
				  </li>
				</ul>
				<!-- <ul class="progress-indicator stacked">
		            <li class="completed warning">
		                <a href="#">
		                    <span class="bubble"></span>
		                    <span class="stacked-text">
		                        {{'WORKSPACE.METADATA_EDITOR.BASIC_INFO' | translate}}
		                    </span>
		                </a>
		            </li>
		            <li class="completed">
		                <span class="bubble"></span>
		                <span class="stacked-text">
		                    Personnes impliquées
		                </span>
		            </li>
		            <li>
		                <span class="bubble"></span>
		                <span class="stacked-text">
		                    Descriptif
		                </span>
		            </li>
		            <li>
		                <span class="bubble"></span>
		                <span class="stacked-text">
		                    Licence
		                </span>
		            </li>
		        </ul> -->
			<!-- </div> -->
		</div>
		<div ng-class="step ? 'col-md-12' : 'col-md-10'" class="editor-pane">
			<section ng-show="!step || (step && stepCurrent === 'basic_info')" id="basic_info">
				<h2 translate="WORKSPACE.METADATA_EDITOR.BASIC_INFO"></h2>

	            <div class="bg-danger error-block col-sm-12 am-fade" ng-if='(metadataItemform.$submitted || metadataItemform.type.$dirty) && metadataItemform.type.$invalid' ng-messages="metadataItemform.type.$error">
	                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NOT_SET' | translate}}</div>
	            </div>
				<div class="form-group bs-callout" ng-class="{'has-error': (metadataItemform.$submitted || metadataItemform.type.$dirty) && metadataItemform.type.$invalid}">
					<h4 class="bs-callout-label">Catégorie de la ressource <span class="text-danger">*</span></h4>
				    <select 
					name="type"
					class="form-control"
					required
					ng-model="selectedType" 
					ng-options="type as type.value for type in itemTypes track by type.key"
					ng-change="selectType()">
					</select>
				</div>


	            <div class="bg-danger error-block col-sm-12 am-fade" ng-if="((metadataItemform.$submitted || metadataItemform.title.$dirty) && metadataItemform.title.$invalid) || ((metadataItemform.$submitted || metadataItemform.langtitle.$dirty) && metadataItemform.langtitle.$invalid)">
	                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NEED_ONE_VALUE' | translate}}</div>
	            </div>
				<multilingual-textfield error="((metadataItemform.$submitted || metadataItemform.title.$dirty) && metadataItemform.title.$invalid) || ((metadataItemform.$submitted || metadataItemform.langtitle.$dirty) && metadataItemform.langtitle.$invalid)" name="'title'" label="'Titre de la ressource'" model="metadata.title" required="true"></multilingual-textfield>
				
			</section>

			<section ng-show="!step || (step && stepCurrent === 'whos_involved')" id="whos_involved">
				<h2>Personnes impliquées</h2>
				<!--
				<h4 class="bs-callout-label">Responsable de la ressource <span class="text-danger">*</span></h4 class="bs-callout-label">
				<div class="form-group bs-callout" show-errors>
				    <input type="text" name="title"  class="form-control">
				    <p>Le responsable de la ressource est la personne à contacter en cas de questions.</p>
				</div> -->

				<div class="bs-callout">
				    <table-array-contributor contributors="metadata.contributors" ></table-array-contributor>
				</div>
			</section>

			<section ng-show="!step || (step && stepCurrent === 'describe')" id="describe">
				<h2>Descriptif</h2>

	            <div class="bg-danger error-block col-sm-12 am-fade" ng-if="((metadataItemform.$submitted || metadataItemform.description.$dirty) && metadataItemform.description.$invalid) || ((metadataItemform.$submitted || metadataItemform.langdescription.$dirty) && metadataItemform.langdescription.$invalid)">
	                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NEED_ONE_VALUE' | translate}}</div>
	            </div>
				<multilingual-textfield error="((metadataItemform.$submitted || metadataItemform.description.$dirty) && metadataItemform.description.$invalid) || ((metadataItemform.$submitted || metadataItemform.langdescription.$dirty) && metadataItemform.langdescription.$invalid)" name="'description'" label="'Description'" model="metadata.description" type="'large'" required="true"></multilingual-textfield>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">Langues principale du corpus</h4 class="bs-callout-label">
					<div class="form-group">
					    <input type="text" name="language" ng-model="metadata.language" ng-disabled="true" class="form-control">
					    <p>Il est utile de spécifier les langues utilsés (écrit ou parlé) afin de permettre la recherche de ressources en fonction d'une langue particulière.</p>
					</div>
				</div>

				<multilingual-textfield name="'keyword'" label="'Mots-clès'" model="metadata.keywords"></multilingual-textfield>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">Site internet</h4 class="bs-callout-label">
					<div class="form-group">
					    <input type="url" name="website" ng-model="metadata.website" class="form-control" placeholder="http://">
					    <p>Adresse du site web contenant des informations sur la ressource.</p>
					</div>
				</div>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">Illustration</h4 class="bs-callout-label">
					<div class="form-group">
					    <div class="input-group">
	                        <span class="form-control" ng-click="fileImageSelectModal.show()"><span ng-class="icons.imageFile"></span> {{image.path}}</span>
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" ng-click="fileImageSelectModal.show()" type="button">Selectionner</button>
	                    </span>
	                    </div>
	                    <input type="hidden" name="image" ng-model="metadata.image" class="form-control">
					    <p>Afin d'avoir une meilleure visibilité sur le site de consultation, vous pouvez joindre à la fiche une image représentatif de la ressource.</p>
					</div>
				</div>

				<!-- <div class=" bs-callout">
					<h4 class="bs-callout-label">Aperçu</h4 class="bs-callout-label">
					<div class="form-group">
					    <div class="input-group">
	                        <span class="form-control" ng-click="filePreviewSelectModal.show()"><span ng-class="icons.folder"></span> {{preview.path}}</span>
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" ng-click="filePreviewSelectModal.show()" type="button">Selectionner</button>
	                    </span>
	                    </div>
	                    <input type="hidden" name="preview" ng-model="metadata.preview" class="form-control">
					    <p>Selectionnez un répertoire dans votre espace de travail ORTOLANG contenant des exemples illustant votre ressource (extrait vidéo ou son, partie d'un fichier XML, ...).</p>
					</div>
				</div> -->
			</section>


			<section ng-show="!step || (step && stepCurrent === 'licence')" id="licence">
				<h2>Licence</h2>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">Licence à accepter</h4 class="bs-callout-label">
					<div class="form-group">
					    <div class="input-group">
	                        <span class="form-control" ng-click="fileLicenceSelectModal.show()"><span ng-class="icons.textFile"></span> {{license.path}}</span>
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" ng-click="fileLicenceSelectModal.show()" type="button">Selectionner</button>
	                    </span>
	                    </div>
	                    <input type="hidden" name="license" ng-model="md.license" class="form-control">
					</div>
				</div>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">Site web de la licence</h4 class="bs-callout-label">
					<div class="form-group">
					    <input type="url" name="licenseWebsite" ng-model="metadata.licenseWebsite" class="form-control" placeholder="http://">
					    <p>Adresse du site web contenant des informations sur la licence.</p>
					</div>
				</div>


	            <div class="bg-danger error-block col-sm-12 am-fade" ng-if='(metadataItemform.$submitted || metadataItemform.statusOfUse.$dirty) && metadataItemform.statusOfUse.$invalid'>
	                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NOT_SET' | translate}}</div>
	            </div>
				<div class="form-group bs-callout" ng-class="{'has-error': (metadataItemform.$submitted || metadataItemform.statusOfUse.$dirty) && metadataItemform.statusOfUse.$invalid}">
					<h4 class="bs-callout-label">Droit d'utilisation <span class="text-danger">*</span></h4>
				    <select 
						name="statusOfUse"
						class="form-control"
						required
						ng-model="selectedStatusOfUse" 
						ng-options="sou as sou.value for sou in allStatusOfUse track by sou.key"
						ng-change="selectStatusOfUse()">
					</select>
				</div>

				<div class="form-group bs-callout">
					<h4 class="bs-callout-label">Description des conditions d'utilisation</h4 class="bs-callout-label">

					<div class="form-group">
						<textarea name="conditionsOfUse" ng-model="metadata.conditionsOfUse" rows="10" class="form-control"></textarea>
					</div>
				</div>
				
			</section>

			<div ng-if="step">
				<button class="btn btn-primary" type="button" ng-click="nextStep()" translate="WORKSPACE.METADATA_EDITOR.NEXT_STEP"></button>
			</div>
		</div>
	</div>
</div>


</form>