<form name="metadataItemform" ng-submit="submitForm()" novalidate role="form">

<div class="metadata-item-editor" ng-init="resizeMetadataItemEditor()">

	<div ng-show="step" class="row metadata-editor-progress-bar">
		<ul class="progress-indicator">
            <li ng-class="(stepCurrent==='basic_info' || stepBasicInfoSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepBasicInfoSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.BASIC_INFO' | translate}}
            </li>
            <li ng-class="(stepCurrent==='whos_involved' || stepWhosInvolvedSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepWhosInvolvedSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.WHOS_INVOLVED' | translate}}
            </li>
            <li ng-class="(stepCurrent==='describe' || stepDescribeSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepDescribeSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.DESCRIBE' | translate}}
            </li>
            <li ng-class="(stepCurrent==='licence' || stepLicenceSuccess)?'completed':''">
                <span class="bubble"></span>
                <i ng-if="stepLicenceSuccess" class="fa fa-check-circle"></i>
                {{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}
            </li>
            <li ng-class="(stepCurrent==='specific_fields')?'completed':''">
                <span class="bubble"></span>
                {{'WORKSPACE.METADATA_EDITOR.SPECIFIC_FIELD' | translate}}
            </li>
        </ul>
	</div>

	<div class="row">
		<div ng-if="!step" class="col-md-3 editor-aside">
			<!-- <div class="bs-sidebar hidden-print"> -->
				<ul class="nav bs-sidenav" bs-scrollspy>
				    	<li data-target="#basic_info" bs-scrollspy><a href="" ng-click="scrolltoHref('basic_info')">{{'WORKSPACE.METADATA_EDITOR.BASIC_INFO' | translate}}</a></li>
						<li data-target="#whos_involved" bs-scrollspy><a href="" ng-click="scrolltoHref('whos_involved')">{{'WORKSPACE.METADATA_EDITOR.WHOS_INVOLVED' | translate}}</a></li>
						<li data-target="#describe" bs-scrollspy><a href="" ng-click="scrolltoHref('describe')">{{'WORKSPACE.METADATA_EDITOR.DESCRIBE' | translate}}</a></li>
						<li><a href="" ng-click="scrolltoHref('licence')">{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}</a></li>
						<li><a href="" ng-click="scrolltoHref('specific_fields')">{{'WORKSPACE.METADATA_EDITOR.SPECIFIC_FIELD' | translate}}</a></li>
						<li><hr/></li>
						<li><button class="btn btn-primary" type="submit">{{'WORKSPACE.METADATA_EDITOR.APPLY' | translate}}</button></li>
				   
				</ul>
				<!-- <ul class="progress-indicator stacked">
		            <li class="completed warning">
		                <a href="#">
		                    <span class="bubble"></span>
		                    <span class="stacked-text">
		                        {{'WORKSPACE.METADATA_EDITOR.BASIC_INFO' | translate}}
		                    </span>
		                </a>
		            </li>
		            <li class="completed">
		                <span class="bubble"></span>
		                <span class="stacked-text">
		                    Personnes impliquées
		                </span>
		            </li>
		            <li>
		                <span class="bubble"></span>
		                <span class="stacked-text">
		                    Descriptif
		                </span>
		            </li>
		            <li>
		                <span class="bubble"></span>
		                <span class="stacked-text">
		                    Licence
		                </span>
		            </li>
		        </ul> -->
			<!-- </div> -->
		</div>
		<div ng-class="step ? 'col-md-12' : 'col-md-9'" class="editor-pane">
			<section ng-show="!step || (step && stepCurrent === 'basic_info')" id="basic_info">
				<h2 translate="WORKSPACE.METADATA_EDITOR.BASIC_INFO"></h2>

				<div class="bs-callout">
					<h4 class="bs-callout-label">{{'WORKSPACE.METADATA_EDITOR.RESOURCE_TYPE' | translate}} <span class="text-danger">*</span></h4>
		            <div class="bg-danger error-block col-sm-12 am-fade" ng-if='(metadataItemform.$submitted || metadataItemform.type.$dirty) && metadataItemform.type.$invalid' ng-messages="metadataItemform.type.$error">
		                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NOT_SET' | translate}}</div>
		            </div>
					<div class="form-group bs-callout-input" ng-class="{'has-error': (metadataItemform.$submitted || metadataItemform.type.$dirty) && metadataItemform.type.$invalid}">
						
					    <select 
						name="type"
						class="form-control"
						required
						ng-model="selectedType" 
						ng-options="type as type.value for type in allResourceType track by type.key"
						ng-change="selectType()">
						</select>
					</div>
				</div>

	            <div class="bg-danger error-block col-sm-12 am-fade" ng-if="((metadataItemform.$submitted || metadataItemform.title.$dirty) && metadataItemform.title.$invalid) || ((metadataItemform.$submitted || metadataItemform.langtitle.$dirty) && metadataItemform.langtitle.$invalid)">
	                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NEED_ONE_VALUE' | translate}}</div>
	            </div>
				<div class="bs-callout">
					<h4 class="bs-callout-label">{{'WORKSPACE.METADATA_EDITOR.RESOURCE_TITLE' | translate}} <span class="text-danger">*</span></h4>
		            
						<multilingual-textfield error="((metadataItemform.$submitted || metadataItemform.title.$dirty) && metadataItemform.title.$invalid) || ((metadataItemform.$submitted || metadataItemform.langtitle.$dirty) && metadataItemform.langtitle.$invalid)" name="'title'" label="'Titre de la ressource'" model="metadata.title" required="true"></multilingual-textfield>
				</div>
			</section>

			<section ng-show="!step || (step && stepCurrent === 'whos_involved')" id="whos_involved">
				<h2>{{'WORKSPACE.METADATA_EDITOR.WHOS_INVOLVED' | translate}}</h2>
				<div class="bs-callout">
				    <table-array-contributor contributors="metadata.contributors" ></table-array-contributor>
				</div>
			</section>

			<section ng-show="!step || (step && stepCurrent === 'describe')" id="describe">
				<h2>{{'WORKSPACE.METADATA_EDITOR.DESCRIBE' | translate}}</h2>

	            <div class="bg-danger error-block col-sm-12 am-fade" ng-if="((metadataItemform.$submitted || metadataItemform.description.$dirty) && metadataItemform.description.$invalid) || ((metadataItemform.$submitted || metadataItemform.langdescription.$dirty) && metadataItemform.langdescription.$invalid)">
	                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NEED_ONE_VALUE' | translate}}</div>
	            </div>
				<div class="bs-callout">
					<h4 class="bs-callout-label">{{'WORKSPACE.METADATA_EDITOR.RESOURCE_DESCRIPTION' | translate}}</h4>
		            
					<multilingual-textfield error="((metadataItemform.$submitted || metadataItemform.description.$dirty) && metadataItemform.description.$invalid) || ((metadataItemform.$submitted || metadataItemform.langdescription.$dirty) && metadataItemform.langdescription.$invalid)" name="'description'" label="'Description'" model="metadata.description" type="'large'" required="true"></multilingual-textfield>
				
				</div>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">{{'MARKET.WEBSITE' | translate}}</h4 class="bs-callout-label">
					<div class="alert alert-info" role="alert">
			    		<p><span class="glyphicon glyphicon-info-sign"></span> Adresse du site web contenant des informations sur la ressource.</p>
			    	</div>
					<div class="form-group  bs-callout-input">
					    <input type="url" name="website" ng-model="metadata.website" class="form-control" placeholder="http://">
					</div>
				</div>

				<div class="bs-callout">
					<h4 class="bs-callout-label">{{'MARKET.KEYWORDS' | translate}}</h4>
		            
					<multilingual-textfield name="'keyword'" model="metadata.keywords"></multilingual-textfield>
				</div>

				<div class="bs-callout">
					<h4 class="bs-callout-label">{{'MARKET.PRIMARY_PUBLICATIONS' | translate}}</h4>
		            
					<div class="alert alert-info" role="alert">
					    <p><span class="glyphicon glyphicon-info-sign"></span> Les publications de référence sont celles qui décrivent comment la ressource a été créée. Elles sont également utilisées pour citer la ressource.</p>
					</div>

					<multivalue-textfield name="'publications'" model="publicationsModel" type="'large'"></multivalue-textfield>
				
				</div>


				<div class="bs-callout">
					<h4 class="bs-callout-label">{{'WORKSPACE.METADATA_EDITOR.RESOURCE_IMAGE' | translate}}</h4 class="bs-callout-label">
					<div class="alert alert-info" role="alert">
					    <p><span class="glyphicon glyphicon-info-sign"></span> Afin d'avoir une identité graphique propre à votre ressource, vous pouvez joindre une image qui s'affichera en haut à gauche dans la fiche d'information.</p>
					</div>
					<div class="form-group  bs-callout-input">
					    <div class="input-group">
	                        <span class="form-control" ng-click="fileImageSelectModal.show()"><span ng-class="icons.imageFile"></span> {{image.path}}</span>
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" ng-click="fileImageSelectModal.show()" type="button">{{'SELECT' | translate}}</button>
	                    </span>
	                    </div>
	                    <input type="hidden" name="image" ng-model="metadata.image" class="form-control">

					</div>

				</div>

				<div class="bs-callout">
					<h4 class="bs-callout-label">{{'MARKET.PREVIEW' | translate}}</h4 class="bs-callout-label">
					<div class="alert alert-info" role="alert">
					    <p><span class="glyphicon glyphicon-info-sign"></span> Selectionnez un répertoire dans votre espace de travail ORTOLANG contenant des exemples illustant votre ressource (extrait vidéo ou son, partie d'un fichier XML, ...).</p>
					</div>
					<div class="form-group bs-callout-input">
						<div>
							<div multifile-selector collection="workspace.head" model="metadata.preview.paths" workspace="workspace"></div>
						<!-- <div class="preview-box col-md-5">
				            <div preview-line collection="workspace.head" paths="metadata.preview.paths"></div>
				       </div>

					    <div class="input-group">
	                        <button class="btn btn-primary" ng-click="filePreviewSelectModal.show()" type="button">Ajouter</button>
	                    </div> -->
	                    </div>
	                    <input type="hidden" name="preview" ng-model="metadata.preview">
					</div>

				</div>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">{{'MARKET.TEMPORAL' | translate}}</h4 class="bs-callout-label">
					<div class="alert alert-info" role="alert">
			    		<p><span class="glyphicon glyphicon-info-sign"></span> Date ou période de création de la ressource. Le format retenu pour ce champs est le standard <a target="_BLANK" href="https://fr.wikipedia.org/wiki/ISO_8601">ISO 8601</a>. Exemples : 2015-02-01.</p>
			    	</div>
					<div class="form-group  bs-callout-input">
					    <input type="text" name="creationDate" ng-model="metadata.creationDate" class="form-control">
					</div>
				</div>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">{{'WORKSPACE.METADATA_EDITOR.CREATION_LOCATIONS' | translate}}</h4 class="bs-callout-label">
					<div class="alert alert-info" role="alert">
			    		<p><span class="glyphicon glyphicon-info-sign"></span> Spécifiez le(s) lieu(x) où la ressource a été créée.</p>
			    	</div>
					<div class="form-group  bs-callout-input">
						
                        <tags-input ng-model="selectedCreationLocations" data-display-property="label" name="creationLocations" class="tool-tags" data-placeholder="{{'MARKET.SPACIAL' | translate}}">
                            <auto-complete source="suggestCountries($query)" min-length="0" load-on-focus="false"></auto-complete>
                        </tags-input>
					</div>
				</div>

			</section>


			<section ng-show="!step || (step && stepCurrent === 'licence')" id="licence">
				<h2>{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}</h2>

	            <div class="bg-danger error-block col-sm-12 am-fade" ng-if='(metadataItemform.$submitted || metadataItemform.statusOfUse.$dirty) && metadataItemform.statusOfUse.$invalid'>
	                <div class="text-danger col-sm-offset-1">{{'WORKSPACE.METADATA_EDITOR.MESSAGES.NOT_SET' | translate}}</div>
	            </div>
				<div class="form-group bs-callout" ng-class="{'has-error': (metadataItemform.$submitted || metadataItemform.statusOfUse.$dirty) && metadataItemform.statusOfUse.$invalid}">
					<h4 class="bs-callout-label">Droit d'utilisation <span class="text-danger">*</span></h4>
				    <select 
						name="statusOfUse"
						class="form-control"
						required
						ng-model="selectedStatusOfUse" 
						ng-options="sou as sou.value for sou in allStatusOfUse track by sou.key"
						ng-change="selectStatusOfUse()">
					</select>
				</div>

				<div class="form-group bs-callout">
					<h4 class="bs-callout-label">Description des conditions d'utilisation</h4 class="bs-callout-label">

					<div class="form-group">
						<textarea name="conditionsOfUse" ng-model="metadata.conditionsOfUse" rows="10" class="form-control"></textarea>
					</div>
				</div>
				
				<div class=" bs-callout">
					<h4 class="bs-callout-label">Licence à accepter</h4 class="bs-callout-label">
					<div class="form-group">
					    <div class="input-group">
	                        <span class="form-control" ng-click="fileLicenceSelectModal.show()"><span ng-class="icons.textFile"></span> {{license.path}}</span>
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" ng-click="fileLicenceSelectModal.show()" type="button">{{'SELECT' | translate}}</button>
	                    </span>
	                    </div>
	                    <input type="hidden" name="license" ng-model="md.license" class="form-control">
					</div>
				</div>

				<div class=" bs-callout">
					<h4 class="bs-callout-label">Site web de la licence</h4 class="bs-callout-label">
					<div class="form-group">
					    <input type="url" name="licenseWebsite" ng-model="metadata.licenseWebsite" class="form-control" placeholder="http://">
					</div>

					<div class="alert alert-info" role="alert">
					    <p><span class="glyphicon glyphicon-info-sign"></span> Adresse du site web contenant des informations sur la licence.</p>
					    </div>
				</div>


			</section>

			<section ng-show="!step || (step && stepCurrent === 'specific_fields')" id="specific_fields">
				<h2 translate="WORKSPACE.METADATA_EDITOR.SPECIFIC_FIELD"></h2>
				
				<div ng-if="metadata.type==='Corpus'"> 

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.CORPORA_TYPE"></h4>
						<div class="form-group bs-callout-input">
						    <!-- <select 
								name="corporaType"
								class="form-control"
								ng-model="selectedCorporaType" 
								ng-options="ct as ct.value for ct in allCorporaType track by ct.key"
								ng-change="selectCorporaType()">
							</select> -->
							<button type="button" class="btn btn-default" ng-model="metadata.corporaType" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_TYPE' | translate}}" bs-options="corporaType.key as corporaType.value for corporaType in allCorporaType" bs-select>
  								{{'MARKET.FACET.CORPORA_TYPE' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class=" bs-callout">
						<h4 class="bs-callout-label">{{'MARKET.FACET.CORPORA_LANG' | translate}}</h4 class="bs-callout-label">
						<div class="alert alert-info" role="alert">
					    	<p><span class="glyphicon glyphicon-info-sign"></span> Il est utile de spécifier les langues utilsés (écrit ou parlé) afin de permettre la recherche de ressources en fonction d'une langue particulière.</p>
					    </div>
						<div class="form-group bs-callout-input">
						    <!-- <input type="text" name="language" ng-model="metadata.language" ng-disabled="true" class="form-control"></input> -->

	                        <tags-input ng-model="selectedCorporaLanguages" data-display-property="label" name="corporaLanguages" class="tool-tags" data-placeholder="{{'MARKET.FACET.CORPORA_LANG' | translate}}">
	                            <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
	                        </tags-input>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.CORPORA_STYLES"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.corporaStyleTag" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_STYLES' | translate}}" bs-options="corporaStyle as corporaStyle.label for corporaStyle in allCorporaStyles" bs-select>
  								{{'MARKET.FACET.CORPORA_STYLES' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.ANNOTATION_LEVEL"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedAnnotationLevels" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_ANNOTATION_LEVELS' | translate}}" bs-options="annotationLevel as annotationLevel.label for annotationLevel in allAnnotationLevels" bs-select>
  								{{'MARKET.FACET.ANNOTATION_LEVEL' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.TEXT_FORMAT"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedCorporaFormats" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_FORMATS' | translate}}" bs-options="term as term.label for term in allCorporaFormats" bs-select>
  								{{'MARKET.FACET.TEXT_FORMAT' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.TOOL_FILE_ENCODINGS"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedCorporaFileEncodings" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_FILE_ENCODINGS' | translate}}" bs-options="term as term.label for term in allCorporaFileEncodings" bs-select>
  								{{'MARKET.FACET.TOOL_FILE_ENCODINGS' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.CORPORA_DATATYPES"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedCorporaDataTypes" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_DATATYPES' | translate}}" bs-options="term as term.label for term in allCorporaDataTypes" bs-select>
  								{{'MARKET.FACET.CORPORA_DATATYPES' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.CORPORA_LANGUAGE_TYPE"></h4>
						<div class="form-group bs-callout-input">
						    <!-- <select 
								name="corporaLanguageType"
								class="form-control"
								ng-model="selectedCorporaLanguageType" 
								ng-options="ct as ct.value for ct in allCorporaLanguageType track by ct.key"
								ng-change="selectCorporaLanguageType()">
							</select> -->
							<button type="button" class="btn btn-default" ng-model="metadata.corporaLanguageType" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_LANGUAGE_TYPE' | translate}}" bs-options="corporaLanguageType.key as corporaLanguageType.value for corporaLanguageType in allCorporaLanguageType" bs-select>
  								{{'MARKET.FACET.CORPORA_LANGUAGE_TYPE' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class=" bs-callout">
						<h4 class="bs-callout-label">{{'WORKSPACE.METADATA_EDITOR.WORD_COUNT' | translate}}</h4 class="bs-callout-label">
						<div class="alert alert-info" role="alert">
				    		<p><span class="glyphicon glyphicon-info-sign"></span> Nomre de mots dans l'ensemble des fichiers de la ressource (Hors documentation, etc).</p>
				    	</div>
						<div class="form-group  bs-callout-input">
						    <input type="text" name="wordCount" ng-model="metadata.wordCount" class="form-control">
						</div>
					</div>

				</div>

				<div ng-if="metadata.type==='Lexique'">

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.LEXICON_INPUT_TYPE"></h4>
						<div class="form-group bs-callout-input">
							<button type="button" class="btn btn-default" ng-model="metadata.lexiconInputType" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_INPUT_TYPE' | translate}}" bs-options="lexiconInputType.key as lexiconInputType.value for lexiconInputType in allLexiconInputType" bs-select>
  								{{'MARKET.FACET.LEXICON_INPUT_TYPE' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class=" bs-callout">
						<h4 class="bs-callout-label">{{'MARKET.FACET.LEXICON_INPUT_LANGUAGE' | translate}}</h4 class="bs-callout-label">
						<div class="form-group bs-callout-input">
						    <!-- <input type="text" name="language" ng-model="metadata.language" ng-disabled="true" class="form-control"></input> -->

	                        <tags-input ng-model="selectedLexiconInputLanguages" data-display-property="label" name="lexiconInputLanguages" class="tool-tags" data-placeholder="{{'MARKET.FACET.LEXICON_INPUT_LANGUAGE' | translate}}">
	                            <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
	                        </tags-input>
						</div>
					</div>

					<div class=" bs-callout">
						<h4 class="bs-callout-label" translate="WORKSPACE.METADATA_EDITOR.LEXICON_INPUT_COUNT"></h4>
						<div class="form-group bs-callout-input">
						    <input type="text" name="lexiconInputCount" ng-model="metadata.lexiconInputCount" class="form-control"></input>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.LEXICON_DESCRIPTION_TYPE"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedLexiconDescriptionTypes" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_DESCRIPTION_TYPES' | translate}}" bs-options="term as term.label for term in allLexiconDescriptionTypes" bs-select>
  								{{'MARKET.FACET.LEXICON_DESCRIPTION_TYPE' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class=" bs-callout">
						<h4 class="bs-callout-label">{{'MARKET.FACET.LEXICON_DESCRIPTION_LANGUAGE' | translate}}</h4 class="bs-callout-label">
						<div class="form-group bs-callout-input">
						    <!-- <input type="text" name="language" ng-model="metadata.language" ng-disabled="true" class="form-control"></input> -->

	                        <tags-input ng-model="selectedLexiconDescriptionLanguages" data-display-property="label" name="lexiconDescriptionLanguages" class="tool-tags" data-placeholder="{{'MARKET.FACET.LEXICON_DESCRIPTION_LANGUAGE' | translate}}">
	                            <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
	                        </tags-input>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.LEXICON_LANGUAGE_TYPE"></h4>
						<div class="form-group bs-callout-input">
							<button type="button" class="btn btn-default" ng-model="metadata.lexiconLanguageType" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_LANGUAGE_TYPE' | translate}}" bs-options="lexiconLanguageType.key as lexiconLanguageType.value for lexiconLanguageType in allLexiconLanguageTypes" bs-select>
  								{{'MARKET.FACET.LEXICON_LANGUAGE_TYPE' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.LEXICON_FORMAT"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedLexiconFormats" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_FORMATS' | translate}}" bs-options="term as term.label for term in allLexiconFormats" bs-select>
  								{{'MARKET.FACET.LEXICON_FORMAT' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

				</div>


				<div ng-if="metadata.type==='Outil'">

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="WORKSPACE.METADATA_EDITOR.PROGRAMMING_LANGUAGES"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedProgrammingLanguages" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_PROGRAMMING_LANGUAGES' | translate}}" bs-options="term as term.label for term in allProgrammingLanguages" bs-select>
  								{{'WORKSPACE.METADATA_EDITOR.PROGRAMMING_LANGUAGES' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="WORKSPACE.METADATA_EDITOR.OPERATING_SYSTEMS"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedOperatingSystems" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_OPERATING_SYSTEMS' | translate}}" bs-options="term as term.label for term in allOperatingSystems" bs-select>
  								{{'WORKSPACE.METADATA_EDITOR.OPERATING_SYSTEMS' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<!-- TODO tool support -->

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="WORKSPACE.METADATA_EDITOR.TOOL_SUPPORT"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="metadata.toolSupport" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_SUPPORT' | translate}}" bs-options="term.id as term.label for term in allToolSupports" bs-select>
  								{{'WORKSPACE.METADATA_EDITOR.TOOL_SUPPORT' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.TOOL_FUNCTIONALITY"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedToolFunctionalities" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_FUNCTIONALITIES' | translate}}" bs-options="term as term.label for term in allToolFunctionalities" bs-select>
  								{{'MARKET.FACET.TOOL_FUNCTIONALITY' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.TOOL_INPUTDATA"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedToolInputData" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_INPUTDATA' | translate}}" bs-options="term as term.label for term in allToolInputData" bs-select>
  								{{'MARKET.FACET.TOOL_INPUTDATA' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.TOOL_OUTPUTDATA"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedToolOutputData" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_OUTPUTDATA' | translate}}" bs-options="term as term.label for term in allToolOutputData" bs-select>
  								{{'MARKET.FACET.TOOL_OUTPUTDATA' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>

					<div class=" bs-callout">
						<h4 class="bs-callout-label">{{'MARKET.FACET.TOOL_LANGUAGE' | translate}}</h4 class="bs-callout-label">
						<div class="form-group bs-callout-input">
						    <!-- <input type="text" name="language" ng-model="metadata.language" ng-disabled="true" class="form-control"></input> -->

	                        <tags-input ng-model="selectedToolLanguages" data-display-property="label" name="toolLanguages" class="tool-tags" data-placeholder="{{'MARKET.FACET.TOOL_LANGUAGE' | translate}}">
	                            <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
	                        </tags-input>
						</div>
					</div>

					<div class=" bs-callout">
						<h4 class="bs-callout-label">{{'WORKSPACE.METADATA_EDITOR.NAVIGATION_LANGUAGES' | translate}}</h4 class="bs-callout-label">
						<div class="form-group bs-callout-input">
						    <!-- <input type="text" name="language" ng-model="metadata.language" ng-disabled="true" class="form-control"></input> -->

	                        <tags-input ng-model="selectedNavigationLanguages" data-display-property="label" name="navigationLanguages" class="tool-tags" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.NAVIGATION_LANGUAGES' | translate}}">
	                            <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
	                        </tags-input>
						</div>
					</div>

					<div class="bs-callout">
						<h4 class="bs-callout-label" translate="MARKET.FACET.TOOL_FILE_ENCODINGS"></h4>
						<div class="form-group bs-callout-input">
						    
	                        <button type="button" class="btn btn-default" ng-model="$parent.selectedToolFileEncodings" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_FILE_ENCODINGS' | translate}}" bs-options="term as term.label for term in allToolFileEncodings" bs-select>
  								{{'MARKET.FACET.TOOL_FILE_ENCODINGS' | translate}} <span class="caret"></span>
							</button>
						</div>
					</div>



				</div>

			</section>

			<div ng-if="step">
				<button class="btn btn-primary" type="button" ng-click="nextStep()" translate="WORKSPACE.METADATA_EDITOR.NEXT_STEP"></button>
			</div>
		</div>
	</div>
</div>


</form>