<div ng-if="!idHal" class="alert alert-success"><span translate="PROFILE.HAL.NO_ID"></span></div>
<div ng-if="publicationNumber > 0">
    <p class="small">
        <span translate="PROFILE.HAL.RESULT_NUMBER" data-translate-values="{number: publicationNumber}"></span>
        <a ng-href="{{morePublicationsUrl}}" target="_blank">HAL</a>
    </p>
    <div class="publication-list">
        <p ng-repeat="publication in publications | limitTo:10 track by publication.halId_s" class="publication-result text-justify">
            <span class="label" ng-class="::'label-' + doctype[publication.docType_s].color"> {{::doctype[publication.docType_s].value}}</span>
            <span class="date small">{{::publication.producedDate_tdate | date}} |</span>
            <span ng-bind-html="::publication.citationFull_s" class="small"></span>
        </p>
    </div>
    <p ng-show="publications.length < publicationNumber">
        <a class="btn btn-default" ng-href="{{morePublicationsUrl}}" target="_blank" translate="PROFILE.HAL.MORE_RESULT" data-translate-values="{number: publicationNumber}"></a>
    </p>
</div>
