
<div ng-show="selectedItem === undefined">
	<table class="table table-striped table-bordered">
	    <thead>
	        <tr>
	            <th colspan="5">
	                <div class="pull-right">
	                    <button type="button" class="btn btn-success" ng-click="addContributor()">
	                        Nouveau ...
	                    </button>
	                </div>
	            </th>
	        </tr>
	        <tr>
	            <th>Type</th>
	            <th>Action</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="item in model track by item.entity.fullname">
	            <td ng-bind="item.entity.fullname"></td>
	            <td>   
	                <button type="button" class="btn btn-default" ng-click="editContributor(item)">Editer</button>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>

