<div class="btn-group">
    <button type="button" class="btn dropdown-toggle" ng-class="dropdownToggleClass" data-toggle="dropdown"
            bs-tooltip data-title="{{'PROFILE.VISIBILITY.LABEL' | translate}} {{bindableSelectedOption.label}}">
        <span ng-class="bindableSelectedOption.icon" ng-if="bindableSelectedOption.icon"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="option in bindableOptions">
            <a ng-click="selectOption(option)">
                <span ng-class="option.icon" ng-if="option.icon"></span>
                <span ng-bind="option.label"></span>
                <span class="glyphicon glyphicon-ok icon-ok check-mark" ng-if="option === bindableSelectedOption"></span>
            </a>
        </li>
    </ul>
</div>
