<form class="form-horizontal" name="metadataEditorViewForm" ng-controller="OaiDcMetadataEditorCtrl">
	<div ng-repeat="(keyElement, valuesElement) in selectedMetadata.content">
		<div ng-if="dcElementsObject[keyElement]" ng-repeat="value in valuesElement" class="form-group">
			<label for="elm-{{keyElement}}" class="col-sm-2 control-label">{{dcElementsObject[keyElement].label}}</label>
			<div class="col-sm-8">
				<div class="input-group">
					<span ng-if="value.lang" class="input-group-addon" ng-click="showAddElement(keyElement, value)">{{value.lang}}</span>
					<input ng-model="value.value" type="text" class="form-control" name="elm-{{keyElement}}" placeholder="{{dcElementsObject[keyElement].placeholder}}" ng-click="showAddElement(keyElement, value)">

					<div class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="deleteElement(keyElement, value)">
							<span class="text-danger" ng-class="::icons.trash"></span>
						</button>
					</div>
				</div>
			</div>
	  	</div>
	</div>
	<div class="col-sm-10">
		<div class="pull-right">
			<button type="button" class="btn btn-primary" ng-click="showAddElement()">
                {{'BROWSER.METADATA_EDITOR.ADD_DC_ELEMENT' | translate}}
            </button>
		</div>
	</div>
</form>