// Bootstrap Core variables and mixins
@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";
// Ortolang variables and mixins
@import "variables";
@import "mixins";

@import "fonts";
@import "main-wrapper";
@import "side-nav";
@import "toolbar";
@import "containers";
@import "metadata-preview";
@import "metadata";
@import "tool";
@import "browser";
@import "visualizers";
@import "workspace";
@import "upload";
@import "dropdown";
@import "top-nav";
@import "market";
@import "custom-grid";
@import "processes";
@import "footer";
@import "timeline";
@import "profile";
@import "information";
@import "alerts";
@import "mobile";
@import "ie";

html, body {
  height: 100%;
}

body {
  background-color: @body-bg;
}

.nav > li > a {
  color: @text-color;
}

a:focus {
  outline: none;
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}

.btn-tertiary {
  .button-variant(@btn-tertiary-color; @btn-tertiary-bg; @btn-tertiary-border);
}

.btn-inverse {
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}

.has-error .help-block.help {
  color: lighten(@text-color, 25%);
}
