// Bootstrap Core variables and mixins
@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";
// Ortolang variables and mixins
@import "variables";
@import "mixins";

@import "fonts";
@import "main-wrapper";
@import "side-nav";
@import "toolbar";
@import "containers";
@import "metadata-preview";
@import "metadata";
@import "tool";
@import "browser";
@import "upload";
@import "dropdown";
@import "top-nav";
@import "market";
@import "custom-grid";
@import "processes";
@import "footer";
@import "timeline";
@import "information";
@import "mobile";
@import "ie";


body {
  background-color: @body-bg;
}

.nav > li > a {
  color: @text-color;
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}

.btn-tertiary {
  .button-variant(@btn-tertiary-color; @btn-tertiary-bg; @btn-tertiary-border);
}

// TODO to be removed when angular-strap release fix
.modal-backdrop.am-fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1038;
}
