
html, body {
  height: 100%;
}

body {
  background-color: @default-bg;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav > li > a {
  color: @text-color;
}

a:focus {
  outline: none;
}

button.no-border {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: @screen-lg-min){
  .row.auto-clear > .col-lg-1:nth-child(12n+1){clear:left;}
  .row.auto-clear > .col-lg-2:nth-child(6n+1){clear:left;}
  .row.auto-clear > .col-lg-3:nth-child(4n+1){clear:left;}
  .row.auto-clear > .col-lg-4:nth-child(3n+1){clear:left;}
  .row.auto-clear > .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
  .row.auto-clear > .col-md-1:nth-child(12n+1){clear:left;}
  .row.auto-clear > .col-md-2:nth-child(6n+1){clear:left;}
  .row.auto-clear > .col-md-3:nth-child(4n+1){clear:left;}
  .row.auto-clear > .col-md-4:nth-child(3n+1){clear:left;}
  .row.auto-clear > .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
  .row.auto-clear > .col-sm-1:nth-child(12n+1){clear:left;}
  .row.auto-clear > .col-sm-2:nth-child(6n+1){clear:left;}
  .row.auto-clear > .col-sm-3:nth-child(4n+1){clear:left;}
  .row.auto-clear > .col-sm-4:nth-child(3n+1){clear:left;}
  .row.auto-clear > .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width: @screen-xs-max){
  .row.auto-clear > .col-xs-1:nth-child(12n+1){clear:left;}
  .row.auto-clear > .col-xs-2:nth-child(6n+1){clear:left;}
  .row.auto-clear > .col-xs-3:nth-child(4n+1){clear:left;}
  .row.auto-clear > .col-xs-4:nth-child(3n+1){clear:left;}
  .row.auto-clear > .col-xs-6:nth-child(odd){clear:left;}
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}

.btn-tertiary {
  .button-variant(@btn-tertiary-color; @btn-tertiary-bg; @btn-tertiary-border);
}

.btn-inverse {
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}

.btn-workspace {
  .button-variant(@btn-workspace-color; @btn-workspace-bg; @btn-workspace-border);
}

.btn-alternate {
  .button-variant(@text-color; @alternate-bg; darken(@alternate-bg, 6.5%));
}

.has-error .help-block.help {
  color: lighten(@text-color, 25%);
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.modal-backdrop.am-fade,
.aside-backdrop.am-fade {
  background: rgba(0, 0, 0, @modal-backdrop-opacity);
}

.profile-card {
  margin-bottom: @line-height-computed;
  .media-body {
    vertical-align: middle;
    .name {
      font-weight: 600;
    }
    .email {
      display: block;
    }
  }
}

.organization-card {
  background-color: lighten(@default-bg, 2%);
  cursor: pointer;
  margin-bottom: @line-height-computed;
  &.card-well {
    padding: 10px 12px 12px;
    margin-bottom: @padding-large-horizontal;
  }
  .media-left {
    vertical-align: middle;
    padding-right: 2 * @padding-base-horizontal;
    height: 102px;
    .organization-logo-wrapper {
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .media-body {
    vertical-align: middle;
    .name {
      font-weight: 600;
    }
    p {
      padding-bottom: @padding-base-horizontal;
      border-bottom: @default-border;
    }
    .location {
      padding-right: @padding-large-horizontal;
    }
    .website a {
      color: inherit;
      border-bottom: 1px dotted @text-color;
      text-decoration: none;
      &:hover {
        color: @ortolang-blue;
        border-bottom-color: @ortolang-blue;
      }
    }
  }
}

.order-indicator {
  color: @dark-yellow;
  padding-left: 2px;
}

.tag-wrapper {
  margin-top: @padding-large-vertical;
}
.tag.label {
  font-size: 13px;
  background-color: @btn-inverse-bg;
  font-weight: normal;
  &.label-primary {
    background-color: @brand-primary;
  }
  &.label-gray {
    background-color: @label-default-bg;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.card-well {
  min-height: 20px;
  padding: 17px 19px 19px;
  margin-bottom: 20px;
  background-color: lighten(@default-bg, 1%);
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  .card-border();
  &.card-well-inverse {
    .card-border-inverse();
  }
  &.padding-sm {
    padding: 10px 12px 12px;
  }
  &.card-news-well {
    img {
      max-width: 100%;
      padding-bottom: @padding-large-vertical;
    }
  }
  &.card-well-lg {
    padding: 24px;
    border-radius: @border-radius-large;
  }
  &.card-well-sm {
    padding: 9px;
    border-radius: @border-radius-small;
  }
  &.card-well-hover:hover {
    background-color: @alternate-light-bg;
    border-bottom-color: darken(@alternate-light-border-color, 5%);
    transition: all 0.3s;
  }
  hr {
    border-color: @well-border;
  }
}

.btn.btn-cookies-consent {
  margin-top: @padding-large-vertical;
}

.piwik-optout-iframe {
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  body {
    font-family: @font-family-base;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @text-color;
    background-color: @body-bg;
  }
}

.octicon.octicon-clippy[ui-zeroclip] {
  cursor: pointer;
}

.small-caps {
  font-variant: small-caps;
}

.editable-custom-inputs {
  .border-right-radius(0) !important;
  + .input-group-btn {
    > .btn {
      .border-left-radius(0);
      &:not(:last-of-type) {
        .border-right-radius(0);
      }
    }
  }
}
.editable-custom-error {
  display: table-row;
}

.btn-group-justified > .btn-group .btn {
  text-overflow: ellipsis;
  overflow: hidden;
}

.label.label-for-all {
  background-color: @acl-for-all;
}

.label.label-authentified {
  background-color: @acl-authentified;
}

.label.label-esr {
  background-color: @acl-esr;
}

.label.label-restricted {
  background-color: @acl-restricted;
}

.modal-full {
  width: 90%;
}
