
html, body {
  height: 100%;
}

body {
  background-color: @default-bg;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav > li > a {
  color: @text-color;
}

a:focus {
  outline: none;
}

button.no-border {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
}

.clear-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    clear: both;
  }
}
.clear-lg {
  @media (min-width: @screen-lg-min) {
    clear: both;
  }
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}

.btn-tertiary {
  .button-variant(@btn-tertiary-color; @btn-tertiary-bg; @btn-tertiary-border);
}

.btn-inverse {
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}

.btn-workspace {
  .button-variant(@btn-workspace-color; @btn-workspace-bg; @btn-workspace-border);
}

.btn-alternate {
  .button-variant(@text-color; @alternate-bg; darken(@alternate-bg, 6.5%));
}

.has-error .help-block.help {
  color: lighten(@text-color, 25%);
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.modal-backdrop.am-fade,
.aside-backdrop.am-fade {
  background: rgba(0, 0, 0, @modal-backdrop-opacity);
}

.profile-card {
  margin-bottom: @line-height-computed;
  .media-body {
    vertical-align: middle;
    .name {
      font-weight: 600;
    }
    .email {
      display: block;
    }
  }
}

.order-indicator {
  color: @dark-yellow;
  padding-left: 2px;
}

.tag-wrapper {
  margin-top: @padding-large-vertical;
}
.tag.label {
  font-size: 13px;
  background-color: @btn-inverse-bg;
  font-weight: normal;
  &.label-primary {
    background-color: @brand-primary;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.card-well {
  min-height: 20px;
  padding: 17px 19px 19px;
  margin-bottom: 20px;
  background-color: lighten(@default-bg, 1%);
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  .card-border();
  hr {
    border-color: @well-border;
  }
  &.card-news-well {
    img {
      max-width: 100%;
      padding-bottom: @padding-large-vertical;
    }
  }
  &.card-well-lg {
    padding: 24px;
    border-radius: @border-radius-large;
  }
  &.card-well-sm {
    padding: 9px;
    border-radius: @border-radius-small;
  }
  &.card-well-hover:hover {
    background-color: @alternate-light-bg;
    border-bottom-color: darken(@alternate-light-border-color, 5%);
    transition: all 0.3s;
  }
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.btn.btn-cookies-consent {
  margin-top: @padding-large-vertical;
}

.piwik-optout-iframe {
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  body {
    font-family: @font-family-base;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @text-color;
    background-color: @body-bg;
  }
}

.octicon.octicon-clippy[ui-zeroclip] {
  cursor: pointer;
}

.small-caps {
  font-variant: small-caps;
}
