
html, body {
  height: 100%;
}

body {
  background-color: @body-bg;
}

.nav > li > a {
  color: @text-color;
}

a:focus {
  outline: none;
}

.btn-secondary {
  .button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}

.btn-tertiary {
  .button-variant(@btn-tertiary-color; @btn-tertiary-bg; @btn-tertiary-border);
}

.btn-inverse {
  .button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}

.btn-workspace {
  .button-variant(@btn-workspace-color; @btn-workspace-bg; @btn-workspace-border);
}

.btn-alternate {
  .button-variant(@text-color; @alternate-bg; darken(@alternate-bg, 6.5%));
}

.has-error .help-block.help {
  color: lighten(@text-color, 25%);
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.modal-backdrop.am-fade,
.aside-backdrop.am-fade {
  background: rgba(0, 0, 0, @modal-backdrop-opacity);
}

.profile-card {
  margin-bottom: @line-height-computed;
  .media-body {
    vertical-align: middle;
    .name {
      font-weight: 600;
    }
    .email {
      display: block;
    }
  }
}

.order-indicator {
  color: @dark-yellow;
  padding-left: 2px;
}

.tag-wrapper {
  margin-top: @padding-large-vertical;
}
.tag.label {
  font-size: 13px;
  font-weight: 300;
  &.label-default {
    background-color: @btn-inverse-bg;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
