.main-footer {
  height: 50px;
  border-top: @default-border;
  color: @gray-light;
  p {
    margin: 0;
    line-height: 50px;
    &.pull-right a {
      margin: 0 @padding-xs-horizontal;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      border-bottom: 1px dotted;
      color: inherit;
      &:hover {
        color: @gray;
      }
    }
  }
}

@media(min-width: @grid-float-breakpoint) {
  .main-footer {
    margin-left: @side-nav-width;
  }
}
