.information-toolbar {
  > ul {
    margin: -@padding-large-vertical 0;
    > li {
      + li {
        margin-left: 0;
      }
      > a {
        line-height: @toolbar-min-height;
        color: inherit;
        padding: 0 2 * @padding-large-horizontal;
      }
      &.active, &:hover, &.open {
        border-bottom: 4px solid @information-primary;
        > a {
          background: none;
          color: inherit;
          border-radius: 0;
          text-decoration: none;
          margin-bottom: -4px;
          &:hover, &:focus {
            background: none;
            color: inherit;
            border-bottom-color: @ortolang-blue;
          }
        }
        &.active, &.open {
          border-bottom-color: @information-primary;
        }
      }
    }
  }
}
