.license-panel, .metadata-panel {
  background-color: @main-bg;
  .panel-heading {
    font-size: @font-size-h4;
    font-weight: 200;
  }
}

.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -moz-box-direction: normal;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.flex-column {

  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;

  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
    */

@-moz-document url-prefix() {
  .flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
  }

}

.logo-item {
  height: 160px;
  width: 160px;
  padding: 10px;
}


.medium-item {
  margin: 5px;
  border: 1px solid #dddddd;
  line-height: 1.42857143;
  background-color: @main-bg;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
  box-shadow: 0 0 5px rgba(0,0,0,0.10);
  width: 162px;
  //        height: 230px;
  overflow: hidden;

  cursor: pointer;

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    .title {
      color: @market-primary;
    }
  }

  .title {
    position: relative;
    color: inherit;
    font-size: 13px;
    margin: @padding-base-vertical @padding-large-vertical (@padding-large-vertical + @padding-base-vertical);
    height: 60px;
  }

  .publication-date {
    font-size: 12px;
    margin: @padding-base-vertical @padding-large-vertical (@padding-large-vertical + @padding-base-vertical);
  }
}

.image-lg-size {
  max-width: 200px;
  max-height: 200px;
  background-color: @main-bg;
}

.image-md-size {
  max-width: 160px;
  max-height: 160px;
  background-color: @main-bg;
}

.text-pane {
  overflow: hidden;
}

.text-pane-small {
  height: 50px;
}

.market-item {
  > header {
    margin-left: -@container-main-padding;
    margin-right: -@container-main-padding;
    padding: 15px @container-main-padding;
    background-color: @default-bg;
    border-bottom: @default-border;
    .media .pull-left {
      padding-right: 2 * @padding-large-horizontal;
    }

    button, .item-logo {
      margin-top: @padding-large-vertical;
    }
    .image {
      max-width: 200px;
      max-height: 200px;
      background-color: @main-bg;
    }

    ul {
      padding-left: @padding-large-horizontal;
      margin-top: @padding-base-vertical;
    }

    .all-versions {
      padding-top: @padding-small-vertical;
    }
  }

  aside {
    padding-top: 3*@padding-large-vertical;
    #preview-license {
      cursor: pointer;
    }

  }
  section {
    padding-top: 3*@padding-large-vertical;
    padding-bottom: 3*@padding-large-vertical;

    header {
      font-size: @font-size-h3;
      font-weight: 200;
      margin-bottom: @padding-large-vertical;
    }
    ul {
      padding-left: @padding-large-horizontal;
      margin-top: @padding-base-vertical;
    }
    article {
      margin-left: @padding-large-horizontal;
      dt {
        padding-bottom: 2*@padding-base-vertical;
      }
      dd {
        padding-left: @padding-base-horizontal;
        padding-bottom: @padding-base-vertical;
      }
    }
    .section-body-wrapper {
      margin-left: @padding-large-horizontal;
      dt {
        padding-bottom: 2*@padding-base-vertical;
      }
      dd {
        padding-left: @padding-base-horizontal;
        padding-bottom: 3*@padding-base-vertical;
      }
    }
    p {
      text-align: justify;
    }

    .contributor-entity {
      display: inline-block;
      vertical-align: top;
      padding: 10px;
    }
    .logo-contributor {
      height: 100px;
      width: 160px;
      text-align: center;
      color: lightgray;
      padding: @padding-base-horizontal;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .contributor-entity-fullname {
      width: 160px;
      margin-top: 10px;
    }
    .contributor-roles {
      width: 160px;
    }
  }

  section:not(:first-child) {
    border-top: 1px solid @gray-lighter;
  }

  .preview-box {
    overflow: scroll;
    max-height: 100px;

    .table {
      tr {
        cursor: pointer;

        &:first-child > td {
          border-top: 0px;
        }
      }
    }
  }
}

.market-list-line {

  .line {
    border-bottom: @default-border;
    /* border-right: @default-border; */
    &:first-child {
      border-top: @default-border;
    }
  }

  .description {
    overflow: hidden;
    max-height: 76px;
    text-align: justify;
  }

  .producers {
    a {
      font-weight: 200;
    }
  }
}

.toolbar-options {

  margin-top: -2 * @padding-large-vertical;

  dl {
    margin-bottom: 0px;
    dt {
      width: 180px;
      margin-right: @padding-large-vertical;
      padding-top: @padding-base-vertical;
      font-weight: inherit;
    }
  }

  .close {
    margin-left: @padding-small-horizontal;
  }
}

.toolbar-options-facets {
  height: ~"calc(100% - 109px)";
}

.toolbar-section {

  .toolbar-options-line {
    border-bottom: @default-border;
    padding-bottom: @padding-base-vertical;
    padding-top: @padding-base-vertical;
    border-color: lighten(@navbar-default-border, 2%);
  }

  dl {
    margin-bottom: 0px;
    dt {
      width: 180px;
      margin-right: @padding-large-vertical;
      padding-top: @padding-base-vertical;
      font-weight: inherit;
    }
  }
}

.toolbar-options-sorted {
  background-color: @main-bg;
  border-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  .btn {

    &:hover {
      border-color: @btn-default-border;
      background-color: @main-bg;
    }
    border-color: @main-bg;

  }
}

.toolbar-options-applied-filters {
  border-top: @default-border;
  margin-top: -32px;
}

.btn-primary-inverse {

  &:hover {
    border-color: @btn-primary-border;
    color: @btn-primary-bg;
    background-color: @btn-default-bg;
  }
  background-color: @main-bg;
  color: @btn-primary-bg;
  border-color: @btn-default-border;
}


.btn-default-inverse {

  &:hover {
    border-color: @btn-default-border;
    background-color: @main-bg;
  }
}

.dropdown-faceted-filter {
  width: 100%;

  .checkbox {
    padding: @padding-large-vertical @padding-large-horizontal @padding-large-vertical 2*@padding-large-horizontal;
    margin: 0px;
  }

  label {
    width: 100%;
  }
}

.main-filter-option {
  width: 220px;
}

.ortolang-title {
  margin-bottom: 0;
}

.news-well {
  box-shadow: none;
  background-color: @default-bg;
  padding-top: 17px;
  hr {
    border-color: @well-border;
  }
  img {
    max-width: 100%;
    padding-bottom: @padding-large-vertical;
  }
}

.marianne {
  img {
    max-width: 100px;
  }
  .media-body {
    vertical-align: middle;
  }
}

.huma-num {
  width: 80px;
  margin-bottom: @padding-large-horizontal;
}

.ortolang-description ul {
  margin-bottom: 20px;
  li {
    margin-bottom: @padding-base-vertical;
  }
}
