.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-left: solid rgb(238, 238, 238);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 3px;
    border-left-color: lightgrey;

    .bs-callout-toolbar {
        float: right;
    }
}

.bs-callout-focus {
    border-left-color: rgb(27, 128, 158);
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-label {
    border-bottom: solid 2px #eee;
    padding-bottom: 12px;
    margin-left: 22px;
    color: gray;
    font-weight: 100;
}

.metadata-item-editor {
    .editor-aside {
        border-right: 1px solid #efefef;
    }
    section {
        h2 {
            border-bottom: 1px solid #efefef;
        }
    }
}

.metadata-editor {
	-webkit-transition:all ease-in-out 0.25s;
	transition:all ease-in-out 0.25s;
	z-index: 1000;
	.aside-body {
		overflow: auto;
	}

    blockquote {
        margin-left: 10px;
    }

    .tab-content {
        max-height: 600px;
        overflow: auto;
        margin-top: @padding-large-vertical;
    }

}

.metadata-editor-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: @top-navbar-height;
	padding: 6px 15px;
	background: @side-nav-item-hover-bg;
	color: @inverse-text-color;
}

.metadata-list {
	-webkit-transition:all ease-in-out 0.25s;
  transition:all ease-in-out 0.25s;
}

.metadata-editor-backdrop {
	z-index: 1000;
}

.metadata-list.middle {
	right: 35rem;
}

#add-metadata {

	.collapse-box {
		-webkit-transition:all linear 0.2s;
  		transition:all linear 0.2s;
	}

}

#metadata-form {
    margin-left: 10px;
    margin-right: 10px;

    .nav-metadata {
        position: absolute;
        width: 200px;
    }

    #metadata-form-panels {
        position: absolute;
        width: 760px;
        margin-left: 220px;
        overflow: auto;

        .metadata-form-panel {
            padding-left: 20px;

        }
    }
}


/***************************
 * Auto complete directive
 ***************************/

.tags-wrapper {
    position: relative;

    .tags-cloud {
        margin-bottom: 0;

        .tag {
            float: left;
            padding: 4px 6px;
            font-size: 1em;
            margin-right: 5px;
            margin-bottom: 5px;
            background: #f2f2f2;
            font-weight: 600;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #dddddd;
        }

        .tag:hover {
            border: 1px solid #cccccc;
        }

        .tag:hover .cross {
            opacity: 1;
        }
        .tag .cross {
            margin-left: 5px;
            margin-right: 3px;
            font-size: 1em;
            color: #20a28e;
            opacity: .7;
            cursor: pointer;
        }
    }

    .suggestions-list {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        font-size: 14px;
        z-index: 200;

        li {
            color: @text-color;
            font-weight: 600;
            padding: 4px 25px;
            font-size: 1em;
            cursor: pointer;
            background: @alternate-bg;
            border-bottom: 1px solid #dddddd;
        }

        li:hover {
            background: #dddddd;
        }

        li.active {
            color: #20a28e;
            background: #dddddd;
        }

        &:focus{
            outline:none;
        }

    }
}






