@media (max-width: @grid-float-breakpoint-max) {
  .ortolang-title {
    margin-top: 0;
  }

  .main-footer {
    margin-bottom: @line-height-computed;
    p {
      display: inline;
      float: none !important;
    }
  }

  #side-nav-wrapper {
    display: none !important;
  }

  #top-nav-wrapper {
    .glyphicon {
      font-size: 1.33333333em;
      line-height: 0.75em;
      vertical-align: -15%;
      margin-left: 2px;
    }
    .fa:not(.fa-caret-down), .glyphicon {
      margin-right: @padding-small-horizontal;
    }
  }

  .navbar.top-nav {
    ul.navbar-nav.navbar-collapse {
      .in.collapse, .collapsing {
        border-top: 1px solid darken(@navbar-default-border, 20%);
      }
    }
  }

  .view-wrapper-flex.market-view-wrapper-flex {
    display: block;
    overflow: auto;
  }

  .market-item {
    > header {
      .media-left {
        display: block;
        .item-logo {
          height: auto;
        }
      }
      .media-body {
        display: block;
        width: auto;
      }
    }
    aside {
      margin-top: 0;
    }
    &.browse {
      > header {
        padding: @padding-base-vertical 25px;
        button {
          margin-top: 0;
        }
        .item-logo, .market-item-title {
          display: none;
        }
      }
    }
  }

  .browser-wrapper.market-browser-wrapper {
    .table-workspace-elements-wrapper, .tile-workspace-elements-wrapper {
      padding-left: @padding-small-horizontal;
      padding-right: @padding-small-horizontal;
    }

  }
  .table.table-workspace-elements {
    margin-top: @padding-base-vertical;
    th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .toolbar.browser-toolbar.market-browser-toolbar, .toolbar.visualizer-toolbar {
    padding-left: @padding-small-horizontal;
    padding-right: @padding-small-horizontal;
  }
  .toolbar.browser-toolbar {
    .browser-breadcrumb .breadcrumb-part {
      &:after {
        content: '';
      }
      button, a {
        padding-left: @padding-large-horizontal !important;
        padding-right: @padding-large-horizontal !important;
        border-color: @btn-default-border;
        background-color: @btn-default-bg;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .browser-breadcrumb.aside-left-collapsed {
      padding: 0;
    }
  }
}

@media(min-width: @grid-float-breakpoint) {
  #top-nav-wrapper {
    .hidden-description {
      display: none;
    }
    .dropdown-menu {
      .fa:not(.fa-caret-down) {
        margin-right: @padding-xs-horizontal;
      }
    }
    .fa:not(.fa-caret-down) {
      margin-right: 0;
    }
  }
}
