@media (max-width: @grid-float-breakpoint-max) {
  .ortolang-title {
    margin-top: 0;
  }

  .main-footer {
    margin-bottom: @line-height-computed;
    p {
      display: inline;
      float: none !important;
    }
  }

  #side-nav-wrapper {
    display: none !important;
  }

  .toolbar {
    padding-left: @container-main-mobile-padding;
    padding-right: @container-main-mobile-padding;
  }

  .view-wrapper-flex.market-view-wrapper-flex {
    display: block;
    overflow: auto;
  }

  .market-item {
    > header {
      padding-left: @container-main-mobile-padding;
      padding-right: @container-main-mobile-padding;
      .media-left {
        display: block;
        .item-logo {
          height: auto;
        }
      }
      .media-body {
        display: block;
        width: auto;
      }
    }
    > .row {
      padding-left: @container-main-mobile-padding;
      padding-right: @container-main-mobile-padding;
    }
    aside {
      margin-top: 0;
    }
    &.browse {
      > header {
        padding: @padding-base-vertical floor(@grid-gutter-width/2);
        button {
          margin-top: 0;
        }
        .item-logo, .market-item-title {
          display: none;
        }
      }
    }
  }

  .browser-wrapper.market-browser-wrapper {
    .table-workspace-elements-wrapper, .tile-workspace-elements-wrapper {
      padding-left: 0;
      padding-right: 0;
    }

  }

  .table-workspace-elements-wrapper {
    margin-left: -(floor(@grid-gutter-width/2));
    margin-right: -(floor(@grid-gutter-width/2));
    border-left: none;
  }

  .table.table-workspace-elements {
    border-left: none;
    border-right: none;
    border-top: none;
    th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    tr {
      th:first-child, td:first-child {
        padding-left: floor(@grid-gutter-width/2) + @table-cell-padding;
      }
    }
  }
  .toolbar.browser-toolbar.market-browser-toolbar, .toolbar.visualizer-toolbar {
    padding-left: 0;
    padding-right: 0;
  }
  .toolbar.browser-toolbar {
    .browser-breadcrumb .breadcrumb-part {
      &:after {
        content: '';
      }
      button, a {
        padding-left: @padding-large-horizontal !important;
        padding-right: @padding-large-horizontal !important;
        border-color: @btn-default-border;
        background-color: @btn-default-bg;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .browser-breadcrumb.aside-left-collapsed {
      padding: 0;
    }
  }
}

@media(min-width: @grid-float-breakpoint) {
  #top-nav-wrapper {
    .hidden-description {
      display: none;
    }
    .dropdown-menu {
      .fa:not(.fa-caret-down) {
        margin-right: @padding-xs-horizontal;
      }
    }
    .fa:not(.fa-caret-down) {
      margin-right: 0;
    }
  }
}

.aside-mobile-nav {
  background-color: @default-bg;
  .side-nav .side-nav-list .side-nav-list-item {
    width: 100%;
    &.tasks {
      background-color: darken(@default-bg, 15%);
      margin-bottom: @padding-xs-vertical;
      height: @top-navbar-height;
      > a {
        .icon-container {
          color: darken(@side-nav-item-icon-color, 20%) !important;
        }
        .item-description {
          font-weight: 600;
        }
      }
      .badge {
        margin-left: @padding-xs-horizontal;
        background-color: @red;
      }
    }
    &.language {
      height: auto;
      min-height: @side-nav-item-height;
      .dropdown-menu {
        position: relative;
        margin: 0;
        width: 100%;
        top: 0;
        left: 0;
        float: none;
        box-shadow: none;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: @alternate-border;
        border-radius: 0;
        .active {
          background-color: @ortolang-blue;
          > div {
            color: @white !important;
          }
        }
      }
    }
  }
}
