.side-nav {
  .side-nav-list {
    margin: 0;
    padding: 0 0 @padding-large-vertical 0;

    .side-nav-list-item {
      list-style: none;
      height: @side-bar-item-height;

      &.active {
        height: @side-bar-item-active-height;
        > a {
          .icon-container {
            line-height: @side-bar-item-active-height;
          }
          .item-description {
            color: #FFFFFF;
          }
        }
      }

      > a {
        display: block;
        text-decoration: none;
        color: @side-bar-item-color;
        cursor: pointer;
        transition: 0s;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .icon-container {
          text-align: center;
          z-index: 5;
          width: @side-bar-item-height + 14px;
          line-height: @side-bar-item-height;
          color: #FFFFFF;
        }

        .item-description {
          padding-left: @padding-base-horizontal;
          vertical-align: super;
        }
      }

      &.active > a {
        &.market {
          background-color: @market-primary;
        }

        &.corpus {
          background-color: @corpus-primary;
        }

        &.integrated-projects {
          background-color: @integrated-projects-primary;
        }

        &.presentation {
          background-color: @presentation-primary;
        }

        &.documentation {
          background-color: @documentation-primary;
        }

        &.workspaces {
          background-color: @workspace-primary;
        }

        &.processes {
          background-color: @processes-primary;
        }

        &.tasks {
          background-color: @tasks-primary;
        }

        &.profile {
          background-color: @profile-primary;
        }
      }

      > a {

        &.market {
          &:hover, .icon-container {
            background-color: @market-primary;
          }
        }

        &.corpus {
          &:hover, .icon-container {
            background-color: @corpus-primary;
          }
        }

        &.integrated-projects {
          &:hover, .icon-container {
            background-color: @integrated-projects-primary;
          }
        }

        &.presentation {
          &:hover, .icon-container {
            background-color: @presentation-primary;
          }
        }

        &.documentation {
          &:hover, .icon-container {
            background-color: @documentation-primary;
          }
        }

        &.workspaces {
          &:hover, .icon-container {
            background-color: @workspace-primary;
          }
        }

        &.processes {
          &:hover, .icon-container {
            background-color: @processes-primary;
          }
        }

        &.tasks {
          &:hover, .icon-container {
            background-color: @tasks-primary;
          }
        }

        &.profile {
          &:hover, .icon-container {
            background-color: @profile-primary;
          }
        }

        &:hover {
          .item-description {
            color: #FFFFFF;
          }
        }

//        .badge {
//          position: absolute;
//          top: -1px;
//          right: 5px;
//          z-index: 1000;
//          &.processes {
//            background-color: @btn-danger-bg;
//          }
//          &.tasks {
//            background-color: @btn-success-bg;
//          }
//        }

      }
    }
  }
  .state-support {
    line-height: 15px;
    font-size: 50%;

    > img {
      height: auto;
      max-width: 50%;
    }
  }
}

@media(min-width:768px) {
  .side-nav {
    z-index: 10;
    position: absolute;
    width: @side-bar-width;
  }
}
