#side-nav-wrapper {
  min-height: 100%;
  min-height: calc(100% ~'-' @top-nav-plus-footer);;
}
.side-nav {
  position: relative;
  background-color: @default-bg;
  z-index: 1;

  .side-nav-active-item {
    height: @side-nav-item-active-height;
    > a {
      background-color: @ortolang-blue;
      .item-description, .icon-container {
        color: @inverse-text-color;
      }
      .icon-container {
        line-height: @side-nav-item-active-height;
      }
      &.information {
        background-color: @information-primary;
      }
      &.tasks {
        background-color: @tasks-primary;
      }
      &.processes {
        background-color: @processes-primary;
      }
    }
    &.copy {
      position: absolute;
      z-index: 1000;
      top: 0;
      transition: all ease 0.7s;

      &.ng-hide-add, &.ng-hide-remove {
        transition: all ease 0.7s;
      }
    }
    &.active.animated {
      > a {
        transition: all ease 0.5s;
        opacity: 0;
      }
    }
  }

  .side-nav-list .side-nav-list-item, .side-nav-active-item {
    width: @side-nav-width;
    > a {
      width: 100%;
      display: block;
      text-decoration: none;
      color: @side-nav-item-color;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .icon-container {
        text-align: center;
        z-index: 5;
        width: @side-nav-item-height + 14px;
      }

      .item-description {
        vertical-align: super;
      }
    }
  }

  .side-nav-list {
    margin: 0;
    padding: 0;

    .side-nav-list-item {
      list-style: none;
      height: @side-nav-item-height;
      width: @side-nav-width;

      > a {
        .icon-container {
          color: #b8b8b8;
          line-height: @side-nav-item-height;
        }
        &:hover {
          background-color: @side-nav-item-hover-bg;
          .icon-container {
            background-color: @side-nav-item-hover-bg;
            color: @inverse-text-color;
          }
          .item-description {
            color: @inverse-text-color;
          }
        }
      }

      &.divider {
        height: 0;
        padding: 5px 0;
        > span {
          display: block;
          border-top: @default-border;
        }
      }
    }
  }
}
