.tool-list {
  -webkit-transition:all ease-in-out 0.25s;
  transition:all ease-in-out 0.25s;
  z-index: 1000;
  width: 720px;

  .aside-body {
    overflow: hidden;

    .tool-item {

      border: 1px solid #e5e5e5;
      padding: 15px;
//      background-color: #F1F1F3;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
//      box-shadow: 0 0 5px rgba(0,0,0,0.10);

      cursor: pointer;
      &:hover {
        .media-heading {
          color: @ortolang-blue;
        }
      }

      .description {
        overflow: hidden;
        max-height: 100px;
        text-align: justify;
      }

      .image {
        max-width: 72px;
        max-height: 72px;
        background-color: @main-bg;
        margin-bottom: 0;
      }

      .run {
        width: 72px;
        height: 72px;
        padding: 15px;
      }

      a:hover {
        text-decoration:none;
        cursor: pointer;
      }

      .label-gray {
        background-color: #e6e6e6;
        color: #666;
      }

      .label-blue {
        background-color: #5195ce;
        color: #fff;
      }
    }

  }

}

.tool-list-header {
  border-bottom: 1px solid #e5e5e5;
  min-height: @navbar-height;
  padding: 6px 15px;
  background: @tool-primary;
  color: @inverse-text-color;

  .close {
    color: @inverse-text-color;
    opacity: 0.8;
  }
}

.tool-list-backdrop {
  z-index: 1000;
}

#tool-list-body {
  width: 700px;
}

.tool-tags {
    .tags {
      .tag-item {
        color: #FFF;
        background : none;
        background-color: #5BC0DE;
        border-color: #5BC0DE;
        .remove-button {
          color: #FFF;
        }
      }
    }
}

.tool-switch {
    .active , .inactive {
        font-size:40px;
        cursor:pointer;
    }
    i.active {
        color: #5cb85c;
    }
    i.inactive {
        color: #d9534f;
    }
}

.tool-results {
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  z-index: 1000;

  .aside-body {
    overflow: hidden;
  }
}

@media (max-device-width: 710px ) {

  .tool-list {
    width:100%;
  }

  #tool-list-body {
    width: 98%;
  }
}

