.toolbar {
  padding-top: @padding-large-vertical;
  padding-bottom: @padding-large-vertical;
  margin-bottom: 2 * @padding-large-vertical;
  border-bottom: 1px solid @navbar-default-border;
  min-height: @toolbar-min-height;
  background-color: @navbar-default-bg;

  .btn-toolbar.btn-toolbar-right .btn-group {
    float: right;
    > .btn-group {
      float: left;
    }
  }

  span.divider {
    border-left: 1px solid @navbar-default-border;
    float: right;
    position: relative;
    margin: -@padding-large-vertical (@padding-large-horizontal - @padding-xs-horizontal) -@padding-large-vertical @padding-large-horizontal;
    display: inline-block;
    min-height: 54px;
  }

}

.nav-pills-toolbar {
  > ul {
    margin: -@padding-large-vertical 0;
    > li {
      + li {
        margin-left: 0;
      }
      > a {
        line-height: @toolbar-min-height;
        color: inherit;
        padding: 0 2 * @padding-large-horizontal;
      }
      &.active, &:hover, &.open {
        border-bottom: 4px solid @default-primary;
        > a {
          background: none;
          color: inherit;
          border-radius: 0;
          text-decoration: none;
          margin-bottom: -4px;
          &:hover, &:focus {
            background: none;
            color: inherit;
            border-bottom-color: @default-primary;
          }
        }
        &.active, &.open {
          border-bottom-color: @default-primary;
        }
      }
    }
  }
}

.information-toolbar {
  > ul {
    > li {
      &.active, &:hover, &.open {
        border-bottom: 4px solid @information-primary;
        > a {
          &:hover, &:focus {
            border-bottom-color: @information-primary;
          }
        }
        &.active, &.open {
          border-bottom-color: @information-primary;
        }
      }
    }
  }
}

.processes-toolbar {
  > ul {
    > li {
      &.active, &:hover, &.open {
        border-bottom: 4px solid @processes-primary;
        > a {
          &:hover, &:focus {
            border-bottom-color: @processes-primary;
          }
        }
        &.active, &.open {
          border-bottom-color: @processes-primary;
        }
      }
      &.active {
        > a {
          > .badge {
            color: #ffffff;
            background-color: @processes-primary;
          }
        }
      }
    }
  }
}
