.navbar.navbar-default {
  background-color: #475b6e;
  border: none;

  a.dropdown-toggle, .navbar-brand {
    color: @gray-lightest;
  }

  .navbar-brand {
    padding: 0 0 0 15px;
    line-height: @navbar-height;
    .ortolang-logo {
      height: 28px;
      margin-right: 6px;
    }
  }

  a.dropdown-toggle {
    &:hover, &:focus {
      background-color: inherit;
    }
  }

  ul.navbar-top-links > li {
    &.open > a {
      background-color: inherit;
    }
    cursor: pointer;
    > a {
      color: @gray-lightest;
      &:hover, &:focus {
        background-color: inherit;
      }
    }
    .dropdown-menu .language {
      color: @gray-lightest;
      &.active div {
        font-weight: bold;
        background-color: @ortolang-blue;
        color: #FFFFFF;
      }
    }
  }
}

// FROM SB ADMIN 2
.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
