//
// Variables
// --------------------------------------------------
@import "/bower_components/bootstrap/less/variables.less";


//== Colors test
@blue-dark: #005883;
@blue-lighter: #19B3FF;
@orange-dark: #834900;
@orange-lighter: #EB8200;
@gray-lightest: lighten(#000, 97.25%);

//== Colors
@ortolang-blue: #008bd0;
@product-unknown: #ddd;
@product-carrot: orange;
@tool: #6d2f6d;
@highlight-bg-color: #fdf6e3;
@body-bg: @navbar-default-bg;

// Bootstrap override
@brand-primary: @ortolang-blue;
@icon-font-path: "/bower_components/bootstrap/dist/fonts/";

//== Buttons
//
@btn-secondary-color:              #fff;
@btn-secondary-bg:                 @orange-lighter;
@btn-secondary-border:             darken(@btn-secondary-bg, 5%);

//== Type
//
//##
@browser-offset-horizontal: 120px;

//== width
//
@products-select-width: 220px;

// Grid for dform
@dform-label-col: 2;
@dform-input-col: 10;

//== Side Nav
@side-bar-width: 80px;
@side-bar-item-height: 50px;
@side-bar-item-color: @gray;
@side-bar-item-active-color: @gray-lightest;
@side-bar-item-bg: @orange-lighter;
