//
// Variables
// --------------------------------------------------
@import "/bower_components/bootstrap/less/variables.less";

//== Fonts
//
@font-family-sans-serif:  "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;

//== Colors
//
// ## Background ##
@white: #ffffff;
@body-bg: @navbar-default-bg;
@main-bg: @white;
@default-bg: @navbar-default-bg;
@alternate-bg: darken(@default-bg, 6%);
@highlight-bg-color: #fdf6e3;

@default-border-color: @navbar-default-border;
@default-border: 1px solid @default-border-color;
@alternate-border-color: darken(@alternate-bg, 6,5%);
@alternate-border: 1px solid @alternate-border-color;
@modal-border-top-color: darken(@navbar-default-border, 10%);

// ## Color ##
@ortolang-blue: #008bd0;
@yellow: #FFC107;
@dark-yellow: darken(@yellow, 5%);
@red: #DF5A49;
@green: #45B29D;

@brand-primary: @ortolang-blue;
@brand-secondary: @yellow;
@brand-tertiary: @red;

@text-color: @gray-dark;
@inverse-text-color: @white;


@market-primary: @ortolang-blue;
@tool-primary: @green;
@integrated-projects-primary: @green;
@documentation-primary: #E27A3F;
@workspace-primary: @yellow;
@workspace-secondary: @red;

@tasks-primary: @red;
@tasks-badge: @red;
@processes-primary: @red;
@processes-badge: @green;

@profile-primary: @green;
@information-primary: @green;

//== Buttons
//
@btn-secondary-color:              @inverse-text-color;
@btn-secondary-bg:                 @brand-secondary;
@btn-secondary-border:             darken(@btn-secondary-bg, 5%);

@btn-tertiary-color:              @inverse-text-color;
@btn-tertiary-bg:                 @brand-tertiary;
@btn-tertiary-border:             darken(@btn-tertiary-bg, 5%);

@btn-inverse-color:              @inverse-text-color;
@btn-inverse-bg:                 @top-navbar-bg-color;
@btn-inverse-border:             darken(@btn-inverse-bg, 5%);

@btn-workspace-color:              @inverse-text-color;
@btn-workspace-bg:                 @workspace-primary;
@btn-workspace-border:             darken(@btn-workspace-bg, 5%);

//== Type
//
@browser-offset-horizontal: 110px;

// Grid for dform
//
@dform-label-col: 2;
@dform-input-col: 10;

//== Top Nav
//
@top-navbar-bg-color: #475b6e;
@top-navbar-color: @default-bg;
@top-navbar-height: 54px;

@footer-height: 51px;
@top-nav-plus-footer: @top-navbar-height + @footer-height;

//== Side Nav
//
@side-nav-width: 210px;
@side-nav-item-first-height: 55px;
@side-nav-item-height: @side-nav-item-first-height;
@side-nav-item-icon-width: @side-nav-item-height + 14px;
@side-nav-item-color: @gray;
@side-nav-item-icon-color: #b8b8b8;
@side-nav-item-hover-bg: @workspace-primary;

//== Toolbar
//
@toolbar-min-height: 55px;
@nav-pills-toolbar-item-side-padding: 2 * @padding-base-horizontal;

//== Browser
//
@active-element-bg-color: @gray-light;

//== Containers
@page-wrapper-padding: 40px;
@container-main-padding: 48px;

//== Progress wizard
// Color
@progress-wizard-inactive: #bbb;
@progress-wizard-active: #65d074;
@progress-wizard-hover: #5671d0;
@progress-wizard-step-danger: #d3140f;
@progress-wizard-step-warning: #edb10a;
@progress-wizard-step-info: #5b32d6;

// sizing

@progress-wizard-bubble-size: 20px;
@progress-wizard-bubble-line-thickness: 3px;
@progress-wizard-border-thickness: 1px;
@progress-wizard-darken-amount: 30%;

// misc
@progress-wizard-mobile-size: 400px;


//== Bootstrap override
//
@icon-font-path: "/bower_components/bootstrap/dist/fonts/";
@navbar-height: @top-navbar-height;
@modal-backdrop-opacity: 0.6;
@border-radius-base: 3px;
@border-radius-large: 4px;
@border-radius-small: 3px;
