<footer class="main-footer" ng-controller="FooterCtrl">
    <div class="container-fluid">
        <p class="pull-right small">
            <a href="https://dev.ortolang.fr/" target="_blank" >{{ 'NAV.COMMUNITY_WEBSITE' | translate }}</a>
            &bull;
            <a ng-click="selectInformation()" ng-href="#/information/legal-notices">{{ 'NAV.LEGAL_NOTICES' | translate }}</a>
            &bull;
            <a href="mailto:contact@ortolang.fr">{{ 'NAV.CONTACT' | translate }}</a>
            &bull;
            <a href="" ng-click="backToTop()" translate="NAV.BACK_TO_TOP"></a>
        </p>
        <p class="text-center small">© 2015 <a href="http://dev.ortolang.fr/team-list.html" translate="NAV.TEAM"></a> | @@version</p>
    </div>
</footer>
