<nav ng-controller="SideNavCtrl" class="side-nav ng-cloak" role="navigation" ng-cloak>
    <ul class="side-nav-list">
        <li ng-if="!element.authenticated || authenticated" class="side-nav-list-item" ng-repeat="element in sortedNavElements" ng-class="element.active">
            <a ng-href="#{{element.path}}" ng-click="select($event, element)" ng-class="element.class">
                <span class="icon-container" ng-class="element.iconCss"></span>
                <!--<span ng-if="element.badge" class="badge" ng-class="element.badge().class">{{element.badge().value > 0 ? element.badge().value : ''}}</span>-->
                <span class="item-description">{{element.description}}</span>
            </a>
        </li>
    </ul>
    <hr>
    <div class="container-fluid navbar-brand" style="margin-top: 20px !important;vertical-align: bottom;" >
            <div style="text-align:center;line-height: 20px;font-size: 60%;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">ORTOLANG ISSN 2417-7482
               <img class="img-responsive" src="assets/images/mariane-avenir.png">
                <br>
                <span class="color-highlight">ORTOLANG</span> is a beneficiary of French State support via its  “Investissements d'avenir” programme (ANR-11-EQPX-0032).
            </div>
    </div>
</nav>
