<nav class="navbar navbar-default navbar-static-top top-nav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="showMobileNav()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="ortolang-logo" alt="Logo ORTOLANG" src="assets/images/logo-ortolang-white.png"/>
                <span>ORTOLANG</span>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse hidden-xs" ng-cloak>
            <li ng-if="authenticated && User.isModerator && Runtime.getTasks().length > 0">
                <a href="/profiles/me/tasks" data-title="{{'TASKS' | translate}}" data-trigger="hover" data-placement="bottom" bs-tooltip>
                    <span class="fa fa-fw fa-bell"></span><span class="badge tasks">{{Runtime.getTasks().length > 0 ? Runtime.getTasks().length : ''}}</span>
                    <span class="hidden-description" translate="TASKS"></span>
                </a>
            </li>
            <!--<li ng-if="Cart.size() > 0">-->
                <!--<a data-title="{{'CART' | translate}}" data-auto-close="true" data-template-url="common/directives/cart-popover-template.html" data-placement="bottom" bs-popover>-->
                    <!--<span ng-class="::icons.cart"></span><span class="badge cart">{{Cart.size() === 0 ? '' : Cart.size()}}</span>-->
                    <!--<span class="hidden-description" translate="CART"></span>-->
                <!--</a>-->
            <!--</li>-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-fw fa-info-circle"></span>
                    <span translate="NAV.INFORMATION"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="page in ::StaticWebsite.getInformationContent() track by page.id" >
                        <a ng-href="/information/{{::page.id}}"><span class="fa fa-fw" ng-class="::page.iconTop"></span> {{StaticWebsite.getInformationPageTitle(page)}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-fw fa-globe"></span>
                    <span translate="NAV.LANGUAGE"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-click="changeLanguage('en')" class="language" ng-class="{active: Settings.language === 'en'}"><div translate="NAV.LANGUAGE.ENGLISH"></div></li>
                    <li ng-click="changeLanguage('fr')" class="language" ng-class="{active: Settings.language === 'fr'}"><div translate="NAV.LANGUAGE.FRENCH"></div></li>
                </ul>
            </li>
            <li class="dropdown" ng-if="authenticated">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span avatar data-email-hash="User.emailHash" data-size="30" data-img-classes="img-circle top-profile-image profile-image"></span>
                    <span ng-bind="User.fullName()"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profiles/me/edition" ><span class="fa fa-user fa-fw"></span> {{'NAV.PROFILE' | translate}}</a></li>
                    <li ng-click="logout()"><div><span class="fa fa-sign-out fa-fw"></span> {{'NAV.LOG_OUT' | translate}}</div></li>
                </ul>
            </li>
            <li ng-if="!authenticated"><a ng-click="login()"><span class="fa fa-user fa-fw"></span> <span translate="LOG_IN"></span></a></li>
        </ul>
    </div>
</nav>
