<div class="col-sm-3">
    <div class="avatar" data-template="profile/templates/edit-avatar-modal-template.html" data-show="true" bs-modal="editAvatarModal">
        <span class="edit fa fa-pencil fa-3x"></span>
        <span avatar data-email-hash="User.emailHash" data-size="300" data-img-classes="user-avatar img-responsive"></span>
    </div>
    <div class="list-group" role="tablist">
        <a  class="list-group-item"
            ng-repeat="$pane in $panes track by $index"
            ng-class="$index == $panes.$active ? $activeClass : ''"
            role="tab"
            data-toggle="tab"
            ng-click="$setActive($index)"
            data-index="{{$index}}"
            ng-bind-html="$pane.title"></a>
    </div>
    <a ng-href="/profiles/{{User.key}}?see-as" class="btn btn-default" translate="PROFILE.SEE_PUBLIC_PROFILE"></a>
</div>
<div class="col-sm-9 tab-content" ng-transclude>
</div>
