<div class="col-sm-3">
    <div class="avatar" data-template="profile/templates/edit-avatar-modal-template.html" data-show="true" bs-modal="editAvatarModal">
        <span class="edit fa fa-pencil fa-3x"></span>
        <avatar email-hash="User.emailHash" size="300" img-classes="user-avatar img-responsive"></avatar>
    </div>
    <div class="list-group" role="tablist">
        <a  class="list-group-item"
            ng-repeat="$pane in $panes track by $index"
            ng-class="$index == $panes.$active ? $activeClass : ''"
            role="tab"
            data-toggle="tab"
            ng-click="$setActive($index)"
            data-index="{{$index}}"
            ng-bind-html="$pane.title"></a>
    </div>
    <a ng-if="User.referentialId" ng-href="/contributors/{{Helper.extractNameFromReferentialId(User.referentialId)}}" class="btn btn-default" translate="PROFILE.SEE_CONTRIBUTOR_PAGE"></a>
</div>
<div class="col-sm-9 tab-content" ng-transclude>
</div>
