<div class="media profile-card" ng-click="goToContributorPage()" ng-class="{contributor: !!$ctrl.profile.referentialId}">
    <avatar class="media-left" email-hash="$ctrl.profile.emailHash" size="{{$ctrl.size}}" img-classes="{{$ctrl.imgClasses}}"></avatar>
    <div class="media-body">
        <div ng-transclude class="pull-right"></div>
        <span class="name">{{$ctrl.profile.givenName}} {{$ctrl.profile.familyName}}</span>
        <span ng-show="$ctrl.profile.email" class="small email">{{$ctrl.profile.email}}</span>
    </div>
</div>
