<div class="view-wrapper-flex">
    <div class="container-main container-main-no-toolbar">

        <section ng-controller="ContributorCtrl" class="market-item contributor-wrapper">
            <header class="full-header">
                <div class="media">
                    <div class="media-left">
                        <div class="item-logo contributor-logo">
                            <span avatar data-email-hash="emailHash || contributor.emailhash" data-size="120" data-img-classes="user-avatar img-circle img-responsive"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h1 class="market-item-title" ng-bind="contributor.fullname"></h1>
                        <div ng-if="contributor.organizationEntity" class="market-item-producers">
                            <i translate="CONTRIBUTOR.LABORATORY"></i> :
                            <ul class="list-unstyled">
                                <li>
                                    <a ng-href='/producers/{{::contributor.organizationEntity.id}}' ng-bind="contributor.organizationEntity.fullname"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            <div class="market-item-presentation-metadata">
                <section ng-if="presentation" class="about-me">
                    <h4 translate="CONTRIBUTOR.ABOUT_ME"></h4>
                    <article data-content="presentation" data-target-blank>
                        <div ng-bind-html="presentation"></div>
                    </article>
                </section>

                <section class="contributions">
                    <h4 translate="CONTRIBUTOR.RESOURCES"></h4>
                    <article>
                        <div items data-search="search" data-params="params" data-empty-label="MARKET.NO_CONTRIBUTOR_ITEMS"></div>
                    </article>
                </section>

                <section class="publications" ng-if="idHal">
                    <h4 translate="CONTRIBUTOR.PUBLICATIONS"></h4>
                    <div class="section-body-wrapper">
                        <div publications-hal data-id-hal="idHal"></div>
                    </div>
                </section>
            </div>
        </section>

    </div>
</div>

