<div class="container-fluid container-main">
    <section ng-controller="ContributorCtrl" class="market-item">
        <header>
            <div class="media">
                <div class="pull-left">
                    <div ng-if="ready && contributor.emailhash" class="logo-contributor">
                        <span avatar data-email-hash="contributor.emailhash" data-size="90" data-img-classes="user-avatar img-responsive"></span>
                    </div>
                    <div ng-if="ready && !contributor.emailhash" class="logo-contributor thumbnail">
                        <span ng-if="!contributor.img" class="fa fa-user fa-5x"></span>
                    </div>
                </div>
                <div class="media-body">
                    <h1>{{contributor.fullname}}</h1>
                </div>
            </div>
        </header>

        <div class="row">
            <items data-title="'CONTRIBUTOR.LIST_OF_RESOURCES'" data-filters-manager="filtersManager" data-items="items" data-view-mode="viewMode" data-order-prop="orderProp" data-order-direction="orderDirection" data-query="query"></items>
        </div>
    </section>
</div>