<div id="add-license-modal" class="modal" tabindex="-1" role="dialog">
    <form role="form" id="addLicence" name="addLicence" class="form-horizontal" ng-submit="submit(addLicence)" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-border">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                    <span class="modal-title" data-translate-values="{editing: editing}" data-translate="WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.TITLE"></span>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': (addLicence.$submitted || addLicence.label.$dirty) && addLicence.label.$invalid}">
                        <label for="label" class="col-sm-3 control-label" translate="WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.LABEL_FIELD.LABEL"></label>
                        <div class="col-sm-9">
                            <input ng-model="model.label" ng-change="generateId()" type="text" class="form-control" id="label" name="label" required placeholder="{{'WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.LABEL' | translate}}">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (addLicence.$submitted || addLicence.status.$dirty) && addLicence.status.$invalid}">
                        <label for="license-status" class="col-sm-3 control-label" translate="MARKET.FACET.STATUS_OF_USE"></label>
                        <div class="col-sm-9">
                            <button type="button" name="status" id="license-status" class="form-control btn btn-default" ng-model="status.value" data-placeholder="{{'MARKET.FACET.STATUS_OF_USE' | translate}}" bs-options="status as status.label for status in allStatusOfUse | orderBy:'label'" bs-select>{{'MARKET.FACET.STATUS_OF_USE' | translate}} <span class="caret"></span></button>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (addLicence.$submitted || addLicence.description.$dirty) && addLicence.description.$invalid}">
                        <label for="license-description" class="col-sm-3 control-label" translate="WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.DESCRIPTION_FIELD.LABEL"></label>
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-default" name="description-lang" ng-model="description.selectedDescriptionLanguage" bs-options="lang.key as lang.value for lang in languages" ng-change="changeDescriptionLanguage()" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
                            <textarea class="form-control" id="license-description" name="description" rows="10" placeholder="{{'WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.DESCRIPTION_FIELD.LABEL' | translate}}" ng-model="selectedDescription.value" ng-change="updateDescription()"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (addLicence.$submitted || addLicence.licenseWebsite.$dirty) && addLicence.licenseWebsite.$invalid}">
                        <label for="license-website" class="col-sm-3 control-label" translate="WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.WEBSITE_FIELD.LABEL"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="license-website" name="licenseWebsite" placeholder="{{'WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.WEBSITE_FIELD.PLACEHOLDER' | translate}}" aria-label="licenseWebsite" ng-model="model.licenseWebsite">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (addLicence.$submitted || addLicence.id.$dirty) && addLicence.id.$invalid}" ng-show="User.isRoot()">
                        <label for="add-license-id" class="col-sm-3 control-label" translate="WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.IDENTIFIER"></label>
                        <div class="col-sm-9">
                            <input ng-disabled="identifier.autoGenerated" ng-model="model.id" type="text" class="form-control" id="add-license-id" name="identifier" required  placeholder="{{'WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.IDENTIFIER' | translate}}">
                        </div>
                        <div ng-if="!disabled" class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox checkbox-primary">
                                <input id="auto-generated" type="checkbox" ng-model="identifier.autoGenerated">
                                <label for="auto-generated" translate="WORKSPACE.CREATE_WORKSPACE_MODAL.AUTO_GENERATED"></label>
                            </div>
                        </div>
                    </div>
                    <div class="bg-danger error-block col-sm-12 am-fade" ng-if='(addLicence.$submitted || addLicence.label.$dirty) && addLicence.label.$invalid' ng-messages="addLicence.label.$error">
                        <div class="text-danger col-sm-offset-2" ng-message="exists">{{'WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.MESSAGES.EXISTS' | translate}}</div>
                        <div class="text-danger col-sm-offset-2" ng-message="undefined">{{'WORKSPACE.METADATA_EDITOR.ADD_LICENCE_MODAL.MESSAGES.UNDEFINED' | translate}}</div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-border">
                    <button type="submit" class="btn btn-primary" data-translate="SUBMIT"></button>
                    <button type="button" ng-disabled="!license" ng-show="!disabled && User.isRoot()" class="btn btn-success pull-left" data-translate="WORKSPACE.METADATA_EDITOR.ADD_CONTRIBUTOR_MODAL.CREATE_ENTITY" ng-click="setLicenceFromNewEntity(addLicence)"></button>
                    <button type="button" class="btn btn-default" ng-click="$hide()" translate="CANCEL"></button>
                </div>
            </div>
        </div>
    </form>
</div>
