<div ng-click="nodeToggle(element)" class="tree-node"
     ng-class="[element.type, models.tree[element.key].publicationPolicy, {'root-collection': element.path === '/'}]">
    <div class="node-body">
                <span class="icon"
                      ng-class="models.tree[element.key].expanded ? icons.tree.collectionOpen : icons.tree[element.type]"></span>
        {{::element.name}}
    </div>
    <div class="node-actions">
        <div class="btn-group">
            <button
                ng-class="{'btn-success' : models.tree[element.key].publicationPolicy === 'forall', 'muted' : models.tree[element.key].effectiveAcl === 'forall'}"
                ng-click="setAcl(models.tree[element.key], 'forall', $event)"
                data-ng-disabled="Workspace.active.workspace.readOnly" class="btn btn-sm btn-default">
                <span ng-class="::icons.acl.forall"></span></button>
            <button
                ng-class="{'btn-primary' : models.tree[element.key].publicationPolicy === 'authentified', 'muted' : models.tree[element.key].effectiveAcl === 'authentified'}"
                ng-click="setAcl(models.tree[element.key], 'authentified', $event)"
                data-ng-disabled="Workspace.active.workspace.readOnly"
                class="btn btn-sm btn-default"><span ng-class="::icons.acl.authentified"></span></button>
            <button
                ng-class="{'btn-warning' : models.tree[element.key].publicationPolicy === 'esr', 'muted' : models.tree[element.key].effectiveAcl === 'esr'}"
                ng-click="setAcl(models.tree[element.key], 'esr', $event)"
                data-ng-disabled="Workspace.active.workspace.readOnly" class="btn btn-sm btn-default"><span
                ng-class="::icons.acl.esr"></span></button>
            <button
                ng-if="Workspace.active.workspace.privileged"
                ng-class="{'btn-danger btn-privileged' : models.tree[element.key].publicationPolicy === 'privileged', 'muted' : models.tree[element.key].effectiveAcl === 'privileged'}"
                ng-click="setAcl(models.tree[element.key], 'privileged', $event)"
                data-ng-disabled="Workspace.active.workspace.readOnly" class="btn btn-sm btn-default"><span
                ng-class="::icons.acl.privileged"></span></button>
            <button
                ng-class="{'btn-danger' : models.tree[element.key].publicationPolicy === 'restricted', 'muted' : models.tree[element.key].effectiveAcl === 'restricted'}"
                ng-click="setAcl(models.tree[element.key], 'restricted', $event)"
                data-ng-disabled="Workspace.active.workspace.readOnly"
                class="btn btn-sm btn-default"><span ng-class="::icons.acl.restricted"></span></button>
        </div>
        <button class="btn btn-sm btn-default" data-ng-disabled="Workspace.active.workspace.readOnly || models.tree[element.key].effectiveAcl"
                ng-click="removeAcl(models.tree[element.key], $event)"><span ng-class="::icons.remove"></span>
        </button>
    </div>
</div>
<ol ng-show="models.tree[element.key].expanded" class="tree-nodes">
    <li ng-repeat="element in models.tree[element.key].elements | orderBy:['type','name'] track by element.key"
        ng-if="element.type === 'collection' || models.showObjects" ng-include="'workspace/templates/permissions-nodes-renderer.html'"></li>
</ol>
