<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="WORKSPACE.SAVE_METADATA_MODAL.TITLE"></span>
            </div>
            <div class="modal-body">
                <p translate="WORKSPACE.SAVE_METADATA_MODAL.BODY">
                </p>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()" translate="SAVE"></button>
                <button type="button" class="btn btn-default" ng-click="$hide()" translate="CANCEL"></button>
                <button type="button" class="btn btn-default" ng-click="exit()" translate="EXIT_WITHOUT_SAVE"></button>
            </div>
        </div>
    </div>
</div>
