<div ng-controller="ProducersCtrl" class="view-wrapper-flex">
    <div class="toolbar-wrapper">
        <div class="toolbar">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{('MARKET.SEARCH.PRODUCERS') | translate}}">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-main">
        <div class="container-main-inner">
            <section ng-if="producers" class="items">
                <div class="row market-list-line">
                    <div ng-repeat="producer in producers | filter:content" class="col-md-8 line">
                        <div ng-include="'producer/directives/producer.html'"></div>
                    </div>
                </div>
            </section>
            <p ng-show="processing"><span class="fa fa-refresh fa-spin"></span> Chargement...</p>
            <section ng-if="!producers" class="row items">
                <p class="text-center"><em>{{'MARKET.NO_PRODUCER' | translate}}</em></p>
            </section>
        </div>
    </div>
</div>
