<div class="container-main">
    <section ng-controller="ProducerCtrl" class="market-item">
        <header>
            <div class="media">
                <a class="pull-left">
                    <img ng-if="imgtitle !== undefined" class="logo" ng-src="" holder-js="holder.js/160x160/{{imgtheme}}/text:{{imgtitle}}"  alt="{{'MARKET.THUMBNAIL' | translate}}"/>
                    <img ng-if="producer.img" ng-src="{{producer.img}}" class="thumbnail image-lg-size" alt="{{'MARKET.THUMBNAIL' | translate}}"/>
                </a>
                <div class="media-body">
                    <h1>{{producer.fullname}}</h1>

                    <div ng-if="producer.homepage"><span translate="PRODUCER.HOMEPAGE"></span> :
                        <ul class="list-unstyled">
                            <li><a href="{{producer.homepage}}" ng-bind="producer.homepage" target="_BLANK"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="row">
            <div items data-title="'PRODUCER.LIST_OF_RESOURCES'" data-filters-manager="filtersManager" data-items="items" data-view-mode="viewMode" data-order-prop="orderProp" data-order-direction="orderDirection" data-query="query"></div>
        </div>
    </section>
</div>
