<div class="view-wrapper-flex">
    <div class="container-main container-main-no-toolbar producer-wrapper">
        <section ng-controller="ProducerCtrl" class="market-item">
            <header class="full-header">
                <div class="media">
                    <div class="media-left">
                        <div class="item-logo">
                            <img ng-if="::!producer.img && title" class="logo" ng-src="" holder-js="holder.js/160x160?theme={{::title.toLowerCase()}}&text={{::title}}&size=64"  alt="{{'MARKET.THUMBNAIL' | translate}}"/>
                            <div ng-if="::producer.img" class="organization-logo-wrapper" style="background-image: url({{::producer.img}})"></div>
                        </div>
                    </div>
                    <div class="media-body">
                        <h1 class="producer-title">
                            <span ng-show="::producer.acronym">{{::producer.acronym}} | </span>
                            <span>{{::producer.name}}</span>
                        </h1>
                        <p ng-show="::producer.city"><span ng-class="::icons.location"></span> {{::producer.city}}, {{::producer.country}}</p>
                        <p ng-show="::producer.homepage" class="website"><span ng-class="::icons.externalLink"></span> <a ng-href="{{::producer.homepage}}" target="_blank">{{::producer.homepage}}</a></p>
                    </div>
                </div>
            </header>

            <div items data-search="search" data-params="params" data-title="'PRODUCER.LIST_OF_RESOURCES'" data-hide-see-more-button="true"></div>
        </section>
    </div>
</div>
