<div ng-controller="ProducersCtrl" class="view-wrapper-flex">
    <div class="toolbar-wrapper">
        <div class="toolbar">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        <input ng-model="content" ng-keyup="$event.keyCode == 13 && search()" class="form-control" type="text" placeholder="{{('MARKET.SEARCH.PRODUCERS') | translate}}">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                        <!-- <span class="input-group-btn">
                            <button ng-click="search()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-main">
        <div class="container-main-inner">
            <section ng-if="Search.hasResults()" class="items">
                <div class="row market-list-line">
                    <div ng-repeat="producer in Search.results | filter:content" class="col-md-8 line">
                        <div ng-include="'producer/directives/producer.html'"></div>
                    </div>
                </div>
            </section>
            <section ng-if="!Search.hasResults()" class="row items">
                <p class="text-center"><em>{{'MARKET.NO_PRODUCER' | translate}}</em></p>
            </section>
        </div>
    </div>
</div>
