<div ng-controller="ProducersCtrl" class="producers-wrapper view-wrapper-flex">
    <div class="toolbar-wrapper">
        <div class="toolbar">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-addon"><span ng-class="::icons.search"></span></div>
                        <input ng-model="models.query" class="form-control" type="text" placeholder="{{('MARKET.SEARCH.PRODUCERS') | translate}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="toggleViewMode()" data-title="{{(models.viewMode === 'line' ? 'BROWSER.VIEW_MODE_TILE' : 'BROWSER.VIEW_MODE_LINE') | translate}}" bs-tooltip><span ng-class="models.viewMode === 'line' ? icons.browser.viewModeTile : icons.browser.viewModeLine"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-main" z-infinite-scroll="seeMoreProducers" scroll-threshold="500" time-threshold="20">
        <div class="container-main-inner">
            <table ng-if="producers && models.viewMode === 'line'" class="table table-hover producers-table">
                <thead>
                    <tr>
                        <th translate="PRODUCER.ACRONYM"></th>
                        <th translate="NAME"></th>
                        <th translate="PRODUCER.CITY"></th>
                        <th translate="PRODUCER.HOMEPAGE"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producer in producers | filter:models.query | orderBy:producerOrder track by producer.key" ng-click="showProducer(producer, $event)">
                        <td>{{::producer.content.acronym}}</td>
                        <td>{{::producer.content.name}}</td>
                        <td><span ng-show="::producer.content.city || producer.content.country"><span ng-class="::icons.location"></span> <span class="city">{{::(producer.content.city ? producer.content.city + ', ' : '') }}</span><span class="country">{{::producer.content.country}}</span></span></td>
                        <td><span ng-show="::producer.content.homepage"><a ng-href="{{::producer.content.homepage}}" target="_blank"  translate="PRODUCER.HOMEPAGE"></a></span></td>
                    </tr>
                </tbody>
            </table>
            <section ng-if="producers && models.viewMode === 'tile'" class="items">
                <div class="row auto-clear">
                    <div ng-repeat="producer in producers | filter:models.query | orderBy:producerOrder | limitTo:models.limit track by producer.key" ng-click="showProducer(producer, $event)" organization-card organization="producer" icons="icons" class="col-sm-12 col-md-6 col-lg-6"></div>
                </div>
            </section>
            <p ng-show="processing"><span class="fa fa-refresh fa-spin"></span> {{'PENDING_DATA' | translate}}</p>
        </div>
    </div>
</div>
