<div class="media full-item">
    <div class="media-left">
        <a ng-href="{{::itemUrl}}">
            <img ng-if="::imgtitle !== undefined" class="item-logo" holder-js="holder.js/120x120?theme={{::imgtheme}}&text={{::imgtitle}}&size=32" alt="{{::imgtitle}}"/>
            <img ng-if="::image" class="item-logo" ng-src="{{::image}}" alt="{{::imgtitle}}"/>
        </a>
    </div>
    <div class="media-body">
        <h4><a ng-href="{{::itemUrl}}">{{::title}}</a></h4>
        <div class="description-wrapper">
            <div class="text-pane text-pane-small" data-target-blank ng-bind-html="::description"></div>
        </div>
        <div class="details">
            <span class="fa" ng-class="::typeIcon"></span> {{::type}} <span ng-if="::corporaType">{{::corporaType}}</span>&nbsp;&nbsp;&nbsp;<span ng-if="::statusOfUse" class="fa fa-balance-scale"></span> {{::statusOfUse}}
        </div>
    </div>
</div>
