<h3>Charte <span style="font-variant:small-caps;">Ortolang</span></h3>
<hr>
<div>
    <div>
        <h4>Sommaire <small>&nbsp;[<a ng-click="showTable = ! showTable">{{showTable? 'Masquer': 'Afficher' ;}}</a>]&nbsp;</small>
            <span class="pull-right">
                <a class="btn btn-default" href="resources/Charte_Ortolang_V20150217.pdf" target="_blank">
                    <span class="fa fa-download fa-fw"></span> Télécharger la charte <span class="small">(pdf)</span></a>
            </span>
        </h4>
    </div>
    <div class="charteToc" ng-class="{ 'hidden': ! showTable }">
        <ol>
            <li ><a href="" ng-click="goTo('preambule')">
                <span>Préambule</span></a>
            </li>
            <li ><a href="" ng-click="goTo('engagements-mutuels')">
                <span>Engagements mutuels d’<span style="font-variant:small-caps;">Ortolang</span>, des contributeurs et des utilisateurs</span></a>
            </li>
            <li ><a href="" ng-click="goTo('engagements-ortolang')">
                <span>Fonctionnalités et engagements d’<span style="font-variant:small-caps;">Ortolang</span></span></a>
            </li>
            <li ><a href="" ng-click="goTo('engagements-contributeurs')">
                <span>Engagements des contributeurs</span></a>
            </li>
            <li ><a href="" ng-click="goTo('engagements-utilisateurs')">
                <span>Engagements des utilisateurs</span></a>
            </li>
            <li >
                <a href="" ng-click="goTo('fonctionnalites')">
                    <span>ANNEXE 1 : Fonctionnalités contenu de l’EquipEx <span style="font-variant:small-caps;">Ortolang</span></span>
                </a>
                <ol >
                    <li ><a href="" ng-click="goTo('fonctionnalites-site')">
                        <span>Fonctionnalités du site www.ortolang.fr offertes sans identification</span></a>
                    </li>
                    <li><a href="" ng-click="goTo('fonctionnalites-supplementaires')">
                        <span>Fonctionnalités supplémentaires de la plateforme www.ortolang.fr après identification</span>
                    </a></li>
                </ol>
            </li>
            <!--<li ><a href="" ng-click="goTo('formats')">-->
                <!--<span>ANNEXE 2 : Liste des formats pour lesquels <span style="font-variant:small-caps;">Ortolang</span> propose un outillage</span></a>-->
                <!--<ol>-->
                    <!--<li><a href="" ng-click="goTo('formats-texte')">-->
                        <!--<span>Format pour les données textuelles</span></a>-->
                    <!--</li>-->
                    <!--<li><a href="" ng-click="goTo('formats-audio')">-->
                        <!--<span>Format pour les données audio</span></a>-->
                    <!--</li>-->
                    <!--<li><a href="" ng-click="goTo('formats-video')">-->
                        <!--<span>Format pour les données vidéo</span></a>-->
                    <!--</li>-->
                <!--</ol>-->
            <!--</li>-->
            <!--<li ><a href="" ng-click="goTo('outils')">-->
                <!--<span>ANNEXE 3 : Liste des outils proposés par <span style="font-variant:small-caps;">Ortolang</span></span></a>-->
            <!--</li>-->
            <li ><a href="" ng-click="goTo('identifications')">
                <span>ANNEXE 2 : Liste des types d’identification d’utilisateurs proposés</span></a>
            </li>
        </ol>
        <hr/>
    </div>
</div>
<br/>

<section id="preambule" class="text-justify">
    <h3>Préambule</h3>
    <hr>
    <p><span style="font-variant:small-caps;">Ortolang</span> est un équipement d’excellence validé dans le cadre des investissements d’avenir initiés par le gouvernement français.
        Son but est de proposer une infrastructure en réseau <sup id="r1"><a href="" ng-click="goTo('footnote1')">[1]</a></sup> offrant un réservoir de données (corpus, lexiques, dictionnaires, etc.)
        et d’outils sur la langue et son traitement.</p>
    <p>Ce réservoir doit être disponible et être alimenté le plus largement possible pour permettre :</p>
    <ul>
        <li>une mutualisation efficace des données de recherche sur le langage</li>
        <li>une exploitation aisée par les scientifiques, les enseignants ou le grand public</li>
    </ul>
    <p >Les fonctionnalités exactes et le contenu de la version 1 de l’EquipEx <span style="font-variant:small-caps;">Ortolang</span> et du site Internet <a href="/#/market/news">www.ortolang.fr</a>
        sont décrits par ailleurs (cf. <a href="" ng-click="goTo('fonctionnalites')">annexe de cette charte</a>).</p>
    <p>Le fonctionnement et la réussite d’un tel équipement dépendent autant de l’équipement que de ses usagers. C’est pour cela cette charte d’utilisation de l’EquipEx
        <span style="font-variant:small-caps;">Ortolang </span> a été rédigée : son respect permet une utilisation optimale des moyens mis à la disposition des usagers
        d’<span style="font-variant:small-caps;">Ortolang</span>.</p>
    <p>Dans le texte ci-dessous, on utilisera les termes suivants :</p>
    <ul>
        <li><b><span style="font-variant:small-caps;">Ortolang</span></b> désigne les institutions et les personnels chargés de la gestion de la plateforme et du site Internet <a href="/#/market/news">www.ortolang.fr</a>,
            de la sécurisation et de la diffusion des ressources, de la création ou de la diffusion des logiciels et des outils figurant sur le site. </li>
        <li>les <b>contributeurs</b> désignent les personnes ou les institutions qui fournissent des ressources informatisées qui alimentent le réservoir que représente
            <span style="font-variant:small-caps;">Ortolang</span>.</li>
        <li>les <b>utilisateurs</b> désignent les personnes ou les institutions qui se servent des ressources disponibles sur <span style="font-variant:small-caps;">Ortolang</span>,
            que ce soit à des fins de recherche, d’enseignement ou pour tout autre usage, que ce soit par téléchargement partiel ou intégral, ou par simple consultation. </li>
    </ul>
</section>
<br>

<section id="engagements-mutuels" class="text-justify">
    <h3>Engagements mutuels d’<span style="font-variant:small-caps;">Ortolang</span>, des contributeurs et des utilisateurs</h3>
    <hr>
    <p><b>L’EquipEx <span style="font-variant:small-caps;">Ortolang</span> est conscient que les contributeurs et les utilisateurs peuvent avoir des besoins
        et des contraintes très variés. </b>C’est pour cela qu’il existe une large gamme de configurations concernant la protection des ressources et les conditions de
        leur utilisation. </p>
    <p><b>Les contributeurs sont conscients que le dépôt de ressources sur une plate-forme publique de gestion et d’archivage présente un coût
        important qui engage le contributeur à une diffusion des ressources.</b></p>
    <p><b>Les utilisateurs des ressources sont conscients que les investissements produits par l’ensemble des acteurs de la chaîne de création et de diffusion des corpus
        doivent être rendus visibles</b> et de ce fait justifiés auprès des institutions qui financent les projets. Il faut également valoriser le travail de recherche
        et <b>respecter la propriété intellectuelle des contributeurs</b>. Pour cela il faut <b>citer</b> les sources des ressources utilisées et faire largement connaître
        l’usage qui est fait de ces ressources.</p>
    <p>L’application de ces principes permet une valorisation mutuelle de l’ensemble des moyens mis en œuvre par les acteurs de la recherche en linguistique, l’Etat,
        principal partenaire financier d’<span style="font-variant:small-caps;">Ortolang</span>, les contributeurs, et les utilisateurs.</p>
</section>
<br>


<section id="engagements-ortolang" class="text-justify">
    <h3>Fonctionnalités et engagements d'<span style="font-variant:small-caps;">Ortolang</span></h3>
    <hr>
    <ol>
        <li>Le dépôt de ressources est totalement gratuit, dans la limite des volumes qui sont à l’échelle des capacités d’<span style="font-variant:small-caps;">Ortolang</span>
            <sup id="r2"><a href="" ng-click="goTo('footnote2')">[2]</a></sup>. Les ressources déposées peuvent couvrir toutes les sciences du langage, de l’écrit à l’oral et au multimodal.
        </li>

        <li><span style="font-variant:small-caps;">Ortolang</span> s’engage à réaliser une conservation sécurisée à long terme des dépôts numériques, en utilisant les moyens de
            l’informatique et du stockage sécurisé de ressources. La durée du stockage est au minimum celle de l’existence d’<span style="font-variant:small-caps;">Ortolang</span>,
            existence garantie par les institutions qui sont représentées dans <span style="font-variant:small-caps;">Ortolang</span> <sup><a href="" ng-click="goTo('footnote1')">[1]</a></sup>
            (notamment Universités et CNRS). 
        </li>

        <li>Le dépôt de ressources est libre pour toute source de ressources provenant de laboratoires de recherche français <sup id="r3"><a href="" ng-click="goTo('footnote3')">[3]</a></sup>
            et portant sur toute langue, ou pour toute source de ressources portant sur les langues de France <sup id="r4"><a href="" ng-click="goTo('footnote4')">[4]</a></sup> quelle que soit
            leur origine. Pour les sources d’autres origines, un accord ponctuel est possible sur la base d’une négociation entre les parties. Ce type d’accord peut amener à une
            participation financière.
        </li>

        <li><span style="font-variant:small-caps;">Ortolang</span> reçoit, sauvegarde et diffuse toutes les ressources qui concernent les sciences du langage. Les formats de ressources pouvant
            être traités ainsi ne sont limités que par les capacités techniques d’<span style="font-variant:small-caps;">Ortolang</span>. 
        </li>

        <li>Un certain nombre de formats de données bénéficieront de traitements supplémentaires spécifiques de la linguistique. Il s’agit en particulier de corpus de langage fournis
            dans des formats connus et utilisés par la communauté scientifique (cette liste des formats connus peut s’enrichir dans le temps). Ces formats bénéficieront
            d’outils comme par exemple l’indexation plein texte, le traitement automatique syntaxique, la visualisation en direct, etc. Des traitements automatiques sont proposés
            en priorité pour le français.
        </li>

        <li>Les ressources qui sont dans des formats compatibles avec les exigences de l’archivage à long terme par les services des Archives nationales seront proposées à l’archivage auprès
            des institutions spécialisées au travers de la solution mise en place par la TGIR Huma-Num. L’archivage effectif par ces institutions est sous la seule responsabilité de ces
            institutions, <span style="font-variant:small-caps;">Ortolang</span> ne jouant que le rôle de service versant dans ce processus. Lorsque les archivages seront réalisés, une trace de ce dépôt sera
            incluse dans les métadonnées des ressources. 
        </li>

        <li><span style="font-variant:small-caps;">Ortolang</span> s’engage à respecter les contraintes de sécurité des données définies par les contributeurs (voir ci-dessous). Pour cela,
            <span style="font-variant:small-caps;">Ortolang</span> s’engage à contrôler la modification des données par les contributeurs et leur exploitation par les utilisateurs. 
        </li>

        <li>Les ressources déposées sont identifiées de manière unique à l’aide d’un identifiant dit pérenne. Ceci permet de diffuser une référence à des ressources qui pourront être retrouvées
            à tout moment y compris de nombreuses années après le dépôt. L’identification des ressources de manière unique impose l’utilisation d’un système de versionnage. Les ressources déposées
            sont donc associées à un numéro de version unique qui fait partie de l’identifiant pérenne. La modification des ressources de manière mineure (correction d’erreur par exemple) est
            possible sans changement de version. Une modification majeure peut amener à la création d’un nouveau numéro de version. Pour des raisons de coût, une nouvelle version doit présenter
            au moins 10% de données nouvelles. 
        </li>

        <li>A terme, dans la version finale de l’Equipex  <span style="font-variant: small-caps">Ortolang</span> (fin 2016), grâce à des outils de supervision et de statistiques
            <span style="font-variant:small-caps;">Ortolang</span> s’engage à rendre accessible aux contributeurs des statistiques d’accès et de téléchargement de leurs ressources. </li>
    </ol>
</section>
<br>

<section id="engagements-contributeurs" class="text-justify">
    <h3>Engagements des contributeurs</h3>
    <hr/>
    <ol>
        <li>Les contributions à <span style="font-variant:small-caps;">Ortolang</span> ne peuvent être réalisées que par des personnes identifiées. La création d’un identifiant s’accompagnera
            de la création d’un espace de travail permettant le dépôt, la préparation et la mise en forme des contributions.</li>
        <li>Le dépôt de ressources sur <span style="font-variant:small-caps;">Ortolang</span> implique d’avoir une connaissance exacte des droits d’utilisation des ressources, et, dans le cas où le
            contributeur n’est pas le propriétaire ou l’ayant droit juridique des ressources, avoir toutes autorisations de dépôt de la part du propriétaire ou de
            l’ayant droit juridique. </li>
        <li>Ainsi le dépôt de ressources implique : 
            <ul>
                <li>de pouvoir prendre toutes décisions concernant l’utilisation et la diffusion du corpus (propriété intellectuelle en particulier) ;</li>
                <li>de disposer de toutes les informations concernant les sources des corpus et le consentement des personnes enregistrées ou filmées.</li>
            </ul>
        </li>
        <li><span style="font-variant:small-caps;">Ortolang</span> étant un service public financé par l’Etat, il est nécessaire pour déposer des ressources d’accorder un droit d’utilisation
            de celles-ci qui comprenne au minimum celui de leur utilisation libre dans le cadre de la recherche scientifique publique soit par téléchargement soit au travers
            d’un outil spécifique de visualisation ou d’exploitation.
            <ul>
                <li>Les droits supplémentaires sont largement encouragés et il est possible d’appliquer des droits différents pour des sous-ensembles des ressources déposées
                    <sup id="r5"><a href="" ng-click="goTo('footnote5')">[7]</a></sup>. Les ressources déposées ne peuvent donner lieu à rétribution financière. </li>
                <li>Il est possible de déposer des ressources dont l’ouverture à l’utilisation par d’autres personnes que les contributeurs est fixée à une date ultérieure
                    (système de quarantaine), soit pour des raisons d’exploitation des ressources et de retombées des travaux, soit pour des raisons juridiques. </li>
                <li>La durée des périodes de quarantaine liées à des contraintes juridiques ne dépend que de la loi française et n'est pas du ressort d’<span style="font-variant:small-caps;">Ortolang</span>.
                    La durée des périodes de quarantaine liées à des droits intellectuels ou financiers est limitée à la durée des contraintes (bourse de thèse, financement ANR, etc.)
                    plus une période maximale de deux ans. Au delà de cette période, les droits d’utilisation fixés s’appliquent.</li>
            </ul>
        </li>
        <li>Dans tous les cas le dépôt d’une ressource sur <span style="font-variant:small-caps;">Ortolang</span> devra être accompagné d'un jeu minimum de métadonnées descriptives au format Dublin Core, et
            administratives spécifiques à <span style="font-variant:small-caps;">Ortolang</span>. Pour aider les utilisateurs à construire ces métadonnées, un éditeur interactif de ces métadonnées est proposé par
            <span style="font-variant:small-caps;">Ortolang</span> dans l’espace de travail lors du dépôt d’une ressource. Il permet de préciser en particulier des renseignements
            généraux de type descriptif de la ressource, les droits y afférant et les divers contributeurs à cette ressource. Le dépôt d’une ressource vaut acceptation de diffusion
            entièrement libre de ses métadonnées administratives et descriptives. </li>
        <li>Le dépôt de ressources peut s’accompagner de consignes d’utilisation, notamment sur la manière de citer les ressources utilisées. La politique d’
            <span style="font-variant:small-caps;">Ortolang</span> est d’exiger que soit citée, a minima, la source des ressources, c’est-à-dire leur identifiant pérenne.
            La demande de citation de travaux, références scientifiques, indications de propriété intellectuelle est possible, dans la limite de trois citations par corpus. Le respect
            de ces citations fait partie de la charte d’usage des utilisateurs et doit être respecté par tous les acteurs du domaine. </li>
        <li>Le dépôt de ressources par des étudiants ou thésards ne relevant pas d’un établissement scientifique public est possible et souhaitable, et doit se faire sous la responsabilité
            du laboratoire dans lequel ils réalisent leurs travaux. </li>
        <li>Le dépôt de ressources incomplètes (ressources en cours de numérisation, ressources audiovisuelles non encore transcrites) est possible et souhaitable (en particulier pour des
            raisons de sécurité des ressources) à condition que les droits de propriété et d’utilisation des données soient clairement définis et décrits. Ce type d’usage permet la mise
            en place d’un système de quarantaine. Toutefois, un dépôt partiel et non finalisé de données sera rendu public et disponible à la recherche à la fin de la période de quarantaine
            quelque soit le statut des données.</li>
        <li>Pour des raisons de coût de stockage et de coût de fonctionnement, les ressources de type média (audio, vidéo, données physiologiques) ne peuvent être déposées que si elles sont
            associées à des annotations linguistiques. Si les ressources sont en cours de création (par exemple dans le cadre d’un projet de recherche), des données média peuvent être déposées
            par anticipation sans que les annotations soient déjà disponibles à condition que les droits d’utilisation soient déjà clairement définis. </li>
        <li>Les ressources déposées ne sont modifiables que par le déposant original. La modification du déposant ou le transfert de droit s’accompagne de la création d’un nouveau numéro de version. </li>
        <li>Les ressources déposées par un contributeur sans en posséder les droits pourront être supprimées d’<span style="font-variant:small-caps;">Ortolang</span>, notamment en cas de recours
            juridique ou de conflit de droit. </li>
    </ol>
</section>
<br/>

<section id="engagements-utilisateurs" class="text-justify">
    <h3>Engagements des utilisateurs</h3>
    <hr/>
    <ol>
        <li>Les utilisateurs doivent s’identifier sur le site pour toute utilisation autre que celles des ressources libres de tout droit. Cette contrainte permet de contrôler et d’appliquer
            les droits définis par les contributeurs.</li>
        <li>L’utilisation de ressources à des fins scientifiques ou personnelles doit respecter les contraintes fixées par les contributeurs. Elle doit également respecter les usages
            (voir la charte <a href="http://wiki.ethique-big-data.org/chartes/CharteEthiqueBigDatav8.pdf" target="_blank">«Ethique et Big Data»</a>). </li>
        <li>La diffusion, mais aussi la visualisation des ressources doit respecter les droits originaux. Il n’est ainsi pas possible de diffuser publiquement des ressources qui ont des
            droits restreints. </li>
        <li>Toute ressource utilisée doit être accompagnée de son identifiant pérenne <span style="font-variant:small-caps;">Ortolang</span> et les citations souhaitées par les contributeurs
            doivent être respectées. Les identifiants et modes de citations des ressources sont précisés dans leurs métadonnées. Tout utilisateur d’une ressource <span style="font-variant:small-caps;">Ortolang</span>
            est donc tenu de les faire apparaître dans ses citations bibliographiques, ses remerciements, ses notes de bas de page ou sa licence, selon les conditions d’utilisation des ressources. </li>
    </ol>
</section>
<br/>

<section id="fonctionnalites" class="text-justify">
    <h3>ANNEXE 1 : Fonctionnalités contenu de l’EquipEx ORTOLANG</h3>
    <hr/>

    <h4 id="fonctionnalites-site" >Fonctionnalité du site <a href="http://www.ortolang.fr">www.ortolang.fr</a> offertes sans identification</h4>
    <p>Le site <a href="http://www.ortolang.fr">www.ortolang.fr</a>, bilingue français anglais, offrira à tout utilisateur les fonctionnalités suivantes : </p>
    <ol class="small-ordered-list">
        <li>Accueil : présentant les actualités et les nouveautés sur <span style="font-variant:small-caps;">Ortolang</span> ainsi que diverses informations sur le projet
            (Présentation, partenaires, feuille de route, lettres d’information, charte d’<span style="font-variant:small-caps;">Ortolang</span> mentions légales, accès
            au site communautaire, etc .).</li>
        <li><p>Présentation avec fenêtre de recherche des ressources intégrées dans <span style="font-variant:small-caps;">Ortolang</span> :</p>
            <ul>
                <li>Corpus</li>
                <li>Lexiques</li>
                <li>Outils</li>
                <li>Projets intégrés</li>
            </ul>
            <br/>

            <p>Cela permet, pour chaque ressource :</p>
            <ul>
                <li>l’accès à une page descriptive de la ressource,</li>
                <li>l’accès à une visualisation d’un extrait,
                <li>et le téléchargement dans le respect des contraintes de diffusion de la ressource.</li>
            </ul>
        </li>
    </ol>
    <br/>

    <h4 id="fonctionnalites-supplementaires" >Fonctionnalités supplémentaires de la plateforme <a href="http://www.ortolang.fr">www.ortolang.fr</a> après identification</h4>
    <p>Après identification l’utilisateur pourra accéder à chacun de ses espaces de travail qui, pour une ressource, lui permettront :</p>
    <ol class="small-ordered-list">
        <li>De déposer les fichiers composant sa ressource</li>
        <li>D'accéder aux divers fichiers composant sa ressource</li>
        <li>D'éditer ses métadonnées de présentation </li>
        <li>De sauvegarder son espace de travail</li>
        <li>De suivre les processus de traitement en cours</li>
        <li>D'accéder à des outils applicables à sa ressource</li>
        <li>D'obtenir des prévisualisations avant publication</li>
        <li>De visualiser un historique et les membres ayant accès à cet espace de travail</li>
        <li>De soumettre sa ressource à publication</li>
    </ol>

</section>
<br/>

<!--<section id="formats" class="text-justify">-->
    <!--<h3>ANNEXE 2 : Liste des formats pour lesquels ORTOLANG propose un outillage</h3>-->
    <!--<hr/>-->

    <!--<h4 id="formats-texte" >Format pour les données textuelles</h4> -->
    <!--<p>XML/TEI</p>-->
    <!--<p><i>A Compléter</i></p>-->
    <!--<br/>-->

    <!--<h4 id="formats-audio" >Format pour les données audio</h4> -->
    <!--<p><i>A Compléter</i></p>-->
    <!--<br/>-->

    <!--<h4 id="formats-video" >Format pour les données vidéo</h4> -->
    <!--<p><i>A Compléter</i></p>-->
    <!--<br/>-->
<!--</section>-->
<!--<br/>-->

<!--<section id="outils" class="text-justify">-->
    <!--<h3>ANNEXE 3 : Liste des outils proposés par ORTOLANG</h3>-->
    <!--<hr/>-->
    <!--<p><i>A Compléter</i></p>-->
<!--</section>-->
<!--<br/>-->

<section id="identifications" class="text-justify">
    <h3>ANNEXE 2 : Liste des types d’identification d’utilisateurs proposés</h3>
    <hr/>

    <p><span style="font-variant:small-caps;">Ortolang</span> proposera 4 classes d’identification des utilisateurs potentiels d’une ressource :</p>
    <ol class="small-ordered-list">
        <li>L’ensemble des utilisateurs potentiels sans aucune restriction,</li>
        <li>Les membres de l’ESR Français,</li>
        <li>L’ensemble des utilisateurs inscrits sur la plateforme,</li>
        <li>Un groupe spécifique d’utilisateurs préalablement identifiés sur la plateforme <span style="font-variant:small-caps;">Ortolang</span>.</li>
    </ol>
</section>
<br/>


<hr/>
<section>
    <p id="footnote1"><a href="" ng-click="goTo('r1')">[1]</a> On trouvera à l’adresse <a ng-href="/#/information/partners">www.ortolang.fr/#/information/partners</a>
        la liste des partenaires porteurs de ce projet.</p>
    <p id="footnote2"><a href="" ng-click="goTo('r2')">[2]</a> Cette capacité évolue d’année en année. Début 2014 la capacité d’Ortolang est de 40To utiles de disque partagé
        utiles et de 312,5 To d’espace de sauvegarde.</p>
    <p id="footnote3"><a href="" ng-click="goTo('r3')">[3]</a> C’est-à-dire dont le financement relève de l’état français.</p>
    <p id="footnote4"><a href="" ng-click="goTo('r4')">[4]</a> La caractérisation « langue de France » relève des compétences de la DGLFLF.</p>
    <p id="footnote5"><a href="" ng-click="goTo('r5')">[5]</a> Cf. annexe 2 : liste des types d’identification d’utilisateurs proposés sur la plateforme.</p>
</section>
