<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a>
    <i class="fa fa-coffee"></i>
    This is an <strong>.alert</strong>. Use this to show important messages to the user.
</div>
<h3>{{"PROFILE.NAV.PERSONAL_INFOS" | translate}}</h3>
<br>

<!--<button type="button" class="btn btn-info pull-right" aria-label="Edit">-->
<!--<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
<!--</button>-->

<form class="form-horizontal" role="form">
     <div class="form-group">
        <label class="col-lg-3 control-label" for="firstName">First name:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="firstName" class="form-control" value="{{user.firstName}}" type="text">
                <span class="input-group-addon" style="padding: 0">
                    <button ng-click="isLocked.firstName = !isLocked.firstName" class="btn"
                            ng-class="{'fa fa-unlock': isLocked.firstName, 'fa fa-lock': !isLocked.firstName}"
                            aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="lastName">Last name:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="lastName" class="form-control" value="{{user.lastName}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.lastName = !isLocked.lastName" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.lastName, 'fa fa-lock': !isLocked.lastName}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="organisation">Organisation:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="organisation" class="form-control" value="{{user.organisation}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.organisation = !isLocked.organisation" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.organisation, 'fa fa-lock': !isLocked.organisation}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="email">Email:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="email" class="form-control" value="{{user.email}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.email = !isLocked.email" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.email, 'fa fa-lock': !isLocked.email}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="user_time_zone">Time Zone:</label>

        <div class="col-lg-8 input-group">
            <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                    <option value="Hawaii">(GMT-10:00) Hawaii</option>
                    <option value="Alaska">(GMT-09:00) Alaska</option>
                    <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                    <option value="Arizona">(GMT-07:00) Arizona</option>
                    <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                    <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US
                        &amp; Canada)
                    </option>
                    <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                    <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="username">Username:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="username" class="form-control" value="{{user.username}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.username = !isLocked.username" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.username, 'fa fa-lock': !isLocked.username}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>

        <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
        </div>
    </div>
</form>
