<!--<div class="alert alert-info alert-dismissable">-->
    <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
    <!--<i class="fa fa-coffee"></i>-->
    <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
<!--</div>-->
<h3>{{"PROFILE.NAV.PERSONAL_INFOS" | translate}}</h3>
<br>

<!--<button type="button" class="btn btn-info pull-right" aria-label="Edit">-->
<!--<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>-->
<!--</button>-->

<form class="form-horizontal" role="form">
     <div class="form-group">
        <label class="col-lg-3 control-label" for="user_civility">Civilité:</label>

         <div class="col-lg-8 input-group">
             <div class="ui-select">
                 <select id="user_civility" class="form-control">
                     <option value="none">Choisissez...</option>
                     <option value="m">M.</option>
                     <option value="mme">Mme</option>
                     <option value="other">Autre</option>
                 </select>
            </div>
        </div>
     </div>
     <div class="form-group">
        <label class="col-lg-3 control-label" for="lastName">Name:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="lastName" class="form-control" value="{{user.name}}" type="text" placeholder="Prénom Nom">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.name = !isLocked.name" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.name, 'fa fa-lock': !isLocked.name}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="email">Email:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="email" class="form-control" value="{{user.email}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.email = !isLocked.email" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.email, 'fa fa-lock': !isLocked.email}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="username">Username:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="username" class="form-control" value="{{user.userId}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.userId = !isLocked.userId" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.userId, 'fa fa-lock': !isLocked.userId}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="organisation">Organisation:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="organisation" class="form-control" value="{{user.organisation}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.organisation = !isLocked.organisation" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.organisation, 'fa fa-lock': !isLocked.organisation}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="fonction">Fonction:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="fonction" class="form-control" value="{{user.fonction}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.fonction = !isLocked.fonction" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.fonction, 'fa fa-lock': !isLocked.fonction}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="recherche">Domaines de recherche:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="recherche" class="form-control" value="{{user.recherche}}" type="text">
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.recherche = !isLocked.recherche" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.recherche, 'fa fa-lock': !isLocked.recherche}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="url-pro">URL page pro:</label>

        <div class="col-lg-8 input-group">
            <div class="input-group">
                <input id="url-pro" class="form-control" value="{{user.urlPro}}" type="url"
                       pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?" />
                    <span class="input-group-addon" style="padding: 0">
                        <button ng-click="isLocked.urlPro = !isLocked.urlPro" class="btn"
                                ng-class="{'fa fa-unlock': isLocked.urlPro, 'fa fa-lock': !isLocked.urlPro}"
                                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
                        </button>
                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>

        <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
        </div>
    </div>
</form>
