<div  ng-controller="PersonalInfosCtrl" class="container-fluid">
    <!--<div class="alert alert-info alert-dismissable">-->
    <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
    <!--<i class="fa fa-coffee"></i>-->
    <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
    <!--</div>-->
    <h3>{{"PROFILE.NAV.PERSONAL_INFOS" | translate}}</h3>
    <br>

    <div id="formSettings" class="form-horizontal" >
        <div class="form-group">
            <label class="col-md-3 control-label" for="civility">Civilité:</label>
            <button ng-click="isLocked.civility = !isLocked.civility" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.civility, 'fa fa-lock': !isLocked.civility}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span id="civility" editable-select="user.civility" e-name="civility" e-ng-options="s.value as s.text for s in civilities">
                    {{ showCivility() }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Prénom:</label>
            <button ng-click="isLocked.firstname = !isLocked.firstname" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.firstname, 'fa fa-lock': !isLocked.firstname}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span editable-text="user.firstname" e-name="firstname" e-placeholder="Prénom" e-value="{{user.firstname}}" >
                    {{ user.firstname || 'empty' }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Nom:</label>
            <button ng-click="isLocked.lastname = !isLocked.lastname" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.lastname, 'fa fa-lock': !isLocked.lastname}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span editable-text="user.lastname" e-name="lastname" e-placeholder="Nom" e-value="{{user.lastname}}" >
                    {{ user.lastname || 'empty' }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Email:</label>
            <button ng-click="isLocked.email = !isLocked.email" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.email, 'fa fa-lock': !isLocked.email}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span editable-email="user.email" e-name="email" e-value="{{user.email}}" >
                    {{ user.email || 'empty' }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <button ng-click="isLocked.userId = !isLocked.userId" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.userId, 'fa fa-lock': !isLocked.userId}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span editable-text="user.userId" e-name="userId" e-value="{{user.userId}}" >
                    {{ user.userId || 'empty' }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Organisation:</label>
            <button ng-click="isLocked.organisation = !isLocked.organisation" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.organisation, 'fa fa-lock': !isLocked.organisation}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span editable-text="user.organisation" e-name="organisation" e-value="{{user.organisation}}" >
                    {{ user.organisation || 'empty' }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" >Fonction:</label>
            <button ng-click="isLocked.fonction = !isLocked.fonction" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.fonction, 'fa fa-lock': !isLocked.fonction}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span editable-text="user.fonction" e-name="fonction" e-value="{{user.fonction}}" >
                    {{ user.fonction || 'empty' }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Domaines de recherche:</label>
            <button ng-click="isLocked.domaine = !isLocked.domaine" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.domaine, 'fa fa-lock': !isLocked.domaine}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                 <span editable-text="user.domaine" e-name="domaine" e-value="{{user.domaine}}" e-autocomplete="off"
                       e-ng-options="domaine for domaine in domaines | filter:$viewValue | limitTo:8" e-bs-typeahead>
                    {{ user.domaine || 'empty' }}
                 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">URL page pro:</label>
            <button ng-click="isLocked.urlPro = !isLocked.urlPro" class="btn pull-left"
                    ng-class="{'fa fa-unlock': isLocked.urlPro, 'fa fa-lock': !isLocked.urlPro}"
                    aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
            </button>
            <div class="col-md-7" style="padding-top: 5px;">
                <div data-ng-repeat="value in urlPros" style="padding-bottom: 10px;">
                    <span editable-url="value.url" e-name="urlPro[value.index]" e-value="{{value.url}}"
                          onbeforesave="updateUser($data)" e-pattern="https?://.+">
                        {{ value.url || 'empty' }}
                     </span>
                    <button class="btn pull-left fa fa-times btn-xs btn-danger" ng-click="removeUrlPro(value)"
                            style="margin-right: 25px; margin-top: 2px;" bs-tooltip data-title="Remove Url" >
                    </button>
                </div>
                <a class="btn pull-left fa fa-plus" ng-click="addNewUrlPro()"> Add URL</a>
            </div>
        </div>
        <div style="clear:both;"></div>

    </div>
</div>
