<h3>Avec x-editable form</h3>
<br>

<form editable-form class="form-horizontal" name="editableForm">
    <div class="form-group">
        <!-- editable username (text with validation) -->
        <label class="col-md-3 control-label">First name: </label>
        <button ng-click="isLocked.firstName = !isLocked.firstName" class="btn pull-left"
                ng-class="{'fa fa-unlock': isLocked.firstName, 'fa fa-lock': !isLocked.firstName}"
                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
        </button>
        <div class="col-md-7">
            <span editable-text="user.firstName" e-name="firstName" e-required >{{ user.firstName || 'empty' }}</span>
        </div>
    </div>

    <div class="form-group">
        <!-- editable username (text with validation) -->
        <label class="col-md-3 control-label">First name: </label>
        <button ng-click="isLocked.lastName = !isLocked.lastName" class="btn pull-left"
                ng-class="{'fa fa-unlock': isLocked.lastName, 'fa fa-lock': !isLocked.lastName}"
                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
        </button>
        <div class="col-md-7">
            <span editable-text="user.lastName" e-name="lastName" e-required >{{ user.lastName || 'empty' }}</span>
        </div>
    </div>

    <div class="form-group">
        <!-- editable username (text with validation) -->
        <label class="col-md-3 control-label" for="username">Username: </label>
        <button ng-click="isLocked.username = !isLocked.username" class="btn pull-left"
                ng-class="{'fa fa-unlock': isLocked.username, 'fa fa-lock': !isLocked.username}"
                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
        </button>
        <div class="col-md-7">
            <span id="username" editable-text="user.username" e-name="username" e-required >{{ user.username || 'empty' }}</span>
        </div>
    </div>

    <div class="form-group">
        <!-- editable status (select-local) -->
        <label class="col-md-3 control-label">Status: </label>
        <button ng-click="isLocked.status = !isLocked.status" class="btn pull-left"
                ng-class="{'fa fa-unlock': isLocked.status, 'fa fa-lock': !isLocked.status}"
                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
        </button>
        <div class="col-md-7">
            <span editable-select="user.status" e-name="status" e-ng-options="s.value as s.text for s in statuses" >
                {{ (statuses | filter:{value: user.status})[0].text || 'Not set' }}
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="organisation">Organisation:</label>
        <button ng-click="isLocked.organisation = !isLocked.organisation" class="btn pull-left"
                ng-class="{'fa fa-unlock': isLocked.organisation, 'fa fa-lock': !isLocked.organisation}"
                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
        </button>
        <div class="col-lg-7">
            <span id="organisation" editable-text="user.organisation" e-name="organisation">{{ user.organisation || 'empty' }}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label" for="email">Email:</label>
        <button ng-click="isLocked.email = !isLocked.email" class="btn pull-left"
                ng-class="{'fa fa-unlock': isLocked.email, 'fa fa-lock': !isLocked.email}"
                aria-hidden="true" bs-tooltip data-title="{{'PROFILE.VISIBILITY' | translate}}" >
        </button>
        <div class="col-lg-7">
            <span id="email" editable-email="user.email" e-name="email">{{ user.email || 'empty'}}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label"></label>

        <div class="col-md-8">
            <!-- button to show form -->
            <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
            </button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="editableForm.$visible">
                <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                    Save
                </button>
                <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancel
                </button>
            </span>
        </div>
    </div>
</form>

