<div class="toolbar-options-facets processes-searchbar" ng-controller="ProcessesCtrl">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <div class="filter">
                    <b>{{'PROCESSES.STATE' | translate}}</b>
                    <div class="radio" >
                        <input type="radio" name="optionsStatus" id="optionsStatusAll" value="all" ng-click="removeFilter('state')" checked >
                        <label for="optionsStatusAll">
                            {{'PROCESSES.SHOW_ALL' | translate}} <span>({{ filterCount('state', 'ALL') }})</span>
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="optionsStatus" id="optionsStatusCompleted" value="{{Runtime.getStates().completed}}" ng-click="switchFilter('state', Runtime.getStates().completed)" >
                        <label for="optionsStatusCompleted">
                            {{'PROCESSES.COMPLETED' | translate}} <span>({{ filterCount('state', Runtime.getStates().completed) }})</span>
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="optionsStatus" id="optionsStatusSuspended" value="{{Runtime.getStates().suspended}}" ng-click="switchFilter('state', Runtime.getStates().suspended)" >
                        <label for="optionsStatusSuspended">
                            {{'PROCESSES.SUSPENDED' | translate}} <span>({{ filterCount('state', Runtime.getStates().suspended) }})</span>
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="optionsStatus" id="optionsStatusAborted" value="{{Runtime.getStates().aborted}}" ng-click="switchFilter('state', Runtime.getStates().aborted)" >
                        <label for="optionsStatusAborted">
                            {{'PROCESSES.ABORTED' | translate}} <span>({{ filterCount('state', Runtime.getStates().aborted) }})</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="filter">
                    <b>{{'TYPE' | translate}}</b>
                    <div class="radio" >
                        <input type="radio" name="optionsType" id="optionsTypeAll" value="all" ng-click="removeFilter('type')" checked >
                        <label for="optionsTypeAll">
                            {{'PROCESSES.SHOW_ALL' | translate}} <span>({{ filterCount('type', 'ALL') }})</span>
                        </label>
                    </div>
                    <div class="radio" ng-repeat="type in Runtime.getTypes() | orderBy: type : true">
                        <input type="radio" name="optionsType" id="optionsType{{type}}" value="{{type}}" ng-click="switchFilter('type', type)" >
                        <label for="optionsType{{type}}">
                            {{type}} <span>({{ filterCount('type', type) }})</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="col-sm-12">
</div>

