<div class="modal add-member-modal" tabindex="-1" role="dialog" ng-controller="AddMemberCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="{{(addFriend ?  'PROFILE' : 'WORKSPACE') + '.ADD_MEMBER_MODAL.TITLE'}}" translate-values="{wsName: wsName}"></span>
            </div>
            <div class="modal-body">
                <form ng-submit="search()" class="search-form" autocomplete="off">
                    <div class="form-group" ng-class="{'has-error': searchQueryLength}">
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="searchQuery" placeholder="{{'WORKSPACE.ADD_MEMBER_MODAL.SEARCH' | translate}}" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="fa fa-fw fa-search"></span></button>
                            </span>
                        </div>
                        <span ng-if="searchQueryLength" class="help-block" translate="WORKSPACE.ADD_MEMBER_MODAL.QUERY_LENGTH"></span>
                    </div>
                </form>
                <div class="search-result" ng-show="profiles.length >= 0">
                    <p><strong translate="WORKSPACE.ADD_MEMBER_MODAL.SEARCH_RESULT"></strong></p>
                    <p ng-show="profiles.length === 0" translate="WORKSPACE.ADD_MEMBER_MODAL.NO_RESULT"></p>
                    <ul class="list-unstyled">
                        <li ng-repeat="profile in profiles | limitTo:models.limit track by profile.key" profile-card data-profile="profile" data-img-classes="img-circle" data-size="50">
                            <div class="btn-group" ng-if="::!User.isFriend(profile.key)">
                                <button ng-click="add(profile)" class="btn btn-default"><span ng-class="::icons.plus"></span> {{'WORKSPACE.ADD_MEMBER_MODAL.ADD' | translate}}</button>
                            </div>
                            <div class="btn-group" ng-if="::User.isFriend(profile.key)">
                                <button disabled class="btn btn-default"><span ng-class="::icons.check"></span> {{'WORKSPACE.ADD_MEMBER_MODAL.ADDED' | translate}}</button>
                            </div>
                        </li>
                    </ul>
                    <p ng-show="profiles.length > models.limit" class="alert alert-warning"><strong translate="WORKSPACE.ADD_MEMBER_MODAL.MORE_RESULTS"></strong></p>
                </div>
                <hr ng-if="!addFriend" ng-show="profiles.length >= 0" />
                <div class="my-friends" ng-if="!addFriend">
                    <p><strong translate="WORKSPACE.ADD_MEMBER_MODAL.MY_FRIENDS"></strong></p>
                    <p ng-show="friends.length === 0" translate="WORKSPACE.ADD_MEMBER_MODAL.NO_FRIENDS"></p>
                    <ul class="list-unstyled">
                        <li ng-repeat="friend in ::User.friendList track by friend.key" profile-card data-profile="friend" data-img-classes="img-circle" data-size="50">
                            <div class="btn-group" ng-if="::!isMember(friend.key)">
                                <button ng-click="add(friend)" class="btn btn-default"><span ng-class="::icons.plus"></span> {{'WORKSPACE.ADD_MEMBER_MODAL.ADD' | translate}}</button>
                            </div>
                            <div class="btn-group" ng-if="::isMember(friend.key)">
                                <button disabled class="btn btn-default"><span ng-class="::icons.check"></span> {{'WORKSPACE.ADD_MEMBER_MODAL.ADDED' | translate}}</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
