<div class="modal" tabindex="-1" role="dialog" ng-controller="AddMemberCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="WORKSPACE.ADD_MEMBER_MODAL.TITLE" translate-values="{wsName: wsName}"></span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="find-member">Rechercher un membre</label>
                    <input id="find-member" class="form-control" type="text" ng-model="searchQuery" ng-model-options="{ updateOn: 'blur' }" ng-change="change()" />
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="profile in profiles" class="media">
                        <div class="media-left" avatar data-email-hash="profile.emailHash" data-size="50" data-img-classes="img-circle">
                        </div>
                        <div class="media-body">
                            <span>{{profile.givenName}} {{profile.familyName}}</span>
                            <br/>
                            <span class="small">{{profile.email}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="publish()" translate="WORKSPACE.ADD_MEMBER_MODAL.SUBMIT"></button>
                <button type="button" class="btn btn-default" ng-click="$hide()" translate="CANCEL"></button>
            </div>
        </div>
    </div>
</div>
