<div class="row" ng-controller="AdditionalInfoCtrl">
    <div class="col-sm-12 col-md-10 tab-pane-content">

        <div class="form-group">
            <label for="publications" class="control-label">{{'MARKET.PRIMARY_PUBLICATIONS' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Les publications de référence sont celles qui décrivent comment la ressource a été créée. Elles sont également utilisées pour citer la ressource." data-placement="right" bs-tooltip></i></label>

            <div class="input-group">
                <input type="text" class="form-control" name="publication" ng-model="publication" ng-disabled="Workspace.active.workspace.readOnly" placeholder="Citation bibliographique de la publication."></input>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="Workspace.active.workspace.readOnly" ng-click="addPublication()">Ajouter</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive metadata-editor-table">
                        <tbody>
                        <tr ng-repeat="publication in metadata.publications">
                            <td>
                                <div class="media">
                                    <div class="media-body" ng-bind-html="publication"></div>
                                    <div class="media-right">
                                        <span ng-class="::icons.trash" class="text-danger clickable" ng-disabled="Workspace.active.workspace.readOnly" ng-click="removePublication(publication)"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="preview" class="control-label">{{'MARKET.PREVIEW' | translate}}</label>

            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Sélectionnez un fichier dans votre espace de travail." ng-disabled="Workspace.active.workspace.readOnly" ng-click="filePreviewPathSelectorModal.show()"></input>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-disabled="Workspace.active.workspace.readOnly" ng-click="filePreviewPathSelectorModal.show()" type="button">{{'SELECT' | translate}}</button>
                        </span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-if="metadata.preview">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive metadata-editor-table">
                        <tbody>
                        <tr ng-repeat="path in metadata.preview">
                            <td>
                                <div class="media">
                                    <div class="media-body">{{path}}</div>
                                    <div class="media-right">
                                        <span ng-class="::icons.trash" class="text-danger clickable" ng-disabled="Workspace.active.workspace.readOnly" ng-click="removePath(path)"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="keywords" class="control-label">{{'MARKET.KEYWORDS' | translate}}</label>

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" name="keywords-lang" ng-model="keyword.lang" ng-disabled="Workspace.active.workspace.readOnly" bs-options="lang.key as lang.value for lang in languages" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
                </div>
                <input type="text" class="form-control" name="keywords" placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_KEYWORD' | translate}}" ng-model="keyword.value" ng-disabled="Workspace.active.workspace.readOnly" aria-label="keywords">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="Workspace.active.workspace.readOnly" ng-click="addKeyword()">Ajouter</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive metadata-editor-table">
                        <tbody>
                        <tr ng-repeat="keyword in metadata.keywords">
                            <td>
                                <div class="media">{{keyword.lang}}</div>
                            </td>
                            <td>
                                <div class="media">
                                    <div class="media-body">{{keyword.value}}</div>
                                    <div class="media-right">
                                        <span ng-class="::icons.trash" class="text-danger clickable" ng-disabled="Workspace.active.workspace.readOnly" ng-click="removeKeyword(keyword)"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <hr/>
            <label for="website" class="control-label">{{'MARKET.WEBSITE' | translate}}</label>

            <input type="text" class="form-control" name="website" placeholder="Adresse HTTP du site web contenant des informations sur la ressource." aria-label="website" ng-model="metadata.website" ng-disabled="Workspace.active.workspace.readOnly">

        </div>
        <div class="form-group" ng-if="metadata.creationLocations">
            <hr/>
            <label for="creationLocations" class="control-label">{{'ITEM.CREATION_LOCATIONS.LABEL' | translate}}</label>

            <div  ng-repeat="creationLocation in metadata.creationLocations">
                <input ng-if="creationLocation.name" type="text" class="form-control" name="creationLocationsName" placeholder="{{'ITEM.CREATION_LOCATIONS.PLACEHOLDER' | translate}}" aria-label="creationLocations" ng-model="creationLocation.name" ng-disabled="Workspace.active.workspace.readOnly">
                <input ng-if="creationLocation.dcmipoint" type="text" class="form-control" name="creationLocationsName" placeholder="{{'ITEM.CREATION_LOCATIONS.DCMIPOINT.PLACEHOLDER' | translate}}" aria-label="creationLocations" ng-model="creationLocation.dcmipoint" ng-disabled="Workspace.active.workspace.readOnly">
                <input ng-if="creationLocation.dcmibox" type="text" class="form-control" name="creationLocationsName" placeholder="{{'ITEM.CREATION_LOCATIONS.DCMIBOX.PLACEHOLDER' | translate}}" aria-label="creationLocations" ng-model="creationLocation.dcmibox" ng-disabled="Workspace.active.workspace.readOnly">
                <input ng-if="creationLocation.iso3166" type="text" class="form-control" name="creationLocationsName" placeholder="{{'ITEM.CREATION_LOCATIONS.ISO3166.PLACEHOLDER' | translate}}" aria-label="creationLocations" ng-model="creationLocation.iso3166" ng-disabled="Workspace.active.workspace.readOnly">
                <input ng-if="creationLocation.tgn" type="text" class="form-control" name="creationLocationsName" placeholder="{{'ITEM.CREATION_LOCATIONS.TGN.PLACEHOLDER' | translate}}" aria-label="creationLocations" ng-model="creationLocation.tgn" ng-disabled="Workspace.active.workspace.readOnly">
            </div>
        </div>
        <div ng-if="metadata.originDate" class="form-group">
            <hr/>
            <label for="originDate" class="control-label">{{'ITEM.ORIGIN_DATE.LABEL' | translate}}</label>
            <input type="text" class="form-control" name="originDate" placeholder="{{'ITEM.ORIGIN_DATE.PLACEHOLDER' | translate}}" aria-label="originDate" ng-model="metadata.originDate" ng-disabled="Workspace.active.workspace.readOnly">
        </div>

    </div>
</div>
