<div class="row" ng-controller="AdditionalInfoCtrl">
    <div class="col-sm-12 col-md-10 tab-pane-content">

        <div class="form-group">
            <label for="publications" class="control-label">{{'MARKET.PRIMARY_PUBLICATIONS' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Les publications de référence sont celles qui décrivent comment la ressource a été créée. Elles sont également utilisées pour citer la ressource." data-placement="right" bs-tooltip></i></label>

            <div class="input-group">
                <input type="text" class="form-control" name="publication" ng-model="publication" placeholder="Citation bibliographique de la publication."></input>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="addPublication()">Ajouter</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                            <tr ng-repeat="publication in metadata.publications">
                                <td>
                                    <div style="padding:12px">
                                        <div class="media-body">
                                            <p ng-bind-html="publication.value"></p>
                                        </div>
                                        <div class="media-right">
                                            <span class="glyphicon glyphicon-trash text-danger" ng-click="removePublication(publication)"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="preview" class="control-label">{{'MARKET.PREVIEW' | translate}}</label>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Sélectionnez un fichier dans votre espace de travail." ng-click="filePreviewPathSelectorModal.show()"></input>
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="filePreviewPathSelectorModal.show()" type="button">{{'SELECT' | translate}}</button>
                        </span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row" ng-if="metadata.preview">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                            <tr ng-repeat="path in metadata.preview.paths">
                                <td>
                                    <div style="padding:12px">
                                        <div class="media-body">
                                            {{path}}
                                        </div>
                                        <div class="media-right">
                                            <span class="glyphicon glyphicon-trash text-danger" ng-click="removePath(path)"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="keywords" class="control-label">{{'MARKET.KEYWORDS' | translate}}</label>
            
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" name="keywords-lang" ng-model="keyword.lang" bs-options="lang.key as lang.value for lang in languages" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
                </div>
                <input type="text" class="form-control" name="keywords" placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_KEYWORD' | translate}}" ng-model="keyword.value" aria-label="keywords">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="addKeyword()">Ajouter</button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-responsive">
                        <tbody>
                            <tr ng-repeat="keyword in metadata.keywords">
                                <td>
                                    <div style="padding:12px">
                                        {{keyword.lang}}
                                    </div>
                                </td>
                                <td>
                                    <div style="padding:12px">
                                        <!-- <div class="media-left">
                                            <span>{{keyword.lang}}</span>
                                        </div> -->
                                        <div class="media-body">
                                            {{keyword.value}}
                                        </div>
                                        <div class="media-right">
                                            <span class="glyphicon glyphicon-trash text-danger" ng-click="removeKeyword(keyword)"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="website" class="control-label">{{'MARKET.WEBSITE' | translate}}</label>
            
              <input type="text" class="form-control" name="website" placeholder="Adresse HTTP du site web contenant des informations sur la ressource." aria-label="website" ng-model="metadata.website">
            
        </div>

    </div>
</div>