<div class="row" ng-controller="BasicInfoCtrl">
    <div class="col-sm-12 col-md-12 col-lg-12 tab-pane-content">
        <div class="form-group" ng-class="{'has-error': errors.type===true}">
            <label for="type" class="control-label">Catégorie <span class="text-danger" data-placement="right" data-title="{{'WORKSPACE.METADATA_EDITOR.MANDATORY_FIELD' | translate}}" bs-tooltip>*</span></label>
            <div class="btn-group btn-group-justified o-radio-button-group">
                <label class="btn btn-default" ng-class="{'active': metadata.type==='Corpus'}">
                    <input type="radio" value="Corpus" ng-model="metadata.type"> <span class="fa fa-fw fa-book fa-2x"></span><br/>Corpus
                </label>
                <label class="btn btn-default" ng-class="{'active': metadata.type==='Lexique'}">
                    <input type="radio" value="Lexique" ng-model="metadata.type"> <span class="fa fa-fw fa-cubes fa-2x"></span><br/>Lexique
                </label>
                <label class="btn btn-default" ng-class="{'active': metadata.type==='Outil'}">
                    <input type="radio" value="Outil" ng-model="metadata.type"> <span class="fa fa-fw fa-quote-right fa-2x"></span><br/>Outil
                </label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': errors.title===true}">
            <label for="title" class="control-label">Titre <span class="text-danger" data-placement="right" data-title="{{'WORKSPACE.METADATA_EDITOR.MANDATORY_FIELD' | translate}}" bs-tooltip>*</span></label>
            
            <div class="input-group">
                <input type="text" class="form-control" name="title-value" autocomplete="off" placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TITLE' | translate}}" ng-model="title.value" ng-change="updateTitle()" aria-label="title">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" name="title-lang" ng-model="selectedTitleLanguage" bs-options="lang.key as lang.value for lang in languages" ng-change="changeTitleLanguage()" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': errors.description===true}">
            <label for="description" class="control-label">Description <span class="text-danger" data-placement="right" data-title="{{'WORKSPACE.METADATA_EDITOR.MANDATORY_FIELD' | translate}}" bs-tooltip>*</span></label>

            <div class="input-group">
                <button type="button" class="btn btn-default" name="description-lang" ng-model="selectedDescriptionLanguage" bs-options="lang.key as lang.value for lang in languages" ng-change="changeDescriptionLanguage()" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
            </div>
            
            <textarea class="form-control" name="description" rows="20" placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_DESCRIPTION' | translate}}" ng-model="description.value" ng-change="updateDescription()"></textarea>
                
        </div>
    </div>
</div>