<div class="row" ng-controller="BasicInfoCtrl" ng-show="Workspace.active.metadata">
    <div class="col-sm-12 col-md-10 tab-pane-content">
        <div class="form-group">
            <label for="type" class="control-label">Catégorie <span class="text-danger">*</span></label>
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="type" id="corpus" autocomplete="off" checked> <span class="fa fa-fw fa-book fa-2x"></span><br/>Corpus
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="type" id="lexique" autocomplete="off"> <span class="fa fa-fw fa-cubes fa-2x"></span><br/>Lexique
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="type" id="outil" autocomplete="off"> <span class="fa fa-fw fa-quote-right fa-2x"></span><br/>Outil
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="control-label">Titre <span class="text-danger">*</span></label>
            
            <div class="input-group">
                <input type="text" class="form-control" name="title-value" ng-model="title.value" ng-required="required" aria-label="title">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" name="title-lang" ng-required="required" ng-model="title.lang" bs-options="lang.key as lang.value for lang in languages" ng-change="changeLanguage(title.lang)" bs-select>
                    {{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span>
                </button>
                </div>
                <!-- <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Français <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Français</a></li>
                        <li><a href="#">Anglais</a></li>
                    </ul>
                </div> -->
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label">Description <span class="text-danger">*</span></label>
            <textarea class="form-control" name="description" rows="20"  ng-model="metadataItem.description[0].value">
            </textarea>
        </div>
    </div>
</div>