<div class="modal change-owner-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="WORKSPACE.CHANGE_OWNER_MODAL.TITLE" translate-values="{wsName: wsName}"></span>
            </div>
            <div class="modal-body">
                <p><strong translate="WORKSPACE.MEMBERS_LIST"></strong></p>
                <ul class="list-unstyled">
                    <li ng-repeat="member in members track by member.key" ng-if="member.key !== owner" profile-card data-profile="member" data-size="50" data-img-classes="img-circle">
                        <button class="btn btn-default" ng-class="::icons.remove" ng-click="change(member.key)" translate="SELECT"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
