<div class="modal" id="create-metadata-item-modal" tabindex="-1" role="dialog" aria-labelledby="create-metadata-item-modal-label">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" id="create-metadata-item-modal-label" translate="WORKSPACE.CREATE_METADATA_ITEM_MODAL.TITLE"></span>
            </div>
            <div class="modal-body">
                <form role="form" id="create-metadata-item-form" name="createMetadataItem" class="form-horizontal" ng-submit="submit(createMetadataItem)" novalidate>
				    <div class="progress-box">
				        <ol class="step progtrckr" data-progtrckr-steps="4">
				            <li class="progtrckr-active">Informations générales</li>
				            <li class="progtrckr-done">Personnes impliquées</li>
				            <li class="progtrckr-done">Descriptif</li>
				            <li class="progtrckr-done">Licence</li>
				        </ol>
				    </div>
				</form>
            </div>

        </div>
    </div>
</div>