<section ng-controller="ImportMetadataCtrl" class="workspace-dashboard-section">
	<h4>{{'BROWSER.UPLOAD' | translate}}</h4>
	<article>
		<p>
		Les métadonnées peuvent être téléchargées (bouton <span ng-class="::icons.browser.download"></span> {{'DOWNLOAD' | translate}}) ou importées à partir d'un fichier (bouton <span ng-class="::icons.browser.upload"></span> {{'BROWSER.UPLOAD' | translate}}).
		</p>
	</article>
	<div>
		<button type="button" class="btn btn-primary" ng-click="download()"><span ng-class="::icons.browser.download"></span> {{'DOWNLOAD' | translate}}</button>
		<button type="button" class="btn btn-default" ng-click="upload()"><span ng-class="::icons.browser.upload"></span> {{'BROWSER.UPLOAD' | translate}}</button>
	</div>
	<br/>
	<article hljs source="content" language="json" name="content"></article>
</section>