<div class="row" ng-controller="LicenceCtrl">
    <div class="col-sm-12 col-md-10 tab-pane-content">
    	<div class="form-group">
	        <label for="license" class="control-label">{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}</label>

            <table class="table table-bordered table-responsive card-well metadata-editor-table">
                <tbody>
                    <tr ng-if="selectedLicense">
                        <td>
                            <div class="media">
                                <div class="media-body">
                                    <span class="clickable" ng-click="editLicense(selectedLicense)" ng-bind="selectedLicense.label"></span>
                                </div>
                                <div class="media-right actions">
                                    <button class="no-border" ng-click="deleteLicense()">
                                        <span ng-class="::icons.remove"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="!selectedLicense" class="clickable" ng-click="chooseLicence()">
                        <td>
                            <span class="fa fa-search"></span>  <span>  Sélectionnez une licence...</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p ng-if="!selectedLicense" class="help-block">
                Vous ne trouvez pas votre licence ?
                <a href="" ng-click="addLicence()">Ajouter une nouvelle licence</a>
            </p>
    	</div>
        <hr/>
        <div class="form-group">
            <label for="conditionsOfUse" class="control-label">{{'MARKET.CONDITIONS_OF_USE' | translate}}</label>

            <div class="input-group">
                <button type="button" class="btn btn-default" name="conditionsOfUse-lang" ng-model="selectedConditionsOfUseLanguage" bs-options="lang.key as lang.value for lang in languages" ng-change="changeConditionsOfUseLanguage()" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
            </div>
            
            <textarea class="form-control" name="conditionsOfUse" rows="10" placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CONDITIONS_OF_USE' | translate}}" ng-model="conditionsOfUse.value" ng-change="updateConditionsOfUse()"></textarea>
                
        </div>
        <hr/>
        <div class="form-group">
            <label for="copyright" class="control-label">{{'MARKET.COPYRIGHT' | translate}}</label>
            
              <input type="text" class="form-control" name="copyright" placeholder="Copyright ..." aria-label="copyright" ng-model="metadata.copyright">
            
        </div>
	</div>
</div>