<div class="row" ng-controller="LicenceCtrl">
    <div class="col-sm-12 col-md-10 tab-pane-content">
    	<div class="form-group">
	        <label for="licence" class="control-label">{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}</label>

            <div class="row">
                <div class="col-md-10">
	        		<button type="button" name="licence" class="form-control btn btn-default" ng-model="metadata.license" data-placeholder="Sélectionnez une licence" bs-options="licence.license as licence.label for licence in allLicences" bs-select>{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}} <span class="caret"></span></button>
	        	</div>
                <!-- <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-rounded" data-title="Ajouter une licence si vous ne trouvez pas la votre dans le référentiel ORTOLANG" ng-click="addLicence()" bs-tooltip><span class="glyphicon glyphicon-plus"></span></button>
                </div> -->
	    	</div>
    	</div>
	</div>
</div>