<div class="row" ng-controller="LicenceCtrl">
    <div class="col-sm-12 col-md-10 tab-pane-content">
    	<div class="form-group">
	        <label for="licence" class="control-label">{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}}</label>

            <div class="row">
                <div class="col-md-10">
	        		<button type="button" name="licence" class="form-control btn btn-default" ng-model="metadata.license" data-placeholder="Sélectionnez une licence" bs-options="licence.license as licence.label for licence in allLicences" bs-select>{{'WORKSPACE.METADATA_EDITOR.LICENCE' | translate}} <span class="caret"></span></button>
	        	</div>
                <!-- <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-rounded" data-title="Ajouter une licence si vous ne trouvez pas la votre dans le référentiel ORTOLANG" ng-click="addLicence()" bs-tooltip><span class="glyphicon glyphicon-plus"></span></button>
                </div> -->
	    	</div>
    	</div>
        <hr/>
        <div class="form-group">
            <label for="conditionsOfUse" class="control-label">{{'MARKET.CONDITIONS_OF_USE' | translate}}</label>

            <div class="input-group">
                <button type="button" class="btn btn-default" name="conditionsOfUse-lang" ng-model="selectedConditionsOfUseLanguage" bs-options="lang.key as lang.value for lang in languages" ng-change="changeConditionsOfUseLanguage()" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
            </div>
            
            <textarea class="form-control" name="conditionsOfUse" rows="10" placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CONDITIONS_OF_USE' | translate}}" ng-model="conditionsOfUse.value" ng-change="updateConditionsOfUse()"></textarea>
                
        </div>
        <hr/>
        <div class="form-group">
            <label for="copyright" class="control-label">{{'MARKET.COPYRIGHT' | translate}}</label>
            
              <input type="text" class="form-control" name="copyright" placeholder="Copyright ..." aria-label="copyright" ng-model="metadata.copyright">
            
        </div>
	</div>
</div>