<div class="row specific-field" ng-controller="SpecificFieldsCtrl">
    <div class="col-sm-12 col-md-10 tab-pane-content" ng-switch on="metadata.type">

        <div ng-switch-when="Corpus">
        	<section id="corporaType" class="form-group">
                <div class="row">
                    <div class="col-md-6">
                            <label for="corporaType" class="control-label" translate="MARKET.FACET.CORPORA_TYPE"></label>
                            <button type="button" class="form-control btn btn-default" ng-model="metadata.corporaType" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_TYPE' | translate}}" bs-options="corporaType.id as corporaType.label for corporaType in allCorporaType" bs-select>{{'MARKET.FACET.CORPORA_TYPE' | translate}} <span class="caret"></span></button>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="corporaLanguageType" class="control-label">{{'MARKET.FACET.CORPORA_LANGUAGE_TYPE' | translate}}</label>
                            <button type="button" class="form-control btn btn-default" ng-model="metadata.corporaLanguageType" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_LANGUAGE_TYPE' | translate}}" bs-options="corporaLanguageType.id as corporaLanguageType.label for corporaLanguageType in allLanguageType | filter:{compatibilities:'CorporaLanguageType'}" bs-select>{{'MARKET.FACET.CORPORA_LANGUAGE_TYPE' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="corporaLanguages" class="control-label">{{'MARKET.FACET.CORPORA_LANG' | translate}}</label>
                        <tags-input name="corporaLanguages" class="language-tags" ng-model="metadata.corporaLanguagesEntity" ng-disabled="WorkspaceMetadataService.canEdit" data-display-property="label" data-placeholder="{{'MARKET.FACET.CORPORA_LANG' | translate}}" data-on-tag-added="addLanguage('corporaLanguages', $tag)" data-on-tag-removed="removeLanguage('corporaLanguages', $tag)" data-add-from-autocomplete-only="true" data-template="workspace/templates/tags-input-template.html" data-template-scope='tagsInputTemplateCorporaLanguageScope'>
                            <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false" highlight-matched-text="true"></auto-complete>
                        </tags-input>
                        <p class="help-block">
                            Vous ne trouvez pas une langue ?
                            <a href="" class="btn btn-link" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="showAddLanguageModal('corporaLanguages')">Ajouter une nouvelle langue</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="corporaStudyLanguages" class="control-label">{{'MARKET.FACET.CORPORA_STUDY_LANG' | translate}}</label>
                        <tags-input name="corporaStudyLanguages" class="language-tags" ng-model="corporaStudyLanguages" ng-disabled="WorkspaceMetadataService.canEdit" data-display-property="label" data-placeholder="{{'MARKET.FACET.CORPORA_STUDY_LANG' | translate}}" data-on-tag-added="addLanguage('corporaStudyLanguages', $tag)" data-on-tag-removed="removeLanguage('corporaStudyLanguages', $tag)" add-from-autocomplete-only="true">
                            <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
                        </tags-input>
                        <p class="help-block">
                            Vous ne trouvez pas une langue ?
                            <a href="" class="btn btn-link" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="showAddLanguageModal()">Ajouter une nouvelle langue</a>
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="corporaStyles" class="control-label">{{'MARKET.FACET.CORPORA_STYLES' | translate}}</label>
                            <button type="button" class="form-control btn btn-default" ng-model="metadata.corporaStyles" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_STYLES' | translate}}" data-max-length="1" bs-options="corporaStyle.id as corporaStyle.label for corporaStyle in allCorporaStyles" bs-select>{{'MARKET.FACET.CORPORA_STYLES' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="corporaStyles" class="control-label">{{'MARKET.FACET.ANNOTATION_LEVEL' | translate}}</label>
                            <button type="button" class="form-control btn btn-default" ng-model="metadata.annotationLevels" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_ANNOTATION_LEVELS' | translate}}" data-max-length="1" bs-options="annotationLevel.id as annotationLevel.label for annotationLevel in allAnnotationLevels" bs-select>{{'MARKET.FACET.ANNOTATION_LEVEL' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="corporaStyles" class="control-label">{{'MARKET.FACET.TEXT_FORMAT' | translate}}</label>
                            <button type="button" class="form-control btn btn-default" ng-model="metadata.corporaFormats" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_FORMATS' | translate}}" bs-options="corporaFormat.id as corporaFormat.label for corporaFormat in allFileFormats | filter:{compatibilities:'CorporaFormat'}" bs-select>{{'MARKET.FACET.TEXT_FORMAT' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="corporaStyles" class="control-label">{{'MARKET.FACET.TOOL_FILE_ENCODINGS' | translate}}</label>
                            <button type="button" class="form-control btn btn-default" ng-model="metadata.corporaFileEncodings" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_TYPE' | translate}}" bs-options="corporaFileEncoding.id as corporaFileEncoding.label for corporaFileEncoding in allFileEncodings | filter:{compatibilities:'CorporaFileEncoding'}" bs-select>{{'MARKET.FACET.TOOL_FILE_ENCODINGS' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="corporaStyles" class="control-label">{{'MARKET.FACET.CORPORA_DATATYPES' | translate}}</label>
                            <button type="button" class="form-control btn btn-default" ng-model="metadata.corporaDataTypes" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_CORPORA_FORMATS' | translate}}" bs-options="corporaDataType.id as corporaDataType.label for corporaDataType in allDataTypes | filter:{compatibilities:'CorporaDataType'}" bs-select>{{'MARKET.FACET.CORPORA_DATATYPES' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="form-group">
                    <label for="wordcount" class="control-label">{{'WORKSPACE.METADATA_EDITOR.WORD_COUNT' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Nomre de mots dans l'ensemble des fichiers de la ressource." data-placement="right" bs-tooltip></i></label>
                    
                    <div class="row">
                        <div class=" col-md-3">
                            <input type="text" class="form-control text-right" name="wordcount" placeholder="Nomre de mots" aria-label="wordcount" ng-model="metadata.wordCount" ng-disabled="WorkspaceMetadataService.canEdit">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div ng-switch-when="Lexique">
            <section name="lexicon-input">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="lexiconInputType" class="control-label">{{'MARKET.FACET.LEXICON_INPUT_TYPE' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="lexiconInputType" type="button" class="form-control btn btn-default" ng-model="metadata.lexiconInputType" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_INPUT_TYPE' | translate}}" bs-options="lexiconInputType.id as lexiconInputType.label for lexiconInputType in allLexiconAnnotations | filter:{compatibilities:'LexiconInputType'}" bs-select>{{'MARKET.FACET.LEXICON_INPUT_TYPE' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="lexiconLanguageType" class="control-label">{{'MARKET.FACET.LEXICON_LANGUAGE_TYPE' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="lexiconLanguageType" type="button" class="form-control btn btn-default" ng-model="metadata.lexiconLanguageType" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_LANGUAGE_TYPE' | translate}}" bs-options="lexiconLanguageType.id as lexiconLanguageType.label for lexiconLanguageType in allLanguageType | filter:{compatibilities:'LexiconLanguageType'}" bs-select>{{'MARKET.FACET.LEXICON_LANGUAGE_TYPE' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12">
                        <div class="form-group">
                            <label for="lexiconInputLanguages" class="control-label">{{'MARKET.FACET.LEXICON_INPUT_LANGUAGE' | translate}}</label>
                            <tags-input name="lexiconInputLanguages" class="language-tags" ng-model="lexiconInputLanguages" ng-disabled="WorkspaceMetadataService.canEdit" data-display-property="label" data-placeholder="{{'MARKET.FACET.LEXICON_INPUT_LANGUAGE' | translate}}" data-on-tag-added="addLanguage('lexiconInputLanguages', $tag)" data-on-tag-removed="removeLanguage('lexiconInputLanguages', $tag)">
                                <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lexiconInputCount" class="control-label">{{'WORKSPACE.METADATA_EDITOR.LEXICON_INPUT_COUNT' | translate}}</label>
                    
                    <div class="row">
                        <div class=" col-md-3">
                            <input type="text" class="form-control text-right" name="lexiconInputCount" placeholder="Nomre d'entrée dans le lexique." aria-label="lexiconInputCount" ng-model="metadata.lexiconInputCount" ng-disabled="WorkspaceMetadataService.canEdit">
                        </div>
                    </div>
                </div>
            </section>
            <section name="lexicon-description">
                <div class="row">
                    <div class=" col-md-8">
                        <div class="form-group">
                            <label for="lexiconDescriptionType" class="control-label">{{'MARKET.FACET.LEXICON_DESCRIPTION_TYPE' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="lexiconDescriptionType" type="button" class="form-control btn btn-default" ng-model="metadata.lexiconDescriptionTypes" ng-disabled="WorkspaceMetadataService.canEdit" data-max-length="2" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_DESCRIPTION_TYPES' | translate}}" bs-options="lexiconDescriptionType.id as lexiconDescriptionType.label for lexiconDescriptionType in allLexiconAnnotations | filter:{compatibilities:'LexiconDescriptionType'}" bs-select>{{'MARKET.FACET.LEXICON_DESCRIPTION_TYPE' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12">
                        <div class="form-group">
                            <label for="lexiconDescriptionLanguages" class="control-label">{{'MARKET.FACET.LEXICON_DESCRIPTION_LANGUAGE' | translate}}</label>
                            <tags-input name="lexiconDescriptionLanguages" class="language-tags" ng-model="lexiconDescriptionLanguages" ng-disabled="WorkspaceMetadataService.canEdit" data-display-property="label" data-placeholder="{{'MARKET.FACET.LEXICON_DESCRIPTION_LANGUAGE' | translate}}" data-on-tag-added="addLanguage('lexiconDescriptionLanguages', $tag)" data-on-tag-removed="removeLanguage('lexiconDescriptionLanguages', $tag)">
                                <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
            </section>
            <section name="lexicon-format">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="lexiconFormat" class="control-label">{{'MARKET.FACET.LEXICON_FORMAT' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="lexiconFormat" type="button" class="form-control btn btn-default" ng-model="metadata.lexiconFormats" ng-disabled="WorkspaceMetadataService.canEdit" data-max-length="2" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_LEXICON_FORMATS' | translate}}" bs-options="lexiconFormat.id as lexiconFormat.label for lexiconFormat in allFileFormats | filter:{compatibilities:'LexiconFormat'}" bs-select>{{'MARKET.FACET.LEXICON_FORMAT' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div ng-switch-when="Outil">
            <section name="tool-environnement">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="operatingSystems" class="control-label">{{'WORKSPACE.METADATA_EDITOR.OPERATING_SYSTEMS' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="operatingSystems" type="button" class="form-control btn btn-default" ng-model="metadata.operatingSystems" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_OPERATING_SYSTEMS' | translate}}" bs-options="operatingSystem.id as operatingSystem.label for operatingSystem in allOperatingSystems" bs-select>{{'WORKSPACE.METADATA_EDITOR.OPERATING_SYSTEMS' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="programmingLanguage" class="control-label">{{'MARKET.PROGRAMMING_LANGUAGE' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="programmingLanguage" type="button" class="form-control btn btn-default" ng-model="metadata.programmingLanguages" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_PROGRAMMING_LANGUAGES' | translate}}" bs-options="programmingLanguage.id as programmingLanguage.label for programmingLanguage in allProgrammingLanguages" bs-select>{{'WORKSPACE.METADATA_EDITOR.PROGRAMMING_LANGUAGES' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section name="tool-details">
                <div class="row">
                    <div class=" col-md-12">
                        <div class="form-group">
                            <label for="toolFunctionalities" class="control-label">{{'MARKET.FACET.TOOL_FUNCTIONALITY' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="toolFunctionalities" type="button" class="form-control btn btn-default" ng-model="metadata.toolFunctionalities" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_FUNCTIONALITIES' | translate}}" bs-options="toolFunctionality.id as toolFunctionality.label for toolFunctionality in allToolFunctionalities" bs-select>{{'MARKET.FACET.TOOL_FUNCTIONALITY' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="toolInputData" class="control-label">{{'MARKET.FACET.TOOL_INPUTDATA' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="toolInputData" type="button" class="form-control btn btn-default" ng-model="metadata.toolInputData" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_INPUTDATA' | translate}}" bs-options="toolInputData.id as toolInputData.label for toolInputData in allFileFormats | filter:{compatibilities:'ToolInputData'}" bs-select>{{'MARKET.FACET.TOOL_INPUTDATA' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="toolOutputData" class="control-label">{{'MARKET.FACET.TOOL_OUTPUTDATA' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="toolOutputData" type="button" class="form-control btn btn-default" ng-model="metadata.toolOutputData" ng-disabled="WorkspaceMetadataService.canEdit" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_OUTPUTDATA' | translate}}" bs-options="toolOutputData.id as toolOutputData.label for toolOutputData in allFileFormats | filter:{compatibilities:'ToolOutputData'}" bs-select>{{'MARKET.FACET.TOOL_OUTPUTDATA' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="toolFileEncodings" class="control-label">{{'MARKET.FACET.TOOL_FILE_ENCODINGS' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="toolFileEncodings" type="button" class="form-control btn btn-default" ng-model="metadata.toolFileEncodings" ng-disabled="WorkspaceMetadataService.canEdit" data-max-length="2" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_FILE_ENCODINGS' | translate}}" bs-options="toolFileEncoding.id as toolFileEncoding.label for toolFileEncoding in allFileEncodings | filter:{compatibilities:'ToolFileEncoding'}" bs-select>{{'MARKET.FACET.TOOL_FILE_ENCODINGS' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section name="tool-language">
                <div class="row">
                    <div class=" col-md-12">
                        <div class="form-group">
                            <label for="toolLanguages" class="control-label">{{'MARKET.FACET.TOOL_LANGUAGE' | translate}}</label>
                            <tags-input name="toolLanguages" class="language-tags" ng-model="toolLanguages" ng-disabled="WorkspaceMetadataService.canEdit" data-display-property="label" data-placeholder="{{'MARKET.FACET.TOOL_LANGUAGE' | translate}}" data-on-tag-added="addLanguage('toolLanguages', $tag)" data-on-tag-removed="removeLanguage('toolLanguages', $tag)">
                                <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12">
                        <div class="form-group">
                            <label for="navigationLanguages" class="control-label">{{'WORKSPACE.METADATA_EDITOR.NAVIGATION_LANGUAGES' | translate}}</label>
                            <tags-input name="navigationLanguages" class="language-tags" ng-model="navigationLanguages" ng-disabled="WorkspaceMetadataService.canEdit" data-display-property="label" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.NAVIGATION_LANGUAGES' | translate}}" data-on-tag-added="addLanguage('navigationLanguages', $tag)" data-on-tag-removed="removeLanguage('navigationLanguages', $tag)">
                                <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
            </section>
            <section name="tool-support">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label for="toolSupport" class="control-label">{{'WORKSPACE.METADATA_EDITOR.TOOL_SUPPORT' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="Description à venir." data-placement="right" bs-tooltip></i></label>

                            <button name="toolSupport" type="button" class="form-control btn btn-default" ng-model="metadata.toolSupport" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_TOOL_SUPPORT' | translate}}" bs-options="toolSupport.id as toolSupport.label for toolSupport in allToolSupports" bs-select>{{'WORKSPACE.METADATA_EDITOR.TOOL_SUPPORT' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div ng-switch-when="Terminologie">

            <section name="termino">

                <fieldset>
                    <legend>
                        <h4 translate="ITEM.TERMINO_NATURE_CATEGORY.TITLE"></h4>
                    </legend>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="terminoType" class="control-label">{{'ITEM.TERMINO_TYPE.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_TYPE.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>

                            <button name="terminoType" type="button" class="form-control btn btn-default" ng-model="metadata.terminoType" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'ITEM.TERMINO_TYPE.LABEL' | translate}}" bs-options="terminoType.id as terminoType.label for terminoType in allDataTypes | filter:{compatibilities:'TerminoType'}" bs-select>{{'ITEM.TERMINO_TYPE.LABEL' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="terminoStructureType" class="control-label">{{'ITEM.TERMINO_STRUCTURE_TYPE.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_STRUCTURE_TYPE.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>

                        <button name="terminoStructureType" type="button" class="form-control btn btn-default" ng-model="metadata.terminoStructureType" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'ITEM.TERMINO_STRUCTURE_TYPE.LABEL' | translate}}" bs-options="terminoStructureType.id as terminoStructureType.label for terminoStructureType in allStructureTypes" bs-select>{{'ITEM.TERMINO_STRUCTURE_TYPE.LABEL' | translate}} <span class="caret"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="terminoDescriptionTypes" class="control-label">{{'ITEM.TERMINO_DESCRIPTION_FIELD.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_DESCRIPTION_FIELD.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>

                        <button name="terminoDescriptionTypes" type="button" class="form-control btn btn-default" ng-model="metadata.terminoDescriptionTypes" ng-disabled="WorkspaceMetadataService.canEdit" data-max-length="2" data-multiple="1" data-placeholder="{{'ITEM.TERMINO_DESCRIPTION_FIELD.LABEL' | translate}}" bs-options="terminoDescriptionTypes.id as terminoDescriptionTypes.label for terminoDescriptionTypes in allDescriptionFields" bs-select>{{'ITEM.TERMINO_DESCRIPTION_FIELD.LABEL' | translate}} <span class="caret"></span>
                        </button>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        <h4 translate="ITEM.TERMINO_LINGUISTIC_COVERAGE_CATEGORY.TITLE"></h4>
                    </legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="terminoLanguageType" class="control-label">{{'ITEM.TERMINO_LANGUAGE_TYPE.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_LANGUAGE_TYPE.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                                <button type="button" class="form-control btn btn-default" ng-model="metadata.terminoLanguageType" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'ITEM.TERMINO_LANGUAGE_TYPE.LABEL' | translate}}" bs-options="terminoLanguageType.id as terminoLanguageType.label for terminoLanguageType in allLanguageType | filter:{compatibilities:'TerminoLanguageType'}" bs-select>{{'ITEM.TERMINO_LANGUAGE_TYPE.LABEL' | translate}} <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="terminoInputLanguages" class="control-label">{{'ITEM.TERMINO_INPUT_LANGUAGE.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_INPUT_LANGUAGE.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                                <tags-input name="terminoInputLanguages" class="language-tags" ng-model="terminoInputLanguages" ng-disabled="WorkspaceMetadataService.canEdit" data-display-property="label" data-placeholder="{{'ITEM.TERMINO_INPUT_LANGUAGE.PLACEHOLDER' | translate}}" data-on-tag-added="addLanguage('terminoInputLanguages', $tag)" data-on-tag-removed="removeLanguage('terminoInputLanguages', $tag)">
                                    <auto-complete source="suggestLanguages($query)" min-length="0" load-on-focus="false"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        <h4 translate="ITEM.TERMINO_FORMATS_MODELS_CATEGORY.TITLE"></h4>
                    </legend>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="terminoFormat" class="control-label">{{'ITEM.TERMINO_FORMAT.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_FORMAT.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>

                            <button name="terminoFormat" type="button" class="form-control btn btn-default" ng-model="metadata.terminoFormat" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'ITEM.TERMINO_FORMAT.LABEL' | translate}}" bs-options="terminoFormat.id as terminoFormat.label for terminoFormat in allFileFormats | filter:{compatibilities:'TerminoFormat'}" bs-select>{{'ITEM.TERMINO_FORMAT.LABEL' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        <h4 translate="ITEM.TERMINO_OTHERS_CATEGORY.TITLE"></h4>
                    </legend>
                    <div class="form-group">
                        <label for="terminoUsage" class="control-label">{{'ITEM.TERMINO_USAGE.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_USAGE.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-default" name="terminoUsage-lang" ng-model="selectedTerminoUsageLanguage" bs-options="lang.key as lang.value for lang in languages" ng-change="changeTerminoUsageLanguage()" bs-select>{{'MULTILINGUAL_TEXTFIELD.LANGUAGE' | translate}} <span class="caret"></span></button>
                        </div>
                        <textarea class="form-control" id="terminoUsage" name="terminoUsage" rows="20" placeholder="{{'ITEM.TERMINO_USAGE.PLACEHOLDER' | translate}}" ng-model="terminoUsage.value" ng-change="updateTerminoUsage()" ng-disabled="WorkspaceMetadataService.canEdit"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="terminoOrigin" class="control-label">{{'ITEM.TERMINO_ORIGIN.LABEL' | translate}}</label>
                        <textarea class="form-control" name="terminoOrigin" rows="5" placeholder="{{'ITEM.TERMINO_ORIGIN.PLACEHOLDER' | translate}}" aria-label="terminoOrigin" ng-model="metadata.terminoOrigin" ng-disabled="WorkspaceMetadataService.canEdit"></textarea>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="terminoInputCount" class="control-label">{{'ITEM.TERMINO_INPUT_COUNT.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_INPUT_COUNT.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>

                            <button name="terminoInputCount" type="button" class="form-control btn btn-default" ng-model="metadata.terminoInputCount" ng-disabled="WorkspaceMetadataService.canEdit" data-placeholder="{{'ITEM.TERMINO_INPUT_COUNT.LABEL' | translate}}" bs-options="terminoInputCount.id as terminoInputCount.label for terminoInputCount in allRanges" bs-select>{{'ITEM.TERMINO_FORMAT.LABEL' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="terminoVersion" class="control-label">{{'ITEM.TERMINO_VERSION.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_VERSION.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                            <input type="text" class="form-control" ng-model="metadata.terminoVersion" ng-disabled="WorkspaceMetadataService.canEdit" aria-label="terminoOrigin"></input>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="terminoControled" class="control-label">{{'ITEM.TERMINO_CONTROLED.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_CONTROLED.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                                <div toggle-switch class="switch-primary" ng-model="metadata.terminoControled" on-label="Oui" off-label="Non"></div>
                            </button>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="terminoValidated" class="control-label">{{'ITEM.TERMINO_VALIDATED.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_VALIDATED.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                            <div toggle-switch class="switch-primary" ng-model="metadata.terminoValidated" on-label="Oui" off-label="Non"></div>
                            </button>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="terminoApproved" class="control-label">{{'ITEM.TERMINO_APPROVED.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_APPROVED.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                            <div toggle-switch class="switch-primary" ng-model="metadata.terminoApproved" on-label="Oui" off-label="Non"></div>
                            </button>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="terminoChecked" class="control-label">{{'ITEM.TERMINO_CHECKED.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_CHECKED.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>
                            <div toggle-switch class="switch-primary" ng-model="metadata.terminoChecked" on-label="Oui" off-label="Non"></div>
                            </button>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        <h4 translate="ITEM.TERMINO_DOMAIN_CATEGORY.TITLE"></h4>
                    </legend>
                    <div class="form-group">
                        <label for="terminoDomain" class="control-label">{{'ITEM.TERMINO_DOMAIN.LABEL' | translate}} <i class="glyphicon glyphicon-info-sign" data-title="{{'ITEM.TERMINO_DOMAIN.PLACEHOLDER' | translate}}" data-placement="right" bs-tooltip></i></label>

                        <div class="domain-selector">
                            <ul class="row list-discipline">
                                <li class="col-md-6" ng-repeat="discipline in allDisciplines | filter:{contentId:'st_discipline'}">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" id="{{discipline.id}}" ng-model="checkboxDomain[discipline.id]" ng-checked="checkboxDomain[discipline.id]" ng-click="checkTerminoDomain(discipline)">
                                        <label for="{{discipline.id}}">
                                            {{discipline.label}}
                                        </label>
                                    </div>
                                    <ul class="list-domain">
                                        <li ng-repeat="domain in allDomains | filter:{'compatibilities':discipline.contentId}">
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" id="{{domain.id}}" ng-model="checkboxDomain[domain.id]" ng-checked="checkboxDomain[domain.id]" ng-click="checkTerminoDomain(domain)">
                                                <label for="{{domain.id}}">
                                                    {{domain.label}}
                                                </label>
                                            </div>
                                            <ul class="list-subdomain">
                                                <li ng-repeat="subdomain in allSubDomains | filter:{'compatibilities':domain.contentId}">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox" id="{{subdomain.id}}" ng-model="checkboxDomain[subdomain.id]" ng-checked="checkboxDomain[subdomain.id]" ng-click="checkTerminoDomain(subdomain)">
                                                        <label for="{{subdomain.id}}">
                                                            {{subdomain.label}}
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <div class="col-md-6">
                                    <div class="row">
                                        <ul class="col-md-12 list-discipline">
                                            <li ng-repeat="discipline in allDisciplines | filter:{contentId:'sve_discipline'}">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="{{discipline.id}}" ng-model="checkboxDomain[discipline.id]" ng-checked="checkboxDomain[discipline.id]" ng-click="checkTerminoDomain(discipline)">
                                                    <label for="{{discipline.id}}">
                                                        {{discipline.label}}
                                                    </label>
                                                </div>
                                                <ul class="list-domain">
                                                    <li ng-repeat="domain in allDomains | filter:{'compatibilities':discipline.contentId}">
                                                        <div class="checkbox checkbox-primary">
                                                            <input type="checkbox" id="{{domain.id}}" ng-model="checkboxDomain[domain.id]" ng-checked="checkboxDomain[domain.id]" ng-click="checkTerminoDomain(domain)">
                                                            <label for="{{domain.id}}">
                                                                {{domain.label}}
                                                            </label>
                                                        </div>
                                                        <ul class="list-subdomain">
                                                            <li ng-repeat="subdomain in allSubDomains | filter:{'compatibilities':domain.contentId}">
                                                                <div class="checkbox checkbox-primary">
                                                                    <input type="checkbox" id="{{subdomain.id}}" ng-model="checkboxDomain[subdomain.id]" ng-checked="checkboxDomain[subdomain.id]" ng-click="checkTerminoDomain(subdomain)">
                                                                    <label for="{{subdomain.id}}">
                                                                        {{subdomain.label}}
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <ul class="col-md-12 list-discipline">
                                            <li ng-repeat="discipline in allDisciplines | filter:{contentId:'shs_discipline'}">
                                                <div class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="{{discipline.id}}" ng-model="checkboxDomain[discipline.id]" ng-checked="checkboxDomain[discipline.id]" ng-click="checkTerminoDomain(discipline)">
                                                    <label for="{{discipline.id}}">
                                                        {{discipline.label}}
                                                    </label>
                                                </div>
                                                <ul class="list-domain">
                                                    <li ng-repeat="domain in allDomains | filter:{'compatibilities':discipline.contentId}">
                                                        <div class="checkbox checkbox-primary">
                                                            <input type="checkbox" id="{{domain.id}}" ng-model="checkboxDomain[domain.id]" ng-checked="checkboxDomain[domain.id]" ng-click="checkTerminoDomain(domain)">
                                                            <label for="{{domain.id}}">
                                                                {{domain.label}}
                                                            </label>
                                                        </div>
                                                        <ul class="list-subdomain">
                                                            <li ng-repeat="subdomain in allSubDomains | filter:{'compatibilities':domain.contentId}">
                                                                <div class="checkbox checkbox-primary">
                                                                    <input type="checkbox" id="{{subdomain.id}}" ng-model="checkboxDomain[subdomain.id]" ng-checked="checkboxDomain[subdomain.id]" ng-click="checkTerminoDomain(subdomain)">
                                                                    <label for="{{subdomain.id}}">
                                                                        {{subdomain.label}}
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </section>
        </div>
    </div>
</div>