<div class="media">
    <div class="media-left message-author-icon">
        <span avatar data-email-hash="Helper.profileCards[message.author].emailHash" data-size="48"></span>
    </div>
    <div class="media-body">
        <div class="media-heading">
            <span class="message-author"><a ng-href="profiles/{{::message.author}}">{{::Helper.profileCards[message.author].fullName}}</a></span>
            <span class="message-date pull-right">{{::message.date | date:'medium'}}</span>
            <span class="message-edit pull-right" ng-if="message.edit">{{'WORKSPACE.THREADS.EDITED' | translate}}{{message.edit | date:'medium'}}</span>
            <span class="message-replyto" ng-if="message.parent && Helper.profileCards[models.messagesAuthors[message.parent]]">({{'WORKSPACE.THREADS.REPLY_TO' | translate}} <span class="highlight-message" ng-click="highlightMessage(message.parent)">{{::Helper.profileCards[models.messagesAuthors[message.parent]].fullName}})</span></span>
        </div>
        <div class="message-body card-well" ng-class="{highlighted: models.highligtedMessage === message.key, validated: models.activeThread.answer === message.key}">
            <h5 class="media-heading message-title">Re: {{::models.activeThread.title}}</h5>
            <div ng-hide="models.editedMessage.key === message.key">
                <div class="message-content">{{message.body}}</div>
                <div class="message-attachments" ng-if="message.attachments.length > 0" visualizer>
                    {{'WORKSPACE.THREADS.ATTACHMENTS' | translate:{number: message.attachments.length} }}
                    <span class="btn-group" ng-repeat="attachment in message.attachments track by attachment.hash">
                        <span class="btn btn-alternate btn-sm" ng-click="showAttachment(message, attachment, showObjectPreview)"><span ng-class="::attachment.type | mimeTypeIconCss"></span> {{::attachment.name}}</span>
                        <span class="btn btn-alternate btn-sm" ng-click="showAttachment(message, attachment, showObjectPreview, true)" data-title="{{'DOWNLOAD' | translate}}" bs-tooltip><span ng-class="::icons.download"></span></span>
                    </span>
                </div>
                <div class="message-actions" ng-if="!models.activeThread.answer">
                    <button ng-click="reply(message)" class="btn btn-default btn-sm"><span ng-class="::icons.threads.reply"></span> {{'WORKSPACE.THREADS.REPLY' | translate}}</button>
                    <button ng-if="::message.author === User.key" ng-click="validateAnswer(message)" class="btn btn-default btn-sm btn-hidden"><span ng-class="::icons.check"></span> {{'WORKSPACE.THREADS.VALIDATE_ANSWER' | translate}}</button>
                    <button ng-if="::message.author === User.key" ng-click="editMessage(message)" class="btn btn-default btn-sm btn-hidden"><span ng-class="::icons.edit"></span> {{'EDIT' | translate}}</button>
                    <button ng-if="::message.author === User.key" ng-click="deleteMessage(message)" class="btn btn-default btn-sm btn-hidden"><span ng-class="::icons.trash"></span> {{'DELETE' | translate}}</button>
                </div>
            </div>
            <div ng-if="models.editedMessage.key === message.key" ng-include="'workspace/templates/thread-message-edit.html'"></div>
        </div>
    </div>
</div>
