<div class="message-body question-body" ng-class="{highlighted: models.highligtedMessage === message.key}">
    <h3 class="message-title">{{::models.activeThread.title}}</h3>
    <div ng-if="models.messages.length >= 2" class="message-response-status">
        {{'WORKSPACE.THREADS.ANSWERED.PART1' | translate}}
        <span class="message-answered" translate="WORKSPACE.THREADS.ANSWERED.PART2" data-translate-values="{messages: models.messages.length}"></span>
        | <span>{{'WORKSPACE.THREADS.LAST_ACTIVITY' | translate}} <strong>{{models.activeThread.lastActivity | amTimeAgo}}</strong></span>
    </div>
    <div ng-if="models.messages.length < 2" class="message-response-status">{{'WORKSPACE.THREADS.NOTANSWERED.PART1' | translate}} <span class="message-notanswered" translate="WORKSPACE.THREADS.NOTANSWERED.PART2"></span></div>
    <div ng-hide="models.editedMessage.key === message.key">
        <div class="message-content" ng-bind="message.body"></div>
        <div class="message-attachments" ng-if="message.attachments.length > 0" visualizer>
            {{'WORKSPACE.THREADS.ATTACHMENTS' | translate:{number: message.attachments.length} }}
            <span class="btn-group" ng-repeat="attachment in message.attachments track by attachment.hash">
                <span class="btn btn-alternate btn-sm" ng-click="showAttachment(message, attachment, showObjectPreview)"><span ng-class="::attachment.type | mimeTypeIconCss"></span> {{::attachment.name}}</span>
                <span class="btn btn-alternate btn-sm" ng-click="showAttachment(message, attachment, showObjectPreview, true)" data-title="{{'DOWNLOAD' | translate}}" bs-tooltip><span ng-class="::icons.download"></span></span>
            </span>
        </div>
        <div class="question-info">
            <span avatar data-email-hash="Helper.profileCards[message.author].emailHash" data-size="48"></span>
            <span class="message-author"><a ng-href="profiles/{{::message.author}}">{{::Helper.profileCards[message.author].fullName}}</a> </span>
            <span class="message-date">{{::message.date | date:'medium'}}</span>
            <span ng-if="!models.activeThread.answer">
                <span ng-if="models.messages.length >= 2" class="reply-message-wrapper">
                    <button ng-click="reply(message)" class="btn btn-default btn-sm"><span ng-class="::icons.threads.reply"></span> {{'WORKSPACE.THREADS.REPLY' | translate}}</button>
                </span>
                <span ng-if="models.messages.length === 1 && models.activeThread.author === User.key">
                    <button ng-click="editMessage(message)" class="btn btn-primary btn-sm"><span ng-class="::icons.edit"></span> {{'EDIT' | translate}}</button>
                    <button ng-click="deleteThread()" class="btn btn-danger btn-sm"><span ng-class="::icons.trash"></span> {{'DELETE' | translate}}</button>
                </span>
            </span>
        </div>
    </div>
    <div ng-if="models.editedMessage.key === message.key" ng-include="'workspace/templates/thread-message-edit.html'"></div>
</div>
<h3 class="responses-title" translate="WORKSPACE.THREADS.RESPONSES"></h3>
<div ng-if="models.messages.length < 2 && !models.replyTo">
    <p translate="WORKSPACE.THREADS.NO_RESPONSES_YET"></p>
    <button ng-click="reply(message)" class="btn btn-default btn-sm"><span ng-class="::icons.threads.reply"></span> {{'WORKSPACE.THREADS.REPLY' | translate}}</button>
</div>
