<div class="whos-involved" ng-controller="WhosInvolvedCtrl">
    <div class="form-group">
        <label for="search-producer" class="control-label">Laboratoire(s) producteur(s)</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input ng-model="searchProducer" data-prefix-event="taorg" type="text" class="form-control" id="search-producer" name="searchProducer" placeholder="Rechercher dans le référentiel des laboratoires répertoriés sur ORTOLANG" bs-options="organization as organization.label for organization in allOrganizations" data-html="true" bs-typeahead>
        </div>
        <p class="help-block">
            Vous ne trouvez pas votre laboratoire ?
            <a href="" ng-click="createProducer()">Ajouter un nouveau laboratoire</a>
        </p>
    </div>
    <table class="table table-bordered table-responsive card-well metadata-editor-table">
        <tbody>
        <tr ng-repeat="producer in producers">
            <td>
                <div class="media">
                    <div class="media-left">
                        <img width="60px" class="img-rounded" ng-src="{{producer.img}}">
                    </div>
                    <div class="media-body">
                        <span  ng-bind="producer.fullname"></span>
                    </div>
                    <div class="media-right actions">
                        <button class="no-border" ng-click="deleteProducer(producer)" data-title="{{::'DELETE' | translate}}" bs-tooltip>
                            <span ng-class="::icons.remove"></span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <div class="form-group">
        <label class="control-label">Personne(s) contributrice(s)</label>
            <ul class="row list-unstyled">
                <li ng-repeat="contributor in contributors"
                    ng-class="{'contributor-link': contributor.entity.id, 'clear-md': $index % 2 === 0, 'clear-lg': $index % 3 === 0}"
                    class="profile-card contributor-card col-md-6 col-lg-4">
                    <div class="media">
                        <div class="media-left" avatar data-email-hash="contributor.entity.emailhash" data-size="60" data-img-classes="img-rounded"></div>
                        <div class="media-body">
                            <span class="name">{{contributor.entity.fullname}}</span> <span class="organization" ng-if="contributor.organization.acronym">({{contributor.organization.acronym}})</span>
                            <div class="small roles">
                                <span ng-repeat="role in contributor.roles">{{role.label}}<span ng-if="!$last">, </span></span>
                            </div>
                        </div>
                        <div class="media-right">
                            <button type="button" class="close delete-contributor" ng-click="deleteContributor(contributor)">&times;</button>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6 add-member-btn-wrapper" ng-click="addPerson()">
                    <div class="media-left"><button type="button" class="btn btn-default btn-rounded"><span ng-class="::icons.plus"></span></button></div>
                    <div class="media-body" translate="WORKSPACE.METADATA_EDITOR.ADD_PERSON"></div>
                </li>
            </ul>
    </div>
</div>
