<div class="whos-involved" ng-controller="WhosInvolvedCtrl">
    <div class="form-group">
        <label for="search-producer" class="control-label">Laboratoire(s) producteur(s)</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input ng-model="searchProducer" ng-disabled="WorkspaceMetadataService.canEdit" data-prefix-event="taorg" type="text" class="form-control" id="search-producer" name="searchProducer" placeholder="Rechercher dans le référentiel des laboratoires répertoriés sur ORTOLANG" bs-options="organization as organization.label for organization in suggestOrganization($viewValue)" data-html="true" data-container="body" data-min-length="2" bs-typeahead>
        </div>
        <p class="help-block">
            Vous ne trouvez pas votre laboratoire ?
            <a href="" class="btn btn-link" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="showAddOrganizationModal()">Ajouter un nouveau laboratoire</a>
        </p>
    </div>
    <table class="table table-bordered table-responsive card-well metadata-editor-table">
        <tbody>
        <tr ng-repeat="producer in producers">
            <td>
                <div class="media">
                    <div class="media-left">
                        <img width="60px" class="img-rounded" ng-src="{{producer.img}}">
                    </div>
                    <div class="media-body">
                        <span  ng-bind="producer.fullname"></span>
                    </div>
                    <div class="media-right actions">
                        <button class="no-border" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="deleteProducer(producer)" data-title="{{::'DELETE' | translate}}" bs-tooltip>
                            <span ng-class="::icons.remove"></span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <div class="form-group">
        <label for="search-sponsor" class="control-label">{{'ITEM.SPONSORS.LABEL' | translate}}</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input ng-model="searchSponsor" ng-disabled="WorkspaceMetadataService.canEdit" data-prefix-event="tasponsor" type="text" class="form-control" id="search-sponsors" name="searchSponsor" placeholder="{{'ITEM.SPONSORS.PLACEHOLDER' | translate}}" bs-options="sponsor as sponsor.label for sponsor in suggestOrganization($viewValue, true)" data-html="true" data-container="body" data-min-length="2" bs-typeahead>
        </div>
        <p class="help-block">
            {{'WORKSPACE.METADATA_EDITOR.NO_ORGANIZATION_FOUND' | translate}}
            <a href="" class="btn btn-link" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="showAddOrganizationModal('sponsor')">{{'WORKSPACE.METADATA_EDITOR.ADD_NEW_ORGANIZATION' | translate}}</a>
        </p>
    </div>
    <table class="table table-bordered table-responsive card-well metadata-editor-table">
        <tbody>
        <tr ng-repeat="sponsor in sponsors">
            <td>
                <div class="media">
                    <div class="media-left">
                        <img width="60px" class="img-rounded" ng-src="{{sponsor.img}}">
                    </div>
                    <div class="media-body">
                        <span  ng-bind="sponsor.fullname"></span>
                    </div>
                    <div class="media-right actions">
                        <button class="no-border" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="deleteSponsor(sponsor)" data-title="{{::'DELETE' | translate}}" bs-tooltip>
                            <span ng-class="::icons.remove"></span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <div class="form-group">
        <label class="control-label">Personne(s) contributrice(s)</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input ng-model="searchConributor" ng-disabled="WorkspaceMetadataService.canEdit" data-prefix-event="tacontributor" type="text" class="form-control" id="search-contributor" name="searchContributor" placeholder="{{'WORKSPACE.METADATA_EDITOR.ADD_CONTRIBUTOR_MODAL.SEARCH' | translate}}" bs-options="person as person.fullname for person in suggestPerson($viewValue, true)" data-html="true" data-container="body" data-min-length="2" bs-typeahead>
            <div class="input-group-btn">
                <div class="btn-group">
                    <button id="add-contributor-role" type="button" class="btn btn-default" name="selectedRole" ng-disabled="WorkspaceMetadataService.canEdit" ng-model="selectedRoles" data-multiple="1" data-placeholder="{{'WORKSPACE.METADATA_EDITOR.SELECT_ROLE' | translate}}" data-max-length="7" bs-options="role as role.label for role in allRoles track by role.id" bs-select>{{'WORKSPACE.METADATA_EDITOR.ADD_CONTRIBUTOR_MODAL.ROLE' | translate}} <span class="caret"></span></button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-disabled="WorkspaceMetadataService.canEdit" data-translate="WORKSPACE.METADATA_EDITOR.ADD_CONTRIBUTOR_MODAL.SUBMIT" ng-click="addContributor()"></button>
                </div>
            </div>
        </div>
        <p class="help-block">
            {{'WORKSPACE.METADATA_EDITOR.NO_PERSON_FOUND' | translate}}
            <a href="" class="btn btn-link" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="showAddPersonModal()">{{'WORKSPACE.METADATA_EDITOR.ADD_NEW_PERSON' | translate}}</a>
        </p>
    </div>
    <ul class="row list-unstyled auto-clear">
        <li ng-repeat="contributor in metadata.contributors"
            ng-class="{'contributor-link': contributor.entityContent.id}"
            class="profile-card contributor-card col-md-6 col-lg-4 add-member-btn-wrapper"
            ng-disabled="WorkspaceMetadataService.canEdit"
            ng-click="showAddPersonModal(contributor)">
            <div class="media">
                <div class="media-left" avatar data-email-hash="contributor.entityContent.emailhash" data-size="60" data-img-classes="img-rounded"></div>
                <div class="media-body">
                    <span class="name">{{contributor.entityContent.fullname}}</span> <span class="organization" ng-if="contributor.organizationEntity && contributor.organizationEntity.acronym">({{contributor.organizationEntity.acronym}})</span> <i ng-if="!contributor.entityContent.id" ng-class="::icons.question" data-title="Demande en cours : Ajout de la personne dans le référentiel." data-placement="right" bs-tooltip></i>
                    <div class="small roles">
                        <span ng-repeat="role in contributor.rolesEntity">{{role.label}}<span ng-if="!$last">, </span></span>
                    </div>
                </div>
                <div class="media-right">
                    <button type="button" class="close delete-contributor" ng-disabled="WorkspaceMetadataService.canEdit" ng-click="deleteContributor(contributor)" data-title="{{::'DELETE' | translate}}" bs-tooltip>&times;</button>
                </div>
            </div>
        </li>
    </ul>
</div>
