<div class="col-sm-4 col-md-3 col-lg-3">
    <div class="avatar" ng-click="fileImageSelectModal.show()">
        <img ng-if="image===undefined && imgtitle !== undefined" class="image" ng-src="" holder-js="holder.js/180x180?theme={{imgtheme}}&text={{imgtitle}}"  alt="{{imgTitle}}"/>
        <img ng-if="image" ng-src="{{image}}" class="image" alt="{{'MARKET.THUMBNAIL' | translate}}"/>
    </div>
    <div class="list-group" role="tablist">
        <a  class="list-group-item"
            ng-repeat="$pane in $panes track by $index"
            ng-class="$index == $panes.$active ? $activeClass : ''"
            role="tab"
            data-toggle="tab"
            ng-click="$setActive($index)"
            data-index="{{$index}}"
            ng-bind-html="$pane.title"></a>
    </div>
    <div>
        <button type="button" ng-click="submitForm()" name="submitForm" class="btn btn-primary btn-block">Appliquer</button>
    </div>
</div>
<div class="col-sm-8 col-md-9 col-lg-8 tab-content" ng-transclude>
</div>
