<div class="modal part-info-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body market-item">
                <h2 class="market-item-title">{{models.title}} <span ng-if="models.path" id="path">({{models.path}})</span></h2>
                <hr/>

                <div class="market-item-presentation-metadata">
                    <section>
                        <h4>{{'DESCRIPTION' | translate}}</h4>
                        <article data-content="description" data-target-blank>
                            <div ng-bind-html="models.description"></div>
                            <br/>
                        </article>

                        <h4 ng-if="models.contributors.length > 0">{{'MARKET.CONTRIBUTOR' | translate}}</h4>
                        <article ng-if="models.contributors.length > 0">
                            <div class="row auto-clear">
                                <div ng-repeat="contributor in models.contributors" ng-click="seeContributorPage(contributor)"
                                     class="media profile-card contributor-card col-md-6 col-lg-4"
                                     ng-class="{'contributor-link': contributor.entity.id}">
                                    <avatar class="media-left" email-hash="contributor.entity.username['meta_profile'].emailHash || contributor.entity.emailhash" size="60" img-classes="img-circle"></avatar>
                                    <div class="media-body">
                                        <span class="name">{{contributor.entity.fullname}} <span ng-if="contributor.organization.acronym">({{contributor.organization.acronym}})</span></span>
                                        <div class="small roles">
                                            <span ng-repeat="role in contributor.roles">{{role}}<span ng-if="!$last">, </span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn btn-success" ng-if="models.path" data-ng-disabled="disabledExportButton" ng-click="exportPart()" translate="DOWNLOAD" data-title="{{'MARKET.DOWNLOAD_PART' | translate:datasizeToPrint}}" data-placement="bottom" bs-tooltip></button>
                    <button class="btn btn-default" ng-if="models.path" data-ng-disabled="disabledBrowseButton" ng-click="browseContentPart()" translate="MARKET.BROWSE"></button>
                </div>
                <button type="button" class="btn btn-default" ng-click="$hide()" translate="CLOSE"></button>
            </div>
        </div>
    </div>
</div>
