<div class="medium-item">
    <a ng-href="{{::itemUrl}}">
        <img ng-if="::imgtitle !== undefined" class="item-logo" holder-js="holder.js/160x160?theme={{::imgtheme}}&text={{::imgtitle}}&size=56" alt="{{::imgtitle}}"/>
        <div ng-if="::image" class="thumb-wrapper">
            <div>
                <div>
                    <div class="thumb" style="background-image: url({{::image}})"></div>
                </div>
            </div>
        </div>
        <h3 class="title" ng-bind="::title"></h3>
        <div ng-if="::publicationDate" class="publication-date"><span translate="MARKET.PUBLISHED_ON"></span> <span class="text-muted" >{{::publicationDate | date:'mediumDate'}}</span><span ng-if="::esrAccessibility" class="pull-right" ng-class="::icons.acl.esr" title="{{'MARKET.ESR_ACCESSIBLE' | translate}}"></span></div>
    </a>
</div>
