<section class="market-item" ng-controller="OrtolangItemJson16Ctrl" ng-class="{browse: browse}">
    <header>
        <div class="media">
            <div class="media-left">
                <div class="item-logo">
                    <img ng-if="imgtitle !== undefined" class="image loaded-image" ng-src="" holder-js="holder.js/180x180?theme={{imgtheme}}&text={{imgtitle}}&size=63"  alt="{{'MARKET.THUMBNAIL' | translate}}"/>
                    <img ng-show="image" ng-src="{{image}}" class="image loaded-image" alt="{{'MARKET.THUMBNAIL' | translate}}"/>
                </div>
            </div>
            <div class="media-body">
                <h1 class="market-item-title" ng-bind="title"></h1>

                <div ng-hide="browse">
                    <div ng-if="producers.length > 0" class="market-item-producers">
                        <i translate="MARKET.PRODUCER" data-translate-values="{producerNumber: producers.length}"></i>
                        <ul class="list-unstyled">
                            <li ng-repeat="producer in producers">
                                <a ng-href='/producers/{{::producer.id}}'>{{::producer | organizationName}}</a>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="sponsors.length > 0" class="market-item-producers">
                        <i translate="MARKET.SPONSORS"></i>
                        <ul class="list-unstyled">
                            <li class="sponsor" ng-repeat="sponsor in sponsors">
                                {{::sponsor | organizationName}} <a target="_BLANK" ng-if="sponsor.homepage" ng-href="{{sponsor.homepage}}"><span class="fa fa-fw fa-external-link"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="tags.length > 1"><span translate="MARKET.ALL_VERSIONS"></span> :
                        <ul class="list-inline all-versions">
                            <li ng-repeat="t in ::tags">
                                <div class="label tag" ng-class="::{'label-primary': tag.name === t.name}">
                                    <span ng-class="::icons.tag"></span>
                                    <a ng-if="::tag.name !== t.name" ng-href="/market/{{::itemMarketType}}/{{::alias}}/{{::t.name}}" translate="BROWSER.VERSION" data-translate-values="{tag: t.name}"></a>
                                    <span ng-if="::tag.name === t.name" translate="BROWSER.VERSION" data-translate-values="{tag: t.name}"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-default" ng-show="browse" ng-click="browseContent()" translate="MARKET.GO_BACK_INFO"></button>
            </div>
        </div>
    </header>

    <div ng-if="browse" class="container-main container-market-content">
        <div class="container-main-inner">
            <div class="market-item-content">
                <browser workspace="workspace" root="root"></browser>
            </div>
        </div>
    </div>

    <div ng-if="!browse" class="row market-item-metadata-wrapper">

        <div class="col-md-8 market-item-presentation-metadata">

            <div class="alert alert-info citatation-alert" ng-click="howToCite(this, $event)">
                <span class="fa fa-2x fa-quote-left pull-left"></span>
                <div class="pull-right">
                    <span class="label label-primary" translate="TEXT"></span>
                    <span class="label label-primary bibtex">BibTeX</span>
                </div>
                <span class="citatation-alert-title" translate="MARKET.BIBLIOGRAPHIC_CITATION"></span>
                <div data-target-blank ng-bind-html="getCitation()"></div>
            </div>

            <section id="description">
                <h4>{{'DESCRIPTION' | translate}}</h4>
                <article data-content="description" data-target-blank>
                    <div ng-bind-html="description"></div>
                    <br/>
                    <div ng-if="keywords && keywords.length>0">
                        <dl class="keywords">
                            <dt data-translate="MARKET.KEYWORDS"></dt>
                            <dd>
                                <span ng-repeat="keyword in keywords track by $index">{{keyword}}</span>
                            </dd>
                        </dl>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div ng-if="documentations && documentations.length>1" class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{'MARKET.SEE_DOCUMENTATIONS' | translate}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                    <li ng-repeat="relation in documentations">
                                        <a target="_BLANK" ng-href="{{relation.url}}">{{relation.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="documentations && documentations.length===1">
                                <a target="_BLANK" class="btn btn-default" ng-href="{{documentations[0].url}}">
                                    <span class="fa fa-fw fa-info-circle"></span> {{'MARKET.SEE_DOCUMENTATIONS' | translate}}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right" ng-if="content.website">
                                <a target="_BLANK" class="btn btn-primary" ng-href="{{content.website}}">
                                    <span class="fa fa-fw fa-external-link"></span> {{'MARKET.SEE_WEBSITE' | translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section id="parts" ng-if="content.parts">
                <div data-parts data-model="content.parts" data-click-action="showPartInfo" data-show-title="true" data-wsalias="alias" data-snapshot-name="root"></div>
            </section>

            <section class="contributors" ng-if="contributors">
                <h4>{{'MARKET.CONTRIBUTOR' | translate}}</h4>
                <article>
                    <div class="row auto-clear">
                        <div ng-repeat="contributor in contributors" ng-click="seeContributorPage(contributor)"
                             class="media profile-card contributor-card col-md-6 col-lg-4"
                             ng-class="{'contributor-link': contributor.entity.id}">
                            <avatar class="media-left" email-hash="contributor.entity.username.emailHash" size="60" img-classes="img-circle"></avatar>
                            <div class="media-body">
                                <span class="name">{{contributor.entity.fullname}} <span ng-if="contributor.organization.acronym">({{contributor.organization.acronym}})</span></span>
                                <div class="small roles">
                                    <span ng-repeat="role in contributor.roles">{{role}}<span ng-if="!$last">, </span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section class="additional-informations" ng-if="additionalInformations.length > 0">
                <h4>{{'MARKET.ADDITIONAL_INFORMATION' | translate}}</h4>
                <article>
                    <dl class="dl-horizontal">
                        <dt translate="MARKET.PUBLICATION_DATE"></dt>
                        <dd>{{::content.publicationDate | date:"longDate"}}</dd>
                        <dt translate="MARKET.PID"></dt>
                        <dd>
                            <p>
                                <a ng-href="{{::handle}}">{{::handle}}</a>
                                &nbsp;<span ng-class="::icons.info" data-title="{{'BROWSER.PIDS.STATIC_ITEM_HELP' | translate}}" data-placement="right" bs-tooltip></span>
                            </p>
                            <p>
                                <a ng-href="{{::dynamicHandle}}">{{::dynamicHandle}}</a>
                                &nbsp;<span ng-class="::icons.info" data-title="{{'BROWSER.PIDS.DYNAMIC_ITEM_HELP' | translate}}" data-placement="right" bs-tooltip></span>
                            </p>
                        </dd>
                        <dt ng-repeat-start="additionalInformation in additionalInformations track by additionalInformation.name" translate="{{additionalInformation.name}}"></dt>
                        <dd ng-repeat-end>
                            <span ng-if="isArray(additionalInformation.value)"><span ng-repeat="valueItem in additionalInformation.value">{{valueItem.label}}</span></span>
                            <span ng-if="isString(additionalInformation.value)">{{additionalInformation.value}}</span>
                            <span ng-if="isBoolean(additionalInformation.value)">{{additionalInformation.value ? ('YES' | translate) : ('NO' | translate)}}</span>
                        </dd>
                    </dl>
                </article>
            </section>

            <section id="terminoUsage" ng-if="terminoUsage">
                <h4>{{'ITEM.TERMINO_USAGE.LABEL' | translate}}</h4>
                <article data-content="terminoUsage" data-target-blank>
                    <div ng-bind-html="terminoUsage"></div>
                </article>
            </section>

            <section id="terminoOrigin" ng-if="content.terminoOrigin">
                <h4>{{'ITEM.TERMINO_ORIGIN.LABEL' | translate}}</h4>
                <article data-content="content.terminoOrigin" data-target-blank>
                    <div ng-bind-html="content.terminoOrigin"></div>
                </article>
            </section>

            <section id="publications" ng-if="content.publications.length>0">
                <h4>{{'MARKET.PUBLICATIONS' | translate}}</h4>
                <div class="section-body-wrapper">
                    <dl>
                        <dt translate="MARKET.PRIMARY_PUBLICATIONS"></dt>
                        <dd ng-repeat="pub in content.publications" ng-bind-html="pub"></dd>
                    </dl>
                </div>
            </section>
        </div>

        <aside class="col-md-4">

            <div class="card-well card-well-market card-well-license" ng-if="commercialLinks">
                <p class="lead" translate="MARKET.COMMERCIAL_LINKS"></p>
                <div>
                    <div class="media commercialLink" ng-repeat="commercialLink in commercialLinks">
                        <div class="media-left">
                            <img ng-src="{{commercialLink.img}}">
                        </div>
                        <div class="media-body">
                            <p>{{commercialLink.description}}<a target="_BLANK" ng-href="{{commercialLink.url}}"><span class="fa fa-fw fa-external-link"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-well card-well-market card-well-license" ng-if="content.type !== 'Application'">
                <p class="lead" translate="MARKET.DOWNLOAD"></p>
                <div>
                    <dl ng-if="license">
                        <dt>
                            {{license.label}} <a target="_BLANK" ng-if="(!license.description || conditionsOfUse) && license.effectiveText && license.effectiveText.url" ng-href="{{license.effectiveText.url}}"><span class="fa fa-fw fa-external-link"></span></a>
                        </dt>
                        <dd ng-if="textFileKey">
                            <a ng-click="showPreview(textFileKey)" class="clickable">{{'MARKET.LICENCE_DETAIL' | translate}}</a>
                        </dd>
                        <dd ng-show="!conditionsOfUse && license.description">
                            <span ng-if="license.effectiveDescription">{{license.effectiveDescription}}</span><a target="_BLANK" ng-if="license.effectiveText && license.effectiveText.url" ng-href="{{license.effectiveText.url}}"><span class="fa fa-fw fa-external-link"></span></a>
                        </dd>
                        <dd ng-show="conditionsOfUse">
                            <span ng-bind-html="conditionsOfUse"></span>
                        </dd>
                    </dl>
                    <p ng-if="!license && conditionsOfUse" ng-bind-html="conditionsOfUse"></p>
                    <div class="btn-group btn-group-justified" role="group" ng-show="datasizeToPrint">
                        <div class="btn-group" role="group">
                            <button class="btn btn-success" data-ng-disabled="root === 'head'" ng-click="exportItem()" translate="DOWNLOAD"></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" data-ng-disabled="root === 'head'" ng-click="browseContent()" translate="MARKET.BROWSE"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-if="content.type === 'Application'">
                <div class="panel-heading"><span class="fa fa-link fa-fw"></span> {{'MARKET.LINK' | translate}}</div>
                <div class="panel-body">
                    <div class="btn-group btn-group-justified">
                        <a ng-href="{{content.applicationUrl}}" target="_BLANK" class="btn btn-block btn-success" translate="MARKET.SITE"></a>
                    </div>
                </div>
            </div>

            <div class="card-well card-well-market card-well-share" ng-show="root !== 'head'">
                <p class="lead">
                    {{'SHARE' | translate}}
                    <a ng-href="{{content.social.facebook}}" target="_blank" data-title="Facebook" bs-tooltip><span ng-class="::icons.facebook" class="fa-lg"></span></a>
                    <a ng-href="{{content.social.twitter}}" target="_blank" data-title="Twitter" bs-tooltip><span ng-class="::icons.twitter" class="fa-lg"></span></a>
                    <a ng-href="{{content.social.linkedin}}" target="_blank" data-title="LinkedIn" bs-tooltip><span ng-class="::icons.linkedin" class="fa-lg"></span></a>
                    <a ng-href="{{content.social.viadeo}}" target="_blank" data-title="Viadeo" bs-tooltip><span ng-class="::icons.viadeo" class="fa-lg"></span></a>
                </p>
            </div>

            <div class="card-well card-well-market card-well-contact" ng-show="root !== 'head'">
                <p class="lead">
                    {{'CONTACT' | translate}}
                    <span ng-class="::icons.mail" class="fa-lg" ng-click="contact()" target="_blank" data-title="{{'MARKET.CONTACT_MODAL.TITLE' | translate}}" bs-tooltip></span>
                </p>
            </div>

            <div class="card-well card-well-market preview-box-list-wrapper" ng-if="content.preview && content.preview.length>0">
                <p class="lead" translate="MARKET.PREVIEW"></p>
                <div>
                    <div ng-show="itemKey" preview-list collection="itemKey" paths="content.preview"></div>
                </div>
            </div>

            <div class="card-well card-well-market" ng-if="content.copyright">
                <p class="lead" translate="MARKET.COPYRIGHT"></p>
                <div>
                    <p ng-bind="content.copyright"></p>
                </div>
            </div>
        </aside>

    </div>
</section>
