<form class="form-horizontal">
	<div ng-repeat="(keyElement, valuesElement) in selectedMetadata.content">
		<div ng-if="dcElementsObject[keyElement]" ng-repeat="value in valuesElement" class="form-group">
			<label for="elm-{{keyElement}}" class="col-sm-2 control-label">{{dcElementsObject[keyElement].label}}</label>
			<div class="col-sm-8">
				<input ng-model="value.value" type="text" class="form-control" name="elm-{{keyElement}}" placeholder="{{dcElementsObject[keyElement].placeholder}}">
			</div>
	  	</div>
	</div>
	<div class="col-sm-10">
		<div class="pull-right">
			<button disabled="disabled" type="button" class="btn btn-primary"><span ng-class="::icons.plus"></span> Ajouter un élément Dublin Core</button>
		</div>
	</div>
</form>