<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <meta name="robots" content="noindex, nofollow">
    <base href="/">
    <title ng-bind="ortolangPageTitle !== undefined ? (ortolangPageTitle + (ortolangPageSubtitle || '') + 'ORTOLANG') : ''">ORTOLANG</title>
    <meta description name="description">

    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">

    <link rel="manifest" href="manifest.json">

    <meta name="theme-color" content="#475b6e">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">

    <!-- build:css({.,.tmp}) styles/vendor.css -->
    <link rel="stylesheet" href="styles/custom-bootstrap.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.css" />
    <link rel="stylesheet" href="bower_components/highlightjs/build/styles/solarized_light.min.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="bower_components/ngWig/dist/css/ng-wig.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->
</head>

<body ng-controller="AuthCtrl" id="top">

<div id="top-nav-wrapper" ng-controller="TopNavCtrl" ng-include="'common/nav/top-nav.html'"></div>
<div id="main-wrapper">
    <div class="container-flex">
        <nav id="side-nav-wrapper" ng-controller="SideNavCtrl" ng-class="{'reduced-side-nav': reducedSideNav}" class="side-nav" role="navigation" ng-cloak>
            <ul class="side-nav-list">
                <li ng-repeat="element in ::sideNavElements track by element.id" ng-if="!element.authenticated || authenticated" class="side-nav-list-item" ng-class="{divider: element.class === 'divider', active: element.class === sideNavActiveClass}">
                    <a ng-if="::element.class !== 'divider'"
                       ng-href="{{:: element.path}}"
                       ng-click="select(element.class)"
                       ng-class="::element.class">
                        <span class="icon-container" ng-class="::element.iconCss" data-title="{{element.description | translate}}" data-bs-enabled="reducedSideNav" data-placement="right" data-container="false" bs-tooltip></span>
                        <span class="item-description" translate="{{::element.description}}"></span>
                    </a>
                    <span ng-if="::element.class === 'divider'"></span>
                </li>
            </ul>
        </nav>
        <main role="main">
            <div class="view-wrapper" ng-view ng-cloak></div>
        </main>
    </div>
</div>
<div cookies-consent></div>
<div class="alerts-wrapper"></div>

<!--[if lt IE 10]>
<script type="text/javascript">window.location = "ie.html";</script>
<![endif]-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-i18n/angular-locale_fr.js"></script>
<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
<script src="bower_components/highlightjs/build/highlight.min.js"></script>
<script src="bower_components/angular-highlightjs/build/angular-highlightjs.js"></script>
<script src="bower_components/api-check/dist/api-check.js"></script>
<script src="bower_components/angular-formly/dist/formly.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
<script src="bower_components/angular-zeroclipboard/src/angular-zeroclipboard.js"></script>
<script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
<script src="bower_components/holderjs/holder.js"></script>
<script src="bower_components/keycloak/dist/keycloak.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/atmosphere/atmosphere.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/moment/locale/fr.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/SHA-1/sha1.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics-piwik/src/angulartics-piwik.js"></script>
<script src="bower_components/angular-duration-format/dist/angular-duration-format.js"></script>
<script src="bower_components/showdown/dist/showdown.js"></script>
<script src="bower_components/ng-showdown/dist/ng-showdown.js"></script>
<script src="bower_components/zInfiniteScroll/zInfiniteScroll.js"></script>
<script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
<script src="bower_components/ngWig/dist/ng-wig.js"></script>
<script src="bower_components/CETEIcean/dist/CETEI.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!--<script src="ortolang-config-url"></script>-->
<!-- build:remove -->
<script src="ortolang-config.js"></script>
<!-- endbuild -->

<!-- build:js(src/main/webapp/static/app) scripts/scripts.js -->
<script src="app.js"></script>
<script src="common/constants/url.js"></script>
<script src="common/constants/icons.js"></script>
<script src="common/constants/ortolang-type.js"></script>
<script src="common/constants/process-states.js"></script>
<script src="common/auth/auth-init.js"></script>
<script src="common/auth/interceptors.js"></script>
<script src="common/auth/auth-ctrl.js"></script>
<script src="common/auth/user.js"></script>
<script src="common/atmosphere/atmosphere-service.js"></script>
<script src="common/atmosphere/atmosphere-listener.js"></script>
<script src="common/filters/bytes.js"></script>
<script src="common/filters/hz.js"></script>
<script src="common/filters/content-type.js"></script>
<script src="common/filters/ortolang-element-icon-css.js"></script>
<script src="common/filters/mime-type-icon-css.js"></script>
<script src="common/filters/split.js"></script>
<script src="common/filters/diacritics.js"></script>
<script src="common/filters/remove-accents.js"></script>
<script src="common/filters/event-feed-filter.js"></script>
<script src="common/filters/event-feed-description.js"></script>
<script src="common/filters/diff-icon-css.js"></script>
<script src="common/filters/diff-description.js"></script>
<script src="common/filters/organization-name.js"></script>
<script src="common/filters/numbers.js"></script>
<script src="common/directives/description.js"></script>
<script src="common/directives/parts.js"></script>
<script src="common/directives/multilingual-editor.js"></script>
<script src="common/directives/publications-hal.js"></script>
<script src="common/directives/ng-right-click.js"></script>
<script src="common/directives/browser.js"></script>
<script src="common/directives/ortolang-item-json.js"></script>
<script src="common/directives/ortolang-item-json-preview.js"></script>
<script src="common/directives/file-select-browser.js"></script>
<script src="common/directives/holder.js"></script>
<script src="common/directives/holder-editor.js"></script>
<script src="common/directives/google-auto-complete.js"></script>
<script src="common/directives/xeditable-address.js"></script>
<script src="common/directives/profile-data-field.js"></script>
<script src="common/directives/order-indicator.js"></script>
<script src="common/directives/avatar.js"></script>
<script src="common/directives/toggle-visibility.js"></script>
<script src="common/directives/thumb.js"></script>
<script src="common/directives/on-finish-render.js"></script>
<script src="common/directives/profile-card.js"></script>
<script src="common/directives/organization-card.js"></script>
<script src="common/directives/target-blank.js"></script>
<script src="common/directives/cart-content.js"></script>
<script src="common/directives/cookies-consent.js"></script>
<script src="common/directives/files-model.js"></script>
<script src="common/directives/cetei-cean.js"></script>
<script src="common/directives/i18n/browser.fr.js"></script>
<script src="common/directives/i18n/browser.en.js"></script>
<script src="common/formly/formly-file-select.js"></script>
<script src="common/formly/config.js"></script>
<script src="common/resources/workspace-resource.js"></script>
<script src="common/resources/profile-resource.js"></script>
<script src="common/resources/group-resource.js"></script>
<script src="common/resources/form-resource.js"></script>
<script src="common/resources/metadata-format-resource.js"></script>
<script src="common/resources/object-resource.js"></script>
<script src="common/resources/workspace-element-resource.js"></script>
<script src="common/resources/search-resource.js"></script>
<script src="common/resources/referential-resource.js"></script>
<script src="common/resources/subscription-resource.js"></script>
<script src="common/resources/statistics-resource.js"></script>
<script src="common/resources/runtime-resource.js"></script>
<script src="common/resources/event-feed-resource.js"></script>
<script src="common/resources/message-resource.js"></script>
<script src="common/services/helper.js"></script>
<script src="common/services/content.js"></script>
<script src="common/services/market-browser.js"></script>
<script src="common/services/workspace-browser.js"></script>
<script src="common/services/metadata-format.js"></script>
<script src="common/services/metadata-manager.js"></script>
<script src="common/services/visualizer-manager.js"></script>
<script src="common/services/file-select-browser.js"></script>
<script src="common/services/profile.js"></script>
<script src="common/services/settings.js"></script>
<script src="common/services/cart.js"></script>
<script src="common/services/runtime.js"></script>
<script src="common/static-website/static-website.js"></script>
<script src="common/static-website/information.js"></script>
<script src="common/static-website/i18n/static-website.fr.js"></script>
<script src="common/static-website/i18n/static-website.en.js"></script>
<script src="common/visualizers/simple-audio-visualizer/simple-audio-visualizer.js"></script>
<script src="common/visualizers/simple-image-visualizer/simple-image-visualizer.js"></script>
<script src="common/visualizers/simple-video-visualizer/simple-video-visualizer.js"></script>
<script src="common/visualizers/i18n/visualizers.fr.js"></script>
<script src="common/visualizers/i18n/visualizers.en.js"></script>
<script src="common/visualizers/text-visualizer/text-visualizer.js"></script>
<script src="common/visualizers/markdown-visualizer/markdown-visualizer.js"></script>
<script src="common/visualizers/pdf-visualizer/pdf-visualizer.js"></script>
<script src="common/nav/side-nav-elements.js"></script>
<script src="common/nav/side-nav.js"></script>
<script src="common/nav/mobile-nav.js"></script>
<script src="common/nav/top-nav.js"></script>
<script src="common/nav/footer.js"></script>
<script src="common/nav/i18n/nav.fr.js"></script>
<script src="common/nav/i18n/nav.en.js"></script>
<script src="common/i18n/common.fr.js"></script>
<script src="common/i18n/common.en.js"></script>
<script src="common/i18n/config.fr.js"></script>
<script src="common/i18n/config.en.js"></script>
<script src="common/i18n/item.fr.js"></script>
<script src="common/i18n/item.en.js"></script>
<script src="common/directives/browser-ctrl.js"></script>
<script src="common/forms/i18n/forms.fr.js"></script>
<script src="common/forms/i18n/forms.en.js"></script>
<script src="workspace/workspaces.js"></script>
<script src="workspace/workspace-dashboard.js"></script>
<script src="workspace/workspace-dashboard-members.js"></script>
<script src="workspace/workspace-dashboard-metadata.js"></script>
<script src="workspace/workspace-dashboard-permissions.js"></script>
<script src="workspace/workspace-dashboard-threads.js"></script>
<script src="workspace/workspace-service.js"></script>
<script src="workspace/services/workspace-metadata-service.js"></script>
<script src="workspace/upload.js"></script>
<script src="workspace/i18n/workspace.fr.js"></script>
<script src="workspace/i18n/workspace.en.js"></script>
<script src="workspace/templates/add-member-modal.js"></script>
<script src="workspace/templates/basic-info.js"></script>
<script src="workspace/templates/whos-involved.js"></script>
<script src="workspace/templates/add-person-modal.js"></script>
<script src="workspace/templates/add-organization-modal.js"></script>
<script src="workspace/templates/additional-info.js"></script>
<script src="workspace/templates/specific-fields.js"></script>
<script src="workspace/templates/add-language-modal.js"></script>
<script src="workspace/templates/licence.js"></script>
<script src="workspace/templates/import-metadata.js"></script>
<script src="workspace/templates/workspace-metadata-parts-ctrl.js"></script>
<script src="workspace/directives/contributors-editor.js"></script>
<script src="workspace/services/ortolang-item-json-migration.js"></script>
<script src="processes/i18n/processes.fr.js"></script>
<script src="processes/i18n/processes.en.js"></script>
<script src="market/directives/item.js"></script>
<script src="market/directives/market-toolbar.js"></script>
<script src="market/directives/items.js"></script>
<script src="market/directives/home-news.js"></script>
<script src="market/directives/preview-line.js"></script>
<script src="market/directives/preview-list.js"></script>
<script src="market/directives/preview-slideshow.js"></script>
<script src="market/directives/preview-url.js"></script>
<script src="market/directives/preview-box.js"></script>
<script src="market/directives/visualizer.js"></script>
<script src="market/item-ctrl.js"></script>
<script src="market/templates/ortolang-item-json-13.js"></script>
<script src="market/templates/ortolang-item-json-14.js"></script>
<script src="market/templates/ortolang-item-json-15.js"></script>
<script src="market/templates/ortolang-item-json-16.js"></script>
<script src="market/home.js"></script>
<script src="market/services/query-builder-service.js"></script>
<script src="market/services/option-faceted-filter.js"></script>
<script src="market/services/faceted-filter.js"></script>
<script src="market/services/faceted-filter-manager.js"></script>
<script src="market/services/search-provider.js"></script>
<script src="market/corpora.js"></script>
<script src="market/lexicons.js"></script>
<script src="market/applications.js"></script>
<script src="market/tools.js"></script>
<script src="market/terminologies.js"></script>
<script src="market/search.js"></script>
<script src="market/search/corpora.js"></script>
<script src="market/news.js"></script>
<script src="market/i18n/market.fr.js"></script>
<script src="market/i18n/market.en.js"></script>
<script src="producer/i18n/producer.fr.js"></script>
<script src="producer/i18n/producer.en.js"></script>
<script src="producer/producers.js"></script>
<script src="producer/producer.js"></script>
<script src="contributor/i18n/contributor.fr.js"></script>
<script src="contributor/i18n/contributor.en.js"></script>
<script src="contributor/contributor.js"></script>
<script src="profile/i18n/profile.fr.js"></script>
<script src="profile/i18n/profile.en.js"></script>
<script src="profile/profile-ctrl.js"></script>
<script src="profile/profile-me-ctrl.js"></script>
<script src="profile/productions.js"></script>
<script src="profile/friends.js"></script>
<script src="profile/tasks.js"></script>
<script src="common/piwik/piwik.js"></script>
<!-- endbuild -->

</body>
</html>
