<!--JSP_ENCODING_HEADER-->
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Outils et Ressources pour un Traitement Optimisé de la LANGue">
    <title ng-bind="'ORTOLANG' + (ortolangPageTitle ? ' | ' + (ortolangPageTitle | translate) : '') + ortolangPageSubtitle">ORTOLANG</title>

    <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/custom-bootstrap.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.css" />
    <link rel="stylesheet" href="bower_components/highlightjs/build/styles/solarized_light.min.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-additions/dist/bootstrap-additions.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css" />
    <link rel="stylesheet" href="bower_components/angular-diff-match-patch/demo.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->
</head>

<body ng-controller="AuthCtrl" id="top">

<div id="top-nav-wrapper" ng-include="'common/nav/top-nav.html'"></div>
<nav id="side-nav-wrapper" ng-controller="SideNavCtrl" ng-class="{'my-workspaces': myWorkspaces}" class="side-nav" role="navigation" ng-cloak>
    <ul class="side-nav-list">
        <li ng-repeat="element in ::sideNavElements track by element.class" ng-if="!element.hiddenSideNav && (!element.authenticated || authenticated)" class="side-nav-list-item" ng-class="{divider: element.class === 'divider', active: element.active}">
            <a ng-if="::element.class !== 'divider'"
               ng-href="{{::element.hiddenPath ? '#' + element.hiddenPath : '#' + element.path}}"
               ng-click="select(element)"
               ng-class="::element.class">
                <span class="icon-container" ng-class="::element.iconCss" data-title="{{element.description | translate}}" data-bs-enabled="myWorkspaces" data-placement="right" data-container="false" bs-tooltip></span>
                <span class="item-description" translate="{{element.description}}"></span>
            </a>
            <span ng-if="::element.class === 'divider'"></span>
        </li>
    </ul>
</nav>
<main id="main-wrapper" ng-class="{'no-footer': noFooter, 'my-workspaces': myWorkspaces}" role="main">
    <div class="view-wrapper" ng-view ng-cloak></div>
</main>
<footer id="footer-wrapper" ng-if="!noFooter" class="main-footer" ng-controller="FooterCtrl">
    <div class="container-fluid" ng-cloak>
        <p class="pull-right small">
            <a href="https://dev.ortolang.fr/" target="_blank" translate="NAV.COMMUNITY_WEBSITE"></a>
            &bull;
            <a ng-href="#/legal-notices" translate="NAV.LEGAL_NOTICES"></a>
            &bull;
            <span ng-click="contactUs()" translate="NAV.CONTACT"></span>
            &bull;
            <span ng-click="backToTop()" translate="NAV.BACK_TO_TOP"></span>
        </p>
        <p class="text-center small">© 2015 <a href="http://dev.ortolang.fr/team-list.html" translate="NAV.TEAM"></a> | @@version</p>
    </div>
</footer>
<div class="alerts-wrapper"></div>

<!--[if lt IE 10]>
<script type="text/javascript">
    window.location = "ie.html";
</script>
<![endif]-->
<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-i18n/angular-locale_fr.js"></script>
<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
<script src="bower_components/highlightjs/build/highlight.min.js"></script>
<script src="bower_components/angular-highlightjs/build/angular-highlightjs.js"></script>
<script src="bower_components/api-check/dist/api-check.js"></script>
<script src="bower_components/angular-formly/dist/formly.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
<script src="bower_components/angular-zeroclipboard/src/angular-zeroclipboard.js"></script>
<script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.js"></script>
<script src="bower_components/google-diff-match-patch/diff_match_patch_uncompressed.js"></script>
<script src="bower_components/angular-diff-match-patch/angular-diff-match-patch.js"></script>
<script src="bower_components/holderjs/holder.js"></script>
<script src="bower_components/keycloak/dist/keycloak.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/tv4/tv4.js"></script>
<script src="bower_components/objectpath/lib/ObjectPath.js"></script>
<script src="bower_components/angular-schema-form/dist/schema-form.js"></script>
<script src="bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="bower_components/atmosphere.js/atmosphere.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/moment/locale/fr.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/waypoints/lib/noframework.waypoints.min.js"></script>
<script src="bower_components/SHA-1/sha1.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!--<script src="online-config-url"></script>-->
<!-- build:remove -->
<script src="ortolang-config.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="app.js"></script>
<script src="common/constants/url.js"></script>
<script src="common/constants/icons.js"></script>
<script src="common/constants/ortolang-type.js"></script>
<script src="common/auth/auth-init.js"></script>
<script src="common/auth/interceptors.js"></script>
<script src="common/auth/auth.js"></script>
<script src="common/auth/user.js"></script>
<script src="common/atmosphere/atmosphere-service.js"></script>
<script src="common/atmosphere/atmosphere-listener.js"></script>
<script src="common/filters/bytes.js"></script>
<script src="common/filters/content-type.js"></script>
<script src="common/filters/ortolang-element-icon-css.js"></script>
<script src="common/filters/mime-type-icon-css.js"></script>
<script src="common/filters/break-line-filter.js"></script>
<script src="common/filters/split.js"></script>
<script src="common/filters/remove-accents.js"></script>
<script src="common/filters/contributor-person.js"></script>
<script src="common/filters/contributor-producer.js"></script>
<script src="common/directives/ng-right-click.js"></script>
<script src="common/directives/browser.js"></script>
<script src="common/directives/table-array-contributor.js"></script>
<script src="common/directives/multivalue-textfield.js"></script>
<script src="common/directives/multilingual-textfield.js"></script>
<script src="common/directives/multifile-selector.js"></script>
<script src="common/directives/market-item-preview.js"></script>
<script src="common/directives/market-item-editor.js"></script>
<script src="common/directives/file-select-browser.js"></script>
<script src="common/directives/holder.js"></script>
<script src="common/directives/toggle-visibility.js"></script>
<script src="common/directives/google-auto-complete.js"></script>
<script src="common/directives/xeditable-address.js"></script>
<script src="common/directives/profile-data-field.js"></script>
<script src="common/directives/acl-select.js"></script>
<script src="common/directives/order-indicator.js"></script>
<script src="common/directives/avatar.js"></script>
<script src="common/directives/thumb.js"></script>
<script src="common/directives/on-finish-render.js"></script>
<script src="common/directives/bind-html-unsafe.js"></script>
<script src="common/directives/profile-card.js"></script>
<script src="common/directives/target-blank.js"></script>
<script src="common/directives/cart-content.js"></script>
<script src="common/directives/i18n/browser.fr.js"></script>
<script src="common/directives/i18n/browser.en.js"></script>
<script src="common/formly/formly-file-select.js"></script>
<script src="common/formly/config.js"></script>
<script src="common/resources/workspace-resource.js"></script>
<script src="common/resources/profile-resource.js"></script>
<script src="common/resources/group-resource.js"></script>
<script src="common/resources/form-resource.js"></script>
<script src="common/resources/metadata-format-resource.js"></script>
<script src="common/resources/object-resource.js"></script>
<script src="common/resources/workspace-element-resource.js"></script>
<script src="common/resources/tools-resource.js"></script>
<script src="common/resources/plugins-resource.js"></script>
<script src="common/resources/search-resource.js"></script>
<script src="common/resources/referentiel-resource.js"></script>
<script src="common/resources/subscription-resource.js"></script>
<script src="common/resources/statistics-resource.js"></script>
<script src="common/resources/runtime-resource.js"></script>
<script src="common/services/content.js"></script>
<script src="common/services/market-browser.js"></script>
<script src="common/services/workspace-browser.js"></script>
<script src="common/services/metadata-format.js"></script>
<script src="common/services/metadata-manager.js"></script>
<script src="common/services/visualizer-manager.js"></script>
<script src="common/services/file-select-browser.js"></script>
<script src="common/services/profile.js"></script>
<script src="common/services/settings.js"></script>
<script src="common/services/cart.js"></script>
<script src="common/static-website/static-website.js"></script>
<script src="common/static-website/information.js"></script>
<script src="common/static-website/i18n/static-website.fr.js"></script>
<script src="common/static-website/i18n/static-website.en.js"></script>
<script src="common/tools/tool-manager.js"></script>
<script src="common/tools/tool-results.js"></script>
<script src="common/visualizers/simple-audio-visualizer/simple-audio-visualizer.js"></script>
<script src="common/visualizers/simple-image-visualizer/simple-image-visualizer.js"></script>
<script src="common/visualizers/simple-video-visualizer/simple-video-visualizer.js"></script>
<script src="common/visualizers/i18n/visualizers.fr.js"></script>
<script src="common/visualizers/i18n/visualizers.en.js"></script>
<script src="common/visualizers/text-visualizer/text-visualizer.js"></script>
<script src="common/visualizers/diff-visualizer/diff-visualizer.js"></script>
<script src="common/nav/side-nav-elements.js"></script>
<script src="common/nav/side-nav.js"></script>
<script src="common/nav/top-nav.js"></script>
<script src="common/nav/footer.js"></script>
<script src="common/nav/i18n/nav.fr.js"></script>
<script src="common/nav/i18n/nav.en.js"></script>
<script src="common/i18n/common.fr.js"></script>
<script src="common/i18n/common.en.js"></script>
<script src="common/i18n/config.fr.js"></script>
<script src="common/i18n/config.en.js"></script>
<script src="common/directives/browser-ctrl.js"></script>
<script src="common/tools/tool-list.js"></script>
<script src="common/tools/i18n/tools.fr.js"></script>
<script src="common/tools/i18n/tools.en.js"></script>
<script src="common/forms/i18n/forms.fr.js"></script>
<script src="common/forms/i18n/forms.en.js"></script>
<script src="workspace/workspaces.js"></script>
<script src="workspace/upload.js"></script>
<script src="workspace/i18n/workspace.fr.js"></script>
<script src="workspace/i18n/workspace.en.js"></script>
<script src="workspace/metadata-editor.js"></script>
<script src="workspace/metadata-form-market-ortolang.js"></script>
<script src="workspace/metadata-editor.js"></script>
<script src="workspace/templates/add-member-modal.js"></script>
<script src="processes/service/runtime-service.js"></script>
<script src="processes/service/processes-filters-manager.js"></script>
<script src="processes/processes.js"></script>
<script src="processes/i18n/processes.fr.js"></script>
<script src="processes/i18n/processes.en.js"></script>
<script src="tasks/tasks.js"></script>
<script src="tasks/i18n/tasks.fr.js"></script>
<script src="tasks/i18n/tasks.en.js"></script>
<script src="market/directives/item.js"></script>
<script src="market/directives/market-toolbar.js"></script>
<script src="market/directives/items.js"></script>
<script src="market/directives/preview-line.js"></script>
<script src="market/directives/preview-url.js"></script>
<script src="market/directives/preview-box.js"></script>
<script src="market/directives/visualizer.js"></script>
<script src="market/market-item.js"></script>
<script src="market/home.js"></script>
<script src="market/services/query-builder-service.js"></script>
<script src="market/services/option-faceted-filter.js"></script>
<script src="market/services/faceted-filter.js"></script>
<script src="market/services/faceted-filter-manager.js"></script>
<script src="market/services/item-manager.js"></script>
<script src="market/corpora.js"></script>
<script src="market/applications.js"></script>
<script src="market/lexicons.js"></script>
<script src="market/tools.js"></script>
<script src="market/search.js"></script>
<script src="market/i18n/market.fr.js"></script>
<script src="market/i18n/market.en.js"></script>
<script src="producer/i18n/producer.fr.js"></script>
<script src="producer/i18n/producer.en.js"></script>
<script src="producer/producers.js"></script>
<script src="producer/producer.js"></script>
<script src="contributor/i18n/contributor.fr.js"></script>
<script src="contributor/i18n/contributor.en.js"></script>
<script src="contributor/contributor.js"></script>
<script src="profile/i18n/profile.fr.js"></script>
<script src="profile/i18n/profile.en.js"></script>
<script src="profile/profile-ctrl.js"></script>
<script src="profile/events.js"></script>
<script src="profile/publications.js"></script>
<script src="profile/contributions.js"></script>
<script src="profile/friends.js"></script>
<script src="common/schema-form/tablearray.js"></script>
<script src="common/schema-form/bootstrap-tablearray.js"></script>
<script src="common/schema-form/vertical-tab/bootstrap-vertical-tab.js"></script>
<!-- endbuild -->

<!-- Piwik -->
<script type="text/javascript">
    if (OrtolangConfig.piwikHost && OrtolangConfig.piwikHost !== '' && OrtolangConfig.piwikSiteId) {
        var _paq = _paq || [];
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//" + OrtolangConfig.piwikHost;
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', OrtolangConfig.piwikSiteId]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    }
</script>
<!-- End Piwik Code -->
</body>
</html>
