<div id="browser-wrapper" ng-controller="BrowserCtrl">
    <div class="row">
        <div id="browser-toolbar" class="col-md-12" ng-click="checkSelection($event)">
            <div class="row">
                <div class="browser-breadcrumb btn-toolbar col-md-6" role="toolbar">

                    <a ng-if="breadcrumbParts" class="btn btn-default" href="#/workspaces/{{wsName}}/head///browse">
                        <span class="glyphicon glyphicon-home"></span>{{wsName}}
                    </a>
                    <div ng-if="breadcrumbParts.length === 0" class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-home"></span>{{wsName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in breadcrumbDropdownItems" ng-click="doAction(item.action)"><div><span class="{{item.icon | iconFullClass}}"></span> {{item.text}}</div></li>
                        </ul>
                    </div>

                    <a ng-if="!$last" href="#/workspaces/{{wsName}}/head/{{part}}/browse" class="btn btn-default" ng-repeat-start="part in breadcrumbParts">
                        {{element.pathParts[$index]}}
                    </a>
                    <div class="btn-group" ng-if="$last" ng-repeat-end>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{element.pathParts[$index]}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in breadcrumbDropdownItems" ng-click="doAction(item.action)"><div><span class="{{item.icon | iconFullClass}}"></span> {{item.text}}</div></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-toolbar btn-toolbar-right" role="toolbar">

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-sort"></span> Sort by
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><div ng-click="order('name', false)">Name</div></li>
                                <li><div ng-click="order(['type','name'], false)">Type</div></li>
                                <li><div ng-click="order('modification', false)">Date</div></li>
                            </ul>
                        </div>
                        <!--<button class="btn btn-default" ng-click="newCollectionModal()"><i class="glyphicon glyphicon-plus"></i>  New collection</button>-->
                        <div id="testFilter" class="btn-group">
                            <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-search"></span> Filter
                            </button>
                            <div class="dropdown-menu filter dropdown-menu-right" ng-click="openFilter($event)" role="menu">
                                <div class="has-feedback">
                                    <label class="control-label sr-only" for="filter-input">Filter</label>
                                    <input id="filter-input" ng-model="filter" class="form-control" placeholder="Filter" type="text">
                                    <span ng-show="filter" ng-click="filter = ''" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-default" onclick="$('#object-upload-file-select').click();"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><div ng-class="uploadQueueStatus" ng-click="toggleUploadQueueStatus()">Show upload queue</div></li>
                            </ul>
                        </div>

                        <div ng-if="!selectedChild" class="btn-group">
                            <a ng-if="element.stream" class="btn btn-default" href="{{urlBase}}/rest/workspaces/{{wsName}}/download?path={{element.path}}"><i class="glyphicon glyphicon-download"></i>Download</a>
                        </div>
                        <div ng-if="selectedChild" class="btn-group">
                            <a ng-if="selectedChildData.object.stream" class="btn   btn-default" href="{{selectedChildData.object.downloadUrl}}"><i class="glyphicon glyphicon-download"></i> Download</a>
                            <button class="btn btn-default" ng-click="clickDelete()"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="table-wrapper col-md-9" ng-controller="UploadCtrl" ng-click="checkSelection($event)" nv-file-over="" nv-file-drop="" uploader="uploader" options="{type: 'object'}">
            <table ng-if="element.elements" class="table table-hover table-responsive workspace-elements">
                <thead>
                <tr>
                    <th ng-click="order('name', 'toggle')">Name</th>
                    <th ng-click="order('modification', 'toggle')">Modification Date</th>
                </tr>
                </thead>
                <tbody>
                <tr class="element-child" ng-repeat="child in element.elements | filter:filterChildren(filter) | orderBy:orderProp:orderReverse" ng-click="clickChild($event, child)" ng-right-click="clickChild($event, child)" ng-class="{active : isSelected(child)}">
                    <td ng-if="child.type === 'collection'"><a href="#/workspaces/{{wsName}}/head/{{element.path}}/{{child.name}}/browse"><span class="{{child.type | elementIconCss}} type"></span> {{child.name}}</a></td>
                    <td ng-if="!(child.type === 'collection')"><span class="{{child.type | elementIconCss}} type"></span>{{child.name}}</td>
                    <td>{{child.modification | date : dateFormat}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="isContextMenuActive && menuItems" ng-style="contextMenuStyle" id="context-menu" class="dropdown clearfix open">
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in menuItems" class="{{item.divider ? 'divider' : ''}}">
                        <a ng-if="item.href" tabindex="-1" href="{{item.href}}"><i class="{{item.icon | iconFullClass}}"></i> {{item.text}}</a>
                        <div ng-if="!item.href" ng-click="doAction(item.action)" tabindex="-1"><i class="{{item.icon | iconFullClass}}"></i> {{item.text}}</div>
                    </li>
                </ul>
            </div>
            <input id="object-upload-file-select" type="file" nv-file-select="" uploader="uploader" multiple="" ng-hide="true" options="{type: 'object'}">
        </div>

        <div id="browser-sidebar" class="col-md-3">
        <!--Sidebar content-->

        <p ng-if="!selectedChild" class="lead"><span class="{{element.type | elementIconCss}}"></span> {{element.name}}</p>
        <p ng-if="selectedChild" class="lead"><span class="{{selectedChild.type | elementIconCss}}"></span> {{selectedChildData.object.name}}</p>

        <ul id="browser-side-tabs" class="nav nav-justified" role="tablist">
            <li class="active"><a href="#information" role="tab" ng-click="toggleTab($event)">Information</a></li>
            <li><a href="#metadata" role="tab" ng-click="toggleTab($event)">Metadata</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="information">
                <dl ng-if="!selectedChild" class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{element.name}}</dd>
                    <dt>Description</dt>
                    <dd>{{element.description}}</dd>
                    <dt>Type</dt>
                    <dd>{{element.type}}</dd>
                    <dt>Clock</dt>
                    <dd>{{element.clock}}</dd>
                    <dt>Size</dt>
                    <dd>{{element.elements.length}} element{{element.elements.length > 1 ? 's' : ''}}</dd>
                </dl>

                <dl ng-if="selectedChild" class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{selectedChildData.object.name}}</dd>
                    <dt>Description</dt>
                    <dd>{{selectedChildData.object.description}}</dd>
                    <dt>Content type</dt>
                    <dd>{{selectedChildData.object.contentType | contentType}}</dd>
                    <dt>Author</dt>
                    <dd>{{selectedChildData.author}}</dd>
                    <dt>Created</dt>
                    <dd>{{selectedChildData.creationDate | date : 'medium'}}</dd>
                    <dt>Modified</dt>
                    <dd>{{selectedChildData.lastModificationDate | date : 'medium'}}</dd>
                    <dt>Clock</dt>
                    <dd>{{element.clock}}</dd>
                    <dt ng-if="selectedChildData.object.size">Size</dt>
                    <dd ng-if="selectedChildData.object.size">{{selectedChildData.object.size | bytes}}</dd>
                </dl>
            </div>
            <div class="tab-pane" id="metadata">
                <div class="list-group">
                    <div ng-if="!selectedChild">
                        <a ng-repeat="metadata in element.metadatas" ng-click="loadMetadata($event, metadata)" class="list-group-item metadata-{{metadata.key}}" href="#">{{metadata.name}}</a>
                    </div>
                    <div ng-if="selectedChild">
                        <a ng-repeat="metadata in selectedChildData.object.metadatas" ng-click="loadMetadata($event, metadata)" class="list-group-item metadata-{{metadata.key}}">{{metadata.name}}</a>
                    </div>
                </div>
                <div ng-include="'views/metadata-upload.html'"></div>
            </div>
        </div>
    </div>
    </div>

    <div ng-include="'views/metadata-modal.html'" onload="onDismissMetadataModal()"></div>

    <div class="modal fade" id="new-collection-modal" tabindex="-1" role="dialog" aria-labelledby="new-collection-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="new-collection-modal-label">New collection</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="new-collection-name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new-collection-name" placeholder="Name" ng-model="newCollectionName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new-collection-description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea id="new-collection-description" class="form-control" rows="3" placeholder="Description (optional)" ng-model="newCollectionDescription"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="addCollection()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div id="upload-queue" ng-class="uploadQueueStatus" ng-include="'views/upload.html'"></div>
</div>