<div id="browser-wrapper" ng-controller="BrowserCtrl">
    
    <div class="row">
        <div id="browser-toolbar" class="col-md-12" ng-click="checkSelection($event)">
            <div class="btn-toolbar" role="toolbar">
                <div class="browser-breadcrumb">
                    <a ng-if="breadcrumbParts" class="btn btn-default" ng-href="#/workspaces/{{wsName}}/head///browse">
                        <span class="glyphicon glyphicon-home"></span>{{wsName}}
                    </a>
                    <div ng-if="breadcrumbParts.length === 0" class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-home"></span>{{wsName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in breadcrumbDropdownItems" ng-click="doAction(item.action)"><div><span class="{{item.icon | iconFullClass}}"></span> {{item.text}}</div></li>
                        </ul>
                    </div>

                    <div ng-repeat="part in breadcrumbParts" class="breadcrumb-part">
                        <a ng-if="!$last" ng-href="#/workspaces/{{wsName}}/head/{{part}}/browse" class="btn btn-default">
                            {{parent.pathParts[$index]}}
                        </a>
                        <div class="btn-group" ng-if="$last">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{parent.pathParts[$index]}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="item in breadcrumbDropdownItems" ng-click="doAction(item.action)"><div><span class="{{item.icon | iconFullClass}}"></span> {{item.text}}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btn-toolbar btn-toolbar-right" role="toolbar">

                    <!--<button class="btn btn-default" ng-click="newCollectionModal()"><i class="glyphicon glyphicon-plus"></i>  New collection</button>-->

                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-title="Sort&nbsp;by" bs-tooltip>
                                <span class="glyphicon glyphicon-sort"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><div ng-click="order('name', false)">Name</div></li>
                                <li><div ng-click="order(['type','name'], false)">Ortolang Type</div></li>
                                <li><div ng-click="order('mimeType', false)">Mime Type</div></li>
                                <li><div ng-click="order('modification', false)">Date</div></li>
                            </ul>
                        </div>
                        <div id="filter-query-wrapper" class="btn-group">
                            <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-title="Filter" bs-tooltip>
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <div class="dropdown-menu filter dropdown-menu-right" ng-click="openFilter($event)" role="menu">
                                <div class="has-feedback">
                                    <label class="control-label sr-only" for="filter-input">Filter</label>
                                    <input id="filter-input" ng-model="filterQuery" class="form-control" placeholder="Filter" type="text">
                                    <span ng-show="filterQuery" ng-click="filterQuery = ''" class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" onclick="$('#object-upload-file-select').click();" data-title="Upload" bs-tooltip>
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                            <!--<span class="caret"></span>-->
                            <!--<span class="sr-only">Toggle Dropdown</span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
                            <!--<li><div ng-class="uploadQueueStatus" ng-click="toggleUploadQueueStatus()">Show upload queue</div></li>-->
                        <!--</ul>-->
                    </div>

                    <div ng-show="hasOnlyOneElementSelected()" class="btn-group">
                        <button class="btn btn-default" ng-click="showMetadata()" data-title="Métadonnées" bs-tooltip>
                            <span class="glyphicon glyphicon-list"></span>
                        </button>
                    </div>

                    <div ng-show="!hasOnlyParentSelected()" class="btn-group">
                        <a ng-show="selectedElements[0].stream" class="btn btn-default" ng-href="{{selectedElements[0].downloadUrl}}" data-title="Download" bs-tooltip>
                            <span class="glyphicon glyphicon-download"></span>
                        </a>
                        <button class="btn btn-default" ng-click="clickDelete()" data-title="Delete" bs-tooltip>
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>

                    <div ng-show="visualizers" class="btn-group">
                        <button class="btn btn-default" ng-click="clickPreview()" data-title="Preview" bs-tooltip>
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button ng-if="visualizers.length > 1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul ng-if="visualizers.length > 1" class="dropdown-menu" role="menu">
                            <li ng-repeat-start="visualizer in visualizers"><div ng-click="clickPreview(visualizer)">{{visualizer.getName()}}</div></li>
                            <li ng-repeat-end ng-if="$first" class="divider"></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="table-wrapper col-md-9 workspace-elements-wrapper" ng-controller="UploadCtrl" ng-click="checkSelection($event)" nv-file-over="" nv-file-drop="" uploader="uploader" options="{type: 'object'}">
            <table ng-if="parent.elements" class="table table-hover table-responsive workspace-elements">
                <thead>
                <tr>
                    <th ng-click="order('name', 'toggle')">Name</th>
                    <th ng-click="order('modification', 'toggle')">Modification Date</th>
                    <th ng-click="order('mimeType', 'toggle')">Mime type</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="child in parent.elements | filter: filterChildren(filterQuery) | orderBy:orderProp:orderReverse"
                    ng-click="clickChild($event, child)"
                    ng-right-click="clickChild($event, child)"
                    ng-dblclick="doubleClickChild($event, child)"
                    ng-class="{active : isSelected(child)}">
                    <td ng-if="child.type === 'collection'">
                        <a ng-href="#/workspaces/{{wsName}}/head/{{parent.path}}/{{child.name}}/browse">
                            <span class="{{child.mimeType | mimeTypeIconCss}} type"></span>{{child.name}}
                        </a>
                    </td>
                    <td ng-if="!(child.type === 'collection')">
                        <span class="{{child.mimeType | mimeTypeIconCss}} type"></span>{{child.name}}
                    </td>
                    <td>{{child.modification | date : dateFormat}}</td>
                    <td>{{child.mimeType}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="isContextMenuActive && contextMenuItems.length > 0" ng-style="contextMenuStyle" id="context-menu" class="dropdown clearfix open">
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in contextMenuItems" class="{{item.divider ? 'divider' : ''}}">
                        <a ng-if="item.href" tabindex="-1" ng-href="{{item.href}}"><span class="{{item.icon | iconFullClass}}"></span> {{item.text}}</a>
                        <div ng-if="!item.href" ng-click="doAction(item.action)" tabindex="-1"><span class="{{item.icon | iconFullClass}}"></span> {{item.text}}</div>
                    </li>
                </ul>
            </div>
            <input id="object-upload-file-select" type="file" nv-file-select="" uploader="uploader" multiple="" ng-hide="true" options="{type: 'object'}">
        </div>

        <div id="browser-sidebar" class="col-md-3">

            <p ng-if="hasOnlyOneElementSelected()" class="lead">
                <span class="{{selectedElements[0].type | elementIconCss}}"></span> {{selectedElements[0].name}}
            </p>
            <p ng-if="!hasOnlyOneElementSelected()" class="lead">
                <span class="{{'multiple' | elementIconCss}}"></span> {{selectedElements.length}} elements
            </p>
            <hr/>

            <div id="information">
                <dl ng-if="hasOnlyOneElementSelected()" class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{selectedElements[0].name}}</dd>
                    <dt>Description</dt>
                    <dd>{{selectedElements[0].description}}</dd>
                    <dt>Author</dt>
                    <dd>{{selectedElements[0].author}}</dd>
                    <dt>Type</dt>
                    <dd>{{selectedElements[0].type}}</dd>
                    <dt>Content-type</dt>
                    <dd>{{selectedElements[0].mimetype | contentType}}</dd>
                    <dt>Created</dt>
                    <dd>{{selectedElements[0].creation}}</dd>
                    <!--<dd>{{selectedElements[0].creation | date : 'medium'}}</dd>-->
                    <dt>Modified</dt>
                    <dd>{{selectedElements[0].modification}}</dd>
                    <!--<dd>{{selectedElements[0].modification | date : 'medium'}}</dd>-->
                    <dt>Clock</dt>
                    <dd>{{selectedElements[0].clock}}</dd>
                    <dt ng-if="selectedElements[0].type === 'collection'">Size</dt>
                    <dd ng-if="selectedElements[0].type === 'collection'">{{selectedElements[0].elements.length}} element{{selectedElements[0].elements.length > 1 ? 's' : ''}}</dd>
                    <dt ng-if="selectedElements[0].type === 'object'">Size</dt>
                    <dd ng-if="selectedElements[0].type === 'object'">{{selectedElements[0].size | bytes}}</dd>
                </dl>

                <dl ng-if="!hasOnlyOneElementSelected()" class="dl-horizontal">
                    <dt>Size</dt>
                    <dd>{{selectedElementsSize() | bytes}}</dd>
                </dl>
            </div>
                
        </div>

    </div>
    
        <!-- <div ng-include="'views/metadata-editor.html'" class="am-fade-and-slide-right metadataEditor" ng-if="isEditorShow()"></div> -->
        <div ng-include="'views/metadata-editor.html'" ng-controller="MetadataEditorCtrl"></div>
        <!-- end editor -->

        <div ng-include="'views/metadata-list.html'" ng-controller="MetadataListCtrl"></div>
        

    <div ng-include="'views/metadata-preview.html'"></div>

    <div ng-include="'views/visualizer.html'"></div>

    <div class="modal fade" id="new-collection-modal" tabindex="-1" role="dialog" aria-labelledby="new-collection-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="new-collection-modal-label">New collection</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="new-collection-name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new-collection-name" placeholder="Name" ng-model="newCollectionName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new-collection-description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea id="new-collection-description" class="form-control" rows="3" placeholder="Description (optional)" ng-model="newCollectionDescription"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary add-collection" ng-click="addCollection()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div id="upload-queue" ng-class="uploadQueueStatus" ng-include="'views/upload.html'"></div>
</div>