<div id="category-select" class="btn-group">
    <button class="btn btn-default dropdown-toggle btn-select-label" data-toggle="dropdown"><div class="select-label"> {{categoriesLabel}}</div><div class="select-caret"><span class="caret"></span></div></button>
    
    <ul class="dropdown-menu dropdown-menu-right select-menu" role="menu">
        <li><div ng-click="resetSelectedCategory()"><strong>Toutes les catégories</strong></div></li>

        <li ng-repeat="item in categories" ng-if="categories.length>0"><div ng-click="setSelectedCategory(item.id)">{{item.name}} ({{item.count}})</div></li>
        <li role="presentation" class="disabled" ng-if="categories.length===0"><a role="menuitem" href="#"><em>Aucune catégorie disponible</em></div></li>
    </ul>
</div>
