<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Main</h1>
        <p>Fusce fermentum odio nec arcu. Aliquam eu nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras varius. Donec vitae orci sed dolor rutrum auctor.</p>
        <p>Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Phasellus magna. Etiam iaculis nunc ac metus. Fusce commodo aliquam arcu. Morbi mattis ullamcorper velit.</p>
        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nunc nec neque. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Donec sodales sagittis magna. In auctor lobortis lacus.</p>
    </div> <!-- /.col-lg-12 -->
</div> <!-- /.row -->