<section id="market-item">
    <header>
        <h1>{{item.title}}</h1>
        <span class="author">{{oobject.author}}</span>
        <span ng-repeat="prod in item.producer" class="lab">{{prod}}</span>
        <p class="actions">
            <button class="btn btn-primary" ng-click="showPreview(item.preview)">Aperçu</button>
            <a ng-href="#/market/{{itemKey}}?view=browse" class="btn btn-default">Afficher le contenu</a>
        </p>
    </header>

    <div class="row">

        <div class="col-md-8">
            <section id="description">
                <header>Description</header>
                <p>{{item.description}}</p>
            </section>
            <!--<p><strong>Mots-clefs</strong></p>-->
            <!--<ul class="list-inline">-->
            <!--<li><span class="fa fa-tag"></span> tokenizer</li>-->
            <!--<li><span class="fa fa-tag"></span> étiquetage morphosyntaxique</li>-->
            <!--<li><span class="fa fa-tag"></span> POS tagger</li>-->
            <!--<li><span class="fa fa-tag"></span> transcription de l'oral</li>-->
            <!--<li><span class="fa fa-tag"></span> texte écrit</li>-->
            <!--</ul>-->
            <section id="bibliographical-references">
                <header>Référence bibliographique</header>
                <ul>
                    <li>FR: MarsaTag (Stéphane Rauzy, CNRS - LPL). Outil. Laboratoire parole et langage - UMR 7309 (LPL, Aix-en-Provence FR). Création 2013-10-17. Banque de données parole et langage (SLDR/ORTOLANG). Identifiant hdl:11041/sldr000841</li>
                    <li>EN: MarsaTag (Stéphane Rauzy, CNRS - LPL). Tool. Laboratoire parole et langage - UMR 7309 (LPL, Aix-en-Provence FR). Created 2013-10-17. Speech and Language Data Repository (SLDR/ORTOLANG). Identifier hdl:11041/sldr000841</li>
                    <li>ES: MarsaTag (Stéphane Rauzy, CNRS - LPL). Herramienta. Laboratoire parole et langage - UMR 7309 (LPL, Aix-en-Provence FR). Creación 2013-10-17. Banco de datos de habla y lenguaje (SLDR/ORTOLANG). Identificador hdl:11041/sldr000841</li>
                    <li>ZH: MarsaTag (Stéphane Rauzy, CNRS - LPL). 工具. Laboratoire parole et langage - UMR 7309 (LPL, Aix-en-Provence FR). 创建 2013-10-17. Speech and Language Data Repository (SLDR/ORTOLANG). 标识符 hdl:11041/sldr000841</li>
                </ul>
            </section>
        </div>

        <div ng-include="'views/visualizer.html'"></div>

        <aside class="col-md-4">
            <div class="panel panel-default license-panel">
                <div class="panel-body">
                    <p><strong>{{item.useConditions}}</strong></p>
                    <p>Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Aenean ut eros et nisl sagittis vestibulum.</p>
                    <p><a href="#">Plus de détails</a></p>
                    <p><a ng-href="{{downloadUrl}}" class="btn btn-block btn-success">Télécharger</a></p>
                </div>
            </div>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="fa fa-heart"></span> Ajouter à mes favoris
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default">
                        <span class="fa fa-folder"></span> Utiliser dans mon projet
                    </button>
                </div>
            </div>
            <br/>

            <div class="panel panel-default metadata-panel">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Contenu</dt>
                        <dd>{{item.extent}}</dd>
                        <dt>Tags</dt>
                        <dd>tokenizer, étiquetage morphosyntaxique, POS tagger</dd>
                    </dl>
                </div>
            </div>
        </aside>
    </div>
</section>
