<div id="metadata-tab" ng-controller="MetadataTabCtrl">

    <div class="row">
        <div class="col-md-12">
            <div ng-if="!selectedChild" ng-repeat="metadata in metadatas" class="input-group metadata-{{metadata.key}}">
                <div class="form-control">{{metadata.name}}</div>
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="previewMetadata($event, metadata)"><span class="glyphicon glyphicon-eye-open"></span></button>
                    <button class="btn btn-default" ng-click="deleteMetadata(metadata)"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
            <div ng-if="selectedChild" ng-repeat="metadata in selectedChildData.object.metadatas" class="input-group metadata-{{metadata.key}}">
                <div class="form-control">{{metadata.name}}</div>
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="previewMetadata($event, metadata)"><span class="glyphicon glyphicon-eye-open"></span></button>
                    <button class="btn btn-default" ng-click="deleteMetadata(metadata)"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Name -->
<!--             <div class="form-group">
                <label>Nom</label>
                <input type="text" name="name" class="form-control" ng-model="mdName" required>
            </div> -->

            <!-- Format -->
            <div class="form-group">
                <label>Format</label>
                <select name="format" class="form-control">
                    <option ng-repeat="md in metadataFormats" value="{{md.id}}">{{md.name}}</option>
                </select>
            </div>


            <!-- Button -->
            <div class="form-group">
                <button class="btn btn-primary" data-template="views/aside.tpl.html" data-placement="right" data-animation="am-fade-and-slide-right" bs-aside="aside" data-container="body">Ajouter</button>
            </div>

            <!--
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="btn-group">
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option ng-repeat="md in metadataFormats" value="md.id">{{md.name}}</option>
                            </select>
                            <button class="btn btn-primary" type="button" data-template="views/aside.tpl.html" data-placement="right" data-animation="am-fade-and-slide-right" bs-aside="aside" data-container="body">Ajouter</button>
                        </div>
                    </div>
                </div>
            </form>
            -->

            <!-- <button class="btn btn-default btn-block" data-template="views/aside.tpl.html" data-placement="right" data-animation="am-fade-and-slide-right" bs-aside="aside" data-container="body">
                Add a metadata file
            </button> -->
        </div>
    </div>

    <!-- <div ng-include="views/metadata-creator.html"></div> -->

    <div ng-if="isMetadataCreatorShow()">
        <div class="row">
            <div class="col-md-12">
                <div ng-include="'views/metadata-format-select.html'"></div>
            </div>
        </div>

        <div ng-include="'views/metadata-upload.html'"></div>
    </div>
</div>
