<form name="metadataMarketform"  accept-charset="UTF-8" novalidate role="form" ng-controller="MetadataFormMarketOrtolangCtrl">
                        
    <div class="form-group" show-errors>
        <label>Catégorie de la ressource *</label>
        <select name="category" class="form-control" ng-model="md.category" ng-options="cat.id as cat.label for cat in categories" required>
            <option value="">Choisir une catégorie</option>
        </select>
    </div>

    <div class="form-group" show-errors>
        <label>Titre *</label>
        <input type="text" name="title" ng-model="md.title" class="form-control" required>
    </div>

    <div class="form-group" show-errors>
        <label>Description *</label>
        <textarea class="form-control" name="description" ng-model="md.description" rows="3" required></textarea>
    </div>

    <div class="form-group" show-errors>
        <label>Résumé *</label>
        <textarea class="form-control" name="abstract" ng-model="md.abstract" rows="3" required></textarea>
    </div>

    <div class="form-group" show-errors>
        <label>Droit d'utilisation *</label>
        <select name="useConditions" class="form-control" ng-model="md.useConditions" ng-options="uc.id as uc.label for uc in useConditions" required>
        </select>
    </div>

    <div class="form-group" show-errors>
        <label>Producteurs *</label>
        <input type="text" name="producer" ng-model="md.producer" class="form-control" required>
    </div>

    <div class="form-group" show-errors>
        <label>Mots clés <small>(séparés par des virgules)</small></label>
        <input type="text" name="keywords" ng-model="md.keywords" class="form-control">
    </div>

    <div class="form-group" show-errors>
        <label>Contenu </label>
        <textarea class="form-control" name="extent" ng-model="md.extent" rows="2"></textarea>
    </div>

    <div class="form-group" show-errors>
        <label>Origine de données </label>
        <input type="text" name="provenance" ng-model="md.provenance" class="form-control">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="submit(metadataMarketform, md)">Valider</button>
    </div>
</form>