<div ng-controller="UploadCtrl">
    <div class="row">

        <div class="col-md-12">

            <div ng-show="uploader.isHTML5">
                <div class="well my-drop-zone" nv-file-drop="" nv-file-over="" uploader="uploader" options="{type: 'metadata'}">
                    Drop metadata files
                </div>
            </div>

            <div ng-if="!uploader.isHTML5">
                Multiple
                <input type="file" nv-file-select="" uploader="metadataUploader" multiple=""><br>

                Single
                <input type="file" nv-file-select="" uploader="metadataUploader">
            </div>
        </div>

    </div>
</div>