<div class="form-group">
    <label for="{{id}}">
        {{options.label || 'Text'}}
        {{options.required ? '*' : ''}}
    </label>
    <input type="text"
           class="form-control"
           data-animation="am-flip-x"
           id="{{id}}"
           placeholder="{{options.placeholder}}"
           aria-describedby="{{id}}_description"
           ng-required="options.required"
           ng-model="value"
           bs-typeahead="typeahead"
           ng-options="object as object.name for object in options.availableData | filter:$viewValue | limitTo:8">
    <p id="{{id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
</div>
