<div class="form-group" show-errors ng-controller="OrtolangFormlyFileSelectCtrl">
    <label for="{{id}}">
        {{options.label || 'Select workspace element'}}
        {{options.required ? '*' : ''}}
    </label>
    <div class="input-group">
        <span class="form-control" ng-click="fileSelectModal.show()"><span ng-class="displayedValue.mimeType | mimeTypeIconCss"></span> {{displayedValue.name}}</span>
            <span class="input-group-btn">
            <button class="btn btn-default"
                    ng-click="fileSelectModal.show()"
                    type="button"
                    data-ng-disabled="options.disabled">
                {{options.label || 'Select workspace element'}}
            </button>
        </span>
    </div>
    <input type="hidden"
           id="{{id}}"
           aria-describedby="{{id}}_description"
           ng-required="options.required"
           ng-init="value = options.default.id"
           data-ng-disabled="options.disabled"
           data-ng-model="value"
           class="form-control"/>
</div>
