<br/>
<div class="row" >
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-puzzle-piece"></i> {{plugin.name}}
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/plugins" class="btn btn-xs"><i class="fa fa-chevron-left"></i> Retour à la liste de plugins</a>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="list-group" >
                    <dl class="dl-vertical">
                        <dt>Name</dt>
                        <dd>{{plugin.name}}</dd>
                        <dt>Description</dt>
                        <dd>{{plugin.description}}</dd>
                        <dt>Detail</dt>
                        <dd>{{plugin.detail}}</dd>
                        <dt>URL</dt>
                        <dd><a href="{{plugin.url}}">{{plugin.url}}</a></dd>
                        <dt>Available for :</dt>
                        <dd ng-repeat="format in plugin.formats">
                            {{format}}
                        </dd>
                    </dl>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-gears"></i> Configuration de {{plugin.name}}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="list-group" >
                    <!-- formulaire -->
                    <formly-form result="formData" fields="formFields" options="formOptions" ng-submit="onSubmit()">
                    </formly-form>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

    </div>
</div> <!-- ./div row -->
