
    <div class="row">
        <div id="browser-toolbar" class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-toolbar" role="toolbar">

                        <div class="btn-group">
                            <button class="btn btn-default" > {{categoriesLabel}}</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li ng-repeat="item in categories"><div ng-click="setSelectedCategory(item.id)">{{item.name}} ({{item.count}})</div></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <br/>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-10">
            <form role="form" id="search" method="GET">
                <input type="hidden" name="page" value="portal">
                <div class="input-group custom-search-form">
                        <input type="text" ng-model="filterProduct" id="filterProduct" name="filterProduct" class="form-control" placeholder="Rechercher une ressource...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
            </form>
            <hr/>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-10">
            <div class="media" ng-repeat="product in products | filter:filterProducts(filterProduct) | filter:filterProductsByCategory(selectedCategory)">
              <!-- <span class="pull-left" href="#"> -->
                <!-- <img class="media-object" src="..." alt="..."> -->
                <!-- <i class="fa {{product.image}} fa-fw" style="font-size: 80px"></i> -->
                <!-- <img data-src="{{product.image}}" holder-fix></img> -->
              <!-- </span> -->
              <div class="media-body">
                <h4 class="media-heading">{{product.title}} <!-- <i><small>(produit par <a href="#">{{author}}</a>)</small></i> --></h4>
                <span>{{product.type}}</span>
                <span>{{product.use_conditions}}</span>
                <p align="justify" ng-bind-html="product.abstract_html">
                
                </p>
                <a href="#/products/{{product.key}}">Voir la fiche détaillée</a>
              </div>
              <hr/>
            </div>
            
        </div>

    </div>


