

	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">{{metadatas['dc:title']}}</h1>
		</div>
	</div>

	<div>

		<div class="row">
			<div class="col-lg-11">
				
				<div class="row">
					<div class="col-lg-10">
						<div class="media product-list-element Carotte">
						  <span class="pull-left">
						    <!-- <img class="media-object thumbnail" src="{{image}}" width="100"> -->
						    <i class="fa {{metadatas.image}} fa-fw" style="font-size: 80px"></i>
						  </span>
						  <div class="media-body">
						  	<p align="justify" ng-bind-html="metadatas['dc:description']">
						    
						  </div>
						</div>
						<span class="pull-right">
							<a class="btn btn-primary" href="#">Accéder aux données</a>
						</span>
					</div>
				</div> <!-- ./row -->

				<br/>


				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-9">
						<h3>Fiche technique</h3>

						<table class="table table-striped">
							<tr>
								<td>Producteurs de la ressource</td><td>{{metadatas['otl:producer']}}</td>
							</tr>
							<tr>
								<td>Conditions d'utilisation</td><td>{{metadatas['otl:use_conditions']}}</td>
							</tr>
							<tr>
								<td>Responsables scientifique</td><td>{{metadatas['otl:researcher']}}</td>
							</tr>
							<tr>
								<td>Contenu</td><td>{{metadatas['dcterms:extent']}} </td>
							</tr>
							<tr>
								<td>Langues</td><td>{{metadatas['dcterms:language']}} </td>
							</tr>

						</table>
						
					</div>
				</div> <!-- ./row -->
			</div>
				
		</div>  <!-- ./row -->

	</div>
