<div>
    <p>{{selectedElements[0].name}}</p>
    <audio controls ng-switch="selectedElements[0].mimetype">
        <source ng-switch-when="audio/vorbis" src="{{selectedElements[0].downloadUrl}}" type="audio/ogg">
        <source ng-switch-when="audio/ogg" src="{{selectedElements[0].downloadUrl}}" type="audio/ogg">
        <source ng-switch-when="audio/mp3" src="{{selectedElements[0].downloadUrl}}" type="audio/mpeg">
        <source ng-switch-when="audio/mp4" src="{{selectedElements[0].downloadUrl}}" type="audio/mpeg">
        <source ng-switch-when="audio/webm" src="{{selectedElements[0].downloadUrl}}" type="audio/webm">
    </audio>
</div>