<h4>News</h4>
<p>Meet us at the "salon Innovatives SHS", in "la Cité des sciences et de l'industrie de Paris", on the 16th and 17th of june 2015.</p>
<p><small><a href="http://www.cvt-athena.fr/actualites/evenements-a-venir/78-seconde-edition-du-salon-innovatives-shs-en-partenariat-entre-l-inshs-et-le-cvt-athena-les-16-et-17-juin-2015.html" target="_blank">Read more...</a></small></p>
<br/>
<p>The first newsletter of Ortolang can be dowloaded <a href="http://www.ortolang.fr/resources/Lettre_information_ORTOLANG.pdf">here</a>.</p>
<p><small><a href="/#/information/newsletter">Subscribe and consult newsletter's former issues...</a></small></p>
