<h4>Actualités</h4>
<p>Retrouvez-nous au salon Innovatives SHS, à la Cité des sciences et de l'industrie de Paris, les 16 et 17 juin 2015.</p>
<p><small><a href="http://www.cvt-athena.fr/actualites/evenements-a-venir/78-seconde-edition-du-salon-innovatives-shs-en-partenariat-entre-l-inshs-et-le-cvt-athena-les-16-et-17-juin-2015.html" target="_blank">Plus d'information...</a></small></p>
<br/>
<p>La première lettre d'information d'Ortolang est disponible en téléchargement <a href="http://www.ortolang.fr/resources/Lettre_information_ORTOLANG.pdf">ici</a>.</p>
<p><small><a href="/#/information/newsletter">S'abonner et consulter les lettres déjà parues...</a></small></p>
