
<!-- Objectifs -->
<h3 id="Objectifs">Objectives</h3>
<hr>
<p class="text-justify">ORTOLANG’s objective is to extend and preserve the endeavours of digital resource centres dealing with language:</p>
<ul>
    <li><a target="_blank" href="http://www.cnrtl.fr/">CNRTL</a> (Centre National de Ressources Textuelles et Lexicales)</li>
    <li><a target="_blank" href="http://sldr.org/">SLDR</a> (Speech and Language Data Repository)</li>
</ul>
<p class="text-justify">ORTOLANG is also aiming at offering: </p>
<ul>
    <li>a technical platform on written and oral language, in support of coordination actions by <a target="_blank" href="http://www.huma-num.fr/">TGIR Huma-Num</a>;</li>
    <li>scientific equipment compliant with initiatives by DGLFLF and BNF on culture-heritage aspects of languages spoken in France;</li>
    <li>a French node of <a target="_blank" href="http://www.clarin.eu/">CLARIN</a> (Common Language Resources and Technology Infrastructure).</li>
</ul>
<br>

<!-- Fonctions -->
<h3 id="Fonctions">Functions</h3>
<hr>
<h4>Identification/preparation of data:</h4>
<ul>
    <li>cataloging existing resources and tools using sets of standardised metadata;</li>
    <li>controlling and validating resources and tools: assisting authors on standards, norms and current international recommendations: XML, TEI, LMF, MAF and SYNAF;</li>
    <li>upgrading of resources and tools.</li>
</ul>
<h4>Archiving:</h4>
<ul>
    <li>storage, maintenance and curation of resources and tools;</li>
    <li>long-term preservation using the framework of <a target="_blank"  href="http://www.huma-num.fr/">TGIR Huma-Num</a> in connection with <a target="_blank"  href="http://www.cines.fr/">CINES</a>.</li>
</ul>
<h4>Dissemination:</h4>
<ul>
    <li>assistance et support to users and installing procedures that will make it possible for them to take advantage of shared resources and tools regardless of their localisation and spatial location.</li>
</ul>
<p class="text-justify">The ORTOLANG model incorporates the basic entities of OAIS model by specifying the correction / data enrichment cycle, made possible through archiving.</p>
<br>

<!-- Compétences réunies -->
<h3 id="Comptences_runies">Complementary competencies</h3>
<hr>
<p class="text-justify">In order to achieve this, we have chosen to call for complementary competencies in our consortium with respect to: </p>
<ul>
    <li>language sciences with <a target="_blank"  href="http://www.atilf.fr/">ATILF</a>, <a target="_blank"  href="http://www.lpl-aix.fr/">LPL</a>,
        <a target="_blank"  href="http://www.modyco.fr/">MoDyCo</a> and <a target="_blank"  href="http://www.lll.cnrs.fr/">LLL</a>;</li>
    <li>computer science with <a target="_blank"  href="http://www.loria.fr/">LORIA</a> and <a target="_blank"  href="http://www.inist.fr/">INIST</a> but also partly
        <a target="_blank"  href="http://www.atilf.fr/">ATILF</a> and <a target="_blank"  href="http://www.lpl-aix.fr/">LPL</a>;</li>
    <li>database and access to scientific information through <a target="_blank"  href="http://www.inist.fr/">INIST</a>, and linguistic resources with the two resource centres :
        <a target="_blank"  href="http://www.cnrtl.fr/">CNRTL</a> and <a target="_blank"  href="http://sldr.org/">SLDR</a>.</li>
</ul>
<p class="text-justify">Beyond bringing together these different disciplinary competencies, ORTOLANG’s objective is to federate partners covering the diversity of approaches to the study of language for its equipment of
    shared resources and tools:</p>
<ul>
    <li>linguistic modelling (<a target="_blank"  href="http://www.modyco.fr/">MoDyCo</a>, <a target="_blank"  href="http://www.lpl-aix.fr/">LPL</a> and
        <a target="_blank"  href="http://www.atilf.fr/">ATILF</a>),</li>
    <li>experimental linguistics (<a target="_blank"  href="http://www.lpl-aix.fr/">LPL</a>, <a target="_blank"  href="http://www.atilf.fr/">ATILF</a>),</li>
    <li>language production and perception (<a target="_blank"  href="http://www.lpl-aix.fr/">LPL</a>, ' +
        '<a target="_blank"  href="http://www.modyco.fr/">MoDyCo</a>),</li>
    <li>diachronic studies (<a target="_blank"  href="http://www.atilf.fr/">ATILF</a>, <a target="_blank"  href="http://www.lll.cnrs.fr/">LLL</a>),</li>
    <li>sociolinguistics (<a target="_blank"  href="http://www.lll.cnrs.fr/">LLL</a>, <a target="_blank"  href="http://www.modyco.fr/">MoDyCo</a>),</li>
    <li>automatic processing of language (<a target="_blank"  href="http://www.loria.fr/">LORIA</a>, <a  href="http://www.lpl-aix.fr/">LPL</a>, <a target="_blank"  href="http://www.atilf.fr/">ATILF</a>).</li>
</ul>
