<ul class="timeline">
    <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-unchecked"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Q2 Ortolang V5</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2016</small></p>
            </div>
            <div class="timeline-body">
                <ul>
                    <li><b>Ouverture officielle</b> au public de la version finale d’Ortolang</li>
                    <li>Outils de <b>supervision</b></li>
                    <li>Outils <b>statistiques</b></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge"><i class="glyphicon glyphicon-unchecked"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Q1 Ortolang V4</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2016</small></p>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>Centre de <b>Diffusion Version 4</b></li>
                    <li>Portail <b>Thématique Version 3</b></li>
                    <li>Centres Thématiques Version 1</li>
                    <li>Ouverture au <b>public restreinte</b> (test)</li>
                    <li><b>Documentation</b> complète (utilisation, exploitation, maintenance)</li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-unchecked"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Q3 Ortolang V3</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2015</small></p>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>Centre de <b>Diffusion Version 3</b></li>
                    <li>Procédures pour <b>l’archivage pérenne</b></li>
                    <li>Portail <b>Thématique Version 2</b></li>
                    <li>Centre Thématique sur l’écrit Version 1</li>
                    <li>Centres Thématiques spécifiques Version béta</li>
                    <li>Intégration des <b>outils en ligne</b></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-edit"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Q1 Ortolang V2</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2015</small></p>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>Centre de <b>Diffusion Version 2</b></li>
                    <li>Intégration de toutes les ressources initiales</li>
                    <li>Procédures pour le <b>dépôt de ressources</b></li>
                    <li>Portail <b>Thématique Version 1</b></li>
                    <li>Centre Thématique sur l’écrit Version béta</li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Q3 Ortolang V1</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2014</small></p>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>Centre de <b>Diffusion Version 1</b></li>
                    <li>Intégration de quelques <b>ressources pilotes</b></li>
                    <li><b>Architecture du portail</b> d’hébergement des centres thématiques</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Q1 Ortolang V0</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2014</small></p>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>Déploiement des plateformes <b>CNRTL</b> et <b>SLDR</b> sur une infrastructure <b>provisoire</b></li>
                    <li>Catégorisation des <b>outils et ressources</b> intiaux</li>
                    <li>Définition de <b>l’architecture du centre de diffusion</b></li>
                    <li>Déploiement de <b>l’infrastructure de sauvegarde</b></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Q4 Ortolang Infra</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 2013</small></p>
            </div>
            <div class="timeline-body">
                <ul>
                    <li>Déploiement de <b>l’infrastructure matérielle</b></li>
                    <li>Définition de la solution de sauvegarde</li>
                    <li>Déploiement des <b>outils</b> de Génie Logiciel</li>
                </ul>
            </div>
        </div>
    </li>
</ul>
