<br/>
<div class="row" >
    <div class="col-lg-12 panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo" target="_blank">
                    <i class="fa fa-puzzle-piece"></i> {{tool.name}}
                </a>
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/plugins" class="btn btn-xs"><i class="fa fa-chevron-left"></i> Retour à la liste des outils</a>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div id="collapseInfo" class="panel-body panel-collapse collapse in">

                <div class="list-group" >
                    <dl class="dl-vertical">
                        <dt>Name</dt>
                        <dd>{{tool.name}}</dd>
                        <dt>Description</dt>
                        <dd>{{tool.description}}</dd>
                        <dt>Documentation</dt>
                        <dd ng-bind-html='tool.documentation'></dd>
                    </dl>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapseConfig" target="_blank">
                    <i class="fa fa-gears"></i> Configuration de {{tool.name}}
                </a>
            </div>
            <!-- /.panel-heading -->
            <div id="collapseConfig" class="panel-body panel-collapse collapse">
                <div class="list-group" >
                    <!-- formulaire -->
                    <formly-form result="formData" fields="formFields" options="formOptions" ng-submit="onSubmit()">
                    </formly-form>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div style="text-align: center" ng-show="viewLoading">
            <i class="fa fa-spinner fa-spin"></i> Process running...
            <br><br>
        </div>

        <div class="panel panel-default {{success? 'panel-success' : 'panel-danger'}}" ng-if="resultStatus">
            <div class="panel-heading">
                <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapseRes" target="_blank">
                    <i class="fa fa-eye"></i> Result : {{resultStatus}}
                </a>
            </div>
            <!-- /.panel-heading -->
            <div id="collapseRes" class="panel-body panel-collapse collapse" >
                <!-- Nav tabs -->
                <ul class="nav nav-pills">
                    <li class="{{success? 'active' : ''}}"><a aria-expanded="false" href="#file-pills" target="_blank" data-toggle="tab">Generated file(s)</a>
                    </li>
                    <li class=""><a aria-expanded="false" href="#preview-pills" target="_blank" data-toggle="tab">Preview</a>
                    </li>
                    <li class="{{success? '' : 'active'}}"><a aria-expanded="false" href="#log-pills" target="_blank" data-toggle="tab">Log</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade {{success? 'active in' : ''}}" id="file-pills">
                        <h4><i class="fa fa-download"></i> Generated file(s)</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="FileResult in listFileResult">
                                <a ng-href="{{FileResult.downloadUrl}}">
                                    {{FileResult.resFileName | split:'/':-1 }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="preview-pills">
                        <h4><i class="fa fa-eye"></i> Preview</h4>
                        <p hljs source="preview"></p>
                    </div>
                    <div class="tab-pane fade {{success? '' : 'active in'}}" id="log-pills">
                        <h4><i class="fa fa-file-text-o"></i> Log</h4>
                        <p ng-bind-html="log | breakLineFilter"></p>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>

    </div>
</div> <!-- ./div row -->
