<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" translate="{{'WORKSPACE.DELETE_ELEMENTS_MODAL.' + type + '.TITLE'}}" data-translate-values="numbers"></span>
            </div>
            <div class="modal-body" translate="{{'WORKSPACE.DELETE_ELEMENTS_MODAL.' + type + '.BODY'}}" data-translate-values="numbers" translate-values="models.error"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="delete()" translate="DELETE"></button>
                <button type="button" class="btn btn-default" ng-click="cancel()" translate="CANCEL"></button>
            </div>
        </div>
    </div>
</div>
