<div class="modal" id="rename-collection-modal" tabindex="-1" role="dialog" aria-labelledby="rename-collection-modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <span class="modal-title" id="rename-collection-modal-label" translate="WORKSPACE.RENAME_CHILD_MODAL.TITLE"></span>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-submit="renameChild()" autocomplete="off">
                    <div class="form-group">
                        <label for="child-new-name" class="col-sm-2 control-label" translate="NAME"></label>
                        <div class="col-sm-10">
                            <input ng-model="models.childNewName" required autofocus type="text" class="form-control" id="child-new-name" placeholder="{{'NAME' | translate}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary rename-collection" translate="SUBMIT"></button>
                            <button type="button" class="btn btn-default" ng-click="$hide()" translate="CANCEL"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
