<div class="container-fluid container-main">
    <div class="row toolbar nav-pills-toolbar information-toolbar">
        <div class="col-md-12">
            <ul ng-if="section !== 'legal-notices'" class="nav nav-pills">
                <li ng-class="{active: section === page}" ng-repeat="page in StaticWebsite.getInformationMenu().content track by page">
                    <a href="#/information/{{page}}">{{StaticWebsite.getInformationMenu()[page].title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div ng-if="StaticWebsite.getPage(section)" bind-html-unsafe="StaticWebsite.getPage(section)"></div>
    </div>
</div>
