
<div id="add-metadata">
    <a href="" id="add-metadata-title" class="list-group-item" ng-click="toggleMetadataEditorList()"><span ng-class="icons.browser.metadata"></span> Ajouter une métadonnées</a>
    <div class="list-group am-collapse collapse-box" ng-show="metadataEditorListVisibility">
        <a ng-repeat="metadataFormat in metadataFormats" ng-click="showMetadataEditor(metadataFormat.id)" href="" class="list-group-item clickable">{{metadataFormat.name}}</a>
    </div>
</div>
<br/>

<div id="list-metadata">
    <div ng-repeat="metadata in selectedElements[0].metadatas">

            <div class="input-group">
                <button type="button" class="btn btn-default" style="width: 100%" ng-click="editMetadata(metadata)">{{metadata.name}}</button>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="deleteMetadata(metadata)"><span class="glyphicon glyphicon-trash"></span></button>
                </span>
            </div>

    </div>
</div>


