<div class="aside-backdrop am-fade metadata-editor-backdrop" ng-show="isEditorShow()" ng-click="hideEditor()"></div>
<div class="aside right am-fade-and-slide-right metadata-editor" ng-show="isEditorShow()" tabindex="-1" role="dialog" style="width:1000px">
    <!-- <div class="aside-dialog"> -->
        <!-- <div class="aside-content"> -->
            <div class="metadata-editor-header">
                <button type="button" class="close" ng-click="hideEditor()">&times;</button>
                <h4 class="aside-title">{{userMetadataFormat.name}} de <em>{{hasOnlyRootCollectionSelected() ? workspace.name : selectedElements[0].name}}</em></h4>
            </div>
            <div class="toolbar side-panel-toolbar" role="toolbar">
                <div class="btn-toolbar" style="margin-left: 10px; float: left;">
                    <div class="btn-group">
                        <button class="btn btn-success" ng-click="submitMetadataForm()">
                            <span ng-class="icons.browser.publish"></span> Valider
                        </button>
                        <button class="btn btn-default" ng-click="hideEditor()">
                            <span ng-class="icons.browser.remove"></span> Annuler
                        </button>
                    </div>
                    <div ng-if="selectedMetadata!==undefined" class="btn-group ">
                        <button class="btn btn-default" ng-click="download(selectedMetadata)">
                            <span ng-class="icons.browser.download"></span> Download
                        </button>
                    </div>
                    <div class="btn-group ">
                        <button class="btn btn-default" ng-click="deleteMetadata()">
                            <span ng-class="icons.browser.delete"></span> Supprimer
                        </button>
                    </div>
                </div>
                <div class="btn-toolbar btn-toolbar-right" style="margin-right: 10px;">

                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Fr
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><div>Fr</div></li>
                            <li role="menuitem"><div>En</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div id="metadataEditorBody" class="aside-body" style="width: 1000px;"> -->
                <blockquote>
                    <p>{{userMetadataFormat.description}}</p>
                </blockquote>
                <hr/>
                <!-- <div class="row"> -->
                    <!-- <div class="col-md-12"> -->
                        <div ng-include="metadataForm"></div>
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>
