<form name="metadataMarketform" novalidate role="form" ng-controller="MetadataFormMarketOrtolangCtrl">

<div class="row" id="metadataFormInfo">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="tab in tabs" ng-class="{active : selectedTab==tab.id}">
                <a href="" ng-click="selectTab(tab.id)" ng-bind="tab.label"></a>
            </li>
        </ul>
    </div>
    <div class="col-md-9" ng-show="selectedTab=='info'">

        <!-- <div class="form-group" show-errors>
            <label>Catégorie de la ressource *</label> -->
            <!-- <select name="type" class="form-control" ng-model="md['http://www.w3.org/1999/02/22-rdf-syntax-ns#type']" ng-options="cat.id as cat.label for cat in categories" required>
                <option value="">Choisir une catégorie</option>
            </select> -->
            <sparql-select label="'Catégorie de la ressource'" default-value="'Choisir une catégorie'" sparql="sparqlCategories" model="md['http://www.ortolang.fr/ontology/type']" required="'required'" name="'type'"></sparql-select>
        <!-- </div> -->

        <div class="form-group" show-errors>
            <label>Titre *</label>
            <input type="text" name="title" ng-model="md['http://purl.org/dc/elements/1.1/title']" class="form-control" required>
        </div>

        <div class="form-group" show-errors>
            <label>Description *</label>
            <textarea class="form-control" name="description" ng-model="md['http://purl.org/dc/elements/1.1/description']" rows="10" required></textarea>
        </div>

        <div class="form-group">
            <label>Contenu </label>
            <textarea class="form-control" name="extent" ng-model="md['http://purl.org/dc/terms/extent']" rows="2"></textarea>
        </div>

        <div class="form-group">
            <label>Mots clés</label>
            <!-- <input type="text" name="keywords" ng-model="md['http://www.ortolang.fr/ontology/keywords']" placeholder="Mots clés" class="form-control"> -->
            <div auto-complete model="md['http://www.ortolang.fr/ontology/keywords']" name="'keywords'" placeholder="'Mots-clés'"></div>
        </div>

        <div class="form-group">
            <label>Origine des données </label>
            <input type="text" name="provenance" ng-model="md['http://www.ortolang.fr/ontology/provenance']" class="form-control">
        </div>

        <div class="form-group">
            <label>Origine spaciale des données </label>
            <!-- <input type="text" name="spacial" ng-model="md['http://purl.org/dc/terms/spacial']" class="form-control"> -->
            <div auto-complete sparql="sparqlSpartial" model="md['http://purl.org/dc/terms/spacial']" name="'spacial'" placeholder="'Code ISOXXX'"></div>
        </div>

        <div class="form-group">
            <label>Origine temporelle des données</label>
            <input type="text" name="temporal" ng-model="md['http://purl.org/dc/terms/temporal']" class="form-control">
        </div>

        <div class="form-group">
            <label>Illustration </label>
            <div class="input-group">
                <span class="form-control" ng-click="fileImageSelectModal.show()"><span ng-class="icons.imageFile"></span> {{image.name}}</span>
                <span class="input-group-btn">
                <button class="btn btn-default" ng-click="fileImageSelectModal.show()" type="button">Selectionner</button>
                </span>
            </div>
            <input type="hidden" name="image" ng-model="md['http://www.ortolang.fr/ontology/image']" class="form-control">
        </div>

        <div class="form-group">
            <label>Aperçu </label>
            <div class="input-group">
                <span class="form-control" ng-click="folderSelectModal.show()"><span ng-class="icons.folder"></span> {{preview.name}}</span>
                <span class="input-group-btn">
                <button class="btn btn-default" ng-click="folderSelectModal.show()" type="button">Selectionner</button>
                </span>
            </div>
            <input type="hidden" name="preview" ng-model="md['http://www.ortolang.fr/ontology/preview']" class="form-control">
        </div>


    </div>
    <div class="col-md-9" ng-show="selectedTab=='rights'">

        <sparql-select label="'Droit d\'utilisation'" default-value="'Choisir les conditions d\'utilisation'" sparql="sparqlConditionsOfUse" model="md['http://www.ortolang.fr/ontology/statusOfUse']" required="'required'" name="'statusOfUse'"></sparql-select>

        <div class="form-group">
            <label>Commentaire </label>
            <textarea name="conditionsOfUse" ng-model="md['http://www.ortolang.fr/ontology/conditionsOfUse']" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Licence</label>
            <input type="text" name="licence" ng-model="md['http://purl.org/dc/terms/licence']" class="form-control">
        </div>
    </div>

    <div class="col-md-9" ng-show="selectedTab=='contributor'">

        <div class="form-group">
            <label>Producteurs *</label>
            <div auto-complete model="md['http://www.ortolang.fr/ontology/producer']" name="'producer'" placeholder="'Producteurs institutionnels'" required="'required'"></div>
            <!-- <input type="text" name="producer" ng-model="md['http://www.ortolang.fr/ontology/producer']" class="form-control" required> -->
        </div>

        <div class="form-group">
            <label>Responsables scientifique </label>
            <!-- <input type="text" name="researcher" ng-model="md['http://www.ortolang.fr/ontology/researcher']" class="form-control"> -->
            <div auto-complete model="md['http://www.ortolang.fr/ontology/researcher']" name="'researcher'" placeholder="'Responsable scientifique'"></div>
        </div>

        <div class="form-group">
            <label>Responsables informatique </label>
            <!-- <input type="text" name="manager" ng-model="md['http://www.ortolang.fr/ontology/manager']" class="form-control"> -->
            <div auto-complete model="md['http://www.ortolang.fr/ontology/manager']" name="'manager'" placeholder="'Responsable informatique'"></div>
        </div>

        <div class="form-group">
            <label>Responsables technique </label>
            <!-- <input type="text" name="developper" ng-model="md['http://www.ortolang.fr/ontology/developper']" class="form-control"> -->
            <div auto-complete model="md['http://www.ortolang.fr/ontology/developper']" name="'developper'" placeholder="'Responsable technique'"></div>
        </div>
    </div>

    <div class="col-md-9" ng-show="selectedTab=='corpora'">

        <div class="form-group">
            <label>Langue principale du corpus </label>
            <!-- <input type="text" name="primaryLanguage" ng-model="md['http://www.ortolang.fr/ontology/primaryLanguage']" class="form-control"> -->
            <div auto-complete sparql="sparqlLanguage" model="md['http://www.ortolang.fr/ontology/primaryLanguage']" name="'primaryLanguage'" placeholder="'Langue'"></div>

        </div>

        <div class="form-group">
            <label>Type linguistique </label>
            <input type="text" name="linguisticSubject" ng-model="md['http://www.ortolang.fr/ontology/linguisticSubject']" class="form-control">
        </div>

        <div class="form-group">
            <label>Type discursif </label>
            <input type="text" name="discourseType" ng-model="md['http://www.ortolang.fr/ontology/discourseType']" class="form-control">
        </div>

        <div class="form-group">
            <label>Domaines linguistiques </label>
            <input type="text" name="linguisticField" ng-model="md['http://www.ortolang.fr/ontology/linguisticField']" class="form-control">
        </div>
    </div>


    <div class="col-md-9" ng-show="selectedTab=='annotation'">

        <div class="form-group">
            <label>Langues concernés par cet objet </label>
            <!-- <input type="text" name="language" ng-model="md['http://www.ortolang.fr/ontology/language']" class="form-control"> -->
            <div auto-complete sparql="sparqlLanguage" model="md['http://www.ortolang.fr/ontology/language']" name="'language'" placeholder="'Langue'"></div>
        </div>

    </div>

    <div class="col-md-9" ng-show="selectedTab=='tool'">

        <div class="form-group">
            <label>Languages de programmation </label>
            <!-- <input type="text" name="programmingLanguage" ng-model="md['http://www.ortolang.fr/ontology/programmingLanguage']" class="form-control"> -->
            <div auto-complete model="md['http://www.ortolang.fr/ontology/programmingLanguage']" name="'programmingLanguage'" placeholder="'Language de programmation'"></div>
        </div>

        <div class="form-group">
            <label>Systèmes d'exploitation compatibles </label>
            <!-- <input type="text" name="opearatingSystem" ng-model="md['http://www.ortolang.fr/ontology/opearatingSystem']" class="form-control"> -->
            <div auto-complete model="md['http://www.ortolang.fr/ontology/opearatingSystem']" name="'opearatingSystem'" placeholder="'Système d\'exploitation'"></div>
        </div>

        <div class="form-group">
            <label>Catégorie d'outil </label>
            <input type="text" name="toolType" ng-model="md['http://www.ortolang.fr/ontology/toolType']" class="form-control">
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" ng-click="submitMetadata(metadataMarketform, md)">Valider</button>
        <button class="btn btn-default" ng-click="hideEditor()">Annuler</button>
    </div>
</div> -->

</form>
