<div ng-controller="UploadCtrl" class="container-fluid" nv-file-over="" nv-file-drop="" uploader="uploader" options="{ortolangType: 'object'}">

    <div class="modal-header">
        <h4 translate="WORKSPACE.UPLOAD_QUEUE"></h4>
    </div>

    <div class="table-wrapper upload-elements-wrapper">
        <table class="table table-responsive table-condensed">
            <thead>
            <tr>
                <th translate="NAME"></th>
                <th translate="WORKSPACE"></th>
                <th translate="WORKSPACE.PATH">Path</th>
                <th ng-show="::uploader.isHTML5" translate="SIZE"></th>
                <th ng-show="::uploader.isHTML5" translate="WORKSPACE.PROGRESS"></th>
                <th translate="WORKSPACE.STATUS"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue track by item.file.name">
                <td ng-if="::uploader.isHTML5"><span ng-class="item.file.type | mimeTypeIconCss" class="type"></span> <strong>{{::item.file.name}}</strong></td>
                <td ng-if="::!uploader.isHTML5"><span ng-class="item.type | ortolangElementIconCss" class="type"></span> <strong>{{::item.file.name}}</strong></td>
                <td>{{::item.wsName}}</td>
                <td>{{::item.file.path}}</td>
                <td class="text-nowrap" ng-show="::uploader.isHTML5">{{::item.file.size | bytes}}</td>
                <td ng-show="::uploader.isHTML5">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" disabled="disabled">
            <span class="glyphicon glyphicon-ban-circle"></span> {{'WORKSPACE.CANCEL_ALL' | translate}}
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="clearUploaderQueue()" ng-disabled="uploader.isUploading" disabled="disabled">
            <span class="glyphicon glyphicon-remove"></span> {{'WORKSPACE.CLEAR_ALL' | translate}}
        </button>
    </div>

</div>
