<div class="view-wrapper-flex workspaces">
    <div class="toolbar-wrapper">
        <div class="toolbar">
            <div class="row">
                <div class="col-sm-8">

                    <div class="input-group">
                        <input ng-model="models.query" class="form-control" type="text" placeholder="{{'SEARCH' | translate}}">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-main">
        <div class="container-main-inner">
            <div class="row">
                <div class="col-sm-8">
                    <div ng-click="createWorkspace()" class="card-well card-well-hover card-new clearfix">
                        <span ng-class="::icons.plus"></span>{{'WORKSPACE.CREATE_WORKSPACE' | translate}}
                    </div>
                    <div class="card-well card-well-hover card-workspace clearfix"
                         ng-repeat="workspace in Workspace.list | filter:models.query | orderBy:'-lastModificationDate' track by workspace.alias"
                         ng-click="manageWorkspace($event, workspace)">
                        <div class="media">
                            <div class="media-left">
                                <img ng-if="workspace.metadata.imageUrl === null || workspace.metadata === null" class="logo" holder-js="holder.js/100x100?theme=ortolang&text={{workspace.alias}}&size=10" alt="{{workspace.metadata.imgtitle}}"/>
                                <img ng-if="::workspace.metadata.imageUrl" class="logo" ng-src="{{::workspace.metadata.imageUrl}}" alt="{{::workspace.metadata.imgtitle}}"/>
                            </div>
                            <div class="media-body">
                                <h4>{{::workspace.metadata ? workspace.metadata.title[0].value : workspace.name}} <span class="small alias">{{::workspace.alias}}</span></h4>
                                <div class="date">{{'WORKSPACE.LAST_MODIFICATION_DATE' | translate}} {{::workspace.lastModificationDate | amTimeAgo}}</div>
                            </div>
                            <div class="media-right">
                                <span class="actions">
                                    <button class="btn btn-default" ng-click="manageWorkspace($event, workspace, 'content')" data-title="{{'WORKSPACE.CONTENT' | translate}}" bs-tooltip><span ng-class="::icons.browser.browse"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>
</div>
