<div ng-controller="WorkspaceDashboardPermissionsCtrl">
    <div ng-if="Workspace.active.workspace.readOnly" class="alert alert-warning" role="alert" translate="WORKSPACE.READ_ONLY_MODE"></div>
    <div class="workspace-dashboard-section workspace-dashboard-permissions">
        <h4 translate="WORKSPACE.PERMISSIONS_EDITOR.TITLE" class="no-border-bottom"></h4>
        <div translate="WORKSPACE.PERMISSIONS_EDITOR.HELP"></div>
        <div class="legend">
            <span class="legend-label" translate="WORKSPACE.PERMISSIONS_EDITOR.LEGEND"></span>
            <span class="label tag label-for-all"><span ng-class="::icons.acl.forall"></span> {{'WORKSPACE.ACL.FORALL' | translate}}</span>
            <span class="label tag label-authentified"><span ng-class="::icons.acl.authentified"></span> {{'WORKSPACE.ACL.AUTHENTIFIED' | translate}}</span>
            <span class="label tag label-esr"><span ng-class="::icons.acl.esr"></span> {{'WORKSPACE.ACL.ESR' | translate}}</span>
            <span ng-if="Workspace.active.workspace.privileged" class="label tag label-privileged"><span ng-class="::icons.acl.privileged"></span> {{'WORKSPACE.ACL.PRIVILEGED' | translate}}</span>
            <span class="label tag label-restricted"><span ng-class="::icons.acl.restricted"></span> {{'WORKSPACE.ACL.RESTRICTED' | translate}}</span>
        </div>
        <div class="options">
            <div class="checkbox checkbox-inline">
                <input type="checkbox" id="showObjects" ng-model="models.showObjects">
                <label for="showObjects" translate="WORKSPACE.PERMISSIONS_EDITOR.SHOW_FILES"></label>
            </div>
        </div>
        <div class="tree">
            <ol class="tree-nodes">
                <li ng-repeat="element in [models.tree[Workspace.active.head.key]] | orderBy:['type','name'] track by element.key"
                    ng-if="element.type === 'collection' || models.showObjects" ng-include="'workspace/templates/permissions-nodes-renderer.html'"></li>
            </ol>
        </div>
    </div>
</div>


