<div class="view-wrapper-flex">
    <div class="toolbar-wrapper">
        <div class="toolbar nav-pills-toolbar workspace-toolbar" ng-class="dashboardSection === 'content' ? 'faded' : ''">
            <ul class="nav nav-pills">
                <li class="workspace-alias-tab">
                    <a><strong>{{::Workspace.active.workspace.alias}}</strong></a>
                </li>
                <li ng-class="dashboardSection === 'information'  ? 'active' : ''" role="tab">
                    <a ng-click="selectDashboardSection()" translate="INFORMATION"></a>
                </li>
                <li ng-class="dashboardSection === 'content'  ? 'active' : ''" role="tab">
                    <a ng-click="selectDashboardSection('content')" translate="WORKSPACE.CONTENT"></a>
                </li>
                <li ng-class="dashboardSection === 'members'  ? 'active' : ''" role="tab">
                    <a ng-click="selectDashboardSection('members')" translate="WORKSPACE.MEMBERS"></a>
                </li>
                <li ng-class="dashboardSection === 'metadata'  ? 'active' : ''" role="tab">
                    <a ng-click="selectDashboardSection('metadata')" translate="WORKSPACE.METADATA"></a>
                </li>
                <li ng-class="dashboardSection === 'permissions'  ? 'active' : ''" role="tab">
                    <a ng-click="selectDashboardSection('permissions')" translate="WORKSPACE.PERMISSIONS"></a>
                </li>
                <li ng-class="dashboardSection === 'preview'  ? 'active' : ''" role="tab" ng-if="Workspace.active.metadata!==null">
                    <a ng-click="selectDashboardSection('preview')" translate="WORKSPACE.PREVIEW"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-main workspace-dashboard" ng-class="dashboardSection">
        <div class="container-main-inner" ng-switch="dashboardSection">
            <div ng-switch-when="information">
                <div ng-include="'workspace/workspace-dashboard-information.html'"></div>
            </div>
            <div class="workspace-dashboard-content" ng-switch-when="content">
                <div ng-class="{'read-only': Workspace.active.workspace.readOnly}" browser></div>
            </div>
            <div ng-switch-when="members">
                <div ng-include="'workspace/workspace-dashboard-members.html'"></div>
            </div>
            <div ng-switch-when="metadata">
                <div ng-if="Workspace.active.metadata!==undefined" ng-include="'workspace/workspace-dashboard-metadata.html'"></div>
            </div>
            <div ng-switch-when="preview">
                <div ng-if="Workspace.active.metadata!==null" market-item-preview content="Workspace.active.metadata" alias="Workspace.active.workspace.alias" ortolang-object="Workspace.active.workspace" item-key="Workspace.active.workspace.head"  root="'head'" ></div>
            </div>
        </div>
    </div>
</div>
